Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

Remove some unnecessary / leftover changes
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(DD4hep/TGeo): move beampipe handling to DD4hep and simplify TGeo
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Remove old code from original API design
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make customizers more generic
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(DD4hep/Root): add initial TGeo blueprint backend and ODD harness
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

another clang-tidy fix
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(Blueprint): make barrel-endcap classification optional for backends
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

include tuning, namespaces
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add nodiscard to builder interface methods
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(DD4hep): use stable grouped layer names and align Gen3 geometry counts
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
  Python/Examples/tests/test_geometry.py
Due: license, type_t, leftover_conflict_markers, math_macros

move odd construction to free funcs in core
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

cc docs update
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

make some useful methods public
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix test expectations
  Python/Examples/tests/test_geometry.py
Due: leftover_conflict_markers

docs update
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add first facilities for handling Plane Layers
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

split into impl file
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

dd4hep: make TGeo layer customization self-contained
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

even more drunk?
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

api refactor splitting up the multi-duty assemblers into separate ones
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Python/Examples/python/odd.py
  Python/Examples/src/plugins/DD4hep.cpp
  Python/Examples/tests/test_geometry.py
  blueprint_builder_api.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

PR feedback
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Core/include/Acts/Utilities/FunctionComposition.hpp
  Examples/Scripts/Python/geometry.py
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/ActsPlugins/Root/TGeoVolumeConverter.hpp
  Plugins/Root/src/TGeoVolumeConverter.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/FunctionCompositionTests.cpp
  blueprint_builder_api.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update
  Python/Examples/python/uproot_reader.py
  Python/Examples/tests/test_uproot_reader.py
Due: leftover_conflict_markers

lint
  Python/Examples/python/uproot_reader.py
  Python/Examples/src/Framework.cpp
  Python/Examples/src/Generators.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update
  Python/Examples/python/uproot_reader.py
Due: leftover_conflict_markers

wire more
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
Due: leftover_conflict_markers

wire to python
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  Python/Examples/src/TrackFitting.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add switch for joseph form to `GainMatrixUpdater`
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

tmp changes
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  CI/physmon/workflows/physmon_trackrefitting_kf.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: leftover_conflict_markers

update
  Python/Examples/python/uproot_reader.py
  Python/Examples/src/Generators.cpp
  Python/Examples/tests/test_uproot_reader.py
Due: license, type_t, leftover_conflict_markers, math_macros

rename stuff
  Python/Examples/CMakeLists.txt
  Python/Examples/python/uproot.py
  Python/Examples/tests/test_uproot.py
Due: leftover_conflict_markers

update
  Plugins/Gnn/include/ActsPlugins/Gnn/Tensor.hpp
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
  Plugins/Gnn/src/Tensor.cpp
  Plugins/Gnn/src/Tensor.cu
  Plugins/Gnn/src/TensorRTEdgeClassifier.cpp
  Plugins/Gnn/src/TorchEdgeClassifier.cpp
  Tests/UnitTests/Plugins/Gnn/TensorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

address minor comments
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

save linter from horror of single trailing whitespace
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lint
  Python/Examples/src/Generators.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Revert "tmp changes"
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  CI/physmon/workflows/physmon_trackrefitting_kf.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: leftover_conflict_markers

more wiring
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: leftover_conflict_markers

remove templated HoughVertexFinder
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/HoughVertexFinderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update
  Plugins/Gnn/include/ActsPlugins/Gnn/Tensor.hpp
  Plugins/Gnn/src/Tensor.cpp
  Tests/UnitTests/Plugins/Gnn/TensorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
