Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

work on moving types to groups
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  docs/namespaces.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clean intro
  docs/index.md
Due: none

fix groups syntax
  docs/old/groups.dox
Due: none

remove bibdesk artifacts
  docs/references.bib
Due: none

add back some unintentional removals
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/Geometry/DetectorElementBase.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

cleanup / lint
  CI/check_unused_files.py
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/main_page.md
  docs/namespaces.dox
Due: none

run new docs job in container
  .github/workflows/docs.yml
Due: none

remove ccache restore
  .github/workflows/docs.yml
Due: none

enable docs build in ci job
  .github/workflows/docs.yml
Due: none

mistake
  docs/old/contribution/clang_tidy.md
Due: none

add public docs preview url
  .github/workflows/docs.yml
Due: none

try to make linter happy
  CI/check_unused_files.py
  Core/include/Acts/Utilities/Logger.hpp
  Plugins/Json/include/ActsPlugins/Json/AmbiguityConfigJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/DefinitionsJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/GeometryJsonKeys.hpp
  Plugins/Json/include/ActsPlugins/Json/JsonDetectorElement.hpp
  Plugins/Json/include/ActsPlugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/TrackParametersJsonConverter.hpp
  docs/examples/errors.cpp
  docs/examples/logging.cpp
  docs/namespaces.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

disable all CI jobs for testing
  .github/workflows/analysis.yml.disabled
  .github/workflows/backport.yml.disabled
  .github/workflows/builds.yml.disabled
  .github/workflows/checks.yml.disabled
  .github/workflows/devcontainer-ci.yml.disabled
  .github/workflows/labels.yml.disabled
  .github/workflows/milestone.yml.disabled
  .github/workflows/pr-lint.yml.disabled
  .github/workflows/release.yml.disabled
  .github/workflows/remove-automerge-label.yml.disabled
  .github/workflows/report.yml.disabled
  .github/workflows/sonarcloud.yml.disabled
  .github/workflows/stale.yml.disabled
  .github/workflows/trigger_athena.yml.disabled
  .github/workflows/update-pip-requirements.yml.disabled
Due: none

set EXTRACT_STATIC to YES
  docs/Doxyfile.in
Due: none

expand topics, add docs for error pattern
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/Utilities/Any.hpp
  docs/CMakeLists.txt
  docs/examples/errors.cpp
  docs/groups/errors.md
  docs/groups/utilities.md
Due: license, include_guards, pragma_once, type_t, math_macros

make private type private
  Core/include/Acts/Utilities/TypeList.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

attempt to fix old docs build
  docs/old/contribution/guide.rst
  docs/old/known-warnings.txt
Due: none

see if we can get away without the container
  .github/workflows/docs.yml
Due: none

Revert "disable all CI jobs for testing"
  .github/workflows/analysis.yml
  .github/workflows/backport.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/labels.yml
  .github/workflows/milestone.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release.yml
  .github/workflows/remove-automerge-label.yml
  .github/workflows/report.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/stale.yml
  .github/workflows/trigger_athena.yml
  .github/workflows/update-pip-requirements.yml
Due: none

try to fix old build's example path
  docs/old/Doxyfile
Due: none

correct contributing references
  README.md
  docs/old/contribution/guide.rst
Due: none

ci: add basic docs build job
  .github/workflows/docs.yml
Due: none

drop spack install
  .github/workflows/docs.yml
Due: none

fix: Remove install directive
  Plugins/Json/CMakeLists.txt
Due: none

install some necessary packages
  .github/workflows/docs.yml
Due: none

groups for old docs
  docs/old/Doxyfile
  docs/old/groups.dox
Due: none

undo changes to detail namespaces
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GenericGeoShapeConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoBoxConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoIntersectionAnnulusConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoModelBinningHelper.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoModelExtentHelper.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoPolygonConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoShiftConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoSubtractionConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoTrdConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoTubeConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoUnionDoubleTrdConverter.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/CantorEdge.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/CudaUtils.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/JunctionRemoval.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/TensorVectorConversion.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/Utils.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/buildEdges.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore!: Reduce fitter templating
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang-tidy: default initialization
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

claude moves subspace index mathods
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

move `parameters` and `covariance`
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Use common CRTP base class for TrackProxy
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: AnyTrack type erased type
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

cleanup subspace API
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

simplify allocateCalibrated
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

drop copyDynamicFrom from any track state
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add test for effective calibrated
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
Due: license, type_t, boost_test, math_macros

remove redundant initializer
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

move calibrated related methods
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

anytrackstateproxy: simplify typedefs
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros
