Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.hpp$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

PR feedback
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

pr feedback
  Core/include/Acts/Propagator/ConstrainedStep.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

adding documentation for GBTS space point IDs
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

adding check for empty source link recommended my code rabbit
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, type_t, math_macros

fix: Add portal visualization to `TrackingVolume` (#4029)
  Core/src/Geometry/TrackingVolume.cpp
Due: license, type_t, math_macros

forgot to run clang format on changes
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, type_t, math_macros

fixing mistake I made taking code rabbit suggestion
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, type_t, math_macros

ci: Use CERN registry cache in GitLab CI - round 2 (#4023)
  .gitlab-ci.yml
Due: none

build: Only install python files for enabled components (#4004)
  Examples/Python/CMakeLists.txt
Due: none

ci: Run unit test + downstream on main ubuntu build (gitlab) (#4020)
  .gitlab-ci.yml
Due: none

refactor!: Strongly typed enum for `ConstrainedStep::Type` and capital initial letter (#4013)
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

build: CMake find directives, policy grouping (#4026)
  CMakeLists.txt
  CMakePresets.json
Due: cmake_options

make params types public again
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixes
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ConnectedComponents.cuh
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
Due: license, type_t, math_macros

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

update
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
Due: license, type_t, math_macros

udpate
  .gitlab-ci.yml
  CMakeLists.txt
Due: cmake_options

update
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
Due: none

feedback
  Examples/Framework/include/ActsExamples/Framework/BufferedReader.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/BufferedReader.cpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
  Examples/Python/src/Input.cpp
  Examples/Python/tests/test_reader.py
Due: license, include_guards, pragma_once, type_t, math_macros

update
  Examples/Framework/include/ActsExamples/Framework/BufferedReader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Off-by-one error in WhiteBoard levenshtein implementation
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, type_t, math_macros

update
  Examples/Framework/src/Framework/BufferedReader.cpp
Due: license, type_t, math_macros

fix
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Due: license, type_t, math_macros

add cmake file
  cmake/FindTensorRT.cmake
Due: none

fix: Off-by-one error in WhiteBoard levenshtein implementation (#4032)
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, type_t, math_macros

fix
  Core/include/Acts/EventData/detail/CovarianceHelper.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

pauls patch
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove double private
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Introduction: ProtoAxis
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/ProtoAxis.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/ProtoAxisTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

clang-format
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Utilities/ProtoAxis.cpp
Due: license, include_guards, pragma_once, type_t, math_macros
