Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

refactor: Relax Core error logs for Propagation, Navigation, Fitter, Finder (#5004)
  Core/include/Acts/Propagator/NavigatorError.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/TrackStateCreator.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/Navigation/Navigator.cpp
  Core/src/Propagator/NavigatorError.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update ModuleMapGraph source repository and tag
  cmake/ActsExternSources.cmake
Due: leftover_conflict_markers

chore: File headers cleanup (#5006)
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/PointerTraits.hpp
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
  Core/src/Navigation/Navigator.cpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Examples/Algorithms/Geant4/src/AlgebraConverters.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonHoughMaximum.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepUtil.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelMaterialConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/src/GeoModelMaterialConverter.cpp
  Plugins/Json/include/ActsPlugins/Json/JsonDetectorElement.hpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/LineSurfaceStub.hpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
  Tests/UnitTests/Core/Vertexing/VertexingDataHelper.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Update Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedContainer2.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pr feedback
  Core/include/Acts/EventData/TrackStateType.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

First version of VolumePlacementBase
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/src/Geometry/Volume.cpp
  Core/src/Geometry/VolumeBounds.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Core/include/Acts/EventData/SeedContainer2.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

updating cmakelist
  Examples/Detectors/MagneticField/CMakeLists.txt
Due: leftover_conflict_markers

Compilingversion of portal placement
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/VolumeBounds.cpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Core/src/Geometry/detail/PortalPlacement.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Clang-formatter
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/detail/PortalPlacement.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Bump ModuleMapGraph version (#5003)
  cmake/ActsExternSources.cmake
  thirdparty/ModuleMapGraph/CMakeLists.txt
  thirdparty/ModuleMapGraph/include_cmath.patch
Due: leftover_conflict_markers

some fixes
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Documentatin
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Core/src/Geometry/detail/PortalPlacement.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: `SeedContainer2` can point to `SpacePointContainer2` (#4977)
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/src/EventData/SeedContainer2.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Integrate EdgeLayerConnector
  Plugins/Gnn/CMakeLists.txt
  Plugins/Gnn/include/ActsPlugins/Gnn/EdgeLayerConnector.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/ModuleMapCuda.hpp
  Plugins/Gnn/src/CudaTrackBuilding.cu
  Plugins/Gnn/src/EdgeLayerConnector.cu
  Plugins/Gnn/src/ModuleMapCuda.cu
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add sample ranges to ProfileHistogram1 in plot tools
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fix documentation
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Document method
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/DiamondPortalShell.cpp
  Core/src/Geometry/TrapezoidPortalShell.cpp
  Core/src/Geometry/Volume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Revert change
  Core/include/Acts/Geometry/Volume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Doc - Vol II
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/Volume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Clang tidy
  Core/src/Geometry/VolumeBounds.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Move the context to G4 event store
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/EventStore.hpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

changes based of comments made on GbtsGeoemtry
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: skip propagation errors in MaterialMappers
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

remove calibrator test
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

rebase and precommit
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

cleaning and last changes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

last changes
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

changes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix underflow
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

changes based of comments
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

minor changes
  Core/include/Acts/Seeding/GbtsGeometry.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Examples/Framework/include/ActsExamples/Validation/DuplicationPlotTool.hpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Set geometry context from alg context
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

workInProgress: add calib test, change WARNING to DEBUG, add fastToF to Fast calibrator, add a toggle to run the full fit when the fast one fails
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Update `GbtsGeometry` to ACTS coding standard (#5009)
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

changes based on trackfinder comments
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
