Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

revert to Generic detector test
  Examples/Scripts/Python/propagation.py
Due: none

clang-tidy
  Examples/Detectors/Common/src/StructureSelector.cpp
Due: license, type_t, math_macros

SonarCloud fixes
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentDecorator.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentGenerator.hpp
  Examples/Detectors/Common/src/AlignmentDecorator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing m_name constexpr
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentDecorator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ones more
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentDecorator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

revert covariance check type thingy
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationCompareAtlasEigenConstant.cpp
  Tests/IntegrationTests/PropagationCompareEigenStraightLine.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
  Tests/IntegrationTests/PropagationTests.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Update GeometryContainers.hpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update comment format
  Core/include/Acts/Utilities/PointerConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix silly
  Core/include/Acts/Propagator/RiddersPropagator.hpp
  Core/include/Acts/Propagator/RiddersPropagator.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

remove dense test
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PropagationDenseConstant.cpp
Due: license, type_t, boost_test, math_macros

Update AlignedGeoModelDetectorElement.hpp
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/AlignedGeoModelDetectorElement.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update AlignedGeoModelDetectorElement.cpp
  Examples/Detectors/GeoModelDetector/src/AlignedGeoModelDetectorElement.cpp
Due: license, type_t, math_macros

Format
  Core/include/Acts/Utilities/PointerConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

sonar cloud fixes
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

PR feedback
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test: Remove dense propagation test (#4371)
  Tests/IntegrationTests/CMakeLists.txt
  Tests/IntegrationTests/PropagationAtlasConstant.cpp
  Tests/IntegrationTests/PropagationCompareAtlasEigenConstant.cpp
  Tests/IntegrationTests/PropagationCompareEigenStraightLine.cpp
  Tests/IntegrationTests/PropagationDenseConstant.cpp
  Tests/IntegrationTests/PropagationEigenConstant.cpp
  Tests/IntegrationTests/PropagationStraightLine.cpp
Due: license, type_t, boost_test, math_macros

ci: try out new image for gnn
  .gitlab-ci.yml
Due: none

test(cylpol): Test with various rotations + offsets
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

refactor(cylpol): output improvements
  Core/src/Navigation/CylinderNavigationPolicy.cpp
Due: license, type_t, math_macros

refactor(cylpol): Use different way to optimize matrix ops
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix(cylpol): edge cases
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

test(cylpol): increase number, inside check doesn't always return true if on boundary
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

feat(cylpol): Accelerated Cylinder portal policy
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(cylpol): Add additional randomized test
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

test(cylpol): Some code reorganization
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

feat(cylpol): basic somewhat working somewhat tested version of the smart cylinder policy
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix compilation errors after rebase
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

refactor(cylpol): Simplify disk calculation
  Core/src/Navigation/CylinderNavigationPolicy.cpp
Due: license, type_t, math_macros

docs(cylpol): improved comment on cyl nav pol
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: A new space point and seed container (#4341)
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedContainer2.ipp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.ipp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/Types.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/SeedContainer2.cpp
  Core/src/EventData/SpacePointContainer2.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
  Tests/UnitTests/Core/EventData/SeedContainer2Tests.cpp
  Tests/UnitTests/Core/EventData/SpacePointContainer2Tests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: alignable `GenericDetector` (#4370)
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
  Examples/Detectors/GenericDetector/CMakeLists.txt
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/AlignedGenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreator.hpp
  Examples/Detectors/GenericDetector/src/AlignedGenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/GenericDetector/src/ProtoLayerCreator.cpp
  Examples/Python/src/Detector.cpp
  Examples/Scripts/Python/propagation.py
Due: license, include_guards, pragma_once, type_t, math_macros

docs
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

revert stuff
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Examples/Scripts/Python/full_chain_odd.py
Due: license, include_guards, pragma_once, type_t, math_macros

switch over physmon
  CI/physmon/workflows/physmon_trackfinding_1muon.py
  CI/physmon/workflows/physmon_trackfinding_4muon_50vertices.py
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
Due: none

naming and docs
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: inline Mutable to Const PodioTrackStateContainer c'tor
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove unrelated file
  Core/include/Acts/TrackFinding/MeasurementAdapter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: inline Mutable to Const PodioTrackStateContainer c'tor (#4380)
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros
