Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

more clang tidy and docs fixes
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/GbtsTrainingTool.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs again
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

More up to date machines
  .gitlab-ci.yml
Due: leftover_conflict_markers

Paul suggestions
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

ci: Run physmon histcmp comparisons in parallel
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

ci: Allow disabling PDF plot output in physmon
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

fix(tests): close hash file handle in conftest to avoid ResourceWarning
  Python/Examples/tests/conftest.py
  pytest.ini
Due: leftover_conflict_markers

feat: added root reader to CudaMuonSpacePoint container
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootCudaMuonSpacePointReader.hpp
  Examples/Io/Root/src/RootCudaMuonSpacePointReader.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: pre-commit run to fix lint
  Examples/Framework/include/ActsExamples/EventData/CudaMuonSpacePoint.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_trackfitting_gx2f_vs_kf.py
Due: leftover_conflict_markers

ci: Drop redundant 2d/3d projections in physmon (#5678)
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

update
  Python/Examples/tests/test_examples.py
  Python/Examples/tests/test_track_finding_python_only.py
Due: leftover_conflict_markers

final tidy up
  Core/src/Seeding/GbtsTrainingTool.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TruthTracking.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

revert test
  Python/Examples/tests/test_geometry.py
Due: leftover_conflict_markers

feat: Attach material decorator during JSON tracking-geometry deserialization
  Examples/Scripts/Python/material_validation.py
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryJsonConverter.hpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
  Python/Core/python/__init__.py
  Python/Core/src/Geometry.cpp
  Python/Examples/tests/test_geometry.py
  Python/Plugins/src/Json.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

bugfix for mom. assignment for G4 secondaries; set parentParticleId for particles from G4
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: propagate PadBlueprintNode padding to parent container (#5681)
  Core/src/Geometry/ContainerBlueprintNode.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

update hash for test_geant4__particles_simulation.root
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

updated particles_geant4_hist.root
  CI/physmon/reference/simulation/particles_geant4_hist.root
Due: leftover_conflict_markers

perf: Speed up GSF component reduction (#5649)
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
  Python/Examples/tests/root_file_hashes.txt
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: correct mom. assignment for G4 secondaries, also set parentParticleId (#5690)
  CI/physmon/reference/simulation/particles_geant4_hist.root
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Add Python-only track fitter performance writer
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/TrackFitterPerformanceCollector.hpp
  Examples/Framework/src/Validation/TrackFitterPerformanceCollector.cpp
  Examples/Scripts/Python/track_finding_python_only.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/tests/test_writer.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

revert change
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

ci-deps to 23.3.1
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
  CI/cibuildwheel.sh
Due: leftover_conflict_markers

update
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFitterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Extract `MultiAxis` from `Grid` (#5531)
  Core/include/Acts/Utilities/AnyGridView.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/IAxis.hpp
  Core/include/Acts/Utilities/IGrid.hpp
  Core/include/Acts/Utilities/IMultiAxis.hpp
  Core/include/Acts/Utilities/MultiAxis.hpp
  Core/include/Acts/Utilities/detail/MultiAxisHelper.hpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/IMultiAxis.cpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/Assertions.hpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Core/Utilities/MultiAxisTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Deprecate duplicated binning API on Grid/IGrid/AnyGridView
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/IndexGrid.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/Material/GridSurfaceMaterialFactory.hpp
  Core/include/Acts/Material/InterpolatedMaterialMap.hpp
  Core/include/Acts/Seeding/BinnedGroup.ipp
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
  Core/include/Acts/Seeding/CartesianSpacePointGrid.hpp
  Core/include/Acts/Seeding/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/TrackFinding/TrackParamsLookupAccumulator.hpp
  Core/include/Acts/Utilities/AnyGridView.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridBinFinder.ipp
  Core/include/Acts/Utilities/GridIterator.ipp
  Core/include/Acts/Utilities/IGrid.hpp
  Core/include/Acts/Utilities/MultiAxis.hpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/GridPortalLinkMerging.cpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/Material/MaterialGridHelper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Plugins/ActSVG/src/TrackingGeometrySvgConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
  Plugins/Root/src/RootMaterialDecorator.cpp
  Tests/IntegrationTests/InterpolatedSolenoidBFieldTest.cpp
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/Material/InterpolatedMaterialMapTests.cpp
  Tests/UnitTests/Core/Material/MaterialGridHelperTests.cpp
  Tests/UnitTests/Core/TrackFinding/TrackParamsLookupAccumulatorTests.cpp
  Tests/UnitTests/Core/Utilities/AnyGridViewTests.cpp
  Tests/UnitTests/Core/Utilities/GridBinFinderTests.cpp
  Tests/UnitTests/Core/Utilities/GridIterationTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

revert
  Examples/Scripts/Python/material_validation.py
Due: leftover_conflict_markers

chore: Claim ownership of Traccc subdirectory
  CODEOWNERS
Due: leftover_conflict_markers

refactor: improved error information
  Examples/Framework/src/EventData/CudaMuonSpacePoint.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

formatter.....
  docs/pages/contributing/building_acts.md
Due: leftover_conflict_markers

refactor: inline checkIndex
  Examples/Framework/src/EventData/CudaMuonSpacePoint.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: error message update
  Examples/Framework/src/EventData/CudaMuonSpacePoint.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: pre-commit formating
  Examples/Framework/src/EventData/CudaMuonSpacePoint.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: Add traccc component to labelling job
  .github/labeler.yml
Due: leftover_conflict_markers

fix(traccc): Fix urgent blocker-level SonarCloud issues
  Traccc/core/include/traccc/edm/details/container_base.hpp
  Traccc/core/include/traccc/edm/silicon_cell_collection.hpp
  Traccc/core/include/traccc/finding/actors/measurement_kalman_updater.hpp
  Traccc/core/include/traccc/finding/details/combinatorial_kalman_filter.hpp
  Traccc/core/include/traccc/sanity/contiguous_on.hpp
  Traccc/core/include/traccc/sanity/ordered_on.hpp
  Traccc/core/include/traccc/utils/algorithm.hpp
  Traccc/device/cuda/src/sanity/contiguous_on.cuh
  Traccc/device/cuda/src/sanity/ordered_on.cuh
  Traccc/device/sycl/src/sanity/contiguous_on.hpp
  Traccc/device/sycl/src/sanity/ordered_on.hpp
  Traccc/io/include/traccc/io/csv/dfe.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
