Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

ci: Another attempt to get sonar working again (#4606)
  .github/workflows/sonarcloud.yml
Due: none

tmp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Wrong gap volume creation in r-stack and z shift (#4596)
  Core/src/Geometry/CylinderVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Due: license, type_t, boost_test, math_macros

try to fix trackfindingalgorithm
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, type_t, math_macros

fix
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, type_t, math_macros

fix silly
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

speed up compilation
  Core/include/Acts/Geometry/ConeLayer.hpp
  Core/include/Acts/Geometry/CylinderLayer.hpp
  Core/include/Acts/Geometry/DiscLayer.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Geometry/PlaneLayer.hpp
  Core/include/Acts/Propagator/detail/NavigationHelpers.hpp
  Core/src/Geometry/ConeLayer.cpp
  Core/src/Geometry/CylinderLayer.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/DiscLayer.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/NavigationLayer.cpp
  Core/src/Geometry/PassiveLayerBuilder.cpp
  Core/src/Geometry/PlaneLayer.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Python/src/Navigation.cpp
  Tests/UnitTests/Core/Geometry/LayerStub.hpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Material/PropagatorMaterialAssignerTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix another silly
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

more perf
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Apply suggestions from code review
  Core/src/Surfaces/DiscSurface.cpp
Due: license, type_t, math_macros

update tests
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Plugins/ActSVG/src/LayerSvgConverter.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

implementing review comments
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Framework/include/ActsExamples/EventData/SimVertex.hpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Csv/src/CsvSimHitWriter.cpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepUtil.hpp
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Obj/src/ObjSimHitWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Io/Root/src/RootSimHitWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Io/Root/src/RootVertexWriter.cpp
  Examples/Io/Root/src/TrackFinderNTupleWriter.cpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/VertexNTupleWriter.cpp
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Examples/Io/Root/SimhitReaderWriterTests.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  Tests/UnitTests/Fatras/EventData/BarcodeTests.cpp
  Tests/UnitTests/Fatras/EventData/HitTests.cpp
  Tests/UnitTests/Fatras/EventData/ParticleTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
  Tests/UnitTests/Fatras/Physics/Dataset.hpp
  Tests/UnitTests/Fatras/Selectors/Dataset.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
Due: license, type_t, boost_test, math_macros

more fix
  Core/include/Acts/Geometry/GeometryObject.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/Volume.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Global cluster position and improved spacepoint writers (#4330)
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MeasurementCreation.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/MeasurementCreation.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSpacepointWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootSpacepointWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, math_macros

fix
  Core/include/Acts/Geometry/Layer.hpp
  Core/src/Geometry/Layer.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

try again
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/include/Acts/Geometry/ITrackingVolumeBuilder.hpp
  Core/include/Acts/Geometry/Layer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

revert #4598 changes
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Plugins/ActSVG/src/SurfaceArraySvgConverter.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

reduce changes
  Core/include/Acts/Geometry/ConeLayer.hpp
  Core/include/Acts/Geometry/CylinderLayer.hpp
  Core/include/Acts/Geometry/CylinderVolumeBuilder.hpp
  Core/include/Acts/Geometry/DiscLayer.hpp
  Core/include/Acts/Geometry/GeometryObject.hpp
  Core/include/Acts/Geometry/ITrackingVolumeBuilder.hpp
  Core/include/Acts/Geometry/Layer.hpp
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Geometry/PlaneLayer.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Propagator/detail/NavigationHelpers.hpp
  Core/src/Geometry/ConeLayer.cpp
  Core/src/Geometry/CylinderLayer.cpp
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/DiscLayer.cpp
  Core/src/Geometry/KDTreeTrackingGeometryBuilder.cpp
  Core/src/Geometry/Layer.cpp
  Core/src/Geometry/NavigationLayer.cpp
  Core/src/Geometry/PassiveLayerBuilder.cpp
  Core/src/Geometry/PlaneLayer.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Python/src/Navigation.cpp
  Plugins/ActSVG/src/LayerSvgConverter.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/LayerStub.hpp
  Tests/UnitTests/Core/Geometry/PlaneLayerTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeCreation.hpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeTests.cpp
  Tests/UnitTests/Core/Material/PropagatorMaterialAssignerTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Due: license, type_t, boost_test, math_macros

update hashes
  Examples/Framework/include/ActsExamples/EventData/SimVertex.hpp
  Examples/Python/tests/root_file_hashes.txt
  Tests/UnitTests/Fatras/EventData/BarcodeTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

perf: Special case `DiscSurface::intersect` for full azimuth coverage (#4603)
  Core/src/Surfaces/DiscSurface.cpp
Due: license, type_t, math_macros

New unit test for building Gen3 geometry of a cylindrical detector from DD4Hep
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, type_t, boost_test, math_macros

clean up xml generation, keep detector elements alive
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, type_t, boost_test, math_macros

test: Write debug graphviz + verbose construction
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, type_t, boost_test, math_macros

Added endcap conversion to the DD4hep-to-ACTS Gen3 geometry translation unit test
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, type_t, boost_test, math_macros

test: Fix material issue in dd4hep geometry construction
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, type_t, boost_test, math_macros

chore: Fix some deprecations and other changes
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, type_t, boost_test, math_macros

fix: Avoid warning when constructing empty material
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, type_t, boost_test, math_macros

adding HelloWorld python bindings
  Examples/HelloWorld/CMakeLists.txt
  Examples/HelloWorld/include/ActsExamples/HelloWorld/HelloData.hpp
  Examples/HelloWorld/include/ActsExamples/HelloWorld/HelloLoggerAlgorithm.hpp
  Examples/HelloWorld/include/ActsExamples/HelloWorld/HelloRandomAlgorithm.hpp
  Examples/HelloWorld/include/ActsExamples/HelloWorld/HelloWhiteBoardAlgorithm.hpp
  Examples/HelloWorld/src/HelloLoggerAlgorithm.cpp
  Examples/HelloWorld/src/HelloRandomAlgorithm.cpp
  Examples/HelloWorld/src/HelloWhiteBoardAlgorithm.cpp
  Examples/HelloWorld/src/HelloWorld.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/HelloWorld.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/tests/conftest.py
  Examples/Python/tests/test_base.py
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Time-sorted truth seeding / tracking (#4591)
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_seeding.root
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TruthTracking.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, math_macros

perf: Reimplement `CylinderSurface::intersection` in local frame
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Utilities/detail/RealQuadraticEquation.hpp
  Core/src/Surfaces/CylinderSurface.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix return invalid
  Core/src/Surfaces/CylinderSurface.cpp
Due: license, type_t, math_macros

fix: missing index in track proxy copy in track finding (#4610)
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, type_t, math_macros

revert additional compiler versions
  .gitlab-ci.yml
Due: none

get rid of sqrt
  Core/src/Surfaces/CylinderSurface.cpp
Due: license, type_t, math_macros

update refs
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Examples/Python/tests/root_file_hashes.txt
Due: none

make gcc happy
  Core/include/Acts/Geometry/Layer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

flood fill
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

missing ref
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
Due: none
