Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

adjust inline comments
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

use edm4hep cov, add writeTrackState
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/EDM4hep/src/EDM4hepUtil.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Apply to Detray Plaugin
  Detray/core/include/detray/core/name_map.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/io/include/detray/io/json/detector_reader.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  Traccc/io/src/read_detector.cpp
  Traccc/io/src/read_detector_description.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Refactor the detector reader to make payload accessible directly
  Detray/io/include/detray/io/backend/detail/grid_reader.hpp
  Detray/io/include/detray/io/backend/geometry_reader.hpp
  Detray/io/include/detray/io/backend/geometry_writer.hpp
  Detray/io/include/detray/io/backend/homogeneous_material_reader.hpp
  Detray/io/include/detray/io/backend/material_map_reader.hpp
  Detray/io/include/detray/io/backend/surface_grid_reader.hpp
  Detray/io/include/detray/io/frontend/detail/detector_components_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/io/include/detray/io/frontend/impl/json_readers.hpp
  Detray/io/include/detray/io/frontend/payloads.hpp
  Detray/io/include/detray/io/frontend/reader_interface.hpp
  Detray/io/include/detray/io/json/detail/json_geometry_io.hpp
  Detray/io/include/detray/io/json/json_converter.hpp
  Detray/tests/integration_tests/io/io_json_detector_roundtrip.cpp
  Detray/tests/unit_tests/io/io_json_payload.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  Traccc/examples/run/cpu/apps/kalman_filter_validation.cpp
  Traccc/io/include/traccc/io/detector.hpp
  Traccc/io/src/read_detector.cpp
  Traccc/tests/alpaka/test_ckf_toy_detector.cpp
  Traccc/tests/cpu/test_kalman_filter_toy_detector.cpp
  Traccc/tests/cuda/test_ckf_toy_detector.cpp
  Traccc/tests/cuda/test_kalman_fitter_telescope.cpp
  Traccc/tests/sycl/test_ckf_toy_detector.cpp
  Traccc/tests/sycl/test_kalman_fitter_telescope.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: Compute only the (z, r) variances in the pixel space point builder
  Core/include/Acts/SpacePointFormation/PixelSpacePointBuilder.hpp
  Core/src/SpacePointFormation/PixelSpacePointBuilder.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Tests/UnitTests/Core/SpacePointFormation/PixelSpacePointBuilderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(cmake): resolve nlohmann_json before other packages
  .github/workflows/builds.yml
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

Adress comments
  Detray/io/include/detray/io/backend/detail/basic_converter.hpp
  Detray/io/include/detray/io/backend/homogeneous_material_reader.hpp
  Detray/io/include/detray/io/backend/surface_grid_reader.hpp
  Detray/io/include/detray/io/frontend/detail/detector_components_reader.hpp
  Detray/io/include/detray/io/frontend/detail/detector_components_writer.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/io/include/detray/io/frontend/detector_writer.hpp
  Detray/io/include/detray/io/frontend/detector_writer_config.hpp
  Detray/io/include/detray/io/frontend/payloads.hpp
  Detray/io/include/detray/io/frontend/reader_interface.hpp
  Detray/io/include/detray/io/frontend/writer_interface.hpp
  Detray/io/include/detray/io/json/detail/json_common_io.hpp
  Detray/io/include/detray/io/json/json_converter.hpp
  Detray/python/Examples/src/ExamplesModuleEntry.cpp
  Detray/tests/integration_tests/io/io_json_detector_roundtrip.cpp
  Detray/tests/tools/src/cpu/generate_telescope_detector.cpp
  Detray/tests/tools/src/cpu/generate_toy_detector.cpp
  Detray/tests/tools/src/cpu/generate_wire_chamber.cpp
  Detray/tests/unit_tests/io/io_json_detector_writer.cpp
  Detray/tests/unit_tests/io/io_json_payload.cpp
  Detray/tutorials/src/cpu/detector/do_it_yourself_detector.cpp
  Detray/tutorials/src/cpu/detector/write_detector_to_file.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  Traccc/examples/run/cpu/apps/kalman_filter_validation.cpp
  Traccc/examples/simulation/simulate_telescope.cpp
  Traccc/examples/simulation/simulate_toy_detector.cpp
  Traccc/examples/simulation/simulate_wire_chamber.cpp
  Traccc/io/include/traccc/io/read_detector.hpp
  Traccc/io/src/read_detector.cpp
  Traccc/io/src/read_detector_description.cpp
  Traccc/tests/common/tests/kalman_fitting_momentum_resolution_test.cpp
  Traccc/tests/common/tests/kalman_fitting_telescope_test.hpp
  Traccc/tests/common/tests/kalman_fitting_wire_chamber_test.hpp
  Traccc/tests/common/tests/toy_detector_fixture.hpp
  Traccc/tests/common/tests/triplet_fitting_telescope_test.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: allow backward propagation through volume material
  Core/include/Acts/Propagator/detail/MaterialEffectsAccumulator.hpp
  Core/src/Propagator/detail/MaterialEffectsAccumulator.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/MaterialEffectsAccumulatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat(detray): Add known-substructure matrix library
  Detray/CMakeLists.txt
  Detray/core/CMakeLists.txt
  Detray/core/include/detray/algebra/common/known_substructure_matrix.hpp
  Detray/core/include/detray/algebra/common/ksm/concepts.hpp
  Detray/core/include/detray/algebra/common/ksm/detail/canonicalization.hpp
  Detray/core/include/detray/algebra/common/ksm/detail/index_table.hpp
  Detray/core/include/detray/algebra/common/ksm/detail/math_helpers.hpp
  Detray/core/include/detray/algebra/common/ksm/detail/operator_substructure.hpp
  Detray/core/include/detray/algebra/common/ksm/detail/symbolic.hpp
  Detray/core/include/detray/algebra/common/ksm/detail/symbolic_definitions.hpp
  Detray/core/include/detray/algebra/common/ksm/fwd.hpp
  Detray/core/include/detray/algebra/common/ksm/make_substructure.hpp
  Detray/core/include/detray/algebra/common/ksm/matrix.hpp
  Detray/core/include/detray/algebra/common/ksm/print.hpp
  Detray/core/include/detray/algebra/common/ksm/row.hpp
  Detray/core/include/detray/algebra/common/ksm/substructure.hpp
  Detray/core/include/detray/algebra/common/ksm/traits.hpp
  Detray/core/include/detray/algebra/common/ksm/value.hpp
  Detray/core/include/detray/algebra/concepts.hpp
  Detray/core/include/detray/algebra/type_traits.hpp
  Detray/tests/include/detray/test/utils/op_counter.hpp
  Detray/tests/unit_tests/cpu/CMakeLists.txt
  Detray/tests/unit_tests/cpu/utils/known_substructure_matrix.cpp
  Detray/tests/unit_tests/cpu/utils/known_substructure_matrix_conversion.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(detray): Replace generated transport Jacobian type
  Detray/codegen/detray-sympy/gen_transport_jacobian_types.py
  Detray/codegen/detray-sympy/generate_all.sh
  Detray/core/CMakeLists.txt
  Detray/core/include/detray/algebra/common/ksm/substructures/transport_jacobian.hpp
  Detray/core/include/detray/propagator/base_stepper.hpp
  Detray/core/include/detray/propagator/rk_stepper.hpp
  Detray/core/include/detray/propagator/transport_jacobian.hpp
  codegen/manifest.json
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

fix(cmake): resolve nlohmann_json before other packages (#5983)
  .github/workflows/builds.yml
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

Fix error after rebase
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: GBTS GPU node sorting for determinism (#5957)
  Traccc/device/alpaka/include/traccc/alpaka/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/alpaka/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_bin_spacepoints.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_count_eta_phi_bins.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_count_spacepoints_by_layer.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_prefix_sum_eta_phi_bins.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_seeding_algorithm.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_sort_nodes.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_bin_spacepoints.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_count_eta_phi_bins.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_count_spacepoints_by_layer.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_prefix_sum_eta_phi_bins.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_sort_nodes.ipp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/cuda/src/gbts_seeding/gbts_seeding_algorithm.cu
  Traccc/device/sycl/include/traccc/sycl/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/sycl/src/gbts_seeding/gbts_seeding_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Name the vacuum kernel's status code and trim the generators
  Core/include/Acts/Propagator/detail/MaterialEffectsAccumulator.hpp
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/generate_sympy_stepper.py
  codegen/src/codegen/sympy_common.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make the build work with oneAPI-2026.1.0.
  Core/include/Acts/Material/MaterialSlab.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Give the dense kernel the same status protocol as the vacuum one
  Core/include/Acts/Propagator/detail/SympyStepperDenseStep.hpp
  Core/include/Acts/Propagator/detail/SympyStepperStatus.hpp
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/detail/SympyStepperDenseStep.cpp
  Core/src/Propagator/generate_sympy_stepper.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Drop the material accumulator vacuum flag
  Core/include/Acts/Propagator/detail/MaterialEffectsAccumulator.hpp
  Core/src/Propagator/detail/MaterialEffectsAccumulator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): Make spacepoint formation deterministic
  Traccc/device/alpaka/include/traccc/alpaka/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/alpaka/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/seeding/device/count_spacepoints.hpp
  Traccc/device/common/include/traccc/seeding/device/form_spacepoints.hpp
  Traccc/device/common/include/traccc/seeding/device/impl/count_spacepoints.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/form_spacepoints.ipp
  Traccc/device/common/include/traccc/seeding/device/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/common/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/cuda/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cu
  Traccc/device/sycl/include/traccc/sycl/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Implemented the (triplet) seeding algorithms for HIP.
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/hip/src/seeding/seed_parameter_estimation_algorithm.hip
  Traccc/device/hip/src/seeding/silicon_pixel_spacepoint_formation_algorithm.hip
  Traccc/device/hip/src/seeding/triplet_seeding_algorithm.hip
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Ported the CUDA spacepoint formation test to HIP.
  Traccc/tests/hip/CMakeLists.txt
  Traccc/tests/hip/test_spacepoint_formation.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: make the LCG dev4 leg's own check run tolerate failure
  .github/workflows/builds.yml
Due: leftover_conflict_markers

refactor: Address review on naming and comment length
  Core/src/Propagator/detail/generate_sympy_jac.py
  Core/src/Propagator/generate_sympy_stepper.py
  codegen/src/codegen/sympy_common.py
Due: leftover_conflict_markers

ci: restrict the LCG dev4 leg to main and open an issue on failure
  .github/workflows/builds.yml
Due: leftover_conflict_markers

don't use Boost::process... (sigh)
  CMakeLists.txt
  Plugins/Mille/CMakeLists.txt
  Plugins/Mille/include/ActsPlugins/Mille/detail/runChildProcess.hpp
  Plugins/Mille/src/MillePedeSolver.cpp
  Plugins/Mille/src/runChildProcess.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
  Tests/UnitTests/Plugins/Mille/ChildProcessTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros

ci: split nightly LCG build from matrix
  .github/workflows/builds.yml
Due: leftover_conflict_markers

feat: Resolve a GBTS doublet's strip ends against its own direction
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/include/Acts/Seeding/detail/GbtsGraphTypes.hpp
  Core/src/Seeding/GbtsNodeStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor(detray): Split line surface into two types
  Detray/core/include/detray/geometry/shapes.hpp
  Detray/core/include/detray/geometry/shapes/line_circular.hpp
  Detray/core/include/detray/geometry/shapes/line_square.hpp
  Detray/detectors/include/detray/detectors/default_metadata.hpp
  Detray/detectors/include/detray/detectors/wire_chamber_metadata.hpp
  Detray/plugins/svgtools/include/detray/plugins/svgtools/conversion/surface.hpp
  Detray/python/detray/detectors/impl/metadata_generator.py
  Detray/tests/include/detray/test/common/build_wire_chamber.hpp
  Detray/tests/include/detray/test/common/factories/wire_layer_generator.hpp
  Detray/tests/include/detray/test/utils/perigee_stopper.hpp
  Detray/tests/tools/include/detray/options/wire_chamber_options.hpp
  Detray/tests/tools/src/cpu/generate_wire_chamber.cpp
  Detray/tests/unit_tests/cpu/geometry/masks/line.cpp
  Detray/tests/unit_tests/cpu/material/materials.cpp
  Detray/tests/unit_tests/cpu/navigation/intersection/helix_intersector.cpp
  Detray/tests/unit_tests/cpu/navigation/intersection/line_intersector.cpp
  Detray/tests/unit_tests/cpu/propagator/jacobian_line.cpp
  Traccc/core/include/traccc/fitting/kalman_filter/is_line_visitor.hpp
  Traccc/simulation/include/traccc/simulation/measurement_smearer.hpp
  Traccc/tests/cpu/test_simulation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Let a GBTS triplet through a strip disagree on tau by more
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Default a GBTS strip triplet to the tau tolerance the strips need
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: Say what the GBTS triplet option is worth at its default reach
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Derive a strip node's uncertainty from its strip, not from a constant
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Take the actionable SonarCloud findings on the strip code
  Core/src/Seeding/GbtsNodeStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Walk the GBTS strip test past a cut that is not rounding noise
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

ci: fix and scope the LCG dev4 nightly leg (#5987)
  .github/workflows/builds.yml
Due: leftover_conflict_markers

fix unit test
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeSolver.hpp
  Plugins/Mille/src/MillePedeSolver.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
  Tests/UnitTests/Plugins/Mille/MillePedeSolverBuiltIn.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

builds.yml: apply `-DACTS_USE_SYSTEM_LIBS=ON` for eic-shell build
  .github/workflows/builds.yml
Due: leftover_conflict_markers

docs: update pull_request_template.md to put items in reasonable order
  .github/pull_request_template.md
Due: leftover_conflict_markers

feat: HIP Seed Finding, main branch (2026.08.24.) (#5941)
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/hip/src/seeding/seed_parameter_estimation_algorithm.hip
  Traccc/device/hip/src/seeding/silicon_pixel_spacepoint_formation_algorithm.hip
  Traccc/device/hip/src/seeding/triplet_seeding_algorithm.hip
  Traccc/tests/hip/CMakeLists.txt
  Traccc/tests/hip/test_spacepoint_formation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): Make spacepoint formation deterministic (#5938)
  Traccc/device/alpaka/include/traccc/alpaka/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/alpaka/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/seeding/device/count_spacepoints.hpp
  Traccc/device/common/include/traccc/seeding/device/form_spacepoints.hpp
  Traccc/device/common/include/traccc/seeding/device/impl/count_spacepoints.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/form_spacepoints.ipp
  Traccc/device/common/include/traccc/seeding/device/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/common/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/cuda/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cu
  Traccc/device/sycl/include/traccc/sycl/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
