Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

feat: Add compatibility for Eigen 5
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  CMakeLists.txt
  Core/include/Acts/EventData/SpacePointData.ipp
  Core/include/Acts/Utilities/detail/EigenCompat.hpp
  Core/src/Utilities/TransformComparator.cpp
  Examples/Framework/src/EventData/MuonSpacePoint.cpp
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

ci: Bump dependency package to v18
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
Due: none

smarter eigen selection
  CMakeLists.txt
Due: cmake_options

bump devcontainer
  .devcontainer/Dockerfile
Due: none

Introduce getter methods
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Utilities/BoundFactory.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/detail/BoundDeduplicator.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

update eigen assert include wrapper
  cmake/assert_include/Eigen/Core
  cmake/assert_include/Eigen/Dense
  cmake/assert_include/Eigen/Geometry
Due: none

Fix compiler errors
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/src/Geometry/detail/BoundDeduplicator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Split up particle barcode in ROOT outputs (#4797)
  CI/physmon/config/pythia8_ttbar.yml
  CI/physmon/config/simulation.yml
  CI/physmon/config/tracksummary_ckf.yml
  CI/physmon/config/vertexing_4muon_50vertices.yml
  CI/physmon/config/vertexing_ttbar_pu200.yml
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexNTupleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Io/Root/src/RootSimHitWriter.cpp
  Examples/Io/Root/src/RootTrackFinderNTupleWriter.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Io/Root/src/RootVertexNTupleWriter.cpp
  Examples/Io/Root/src/RootVertexReader.cpp
  Examples/Io/Root/src/RootVertexWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Examples/Scripts/TrackingPerformance/defineReconstructionPerformance.C
Due: license, include_guards, pragma_once, type_t, math_macros

Update Core/src/Geometry/detail/BoundDeduplicator.cpp
  Core/src/Geometry/detail/BoundDeduplicator.cpp
Due: license, type_t, math_macros

Fix indentation
  Core/src/Geometry/detail/BoundDeduplicator.cpp
Due: license, type_t, math_macros

removing INFO statement
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Due: license, type_t, math_macros

update root file hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

fix: Various warnings
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Fatras/src/Digitization/PlanarSurfaceMask.cpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
Due: license, type_t, boost_test, math_macros

use EigenCompat namespace, add compat for Eigen::all
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/Utilities/detail/EigenCompat.hpp
  Core/src/Utilities/TransformComparator.cpp
  Examples/Framework/ML/src/NeuralCalibrator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Truth alh
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

not constexpr < 5.0.0
  Core/include/Acts/Utilities/detail/EigenCompat.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

use system nlohmann json in gnn workflow
  CMakePresets.json
Due: none

chore: Add helper script to bump dependency versions
  CI/bump_versions.py
Due: none

some residual bumps
  .github/workflows/sonarcloud.yml
  docs/getting_started.md
Due: none

refactor: RAII RootBranchPtr class to avoid raw pointers
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/detail/RootBranchPtr.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Io/Root/src/RootVertexReader.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Bump doxygen to v1.15.0
  .github/workflows/docs.yml
Due: none

pr review
  Core/include/Acts/Geometry/ConvexPolygonVolumeBounds.hpp
  Core/src/Geometry/ConvexPolygonVolumeBounds.cpp
  Tests/UnitTests/Core/Geometry/ConvexPolygonVolumeBoundsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Full jet labelling
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

move constructor
  Core/include/Acts/Geometry/ConvexPolygonVolumeBounds.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

operator for move constructor
  Core/include/Acts/Geometry/ConvexPolygonVolumeBounds.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

pre commit for lint
  Core/include/Acts/Geometry/ConvexPolygonVolumeBounds.hpp
  Core/src/Geometry/ConvexPolygonVolumeBounds.cpp
  Tests/UnitTests/Core/Geometry/ConvexPolygonVolumeBoundsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix doc
  Core/include/Acts/Geometry/ConvexPolygonVolumeBounds.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Format
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Utilities/SpacePointUtility.cpp
  Core/src/Vertexing/IterativeVertexFinder.cpp
  Core/src/Visualization/EventDataView3D.cpp
  Examples/Algorithms/Geometry/src/VolumeAssociationTest.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorBuilder.cpp
  Examples/Detectors/GenericDetector/src/ProtoLayerCreator.cpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/CommonHelpers/src/CubicTrackingGeometry.cpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
  Tests/UnitTests/Core/Material/AccumulatedVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Material/AverageMaterialsTests.cpp
  Tests/UnitTests/Core/Navigation/DetectorNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/Utilities/BinningDataTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
  Tests/UnitTests/Core/Visualization/Interpolation3DTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Introduce BoundDeduplicator helper class (#4816)
  Core/include/Acts/Geometry/Blueprint.hpp
  Core/include/Acts/Geometry/BoundarySurfaceT.hpp
  Core/include/Acts/Geometry/detail/BoundDeduplicator.hpp
  Core/include/Acts/Geometry/detail/TrackingGeometryPrintVisitor.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Utilities/BoundFactory.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/CylinderVolumeHelper.cpp
  Core/src/Geometry/detail/BoundDeduplicator.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix doc now?
  docs/_extensions/lazy_autodoc.py
Due: none

changed config with comments made by Andi Stefl
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix two new doxygen warnings
  Core/include/Acts/Seeding2/CylindricalSpacePointKDTree.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Blub
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Examples/Scripts/momentumDistributions.C
  Tests/UnitTests/Core/Propagator/LoopProtectionTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
Due: license, type_t, boost_test, math_macros

removed non relevent comments
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

reshuffle disabled bounding box tests
  Tests/UnitTests/Core/Utilities/BoundingBoxTest.cpp
Due: license, type_t, boost_test, math_macros

update physmon references
  CI/physmon/reference/simulation/particles_ttbar_hist.root
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
Due: none

Apply suggestions from code review
  Plugins/Geant4/src/Geant4Converters.cpp
  Tests/UnitTests/Core/Material/AccumulatedVolumeMaterialTests.cpp
  Tests/UnitTests/Core/Propagator/BoundToCurvilinearConversionTests.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Visualization/Interpolation3DTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceTestBeds.hpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Fix filtered chi2 and refactor `GainMatrixUpdater`
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GainMatrixUpdaterImpl.cpp.in
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Cone surface fix path correction (#4813)
  Core/src/Surfaces/ConeSurface.cpp
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
Due: license, type_t, boost_test, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
