Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

feat: Tie lifetime of memory resource to detector in readDetector (#5627)
  Detray/python/Core/src/CoreModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Remove MaterialValidationConfig.deviceMr binding (#5627)
  Detray/python/Tests/src/TestsModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Collect the shared axis properties on the factory
  Core/include/Acts/Utilities/AxisFactory.hpp
  Core/include/Acts/Utilities/MultiAxisFactory.hpp
  Core/src/Utilities/AxisFactory.cpp
  Core/src/Utilities/MultiAxisFactory.cpp
  Tests/UnitTests/Core/Utilities/AxisFactoryTests.cpp
  Tests/UnitTests/Core/Utilities/MultiAxisFactoryTests.cpp
  Tests/UnitTests/Core/Utilities/ProfileEfficiencyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Move to rocm image
  .github/workflows/traccc.yml
  Traccc/.github/ci_setup.sh
Due: leftover_conflict_markers

refactor: Move DetectorReaderConfig and readDetector into a new Io submodule (#5627)
  Detray/python/CMakeLists.txt
  Detray/python/Core/src/CoreModuleEntry.cpp
  Detray/python/Io/CMakeLists.txt
  Detray/python/Io/module_init.py.in
  Detray/python/Io/src/IoModuleEntry.cpp
  Detray/python/Io/tests/test_read_detector.py
Due: license, type_t, leftover_conflict_markers, math_macros

do it
  Python/Examples/src/EventData.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Set C compiler to clang
  Traccc/.github/ci_setup.sh
Due: leftover_conflict_markers

fix: Report full azimuth coverage consistently across bounds
  Core/include/Acts/Definitions/Tolerance.hpp
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/src/Surfaces/ConeBounds.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Utilities/AxisFactory.cpp
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/ConeBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/RadialBoundsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Make GBTS acceptance cuts configurable (#5766)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Use a shared base configuration struct in MaterialValidationConfig and MaterialScanConfig (#5627)
  Detray/python/Tests/src/TestsModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Replace the GBTS node EDM with space point container indices
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update
  Python/Examples/src/EventData.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: CudaMuonSegmentFitting added to CI build and unit test added to CI (#5787)
  .gitlab-ci.yml
Due: leftover_conflict_markers

fix: Repair the Geant4 telescope detector geometry (#5838)
  Examples/Detectors/TelescopeDetector/CMakeLists.txt
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeG4DetectorConstruction.cpp
  Python/Examples/tests/test_detectors.py
  Tests/UnitTests/Examples/CMakeLists.txt
  Tests/UnitTests/Examples/Detectors/CMakeLists.txt
  Tests/UnitTests/Examples/Detectors/TelescopeDetector/CMakeLists.txt
  Tests/UnitTests/Examples/Detectors/TelescopeDetector/TelescopeG4DetectorConstructionTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Add SeedsToTracks to Examples (#5845)
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/SeedsToTracks.hpp
  Examples/Algorithms/Utilities/src/SeedsToTracks.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/Utilities.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Improved Binding for SourceLink and Cluster (#5853)
  Python/Examples/src/EventData.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Follow naming conventions in Python bindings
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Core/src/EventData.cpp
  Python/Core/src/MagneticField.cpp
  Python/Core/tests/test_event_data.py
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
  Python/Plugins/src/Root.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Rename AxisFactory to AxisSpec
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/include/Acts/Geometry/MultiWireVolumeBuilder.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Utilities/AxisSpec.hpp
  Core/include/Acts/Utilities/MultiAxisSpec.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Geometry/MaterialDesignator.hpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulator.cpp
  Core/src/Utilities/AxisSpec.cpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/MultiAxisSpec.cpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/src/DD4hepBinningHelpers.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/ActsPlugins/Json/AxisFactoryJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/AxisSpecJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/ProtoAxisJsonConverter.hpp
  Plugins/Json/src/AxisSpecJsonConverter.cpp
  Python/Core/src/GeometryGen3.cpp
  Python/Core/src/Utilities.cpp
  Python/Examples/tests/test_material_merge_rz_view.py
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialAccumulatorTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Utilities/AxisSpecTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/MultiAxisSpecTests.cpp
  Tests/UnitTests/Core/Utilities/ProfileEfficiencyTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
  Tests/UnitTests/Plugins/Json/AxisFactoryJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/AxisSpecJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Rename TrackFitterPerformance to TrackParameterPerformance
  CI/physmon/workflows/physmon_trackfitting_gx2f_vs_kf.py
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/TrackParameterPerformanceCollector.hpp
  Examples/Framework/src/Validation/TrackParameterPerformanceCollector.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackParameterPerformanceWriter.cpp
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Examples/Scripts/Python/truth_jet_test.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
  Python/Examples/python/__init__.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/src/plugins/Root.cpp
  Python/Examples/tests/test_writer.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Update the physmon and root file hash references
  CI/physmon/reference.sha256
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

Added a missing include.
  Traccc/device/hip/src/utils/global_index.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Avoid null-capable slot pointers in resolveMultiAxis
  Core/src/Utilities/MultiAxisSpec.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

pdate Python interface plot() to take **kwargs and only draw ranges in geometry
  Core/src/Visualization/ViewConfig.cpp
  Examples/Scripts/Python/truth_tracking_kalman.py
  Python/Examples/python/visualization.py
Due: license, type_t, leftover_conflict_markers, math_macros

Update Core/src/Visualization/ViewConfig.cpp
  Core/src/Visualization/ViewConfig.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

More fixes
  Core/src/Visualization/ViewConfig.cpp
  Examples/Scripts/Python/geometry.py
  Python/Core/src/Visualization.cpp
  Python/Examples/python/visualization.py
Due: license, type_t, leftover_conflict_markers, math_macros

fix: correct closest approach in cosmic strip space point formation
  Core/include/Acts/SpacePointFormation/StripSpacePointBuilder.hpp
  Core/src/SpacePointFormation/StripSpacePointBuilder.cpp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/SpacePointFormation/CMakeLists.txt
  Tests/UnitTests/Core/SpacePointFormation/StripSpacePointBuilderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Follow naming conventions in Python bindings (#5855)
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Core/src/EventData.cpp
  Python/Core/src/MagneticField.cpp
  Python/Core/tests/test_event_data.py
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
  Python/Plugins/src/Root.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Log post-update material failure on the skip path
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Make STRINGIFY of scalar type expand correctly (#5627)
  Detray/python/Core/src/CoreModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Bind runMaterialValidation (#5627)
  Detray/python/Tests/src/TestsModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Move temporarily to untagged newer ubuntu2404_rocm image
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

fix: HIP/AMD Compilation Fix, main branch (2026.08.11.) (#5857)
  Traccc/device/hip/src/utils/global_index.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: expose readJson in TGeo pybind (#5779)
  Python/Examples/src/plugins/TGeo.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: Optional recording of CKF material track states (#5827)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Rename TrackFitterPerformance to TrackParameterPerformance (#5841)
  CI/physmon/workflows/physmon_trackfitting_gx2f_vs_kf.py
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/TrackParameterPerformanceCollector.hpp
  Examples/Framework/src/Validation/TrackParameterPerformanceCollector.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackParameterPerformanceWriter.cpp
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Examples/Scripts/Python/truth_jet_test.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
  Python/Examples/python/__init__.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/src/plugins/Root.cpp
  Python/Examples/tests/test_writer.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Set clang as host compiler for HIP vecmem compilation
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

Revert "Set clang as host compiler for HIP vecmem compilation"
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

Turn off vecmem tests in CI build
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

refactor: Replace the GBTS node EDM with space point container indices (#5767)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Make the GBTS graph representation internal
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GbtsTypes.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/include/Acts/Seeding/detail/GbtsEdgeState.hpp
  Core/include/Acts/Seeding/detail/GbtsGraphTypes.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
