Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

perf(traccc): Transpose `find_tracks` temporary order
  Traccc/device/common/include/traccc/finding/device/condense_tracks.hpp
  Traccc/device/common/include/traccc/finding/device/impl/find_tracks.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update references
  CI/physmon/reference.sha256
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

feat: Telescope Detector Gen3
  Examples/Detectors/TelescopeDetector/CMakeLists.txt
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/BuildTelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetectorGen3.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Python/Examples/src/Detector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

minor changes that increase readablity
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetectorGen3.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Refactor comments on time compatibility cut
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(detray): Add array-based SoA plugin
  Detray/CMakeLists.txt
  Detray/README.md
  Detray/core/CMakeLists.txt
  Detray/core/include/detray/definitions/algebra.hpp
  Detray/plugins/algebra/CMakeLists.txt
  Detray/plugins/algebra/array_soa/CMakeLists.txt
  Detray/plugins/algebra/array_soa/include/algebra/array_soa.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_approximately_equal.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_boolean.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_casts.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_concepts.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_getter.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_math.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_matrix.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_simd.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_transform3.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_types.hpp
  Detray/plugins/algebra/array_soa/include/algebra/impl/array_soa_vector.hpp
  Detray/plugins/algebra/array_soa/include/algebra/utils/data_generator.hpp
  Detray/tests/benchmarks/include/detray/benchmarks/types.hpp
  Detray/tests/include/detray/test/framework/types.hpp
  Detray/tests/unit_tests/cpu/CMakeLists.txt
  Detray/tests/unit_tests/cpu/algebra/array_soa.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): Remove warp size-based block sizes
  Detray/core/include/detray/definitions/detail/cuda_definitions.hpp
  Detray/core/include/detray/definitions/detail/hip_definitions.hpp
  Detray/tests/include/detray/test/device/cuda/material_validation.cu
  Detray/tests/include/detray/test/device/cuda/navigation_validation.cu
  Detray/tests/integration_tests/device/cuda/propagator_cuda_kernel.cu
  Detray/tests/integration_tests/device/hip/propagator_hip_kernel.hip
  Detray/tests/unit_tests/device/cuda/navigator_cuda_kernel.cu
  Detray/tutorials/src/device/cuda/propagation_kernel.cu
  Traccc/device/cuda/include/traccc/cuda/ambiguity_resolution/greedy_ambiguity_resolution_algorithm.hpp
  Traccc/device/cuda/src/ambiguity_resolution/greedy_ambiguity_resolution_algorithm.cu
  Traccc/device/cuda/src/clusterization/clusterization_algorithm.cu
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cu
  Traccc/device/cuda/src/fitting/kalman_fitting_algorithm.cpp
  Traccc/device/cuda/src/fitting/kalman_fitting_algorithm.cu
  Traccc/device/cuda/src/seeding/seed_parameter_estimation_algorithm.cu
  Traccc/device/cuda/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cu
  Traccc/device/cuda/src/seeding/triplet_seeding_algorithm.cu
  Traccc/device/hip/src/clusterization/clusterization_algorithm.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_build_tracks_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_condense_tracks_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_fill_finding_duplicate_removal_sort_keys_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_fill_finding_propagation_sort_keys_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_find_tracks_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_gather_measurement_votes_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_progressive_kalman_filter_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_propagate_to_next_surface_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_remove_duplicates_kernel.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_update_tip_length_buffer_kernel.hip
  Traccc/device/hip/src/fitting/kalman_fitting_algorithm_fit_backward_kernel.hip
  Traccc/device/hip/src/fitting/kalman_fitting_algorithm_fit_forward_kernel.hip
  Traccc/device/hip/src/fitting/kalman_fitting_algorithm_fit_prelude_kernel.hip
  Traccc/device/hip/src/fitting/kalman_fitting_algorithm_prepare_track_fit_order.hip
  Traccc/device/hip/src/seeding/seed_parameter_estimation_algorithm.hip
  Traccc/device/hip/src/seeding/silicon_pixel_spacepoint_formation_algorithm.hip
  Traccc/device/hip/src/seeding/triplet_seeding_algorithm.hip
  Traccc/device/sycl/src/clusterization/clusterization_algorithm.sycl
  Traccc/device/sycl/src/finding/combinatorial_kalman_filter_algorithm.sycl
  Traccc/device/sycl/src/seeding/seed_parameter_estimation_algorithm.sycl
  Traccc/device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm.sycl
  Traccc/device/sycl/src/seeding/triplet_seeding_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Corrected a mistake where the beamspot z offset was left unused in the data augmentation
  Python/Examples/tests/test_data_augmentation.py
Due: leftover_conflict_markers

remove unused VolumeCollector
  Core/include/Acts/Propagator/VolumeCollector.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): add suspension in GBTS seeeding algorithm
  Traccc/device/alpaka/include/traccc/alpaka/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/alpaka/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_seeding_algorithm.hpp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/cuda/src/gbts_seeding/gbts_seeding_algorithm.cu
  Traccc/device/sycl/include/traccc/sycl/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/sycl/src/gbts_seeding/gbts_seeding_algorithm.sycl
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/sycl/src/full_chain_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(material)!: replace TrackingGeometryMaterial pair with named fields
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Plugins/Json/src/JsonMaterialDecorator.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/src/RootMaterialDecorator.cpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Tests/UnitTests/Core/Material/MaterialMapperTests.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat(material): support stable keys for surface material assignments
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulator.hpp
  Core/include/Acts/Material/MergedMaterialMarker.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/include/Acts/Material/detail/MaterialSurfaceRegistry.hpp
  Core/include/Acts/Material/interface/ISurfaceMaterialAccumulator.hpp
  Core/src/Geometry/MaterialDesignator.hpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Core/src/Geometry/Portal.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulator.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MaterialMapper.cpp
  Core/src/Material/MaterialSurfaceRegistry.cpp
  Core/src/Material/MergedMaterialMarker.cpp
  Core/src/Material/TrackingGeometryMaterial.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Plugins/Json/include/ActsPlugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/src/JsonMaterialDecorator.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Json/src/SurfaceMaterialJsonConverter.cpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Python/Core/src/GeometryGen3.cpp
  Python/Core/src/Material.cpp
  Python/Core/tests/test_blueprint.py
  Python/Plugins/src/Json.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/TrackingGeometryMaterialTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialMapJsonConverterTests.cpp
  docs/examples/material_designation.cpp
  docs/pages/examples/material_mapping_howto.md
  docs/pages/material_map_json_format.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: fix adaptive vertex fitter API documentation
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: introduce IVertexFitter and implement it in AMVF
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/IVertexFitter.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: address vertex fitter quality findings
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/IVertexFitter.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: use spans in vertex fitter interface
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/IVertexFitter.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: preserve the vector vertex fitter overload
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

SOA array
  Traccc/core/include/traccc/definitions/hints.hpp
  Traccc/core/include/traccc/definitions/qualifiers.hpp
  Traccc/core/include/traccc/utils/soa.hpp
  Traccc/tests/core/CMakeLists.txt
  Traccc/tests/core/test_soa.cpp
  Traccc/tests/cuda/CMakeLists.txt
  Traccc/tests/cuda/test_soa.cu
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

SoA in find_tracks
  Traccc/core/include/traccc/utils/soa_types/soa_bound_track_parameters.hpp
  Traccc/device/common/include/traccc/finding/device/condense_tracks.hpp
  Traccc/device/common/include/traccc/finding/device/find_tracks_payload.hpp
  Traccc/device/common/include/traccc/finding/device/impl/find_tracks.ipp
  Traccc/device/common/src/finding/combinatorial_kalman_filter_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor!: Drop beveled cylinder bounds (#6116)
  Core/include/Acts/Geometry/CylinderVolumeBounds.hpp
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/src/Geometry/CylinderVolumeBounds.cpp
  Core/src/Geometry/CylinderVolumeStack.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceBoundsJsonConverter.hpp
  Python/Core/src/Geometry.cpp
  Python/Core/src/Surfaces.cpp
  Python/Core/tests/test_surfaces.py
  Tests/UnitTests/Core/Geometry/CylinderVolumeBoundsTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceBoundsJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

GBTS traccc deterministic seed extraction
  Traccc/core/include/traccc/gbts_seeding/gbts_seeding_config.hpp
  Traccc/device/alpaka/include/traccc/alpaka/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/alpaka/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/gbts_seeding/device/details/gbts_create_seed_candidate.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/details/gbts_fit_segments.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_add_terminus_to_path_store.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_bid_seeds_for_hits.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_convert_seeds.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_count_paths.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_count_terminus_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_fill_path_store.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_finish_cca.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_fit_segments.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_rebid_seeds_for_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_reset_edge_bids.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_run_cca_iteration.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_seeding_algorithm.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_bid_seeds_for_hits.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_convert_seeds.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_count_paths.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_count_terminus_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_create_seed_candidate.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_fill_path_store.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_finish_cca.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_rebid_seeds_for_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_reset_edge_bids.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_run_cca_iteration.ipp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/cuda/src/gbts_seeding/gbts_seeding_algorithm.cu
  Traccc/device/sycl/include/traccc/sycl/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/sycl/src/gbts_seeding/gbts_seeding_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang format
  Traccc/core/include/traccc/seeding/track_params_estimation.hpp
  Traccc/core/include/traccc/seeding/track_params_estimation_helper.hpp
  Traccc/core/src/seeding/track_params_estimation.cpp
  Traccc/device/common/include/traccc/seeding/device/impl/estimate_track_params.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang format
  Traccc/core/include/traccc/finding/details/combinatorial_kalman_filter.hpp
  Traccc/core/include/traccc/finding/measurement_selector.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang format
  Traccc/core/include/traccc/seeding/doublet_finding_helper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Rename GbtsGraph to GbtsGraphBuilder and add a GbtsGraph struct
  Core/include/Acts/Seeding/GbtsGraphBuilder.hpp
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/GbtsGraphBuilder.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Python/Examples/src/TrackFinding.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Rename the GbtsGraphConfig python binding to GbtsGraphBuilderConfig
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, type_t, leftover_conflict_markers, math_macros

refactor!: Move Transform2/Transform3 from Affine to Isometry (#6040)
  CI/physmon/reference.sha256
  Core/include/Acts/Definitions/Algebra.hpp
  Core/include/Acts/Definitions/Tolerance.hpp
  Core/include/Acts/Utilities/TransformHelpers.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/PlaneLayer.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Detectors/GenericDetector/src/ProtoLayerCreator.cpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Plugins/Geant4/src/Geant4Converters.cpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Plugins/GeoModel/src/detail/GeoBoxConverter.cpp
  Plugins/GeoModel/src/detail/GeoIntersectionAnnulusConverter.cpp
  Plugins/GeoModel/src/detail/GeoPolygonConverter.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoTrdConverter.cpp
  Plugins/GeoModel/src/detail/GeoTubeConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
  Plugins/Json/src/AlgebraJsonConverter.cpp
  Python/Core/src/Definitions.cpp
  Python/Examples/tests/root_file_hashes.txt
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/AlignmentHelpers.hpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/IntegrationTests/PropagationTests.hpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceDriftTests.cpp
  Tests/UnitTests/Plugins/ActSVG/LayerSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/SurfaceSvgConverterTests.cpp
  Tests/UnitTests/Plugins/Json/AlgebraJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor(material)!: Replace TrackingGeometryMaterial pair with named fields (#6123)
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Plugins/Json/src/JsonMaterialDecorator.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/src/RootMaterialDecorator.cpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Tests/UnitTests/Core/Material/MaterialMapperTests.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Use the renamed PolynomialBetheHeitlerApprox in the CKF test
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix(navigation): Weigh up every solution of an external surface
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Propagator/NavigatorExternalSurfaceTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(propagator): Check the position on the surface in the transport
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/JacobianEngine.hpp
  Core/include/Acts/Propagator/detail/SympyCovarianceEngine.hpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/JacobianEngine.cpp
  Core/src/Propagator/detail/SympyCovarianceEngine.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Follow up on the review of the stepper interface
  Core/include/Acts/Propagator/MultiStepperLoop.ipp
  Core/include/Acts/Propagator/RiddersStepper.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(gsf): Store the transport jacobian in the track states
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Make the reducer jacobian of the multi stepper explicit
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.ipp
  Core/include/Acts/Propagator/RiddersStepper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(propagator): Move the on surface check into the steppers
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/SympyCovarianceEngine.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/detail/CovarianceEngine.cpp
  Core/src/Propagator/detail/SympyCovarianceEngine.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: Name the documented argument of the Ridders transportToBound
  Core/include/Acts/Propagator/RiddersStepper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Weekly Update: Regenerate requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  codegen/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

refactor(navigation): Address SonarCloud findings
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
