Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

turn root off
  CMakeLists.txt
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers

lint old
  docs/old/getting_started.md
Due: leftover_conflict_markers

add test
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

simpler type check in Acts::Any
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

rebase on main
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

split into impl file
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lots of api drafting
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  blueprint_builder_api.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

reduce backend concept and api surface
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add missing include
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Typed PODIO data handles (#5174)
  Examples/Framework/include/ActsExamples/Framework/DataHandle.hpp
  Examples/Framework/src/Framework/DataHandle.cpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMultiTrajectoryOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepParticleOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimHitOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimInputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackOutputConverter.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementOutputConverter.cpp
  Examples/Io/Podio/CMakeLists.txt
  Examples/Io/Podio/include/ActsExamples/Io/Podio/CollectionBaseWriteHandle.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioCollectionDataHandle.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioInputConverter.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioMeasurementOutputConverter.hpp
  Examples/Io/Podio/src/CollectionBaseWriteHandle.cpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioUtil.hpp
  Tests/UnitTests/Examples/Io/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Podio/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Podio/PodioCollectionDataHandleTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix include order
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

minor subset patch
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/Utilities/detail/ContainerIterator.hpp
  Core/include/Acts/Utilities/detail/ContainerSubset.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: CompSpacePointAuxiliaries - Improve test coverage (#5120)
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/include/Acts/Utilities/StringHelpers.hpp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

adding kind dispatcher and refactoring surface json conversion
  Plugins/Json/include/ActsPlugins/Json/JsonKindDispatcher.hpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: C++23 compilation compatibility
  Core/include/Acts/Geometry/CylinderLayer.hpp
  Core/include/Acts/Geometry/DiscLayer.hpp
  Core/include/Acts/Geometry/PlaneLayer.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Core/src/Utilities/GraphViz.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  Tests/UnitTests/Core/Geometry/PlaneLayerTests.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Set back mixtureReductionAlgorithm to KLDistance
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

make some useful methods public
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add nodiscard to builder interface methods
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Start go with the brush
  Core/include/Acts/Seeding/StrawChamberLineSeeder.hpp
  Core/include/Acts/Seeding/StrawChamberLineSeeder.ipp
  Core/include/Acts/Seeding/StrawChamberSegmentLineFitter.hpp
  Core/include/Acts/Seeding/StrawChamberSegmentLineFitter.ipp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonSegmentFinder.hpp
  Examples/Algorithms/TrackFinding/src/MuonSegmentFinder.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/MuonHoughMaximum.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

expand surface python binding capability, test it
  Python/Core/src/Surfaces.cpp
  Python/Core/tests/test_surfaces.py
Due: license, type_t, leftover_conflict_markers, math_macros

fix: ACTS_BUILD_EXAMPLES requires ACTS_BUILD_PLUGIN_ROOT (#5094)
  CMakeLists.txt
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers

pr feedback
  Core/include/Acts/Utilities/detail/ContainerIterator.hpp
  Core/include/Acts/Utilities/detail/ContainerRange.hpp
  Core/include/Acts/Utilities/detail/ContainerSubset.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/ContainerHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix
  Tests/UnitTests/Core/Utilities/ContainerHelpersTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Add `qOverPt` and `ptQoverPt` to `ResPlotTool` in Examples
  Examples/Framework/include/ActsExamples/Validation/ResPlotTool.hpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Examples/Framework/include/ActsExamples/Validation/ResPlotTool.hpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

minor
  Examples/Framework/include/ActsExamples/Validation/ResPlotTool.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: 3d histograms support (#5182)
  Core/include/Acts/Utilities/Histogram.hpp
  Plugins/Root/include/ActsPlugins/Root/HistogramConverter.hpp
  Plugins/Root/src/HistogramConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pr feedback
  Core/include/Acts/Utilities/detail/ContainerIterator.hpp
  Core/include/Acts/Utilities/detail/ContainerRange.hpp
  Core/include/Acts/Utilities/detail/ContainerSubset.hpp
  Core/src/EventData/SeedContainer2.cpp
  Core/src/EventData/SpacePointContainer2.cpp
  Tests/UnitTests/Core/Utilities/ContainerHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Adding perigee surface
  Plugins/Json/include/ActsPlugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

cleanup
  Plugins/Json/src/SurfaceJsonConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

minor
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/Utilities/detail/ContainerSubset.hpp
  Core/src/EventData/SeedContainer2.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: C++23 compilation compatibility (#5192)
  Core/include/Acts/Geometry/CylinderLayer.hpp
  Core/include/Acts/Geometry/DiscLayer.hpp
  Core/include/Acts/Geometry/PlaneLayer.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/detail/grid_helper.hpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Core/src/Utilities/GraphViz.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepFieldAdapter.hpp
  Plugins/DD4hep/src/DD4hepFieldAdapter.cpp
  Tests/UnitTests/Core/Geometry/PlaneLayerTests.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Extract ROOT histogram profiling to Plugin; Add 2D resolution profiles
  Examples/Framework/include/ActsExamples/Validation/ResPlotTool.hpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Plugins/Root/include/ActsPlugins/Root/HistogramConverter.hpp
  Plugins/Root/src/HistogramConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Examples/Framework/include/ActsExamples/Validation/ResPlotTool.hpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

split overload for boundless surfaces
  Plugins/Json/include/ActsPlugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

simplify ifs, use try_emplace
  Core/include/Acts/Utilities/Any.hpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add Any::take functionality
  Core/include/Acts/Utilities/Any.hpp
  Tests/UnitTests/Core/Utilities/AnyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Move only any
  Core/include/Acts/Utilities/Any.hpp
  Python/Utilities/include/ActsPython/Utilities/WhiteBoardTypeRegistry.hpp
  Tests/UnitTests/Core/Utilities/AnyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
