Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

ci: install jq for ccache statistics on Linux (#6197)
  .github/actions/dependencies/action.yml
  .github/detray-traccc-filters.yml
  .github/workflows/detray.yml
  .github/workflows/traccc.yml
  .merge-sentinel.yml
Due: leftover_conflict_markers

perf(detray): Skip impossible parallel-plane helix intersections
  Detray/core/include/detray/navigation/intersection/helix_plane_intersector.hpp
  Detray/tests/unit_tests/cpu/navigation/intersection/helix_intersector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

style(detray): Apply pinned clang-format formatting
  Detray/tests/unit_tests/cpu/navigation/intersection/helix_intersector.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor(detray): Express helix rejection as centre distance versus radius
  Detray/core/include/detray/navigation/intersection/helix_plane_intersector.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: skip ccache publication for cancelled jobs
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/detray.yml
  .github/workflows/pypi.yml
  .github/workflows/traccc.yml
  CI/ccache-snapshots.md
Due: leftover_conflict_markers

fix(traccc): keep the seed covariance of the unmeasured coordinate of 1D measurements (#6110)
  Traccc/core/include/traccc/finding/actors/measurement_kalman_updater.hpp
  Traccc/core/include/traccc/finding/measurement_selector.hpp
  Traccc/device/common/include/traccc/finding/device/impl/find_tracks.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Bit more consistency in usage of particles and particles_selected for… (#5596)
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

docs: refine Python binding setup and evaluation pages
  docs/custom.css
  docs/examples/test_python_getting_started.py
  docs/groups/python/custom_algorithms.md
  docs/groups/python/data_io.md
  docs/groups/python/index.md
  docs/groups/python/performance_and_plotting.md
Due: leftover_conflict_markers

feat(json): GBTS configuration (de)seralization through JSON (#6129)
  Core/include/Acts/Seeding/GbtsLayerConnectionTool.hpp
  Core/include/Acts/Seeding/GbtsLayerDescription.hpp
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
  Core/include/Acts/Seeding/GbtsTauLookupTable.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/include/Acts/Seeding/detail/GbtsGraphTypes.hpp
  Core/src/Seeding/GbtsLayerConnectionTool.cpp
  Core/src/Seeding/GbtsNodeStorage.cpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Configs/odd-gbts-connection-table.json
  Examples/Configs/odd-gbts-connection-table.txt
  Examples/Configs/odd-gbts-layer-geometry.txt
  Examples/Configs/odd-gbts-layer-map.json
  Examples/Configs/odd-gbts-layer-map.txt
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/gbts_layer_connection_training_itk.py
  Examples/Scripts/Python/gbts_layer_connection_training_odd.py
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/ActsPlugins/Json/GbtsConfigJsonConverter.hpp
  Plugins/Json/src/GbtsConfigJsonConverter.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TruthTracking.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

fix: Out-of-bounds writes when reading Mille records back into ACTS
  Plugins/Mille/include/ActsPlugins/Mille/ActsToMille.hpp
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsMilleReadRecordSequence.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: clarify Python bindings scope and installation
  docs/examples/test_performance_and_plotting.py
  docs/groups/python/data_io.md
  docs/groups/python/index.md
  docs/groups/python/performance_and_plotting.md
Due: leftover_conflict_markers

WIP: rdo_list implementation
  Traccc/core/include/traccc/edm/silicon_cell_collection.hpp
  Traccc/io/src/csv/read_cells.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: clarify GIL impact on Python algorithms
  docs/groups/python/custom_algorithms.md
Due: leftover_conflict_markers

moved layer pattern to separate algorithm
  Traccc/core/include/traccc/finding/actors/expected_layer_pattern_collector.hpp
  Traccc/core/include/traccc/finding/details/expected_layer_pattern_with_extrapolation.hpp
  Traccc/core/include/traccc/finding/finding_config.hpp
  Traccc/device/common/include/traccc/finding/device/combinatorial_kalman_filter_algorithm.hpp
  Traccc/device/common/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/device/cuda/CMakeLists.txt
  Traccc/device/cuda/include/traccc/cuda/finding/combinatorial_kalman_filter_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/finding/expected_layer_pattern_algorithm.hpp
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cu
  Traccc/device/cuda/src/finding/expected_layer_pattern_algorithm.cu
  Traccc/device/cuda/src/finding/kernels/collect_expected_layer_patterns.cu
  Traccc/device/cuda/src/finding/kernels/collect_expected_layer_patterns.cuh
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Offer a free measurement surface as an additional surface in the fitters
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Core/include/Acts/TrackFitting/detail/MeasurementSurfaces.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(traccc): Resolve count-find disagreement in triplet finder (#6173)
  Traccc/device/alpaka/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/common/include/traccc/seeding/device/find_doublets.hpp
  Traccc/device/common/include/traccc/seeding/device/impl/count_triplets.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/find_doublets.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/find_triplets.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/select_seeds.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/update_triplet_weights.ipp
  Traccc/device/common/include/traccc/seeding/device/triplet_seeding_algorithm.hpp
  Traccc/device/cuda/src/seeding/triplet_seeding_algorithm.cu
  Traccc/device/hip/src/seeding/triplet_seeding_algorithm.hip
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: OrthogonalTripletSeedingAlgorithm: correct candidate cut ordering
  Examples/Algorithms/TrackFinding/src/OrthogonalTripletSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Move registerMeasurementSurface to the navigator options
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Core/include/Acts/TrackFitting/detail/MeasurementSurfaces.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/NavigatorOptions.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: OrthogonalTripletSeedingAlgorithm: correct candidate cut ordering (#6201)
  Examples/Algorithms/TrackFinding/src/OrthogonalTripletSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix(traccc): address strip spacepoint review comments
  Traccc/core/include/traccc/seeding/detail/strip_geometry.hpp
  Traccc/core/include/traccc/seeding/detail/strip_pairing.hpp
  Traccc/core/include/traccc/seeding/impl/spacepoint_formation.ipp
  Traccc/core/include/traccc/seeding/strip_spacepoint_formation_data.hpp
  Traccc/device/common/include/traccc/seeding/device/count_strip_pairs.hpp
  Traccc/device/common/include/traccc/seeding/device/find_strip_pairs.hpp
  Traccc/device/common/include/traccc/seeding/device/form_strip_spacepoints_from_pairs.hpp
  Traccc/device/common/include/traccc/seeding/device/impl/count_strip_pairs.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/find_strip_pairs.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/form_strip_spacepoints_from_pairs.ipp
  Traccc/device/common/include/traccc/seeding/device/silicon_strip_spacepoint_formation_algorithm.hpp
  Traccc/device/common/src/seeding/silicon_strip_spacepoint_formation_algorithm.cpp
  Traccc/device/cuda/src/seeding/silicon_strip_spacepoint_formation_algorithm.cu
  Traccc/tests/core/test_strip_spacepoint_inputs.cpp
  Traccc/tests/core/test_strip_spacepoint_migration.cpp
  Traccc/tests/cuda/test_strip_spacepoint_formation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Offer a free measurement surface as an additional surface in the fitters (#6202)
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/NavigatorOptions.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(detray): Clip portal masks to the volume they belong to
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(ci): verify dependency artifacts and pass secrets via env
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/update-pip-requirements.yml
  Python/Examples/tests/requirements.txt
Due: leftover_conflict_markers

feat: Make split hits exclusive with shared hits and count them on the track
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackProxyCommon.hpp
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/EventData/VectorTrackContainer.cpp
  Plugins/EDM4hep/edm.yml
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_examples_event_data.py
  Tests/UnitTests/Core/EventData/MultiTrajectoryHelpersTests.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackContainerTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat!: Require the `nSplitHits` track column
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackProxyConcept.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

style: Format Detray and Traccc CMake for gersemi 0.29.1
  Detray/cmake/detray-compiler-options-cuda.cmake
  Detray/cmake/detray-compiler-options-hip.cmake
  Detray/cmake/detray-compiler-options-sycl.cmake
  Detray/core/CMakeLists.txt
  Detray/io/CMakeLists.txt
  Detray/tests/benchmarks/cpu/CMakeLists.txt
  Detray/tests/integration_tests/cpu/CMakeLists.txt
  Detray/tests/tools/src/cpu/CMakeLists.txt
  Detray/tests/unit_tests/cpu/CMakeLists.txt
  Traccc/cmake/traccc-alpaka-functions.cmake
  Traccc/cmake/traccc-compiler-options-cpp.cmake
  Traccc/cmake/traccc-compiler-options-cuda.cmake
  Traccc/cmake/traccc-compiler-options-hip.cmake
  Traccc/cmake/traccc-compiler-options-sycl.cmake
  Traccc/device/sycl/CMakeLists.txt
  Traccc/device/sycl_utils/CMakeLists.txt
Due: leftover_conflict_markers

fix: Reject Mille entries with alignment but no local derivatives
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsMilleReadRecordSequence.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Never drop measured track parameters when writing Mille records
  Examples/Algorithms/AlignmentMillePede/src/MillePedeAlignmentSandbox.cpp
  Plugins/Mille/include/ActsPlugins/Mille/ActsToMille.hpp
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsToMilleDiscardGuard.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

clag-format fixes
  Traccc/device/cuda/include/traccc/cuda/finding/expected_layer_pattern_algorithm.hpp
  Traccc/device/cuda/src/finding/expected_layer_pattern_algorithm.cu
  Traccc/device/cuda/src/finding/kernels/collect_expected_layer_patterns.cu
  Traccc/device/cuda/src/finding/kernels/collect_expected_layer_patterns.cuh
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Move Detray CI over to new eigen as well
  .github/workflows/detray.yml
Due: leftover_conflict_markers

update hashes for example test and gnn root
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

remove troublesome deprecation of member variables member variables are kept, but not used in new implemenation
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheBloch.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

make new variables private & add a return to doc
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

physmon differences are expected use this new manifest
  CI/physmon/reference.sha256
Due: leftover_conflict_markers

update hashes for example test
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

fix: Landau input parameters scale and location parameter are (correctly) calculated from MPV and FWHM
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheBloch.hpp
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

deprecate old variables
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheBloch.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

apply small renaming
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
