Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

fix ePos
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, type_t, math_macros

next set of changes (minus Lutparser conversation)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert "ci: Bump gcovr to 8.3 + use uv to run"
  .github/workflows/analysis.yml
  CI/test_coverage.py
Due: none

remove Binning type
  Core/include/Acts/Utilities/Histogram.hpp
  Core/src/Utilities/Histogram.cpp
  Tests/UnitTests/Core/Utilities/HistogramTests.cpp
  Tests/UnitTests/Core/Utilities/ProfileEfficiencyTests.cpp
  Tests/UnitTests/Plugins/Root/BoostHistogramConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix clang-tidy issues
  Plugins/ActSVG/include/ActsPlugins/ActSVG/EventDataSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/SurfaceArraySvgConverter.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/Json/include/ActsPlugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/ActsPlugins/Json/ProtoAxisJsonConverter.hpp
  docs/Doxyfile.in
  docs/DoxygenLayout.xml
  docs/namespaces.dox
  docs/pages/bugs.md
  docs/pages/deprecated.md
  docs/pages/todo.md
Due: license, include_guards, pragma_once, type_t, math_macros

rename
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/ActsPlugins/Root/HistogramConverter.hpp
  Plugins/Root/src/HistogramConverter.cpp
  Tests/UnitTests/Plugins/Root/BoostHistogramConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

debug
  .github/workflows/builds.yml
Due: none

set DYLD_LIBRARY_PATH in deps setup
  CI/dependencies/setup.sh
Due: none

PR feedback
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixes
  CI/check_unused_files.py
  Plugins/Json/include/ActsPlugins/Json/ProtoAxisJsonConverter.hpp
  docs/pages/deprecated.md
Due: license, include_guards, pragma_once, type_t, math_macros

chore!: Reduce fitter templating (#4942)
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add ROOT_LIBRARY_PATH to lookup
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
Due: none

extra root lib dir
  CI/dependencies/setup.sh
Due: none

unused typo
  CI/check_unused_files.py
Due: none

avoid unboxing transitive pointer
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix?
  Plugins/Root/src/HistogramConverter.cpp
Due: license, type_t, math_macros

reformatted lut parser to be a free function instead of a class
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsLutParser.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsLutParser.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: updated authorlist, part 1 (#4917)
  AUTHORS
Due: none

chore: Cleanup `Examples/Io/Csv`
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvBFieldWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvGnnGraphReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvGnnGraphWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMuonSegmentReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMuonSpacePointReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvParticleReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvParticleWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvProtoTrackWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSimHitReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSimHitWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointsBucketWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackingGeometryWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvVertexWriter.hpp
  Examples/Io/Csv/src/CsvBFieldWriter.cpp
  Examples/Io/Csv/src/CsvGnnGraphReader.cpp
  Examples/Io/Csv/src/CsvGnnGraphWriter.cpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvMuonSegmentReader.cpp
  Examples/Io/Csv/src/CsvMuonSpacePointReader.cpp
  Examples/Io/Csv/src/CsvParticleReader.cpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Csv/src/CsvSimHitReader.cpp
  Examples/Io/Csv/src/CsvSimHitWriter.cpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Io/Csv/src/CsvSpacePointsBucketWriter.cpp
  Examples/Io/Csv/src/CsvTrackParameterReader.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Csv/src/CsvVertexWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Rework `TrackStateType`
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.ipp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Core/include/Acts/TrackFinding/TrackStateCreator.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/Utilities/src/PrototracksToTracks.cpp
  Examples/Algorithms/Utilities/src/TrajectoriesToPrototracks.cpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Io/Csv/src/CsvVertexWriter.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Tests/Benchmarks/TrackEdmBenchmark.cpp
  Tests/UnitTests/Core/AmbiguityResolution/ScoreBasedAmbiguityResolutionTest.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryHelpersTests.cpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

improve printout
  Core/include/Acts/EventData/TrackStateType.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix build
  Core/include/Acts/AmbiguityResolution/AmbiguityResolutionML.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

partially fix edm4hep stuff
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Tests/UnitTests/Core/AmbiguityResolution/ScoreBasedAmbiguityResolutionTest.cpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix edm4hep test
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Due: license, type_t, boost_test, math_macros

lint
  Plugins/Root/src/HistogramConverter.cpp
Due: license, type_t, math_macros

improve flag names
  Core/include/Acts/EventData/TrackStateType.hpp
  Tests/UnitTests/Core/AmbiguityResolution/ScoreBasedAmbiguityResolutionTest.cpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Rename CMake options for building python
  CMakeLists.txt
  CMakePresets.json
  cmake/setup.sh.in
  docs/getting_started.md
Due: cmake_options

chore: Cleanup `Examples/Io/Csv` (#4944)
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvBFieldWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvGnnGraphReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvGnnGraphWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMuonSegmentReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMuonSpacePointReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvParticleReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvParticleWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvProtoTrackWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSimHitReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSimHitWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvSpacePointsBucketWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterReader.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackingGeometryWriter.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvVertexWriter.hpp
  Examples/Io/Csv/src/CsvBFieldWriter.cpp
  Examples/Io/Csv/src/CsvGnnGraphReader.cpp
  Examples/Io/Csv/src/CsvGnnGraphWriter.cpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Csv/src/CsvMeasurementWriter.cpp
  Examples/Io/Csv/src/CsvMuonSegmentReader.cpp
  Examples/Io/Csv/src/CsvMuonSpacePointReader.cpp
  Examples/Io/Csv/src/CsvParticleReader.cpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Csv/src/CsvSimHitReader.cpp
  Examples/Io/Csv/src/CsvSimHitWriter.cpp
  Examples/Io/Csv/src/CsvSpacePointReader.cpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Io/Csv/src/CsvSpacePointsBucketWriter.cpp
  Examples/Io/Csv/src/CsvTrackParameterReader.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Examples/Io/Csv/src/CsvVertexWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat!: Type erased track and track state proxies (#4889)
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackProxyCommon.hpp
  Core/include/Acts/EventData/TrackProxyConcept.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/EventData/AnyTrackProxyTests.cpp
  Tests/UnitTests/Core/EventData/AnyTrackStateProxyTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

update references
  CI/physmon/reference/simulation/particles_ttbar_hist.root
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  Python/Examples/tests/root_file_hashes.txt
Due: none

pr feedback
  Core/include/Acts/EventData/TrackStateType.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Rework CMake options for building python (#4946)
  CMakeLists.txt
  CMakePresets.json
  cmake/setup.sh.in
  docs/getting_started.md
Due: cmake_options

update unit test
  Tests/UnitTests/Core/EventData/AnyTrackStateProxyTests.cpp
Due: license, type_t, boost_test, math_macros

Weekly Update: Regenerate requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Due: none

docs
  Core/include/Acts/EventData/TrackStateType.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

bugFix
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
