Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

fix Geant4 library name
  Examples/Python/CMakeLists.txt
Due: none

refactor: Use uv-plane for `estimateTrackParamsFromSeed`
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
Due: license, type_t, math_macros

Change namespace particleId to particleIdHelper
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/src/Definitions/ParticleId.cpp
  Tests/UnitTests/Core/Utilities/ParticleDataTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

move GeoModel
  Examples/Python/src/GeoModel.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/GeoModel.cpp
Due: license, type_t, math_macros

move Json Module
  Examples/Python/src/Json.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/Json.cpp
Due: license, type_t, math_macros

Change int32 to PdgParticle and add more particles
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/CMakeLists.txt
  Core/src/Definitions/ParticleIdHelper.cpp
  Tests/UnitTests/Core/Utilities/ParticleDataTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix tests after json plugin inclusion
  Examples/Python/python/acts/__init__.py
  Examples/Python/tests/test_examples.py
  Examples/Python/tests/test_material.py
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_mapping_core.py
  Python/Core/python/__init__.py
Due: none

Rest of int32 to PdgParticle
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/ParticleData.cpp
  Tests/UnitTests/Core/Utilities/ParticleDataTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

new merging implementation using complex arithmetics
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

some reformatting
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

update benchmark
  Tests/Benchmarks/GsfComponentReductionBenchmark.cpp
Due: license, type_t, boost_test, math_macros

update tests
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, type_t, boost_test, math_macros

some WIP code
  Core/src/TrackFitting/GsfMixtureReduction.cpp
Due: license, type_t, math_macros

feat: Efficiency plots as a function of d0 and lowpt in Examples
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

unify ODD source definition, bump to lfs-less odd
  cmake/ActsExternSources.cmake
  thirdparty/OpenDataDetector/CMakeLists.txt
Due: none

minor fixes
  cmake/ActsExternSources.cmake
  thirdparty/OpenDataDetector/CMakeLists.txt
Due: none

copy import files correctly
  Python/Plugins/CMakeLists.txt
Due: none

switch covfie test to solenoid field
  Examples/Python/tests/test_covfie.py
Due: none

move ROOT and TGeo plugins
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/src/Svg.cpp
  Examples/Python/src/TGeoStub.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/Root.cpp
  Python/Plugins/src/Svg.cpp
  Python/Plugins/src/TGeo.cpp
Due: license, type_t, math_macros

make unit tests work again
  Examples/Python/python/acts/__init__.py
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/tests/test_material.py
  Python/Core/python/__init__.py
Due: none

Further int32 to Pdgparticle
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/ParticleData.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

full plugins deployed
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/dd4hep.py
  Examples/Python/src/DD4hepComponent.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/DD4hep.cpp
Due: license, type_t, math_macros

Added faster, in-place clusterization.
  Core/include/Acts/Clusterization/InPlaceClusterization.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Digitization.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTestData.hpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTestDataCommonCorner.hpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Particle identification for jet labeling (#4721)
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/CMakeLists.txt
  Core/src/Definitions/ParticleData.cpp
  Core/src/Definitions/ParticleIdHelper.cpp
  Tests/UnitTests/Core/Utilities/ParticleDataTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Change name particleId to particleIdHelper
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, type_t, math_macros

PdgParticle fix
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, type_t, math_macros

change code and enable
  CI/physmon/workflows/physmon_trackfitting_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf.py
Due: none

Add deltaR to vector helpers
  Core/include/Acts/Utilities/VectorHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update refs
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  Examples/Python/tests/root_file_hashes.txt
Due: none

Apply comments
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Forgotten pre-commit
  Core/include/Acts/Utilities/VectorHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Use uv-plane for `estimateTrackParamsFromSeed` (#4751)
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, type_t, math_macros

feat: Add deltaR to vector helpers (#4756)
  Core/include/Acts/Utilities/VectorHelpers.hpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor binning; add logarithmic binning; 2d efficiencies
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Framework/include/ActsExamples/Validation/DuplicationPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/FakePlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/ResPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackQualityPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Utilities/Helpers.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Python/src/RootOutput.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Update namespace for Nlohmann Json v3.11 and later
  Plugins/Json/include/ActsPlugins/Json/TrackParametersJsonConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: Bump traccc to v0.26.0
  CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayPropagator.hpp
  cmake/ActsExternSources.cmake
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

fix: Merge cells to unique set before clustering in Examples
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: Bump traccc to v0.26.0 (#4758)
  CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/DetrayPropagator.hpp
  cmake/ActsExternSources.cmake
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros
