Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

ci: build linux_ubuntu with symbols, enforce FPE masking on examples/physmon
  .github/workflows/builds.yml
  CMakePresets.json
Due: leftover_conflict_markers, format-json

ci: decommission GitLab FPE-chain jobs now covered by GitHub
  .gitlab-ci.yml
Due: leftover_conflict_markers

refactor(navigation): store MultiNavigationPolicy child states linearly
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Force positive scale factor for `qopt` residuals in `ResPlotTool`
  Examples/Framework/src/Validation/ResPlotTool.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(cmake): make option auto-enable behavior visible and derive dependency docs
  .pre-commit-config.yaml
  CMakeLists.txt
  cmake/ActsOptionHelpers.cmake
  docs/cmake_option_dependencies.py
  docs/pages/contributing/building_acts.md
  thirdparty/actsvg/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

perf(navigation): skip per-step isValid() when the policy state is default
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Utilities/Any.hpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: add Gen3 navigation performance analysis note
  ANALYSIS.md
Due: leftover_conflict_markers

perf(navigation): cache policy-state defaultness per volume instead of per step
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(Utilities): do not zero-fill the AnyBase small buffer on default construction
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lint
  Core/include/Acts/EventData/AnyTrackProxy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add track-state iteration to AnyTrackProxy
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackProxyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf(navigation): consume Gen3 candidates directly from the navigation stream
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(navigation): configurable bin expansion for SurfaceArrayNavigationPolicy
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(navigation): skip candidate de-duplication when the caller guarantees uniqueness
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: inline the checkPathLength fast path
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Utilities/Intersection.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: extend Gen3 navigation analysis with the second optimization pass
  ANALYSIS.md
Due: leftover_conflict_markers

perf(navigation): skip policy state creation for stateless policies
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: enforce FPE masking on GitHub, decommission mirrored GitLab jobs (#5714)
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakePresets.json
Due: leftover_conflict_markers, format-json

Implement suggestions
  Core/include/Acts/Definitions/PdgParticle.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix linter
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor(nav): make policy statelessness the single source of truth
  ANALYSIS.md
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update hashes
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

ci: run the container-based linux builds on husk self-hosted slots
  .github/workflows/builds.yml
Due: leftover_conflict_markers

ci: disable everything except the husk jobs on this branch
  .github/workflows/analysis.yml.disabled
  .github/workflows/builds.yml
  .github/workflows/checks.yml.disabled
  .github/workflows/detray.yml.disabled
  .github/workflows/devcontainer-ci.yml.disabled
  .github/workflows/docs.yml.disabled
  .github/workflows/traccc.yml.disabled
  .gitlab-ci.yml.disabled
Due: leftover_conflict_markers

ci: use a nearby apt mirror when the runner fleet names one
  .github/workflows/builds.yml
  CI/dependencies/apt_mirror.sh
  CI/dependencies/opengl.sh
Due: leftover_conflict_markers

style: apply clang-format
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: remove unused axis boundary bins
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridIterator.hpp
  Core/include/Acts/Utilities/IAxis.hpp
  Core/include/Acts/Utilities/IMultiAxis.hpp
  Core/include/Acts/Utilities/MultiAxis.hpp
  Core/include/Acts/Utilities/detail/MultiAxisHelper.hpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
  Tests/UnitTests/Core/Seeding/HoughTransformTest.cpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
  Tests/UnitTests/Core/Utilities/GridBinFinderTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
  Tests/UnitTests/Core/Utilities/MultiAxisTests.cpp
  Tests/UnitTests/Plugins/Json/GridJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/TrackingGeometryJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: explicit size_t->double cast in bin count scaling
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: fix SonarCloud main-branch analysis broken on push
  .github/workflows/sonarcloud.yml
Due: leftover_conflict_markers

ci: fix SonarCloud main-branch analysis broken on push (#5726)
  .github/workflows/sonarcloud.yml
Due: leftover_conflict_markers

feat: add PairTypeDispatcher for symmetric two-type dispatch
  Core/include/Acts/Utilities/PairTypeDispatcher.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/PairTypeDispatcherTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(traccc): don't treat in-tree Acts/Detray headers as system includes
  Traccc/extern/acts/CMakeLists.txt
Due: leftover_conflict_markers

fix: incorporated review suggestions
  CMakeLists.txt
  Examples/CudaMuonSegmentFitting/CMakeLists.txt
  Examples/CudaMuonSegmentFitting/include/ActsExamples/EventData/CudaMuonSpacePoint.hpp
  Examples/CudaMuonSegmentFitting/src/CudaMuonSpacePoint.cpp
  Examples/CudaMuonSegmentFitting/src/CudaUtilities.hpp
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

fix: pre-commit run
  Examples/CudaMuonSegmentFitting/src/CudaMuonSpacePoint.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

lint
  Examples/Scripts/Python/geometry_validation.py
Due: leftover_conflict_markers

refactor: DetrayGeometryConverter as a configurable class
  Examples/Scripts/Python/geometry_validation.py
  Examples/Scripts/Python/propagation_validation.py
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Python/Core/src/Geometry.cpp
  Python/Plugins/src/Detray.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format: apply clang-format
  Core/include/Acts/Seeding/SphericalSpacePointGrid.hpp
  Tests/UnitTests/Core/Seeding/SphericalSpacePointGridTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor(traccc): always build against colocated in-tree Acts
  .github/workflows/traccc.yml
  .gitlab-ci.yml
  Traccc/CMakeLists.txt
  Traccc/README.md
  Traccc/extern/acts/CMakeLists.txt
  Traccc/extras/benchmark/traccc_bench_tools/build.py
Due: leftover_conflict_markers

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
