Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

pre-commit cleanup
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Use universal refs in type dispatcher (#4769)
  Core/include/Acts/Utilities/TypeDispatcher.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

pre-commit chekcs
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFitterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackFinderNTupleWriter.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Examples/Io/Root/src/RootVertexNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/RootOutput.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: consistent ROOT I/O naming in Examples (#4779)
  CI/physmon/workflows/physmon_trackfitting_gx2f_vs_kf.py
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderNTupleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFitterPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexNTupleWriter.hpp
  Examples/Io/Root/src/RootTrackFinderNTupleWriter.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Examples/Io/Root/src/RootVertexNTupleWriter.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Examples/Scripts/Python/gnn4itk_example.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
  Examples/Scripts/TrackingPerformance/TreeReader.h
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Improved python bindings for Vector3 + Vector4 (#4773)
  Python/Core/src/Definitions.cpp
Due: license, type_t, math_macros

HepMC3Reader uses sidecar metadata file
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/src/HepMC3Metadata.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: HepMC3Writer write sidecar file
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Metadata.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/HepMC3/src/HepMC3Metadata.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Add HepMC3 sidecar metadata helper
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Metadata.hpp
  Examples/Io/HepMC3/src/HepMC3Metadata.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: HepMC3Reader reports how many events it actually read
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove some redundant overloads
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

misc hepmc3
  Examples/Io/HepMC3/src/HepMC3Util.cpp
Due: license, type_t, math_macros

hepmc3 writer can auto derive the compression
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/tests/test_hepmc3.py
Due: license, include_guards, pragma_once, type_t, math_macros

fix: HepMC3Metadata correct sidecar filename
  Examples/Io/HepMC3/src/HepMC3Metadata.cpp
Due: license, type_t, math_macros

add more doc comments
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix some doc comments
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Metadata.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

hepmc3 tests also cover the auto-detection
  Examples/Python/tests/test_hepmc3.py
Due: none

feat: Add some additional HepMC helper functions
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

hepmc3: use writer root tree instead of non-tree
  Examples/Io/HepMC3/src/HepMC3FactoryWrappers.cpp
Due: license, type_t, math_macros

update hepmc3 python tests to cover new behavior
  Examples/Python/tests/test_hepmc3.py
Due: none

fix: Improve portability of setup script
  cmake/setup_withdeps.sh.in
Due: none

fix: PodioWriter body member init
  Examples/Io/Podio/src/PodioWriter.cpp
Due: license, type_t, math_macros

lint
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Python/tests/test_hepmc3.py
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Use struct for HepMC3 metadata
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Metadata.hpp
  Examples/Io/HepMC3/src/HepMC3Metadata.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

patch up uv location
  CI/dependencies/setup.sh
Due: none

handle ODD activation after install
  cmake/setup.sh.in
  cmake/setup_withdeps.sh.in
Due: none

mnior
  cmake/setup.sh.in
Due: none

feat: HepMC3 IO improvements (#4777)
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Metadata.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Writer.hpp
  Examples/Io/HepMC3/src/HepMC3FactoryWrappers.cpp
  Examples/Io/HepMC3/src/HepMC3Metadata.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Io/HepMC3/src/HepMC3Writer.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/tests/test_hepmc3.py
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Add ability to PodioWriter to write to separate output files (#4776)
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioWriter.hpp
  Examples/Io/Podio/src/PodioWriter.cpp
  Examples/Python/tests/test_edm4hep.py
  Python/Examples/src/Podio.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix setup for install/build evn
  cmake/setup.sh.in
Due: none

fix silly
  cmake/setup.sh.in
Due: none

Revert "add another install of bc"
  .gitlab-ci.yml
Due: none

bump all images to v83 (has bc)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
Due: none

Revert "install bc, remove date"
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
Due: none

refactor: Make addGnn() accept pre-configured stage components
  Examples/Python/python/acts/examples/reconstruction.py
Due: none

feat: Add gnn_metric_learning.py example script
  Examples/Scripts/Python/gnn.py
  Examples/Scripts/Python/gnn_metric_learning.py
Due: none

feat: Add gnn_module_map.py example script
  Examples/Scripts/Python/gnn4itk_example.py
  Examples/Scripts/Python/gnn_module_map.py
Due: none

fix: Use ttbar pile-up 200 events in physmon_gnn_module_map
  CI/physmon/workflows/physmon_gnn_module_map.py
Due: none

fix: Add random number generator to physmon_gnn_module_map
  CI/physmon/workflows/physmon_gnn_module_map.py
Due: none

test: Rename test_gnn to test_gnn_metric_learning
  Examples/Python/tests/test_examples.py
Due: none

fix: Add level parameter to all GNN stage constructors
  CI/physmon/workflows/physmon_gnn_module_map.py
  Examples/Scripts/Python/gnn_metric_learning.py
  Examples/Scripts/Python/gnn_module_map.py
Due: none

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
