Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

feat(detray): Begin work on SurfaceArray conversion logic
  Core/src/Navigation/DetrayNavigation.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, math_macros

feat(detray): Add material slab conversion (based on existing)
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): add end of world portals
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix(detray): Don't write duplicate grid payloads
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, math_macros

fix: Update after detray bump on main
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: DetraySurfaceGrids -> DetraySurfaceGrid
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Progress on conversion, wire through surface lookup
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Core/src/Navigation/DetrayNavigationStub.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

test: Add content tests to surface grid add name map to payloads
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Make functions that take config methods
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

chore(detray): Cleanup material conv test
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, type_t, boost_test, math_macros

ci: Bump sonarqube action to 5.3.1 (#4601)
  .github/workflows/sonarcloud.yml
Due: none

refactor(detray): Move out navigation converter to type dispatcher
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/DetrayNavigationStub.cpp
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayNavigationConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayNavigationConverter.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(cyl): allow wiring through logger in cyl test geo
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(detray): Wire logger into cyl geom construction
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

test(cyl): make beampipe material binned for testing
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
Due: license, type_t, boost_test, math_macros

refactor(detray): Make converter functions public
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

reenable content check in the detray unit test
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

refactor(detray): Material conversion toDetrayPayload to type dispatcher
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/DetrayMaterialStub.cpp
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

switch to `std::optional`, remove fwd decl header
  Core/include/Acts/Geometry/DetrayExceptions.hpp
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor(detray): NavigationPolicy no fallback, put back into payload converter
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayNavigationConverter.hpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

whitespace fix
  Plugins/Detray/src/DetrayMaterial.cpp
Due: license, type_t, math_macros

perf: Special case `DiscSurface::intersect` for full azimuth coverage
  Core/src/Surfaces/DiscSurface.cpp
Due: license, type_t, math_macros

update scoreMonitor with optionals
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Plugins/Root/include/Acts/Plugins/Root/AmbiScoreMonitor.hpp
  Plugins/Root/src/AmbiScoreMonitor.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

clean and fix(?)
  Core/src/Surfaces/DiscSurface.cpp
Due: license, type_t, math_macros

link fixes
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

link fix pro
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

update to pointers
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

lint fix 2
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
Due: license, pragma_once, type_t, math_macros

push layer tolerance
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Tests/UnitTests/Core/Geometry/PlaneLayerTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeCreation.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

doc
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

doc
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

full transform
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
Due: license, type_t, math_macros

try fix again
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Fix PR number lookup in sonar job
  .github/workflows/analysis.yml
  .github/workflows/sonarcloud.yml
Due: none

ci: Fix PR number lookup in sonar job (#4604)
  .github/workflows/analysis.yml
  .github/workflows/sonarcloud.yml
Due: none

ci: Attempt to fix EIC recon build
  .github/workflows/builds.yml
Due: none

r phi VS phi
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

more fix
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

added param score monitor for docs
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Another attempt to get sonar working again
  .github/workflows/sonarcloud.yml
Due: none

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
