Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

fix: Merge bridged clusters in ProtoLayerHelper
  Core/src/Geometry/ProtoLayerHelper.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: More pattern metrics for tracks without fitted params (#6175)
  CI/physmon/reference.sha256
  Examples/Framework/include/ActsExamples/Validation/PatternRecognitionPerformanceCollector.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackQualityPlotTool.hpp
  Examples/Framework/src/Validation/PatternRecognitionPerformanceCollector.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Io/Root/src/RootPatternRecognitionPerformanceWriter.cpp
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/tests/root_file_hashes.txt
  Python/Examples/tests/test_examples.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Keep GbtsNodeStorage::Config private behind a forward declaration
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

delete chain head check
  Core/src/Seeding/GbtsGraphBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: Doublet finder cuts for a block of candidates at a time
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding/detail/BlockPass.hpp
  Core/src/Seeding/DoubletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

address comments
  Plugins/Json/include/ActsPlugins/Json/detail/ProtoSurfaceMaterialConversion.hpp
  Plugins/Json/src/SurfaceMaterialJsonConverter.cpp
  Plugins/Json/src/TrackingGeometryMaterialJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/SurfaceMaterialJsonConverterTests.cpp
  docs/pages/material_map_json_schema.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: move GBTS graph building into its own file (#6106)
  Core/include/Acts/Seeding/GbtsGraphBuilder.hpp
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/GbtsGraphBuilder.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Preserve input order in cuboid portal shell stacks
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Tests/UnitTests/Core/Geometry/CuboidPortalShellTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat(json): adopt versioned material maps and add migration tool
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Json/include/ActsExamples/Io/Json/TrackingGeometryMaterialJsonWriter.hpp
  Examples/Io/Json/src/TrackingGeometryMaterialJsonWriter.cpp
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/material_mapping.py
  Plugins/Json/CMakeLists.txt
  Plugins/Json/bin/MaterialMapMigrate.cpp
  Python/Core/python/__init__.py
  Python/Core/tests/test_material_document.py
  Python/Examples/src/plugins/Json.cpp
  Python/Examples/tests/test_material.py
  Python/Examples/tests/test_material_mapping.py
  Python/Examples/tests/test_writer.py
  Python/Plugins/src/Json.cpp
  Tests/UnitTests/Examples/Io/Json/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Json/TrackingGeometryMaterialJsonWriterTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  docs/pages/examples/material_mapping_howto.md
  docs/pages/material_map_json_schema.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(traccc): GBTS KF uncertainty wrongly estimated
  Traccc/device/common/include/traccc/gbts_seeding/device/details/gbts_fit_segments.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(json): support ROOT input in material map migration
  Plugins/Json/CMakeLists.txt
  Plugins/Json/bin/MaterialMapMigrate.cpp
  Python/Core/tests/test_material_document.py
  docs/pages/material_map_json_schema.md
Due: license, type_t, leftover_conflict_markers, math_macros

unused gctx
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: GBTS seed parameter estimation
  Core/include/Acts/Seeding/GbtsSeedFit.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/GbtsSeedFit.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

unused gctx again
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: GBTS seed field at the seed midpoint
  Core/include/Acts/Seeding/GbtsSeedFit.hpp
  Core/src/Seeding/GbtsSeedFit.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: GBTS seed parameters off by default in addSeeding
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

GridSurfaceMAterialAccumulator
  Core/include/Acts/Material/GridSurfaceMaterialAccumulator.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/GridSurfaceMaterialAccumulator.cpp
  Examples/Scripts/Python/material_mapping.py
  Python/Core/src/Material.cpp
  Python/Examples/tests/test_grid_material_mapping.py
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/GridSurfaceMaterialAccumulatorTests.cpp
  docs/pages/examples/material_mapping_howto.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix linting
  Fatras/src/Digitization/Channelizer.cpp
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceDriftTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Removed the public Alpaka dependency from traccc's config.
  Traccc/cmake/traccc-config.cmake.in
Due: leftover_conflict_markers

doc fix
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

last changes
  Core/include/Acts/Seeding/GlobalPatternFinder.hpp
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.ipp
  Core/src/Seeding/GlobalPatternFinder.cpp
  Core/src/Seeding/GlobalPatternFinderAuxiliaries.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

improving bending plane estimate
  Core/include/Acts/Seeding/GlobalPatternFinder.hpp
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.ipp
  Tests/UnitTests/Examples/Algorithms/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

adding overlaps method to hits
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update globpatfinder to use ACTS vector helpers
  Core/include/Acts/Seeding/GlobalPatternFinder.hpp
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

new pat finder
  Core/include/Acts/Seeding/GlobalPatternFinder.hpp
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.ipp
  Core/src/Seeding/GlobalPatternFinder.cpp
  Core/src/Seeding/GlobalPatternFinderAuxiliaries.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

propagate the new bending plane logic through the pat finder phi compatibility
  Core/include/Acts/Seeding/GlobalPatternFinder.hpp
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Make Geant4 RegionCreator usable from Python
  Python/Examples/src/plugins/Geant4.cpp
  Python/Examples/tests/test_geant4_regions.py
Due: license, type_t, leftover_conflict_markers, math_macros

fix!: Transform cached field-map values at lookup
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Tests/UnitTests/Core/MagneticField/InterpolatedBFieldMapTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Check PyPI readme in wheel tests instead of pre-commit
  .pre-commit-config.yaml
  CI/check_pypi_readme.py
  CI/check_unused_files.py
  Python/Examples/tests/test_pypi_readme.py
Due: leftover_conflict_markers

fix: Validate cuboid shell ordering in the local stack frame
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Tests/UnitTests/Core/Geometry/CuboidPortalShellTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: GBTS seed fit takes the field position
  Core/include/Acts/Seeding/GbtsSeedFit.hpp
  Core/src/Seeding/GbtsSeedFit.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

put gen3 default
  Python/Examples/python/odd.py
Due: leftover_conflict_markers

fix typo
  Core/include/Acts/Seeding/GlobalPatternFinder.hpp
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

build: Remove Alpaka Dependency, main branch (2026.10.09.) (#6271)
  Traccc/cmake/traccc-config.cmake.in
Due: leftover_conflict_markers

perf: index Gaussian track density supports
  Core/src/Vertexing/GaussianTrackDensity.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Update Geant4.cpp
  Python/Examples/src/plugins/Geant4.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: cache input track z positions during vertex finding
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(traccc): GBTS KF uncertainty wrongly estimated (#6270)
  Traccc/device/common/include/traccc/gbts_seeding/device/details/gbts_fit_segments.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

restore unrelateed files
  Tests/UnitTests/Examples/Algorithms/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
