Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

ci: de-duplicate job summary and quiet Doxygen warnings
  .github/workflows/checks.yml
  CI/public_api_diff.py
  CI/public_api_surface.py
Due: leftover_conflict_markers

ci: require @deprecated docs on [[deprecated]] declarations
  .github/workflows/checks.yml
  CI/check_deprecated_docs.py
  CI/test_check_deprecated_docs.py
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterialFactory.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/MergedMaterialMarker.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: apply black formatting to deprecated-docs tooling
  CI/check_deprecated_docs.py
  CI/test_check_deprecated_docs.py
Due: leftover_conflict_markers

ci: Fix openssl normalization aborting before it rewrote anything
  CI/repair_wheel_macos.sh
Due: leftover_conflict_markers

ci: satisfy pre-commit (pinned black 26.5.1, license headers)
  CI/check_deprecated_docs.py
  CI/public_api/testdata/base/Acts/Demo.hpp
  CI/public_api/testdata/head/Acts/Demo.hpp
  CI/public_api_diff.py
  CI/public_api_surface.py
  CI/test_public_api_surface.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: move public_api scripts into CI/public_api/
  CI/public_api/public_api_diff.py
  CI/public_api/public_api_surface.py
  CI/public_api/test_public_api_surface.py
Due: leftover_conflict_markers

refactor: update references for moved public_api scripts
  .github/workflows/api-surface-label.yml
  .github/workflows/checks.yml
  CI/public_api/Doxyfile
  CI/public_api/public_api_diff.py
  CI/public_api/public_api_surface.py
  CI/public_api/test_public_api_surface.py
Due: leftover_conflict_markers

ci: Drop the temporary macOS wheel diagnostics harness
  .github/workflows/diag-macos-wheel.yml
  CI/cibuildwheel.sh
Due: leftover_conflict_markers

refactor: move deprecated-docs check into CI/public_api/
  .github/workflows/checks.yml
  CI/public_api/check_deprecated_docs.py
  CI/public_api/test_check_deprecated_docs.py
Due: leftover_conflict_markers

fix(Detray): resolve warnings exposed by non-system in-tree includes
  Detray/core/include/detray/navigation/detail/intersection_kernel.hpp
  Detray/io/include/detray/io/csv/dfe.hpp
  Detray/io/include/detray/io/csv/intersection2D.hpp
  Detray/io/include/detray/io/csv/track_parameters.hpp
  Detray/tests/include/detray/test/utils/perigee_stopper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: silence -Wconversion in Axis/BinningData/IMultiAxis for traccc
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/IMultiAxis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: avoid -Wshadow in detray random_track_generator ctors
  Detray/tests/include/detray/test/common/event_generator/random_track_generator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: scope the -Wmaybe-uninitialized suppression to the offending statement
  Detray/core/include/detray/propagator/propagator.hpp
  Traccc/core/include/traccc/fitting/kalman_filter/kalman_fitter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

use dindex directly
  Detray/core/include/detray/navigation/detail/intersection_kernel.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

undo static_cast fix
  Detray/core/include/detray/navigation/detail/intersection_kernel.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): don't treat in-tree Acts/Detray headers as system includes
  Traccc/extern/acts/CMakeLists.txt
Due: leftover_conflict_markers

fix: avoid sign-conversion in GeometryHierarchyMap::find
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(Core): make narrowing conversions in BinningData/Logger explicit
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/Logger.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

style: drop underscore from CreateMultiAxis3 TU file names
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/CreateMultiAxis3.hpp
  Core/src/Utilities/CreateMultiAxis3Bound.cpp
  Core/src/Utilities/CreateMultiAxis3Closed.cpp
  Core/src/Utilities/CreateMultiAxis3Open.cpp
  Core/src/Utilities/IMultiAxis.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Include guard
  .pre-commit-config.yaml
  Traccc/examples/run/common/include/traccc/examples/indicators.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pragma once
  .pre-commit-config.yaml
  Traccc/device/common/include/traccc/seeding/device/select_seeds.hpp
  Traccc/examples/tools/bfield_type.hpp
  Traccc/performance/include/traccc/performance/kalman_filter_comparison.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Math constants
  .pre-commit-config.yaml
  Traccc/core/include/traccc/fitting/triplet_fit/triplet_fitter.hpp
  Traccc/core/include/traccc/seeding/detail/seeding_config.hpp
  Traccc/core/include/traccc/seeding/spacepoint_binning_helper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

HIP SYCL
  .pre-commit-config.yaml
Due: leftover_conflict_markers

Type part 2
  Traccc/core/include/traccc/edm/impl/measurement_helpers.ipp
  Traccc/core/include/traccc/edm/measurement_helpers.hpp
  Traccc/core/include/traccc/fitting/triplet_fit/triplet_fitter.hpp
  Traccc/core/include/traccc/seeding/detail/seeding_config.hpp
  Traccc/core/include/traccc/seeding/spacepoint_binning_helper.hpp
  Traccc/performance/src/efficiency/duplication_plot_tool.hpp
  Traccc/performance/src/efficiency/fake_tracks_plot_tool.hpp
  Traccc/tests/common/tests/grid2_test.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Few more fixes
  Traccc/core/include/traccc/fitting/triplet_fit/triplet_fitter.hpp
  Traccc/core/include/traccc/seeding/detail/seeding_config.hpp
  Traccc/core/include/traccc/seeding/spacepoint_binning_helper.hpp
  Traccc/core/src/gbts_seeding/gbts_seeding_config.cpp
  Traccc/device/alpaka/src/utils/utils.hpp
  Traccc/device/cuda/src/utils/sync.cuh
  Traccc/extras/benchmark/requirements.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Consistent minimum required python version (#5719)
  .github/workflows/pypi.yml
  .github/workflows/update-pip-requirements.yml
  CI/check_codegen_dependencies.sh
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  CI/supported_python_versions.py
  Examples/Scripts/Python/reader_and_seeding.py
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  Python/Examples/tests/test_hepmc3.py
  Python/Examples/tests/test_read_data_handle.py
  codegen/requirements.txt
  docs/old/white_papers.py
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies

refactor: Report failed boundary volume resolution with a Result
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingGeometryError.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingGeometryError.cpp
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Geometry/BoundaryVolumeResolutionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Group Dependabot updates and close pip-requirements gaps
  .github/dependabot.yml
  .github/workflows/update-pip-requirements.yml
  Examples/Scripts/GsfDebugger/requirements.in
Due: leftover_conflict_markers

shuffle file locations
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/IMultiAxis.cpp
  Core/src/Utilities/TrackHelpersUnbiased.cpp
  Core/src/Utilities/detail/CreateMultiAxis3.hpp
  Core/src/Utilities/detail/CreateMultiAxis3Bound.cpp
  Core/src/Utilities/detail/CreateMultiAxis3Closed.cpp
  Core/src/Utilities/detail/CreateMultiAxis3Impl.hpp
  Core/src/Utilities/detail/CreateMultiAxis3Open.cpp
  Core/src/Utilities/detail/QuaternionFromTwoVectors.ipp
  Core/src/Utilities/detail/QuaternionFromTwoVectorsDouble.cpp
  Core/src/Utilities/detail/QuaternionFromTwoVectorsFloat.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove open templating for explicit float/double overloads
  Core/include/Acts/Utilities/Frustum.ipp
  Core/include/Acts/Utilities/detail/QuaternionFromTwoVectors.hpp
  Core/src/Geometry/GenericCuboidVolumeBounds.cpp
  Core/src/Utilities/detail/QuaternionFromTwoVectors.ipp
  Core/src/Utilities/detail/QuaternionFromTwoVectorsDouble.cpp
  Core/src/Utilities/detail/QuaternionFromTwoVectorsFloat.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Build the surface to portal/boundary association once
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/src/Geometry/TrackingGeometry.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Restore the deprecation suppressions the compilers require
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
  Core/src/Material/GridSurfaceMaterialFactory.cpp
  Core/src/Utilities/ProtoAxis.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/DD4hep/src/DD4hepBinningHelpers.cpp
  Plugins/Json/src/ProtoAxisJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Restore the DirectedProtoAxis configureFace overloads
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
  Python/Core/src/GeometryGen3.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix template instantiation recursion
  Core/include/Acts/Utilities/TrackHelpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: update paths in traccc and detray readmes (#5713)
  Detray/README.md
  Traccc/README.md
Due: leftover_conflict_markers

refactor: Address review feedback on the space point grid base
  Core/include/Acts/Seeding/CartesianSpacePointGrid.hpp
  Core/include/Acts/Seeding/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/SphericalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/SpacePointGridBase.hpp
  Core/src/Seeding/CylindricalSpacePointGrid.cpp
  Core/src/Seeding/SphericalSpacePointGrid.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

build: simplify FindTensorRT to the runtime libraries we actually use
  cmake/FindTensorRT.cmake
Due: leftover_conflict_markers
