Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

reset component status after each step
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
Due: license, type_t, math_macros

hash seeding test: filter for input particles in beam pipe
  Examples/Scripts/Python/hashing_seeding.py
Due: none

addressing PR comments
  Core/include/Acts/Geometry/NavigationLayer.hpp
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/include/Acts/Geometry/TrivialPortalLink.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  docs/_extensions/lazy_autodoc.py
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Use forced approach for `MultiStepperSurfaceReached` (#4025)
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

missing header checkout
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix naming
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
Due: license, type_t, math_macros

unused context
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
Due: license, type_t, math_macros

Update SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
Due: license, type_t, math_macros

Update Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
Due: license, type_t, math_macros

Update GbtsSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, type_t, math_macros

Update SeedFinderGbtsConfig.hpp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Add portal visualization to `TrackingVolume`
  Core/src/Geometry/TrackingVolume.cpp
Due: license, type_t, math_macros

Reduce max range of prodR
  CI/physmon/config/tracksummary_ckf.yml
Due: none

refactor: `ProtoLayer` can (optionally) hold mutable surfaces
  Core/include/Acts/Geometry/ProtoLayer.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add assert
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
Due: license, type_t, math_macros

fix: Reset component state in `MultiEigenStepperLoop` over `MultiStepperSurfaceReached` (#4027)
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

revert cmake
  CMakeLists.txt
Due: cmake_options

update ref
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
Due: none

work around gsf fpe
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Add support for CUDA streams in GNN plugin (#4012)
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/BoostTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove std argument
  .gitlab-ci.yml
Due: none

update, PR feedback
  .gitlab-ci.yml
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ConnectedComponents.cuh
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CudaUtils.cuh
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
Due: license, type_t, math_macros

option one: partial statics
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryToleranceBenchmark.cpp
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryToleranceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/LineBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Revert "option one: partial statics"
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Tests/Benchmarks/AnnulusBoundsBenchmark.cpp
  Tests/Benchmarks/BoundaryToleranceBenchmark.cpp
  Tests/UnitTests/Core/Seeding/PathSeederTest.cpp
  Tests/UnitTests/Core/Surfaces/BoundaryToleranceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/LineBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/TrapezoidBoundsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

update gitlab
  .gitlab-ci.yml
Due: none

fixes after merge
  Core/include/Acts/Propagator/Propagator.ipp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
Due: license, type_t, boost_test, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.hpp$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
