Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

Fix documentation
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Move seeder tests in to seprate unit; Only compile fitter tests if ROOT plugin is on
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineSeederTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Range check
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

MT test cases
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Add documentation
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Refactor & fixes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

Introduce makeDirection function in seeder & fix unit tests
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

minor factor
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
Due: license, type_t, math_macros

Leonardo take over
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

blub
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Fix MAC
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Test error
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

Hide behind flag
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Another failure
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Blub
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

Fix warning
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Update Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

Try to addres clang failure
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

feat: install ActsExamples headers for DD4hepDetector
  Examples/Detectors/Common/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
Due: none

feat: import of ePIC detector geometry into gen3
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/ePICDetector.hpp
  Examples/Detectors/DD4hepDetector/src/ePICDetector.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Refactor sonarcloud
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Apply suggestion from @benjaminhuth
  Examples/Algorithms/TrackFindingGnn/src/TrackFindingAlgorithmGnn.cpp
Due: license, type_t, math_macros

interface it
  Core/include/Acts/Geometry/IReferenceGenerator.hpp
  Core/include/Acts/Geometry/IndexGridFiller.hpp
  Core/include/Acts/Geometry/KdtSurfacesProvider.hpp
  Core/include/Acts/Geometry/ReferenceGenerators.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/src/Geometry/IndexGridFiller.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4SurfaceProvider.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang tidy
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

Apply suggestions from code review
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

Apply suggestions from code review
  Tests/UnitTests/Core/Seeding/StrawLineSeederTest.cpp
Due: license, type_t, boost_test, math_macros

fix include
  Core/include/Acts/Geometry/ReferenceGenerators.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: GNN tests and CI (#4784)
  .gitlab-ci.yml
  CI/dependencies/download_models.sh
  CMakePresets.json
  Examples/Algorithms/TrackFindingGnn/src/TrackFindingAlgorithmGnn.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/gnn.py
  Examples/Scripts/Python/gnn4itk_example.py
  Examples/Scripts/Python/gnn_module_map_odd.py
Due: license, type_t, math_macros

Apply comment
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Introduce convex polygon volumes portal shell (#4830)
  Core/include/Acts/Geometry/ConvexPolygonPortalShell.hpp
  Core/include/Acts/Geometry/ConvexPolygonVolumeBounds.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/ConvexPolygonPortalShell.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/ConvexPolygonPortalShellTests.cpp
  docs/core/geometry/concepts.md
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Update Core/include/Acts/Geometry/KdtSurfacesProvider.hpp
  Core/include/Acts/Geometry/KdtSurfacesProvider.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

first save bet
  Core/include/Acts/Geometry/IndexGrid.hpp
  Core/include/Acts/Geometry/ReferenceGenerators.hpp
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Core/include/Acts/Navigation/IndexNavigation.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/IndexGrid.cpp
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Detray/src/DetraySurfaceGridsConverter.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/IndexGridFillerTests.cpp
  Tests/UnitTests/Core/Geometry/IndexGridTests.cpp
  Tests/UnitTests/Core/Navigation/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

lintify
  Core/include/Acts/Geometry/IReferenceGenerator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update MuonSpacePointDigitizer.cpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
