Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

ci: Disable PyPI nightly on forks (#5673)
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

lint
  Core/src/Navigation/NavigationStream.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update
  CMakePresets.json
Due: leftover_conflict_markers, format-json

implementation of layer connection table into ACTS core and examples conflict merges for seeding2 to seeding refactor
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Scripts/Python/gbts_layer_connection_training.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

minor changes and clang tidy
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
  Examples/Scripts/Python/gbts_layer_connection_training.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

first set of PR feedback changes
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs fixes
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

more docs fixes
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

change include
  Core/src/Seeding/GbtsTrainingTool.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

next set of PR changes
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang tidy and docs
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

do it
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

refactor!: Refactor navigation policy factory for unique_ptr and per-volume selection (#5675)
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Geometry/BlueprintOptions.cpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

more changes
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
  Examples/Scripts/Python/gbts_layer_connection_training.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

cmake change
  Core/src/Seeding/CMakeLists.txt
  Examples/Scripts/Python/gbts_layer_connection_training.py
Due: leftover_conflict_markers

clang tidy
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Scripts/Python/gbts_layer_connection_training.py
  Python/Examples/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: add spherical (phi, eta, r) grid seeding algorithm
  Core/include/Acts/Seeding/SphericalSpacePointGrid.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/SphericalSpacePointGrid.cpp
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SphericalGridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SphericalGridTripletSeedingAlgorithm.cpp
  Python/Examples/python/itk.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: defer error2 behind the deltaCotTheta2 pre-filter in the triplet cut
  Core/src/Seeding/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fixing resizing of PadBlueprintNode and World
  Core/src/Geometry/ContainerBlueprintNode.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

adding unit test for pad in container
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

review
  CI/cibuildwheel.sh
  Python/Core/python/__init__.py
Due: leftover_conflict_markers

fix: fixed the plane axis ranges and worked on tests
  Examples/Framework/include/ActsExamples/Utilities/CudaHoughTransformUtils.hpp
  Examples/Framework/src/Utilities/CudaHoughTransformUtils.cu
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/CudaHoughTransformUtilsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Rename module entry files (#5627)
  Detray/python/Core/CMakeLists.txt
  Detray/python/Core/src/CoreModuleEntry.cpp
  Detray/python/Examples/CMakeLists.txt
  Detray/python/Examples/src/ExamplesModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Add n_volumes/n_surfaces accessors to Detector binding (#5627)
  Detray/python/Core/src/DetrayModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

test: Assert volume/surface counts in read_detector test (#5627)
  Detray/python/Core/tests/test_read_detector.py
Due: leftover_conflict_markers

test: Add detector generation and read pytest for detray (#5627)
  Detray/pytest.ini
  Detray/python/Core/tests/test_read_detector.py
  Detray/python/Examples/tests/test_toy_detector.py
Due: leftover_conflict_markers

feat: Generate Python stub files for bindings (#5627)
  Detray/CMakeLists.txt
  Detray/python/CMakeLists.txt
Due: leftover_conflict_markers

chore: Autogenerate package __init__.py (#5627)
  Detray/python/Core/CMakeLists.txt
  Detray/python/Core/python/__init__.py
  Detray/python/Examples/CMakeLists.txt
  Detray/python/Examples/python/__init__.py
  Detray/python/module_init.py.in
Due: leftover_conflict_markers

docs: Document DETRAY_GENERATE_PYTHON_STUBS build parameter (#5627)
  Detray/README.md
Due: leftover_conflict_markers

refactor: Reformat ACTS python CMakeLists (#5627)
  Python/Examples/CMakeLists.txt
  Python/Fatras/CMakeLists.txt
  Python/Plugins/CMakeLists.txt
Due: leftover_conflict_markers

feat: Add `generate_toy_detector` Detray python binding (#5627)
  Detray/python/CMakeLists.txt
  Detray/python/Examples/CMakeLists.txt
  Detray/python/Examples/python/examples.py
  Detray/python/Examples/src/DetrayModuleEntry.cpp
  Detray/python/Examples/tests/test_toy_detector.py
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Reuse acts_pybind_generate_stubs in Detray (#5627)
  Detray/python/CMakeLists.txt
  Detray/python/Core/CMakeLists.txt
  Detray/python/Examples/CMakeLists.txt
  Python/CMakeLists.txt
  cmake/ActsPybindStubs.cmake
Due: leftover_conflict_markers

ci: Ignore Detray Python binding tests from check_unused_files (#5627)
  CI/check_unused_files.py
Due: leftover_conflict_markers

feat: Add `read_detector` Detray python binding (#5627)
  Detray/python/CMakeLists.txt
  Detray/python/Core/CMakeLists.txt
  Detray/python/Core/python/core.py
  Detray/python/Core/src/DetrayModuleEntry.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Run gersemi hook on Core CMakeLists.txt (#5627)
  Detray/python/Core/CMakeLists.txt
Due: leftover_conflict_markers

refactor: Turn binding components into subpackages (#5627)
  Detray/python/CMakeLists.txt
  Detray/python/Core/CMakeLists.txt
  Detray/python/Core/python/__init__.py
  Detray/python/Examples/CMakeLists.txt
  Detray/python/Examples/python/__init__.py
Due: leftover_conflict_markers

sonar fixes
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update
  Python/Examples/python/__init__.py
  Python/Examples/python/reconstruction.py
  Python/Examples/python/simulation.py
Due: leftover_conflict_markers

try it
  pytest.ini
Due: leftover_conflict_markers

feat: Add traccc independed Cuda implementation of MuonSpacePoint
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/CudaMuonSpacePoint.hpp
  Examples/Framework/src/EventData/CudaMuonSpacePoint.cpp
  Tests/UnitTests/Examples/EventData/CMakeLists.txt
  Tests/UnitTests/Examples/EventData/CudaMuonSpacePointTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
