Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

refactor: DetraySurfaceGrids -> DetraySurfaceGrid
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat(detray): Add material slab conversion (based on existing)
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Stub out navigation conversion methods
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/DetrayNavigation.cpp
  Core/src/Navigation/DetrayNavigationStub.cpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): add end of world portals
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Progress on conversion, wire through surface lookup
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Core/src/Navigation/DetrayNavigationStub.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Make functions that take config methods
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Conversion uses Portal object
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test: Add content tests to surface grid add name map to payloads
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(detray): debugging with obj
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

feat: Add primitive volume conversion + test
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Correct detray exception include in material tests
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Due: license, type_t, boost_test, math_macros

feat(detray): New association by address, write binned material grids
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Initial implementation of surface and portal converter methods
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): Basic conversion working (no material, no surface grid)
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): work on binned material conversion
  Core/include/Acts/Geometry/DetrayExceptions.hpp
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/DetrayMaterial.cpp
  Core/src/Material/DetrayMaterialStub.cpp
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/Detray/CMakeLists.txt
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  thirdparty/detray/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): Begin work on SurfaceArray conversion logic
  Core/src/Navigation/DetrayNavigation.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, math_macros

adjust mock classes after SurfaceBounds API change
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

feat(detray): Fixes to portal conversion, API refactor
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(detray): Build cylindrical test geometry
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

detray 0.100.0 compat
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

feat(detray): more work on binned material conversion
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/DetrayMaterial.cpp
  Core/src/Material/DetrayMaterialStub.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Add Logger argument to toDetrayPayload
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(detray): Make homog mat func public + add test
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

some debugging
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: SimParticle rename final to finalState
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Cut edges in TensorRT inference if maximum size is exceeded (#4511)
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Tensor.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/src/Tensor.cpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
  Tests/UnitTests/Plugins/ExaTrkX/TensorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add a copy of the original hitId interface for clients who need sorted hits
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

pr feedback
  Core/include/Acts/Utilities/ContainerRange.hpp
  Core/include/Acts/Utilities/ContainerSubset.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

mimimimimi
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

make move assignment op, constructors noexcept
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Propagator/ActorList.hpp
  Core/include/Acts/Utilities/ScopedTimer.hpp
  Core/src/Utilities/ScopedTimer.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/Smearers.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Scripts/compareRootFiles.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

avoid side-effect in boolean expression
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
Due: license, pragma_once, type_t, math_macros

remove virtual from surface equality operator
  Core/include/Acts/Surfaces/Surface.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix format
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
Due: license, pragma_once, type_t, math_macros

avoid use of std::localtime in favor of std::format
  Plugins/Json/src/DetectorJsonConverter.cpp
Due: license, type_t, math_macros

first version
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/MultiEigenStepperLoopTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/Propagator/MultiSympyStepperLoopTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove redundant comment
  Core/src/Navigation/CylinderNavigationPolicy.cpp
Due: license, type_t, math_macros

refactor!: Simplify SurfaceArray flexibility (#4475)
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/AnyGridView.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeCreation.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

perf!: Speed-up hit access in HoughTransFormUtils (#4515)
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: MuonRun4 - Combinatorial Seeding For NSW migration (#4506)
  Core/include/Acts/Seeding/CombinatorialSeedSolver.hpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros
