Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

cosmetic renaming of template parameters
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix spatial grid accelerator intersection
  Detray/core/include/detray/geometry/detail/volume_kernels.hpp
  Detray/core/include/detray/navigation/accelerators/spatial_grid.hpp
  Detray/core/include/detray/utils/grid/axis.hpp
  Detray/core/include/detray/utils/grid/detail/axis_binning.hpp
  Detray/core/include/detray/utils/grid/detail/axis_bounds.hpp
  Detray/core/include/detray/utils/ranges/iota.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update functionality for reading
  Examples/Scripts/Python/geometry_validation.py
  Examples/Scripts/Python/propagation_validation.py
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Python/Plugins/src/Detray.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

iterate
  cmake/ActsExternSources.cmake
Due: leftover_conflict_markers

lint
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Revise interpolation implementation (#5543)
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/Interpolation.hpp
  Core/include/Acts/Utilities/detail/interpolation_impl.hpp
  Tests/UnitTests/Core/Utilities/InterpolationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

tidy
  Core/include/Acts/Utilities/Axis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

shorten cmake comment
  Plugins/CMakeLists.txt
Due: leftover_conflict_markers

PR comments
  Examples/Scripts/Python/geometry_validation.py
  Examples/Scripts/Python/propagation_validation.py
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Python/Plugins/src/Detray.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Replacing Gen3 onLayer/onContainer can wrap (#5549)
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: `IAxis` gains `AxisDirection` (#5540)
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/IAxis.hpp
  Core/src/Utilities/IAxis.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make SeedFinderOrthogonal tanLM-tanMT compatibility cut configurable
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feedback
  Examples/Scripts/Python/gnn4itk_example.py
  Plugins/Gnn/include/ActsPlugins/Gnn/EdgeLayerConnector.hpp
  Plugins/Gnn/src/EdgeLayerConnector.cu
  Python/Plugins/src/Gnn.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Restore Acts::Any::typeInfo(). Fix _ACTS_ANY_ENABLE_TRACK_ALLOCATIONS
  Core/include/Acts/Utilities/Any.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
  Python/Examples/src/Framework.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: AnyOf polymorphic value (#5542)
  Core/include/Acts/Utilities/Any.hpp
  Tests/UnitTests/Core/Utilities/AnyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

lint
  CI/check_unused_files.py
Due: leftover_conflict_markers

remove unrelated stuff
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimInputConverter.hpp
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Scripts/Python/full_chain_odd.py
  Python/Examples/src/plugins/EDM4hep.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Faulty access to position with index
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

Move the propagator setup in the Geant4SimulationBase
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Python/Examples/src/plugins/Geant4.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

linting
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4Simulation.hpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Python/Examples/src/plugins/Geant4.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Examples/Io/Arrow/CMakeLists.txt
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLInputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLInputConverter.cpp
  Examples/Io/Parquet/CMakeLists.txt
  Examples/Scripts/Python/colliderml_performance_plots.py
  Plugins/Arrow/include/ActsPlugins/Arrow/ArrowUtil.hpp
  Plugins/Arrow/src/ArrowUtil.cpp
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/test_colliderml_reader.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

restore odd.py
  Python/Examples/python/odd.py
Due: leftover_conflict_markers

doc
  Core/include/Acts/Utilities/IAxis.hpp
  Core/include/Acts/Utilities/IMultiAxis.hpp
  Core/include/Acts/Utilities/MultiAxis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add CODEOWNERS for new plugins and files
  CODEOWNERS
Due: leftover_conflict_markers

address PR review comments: schema validation, cleanup
  Examples/Io/Arrow/src/ColliderMLInputConverter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Examples/Scripts/Python/generate_colliderml_geo_map.py
  Plugins/Arrow/include/ActsPlugins/Arrow/ArrowUtil.hpp
  Plugins/Arrow/src/ArrowUtil.cpp
  Python/Plugins/src/Arrow.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove redundant schema validation from execute()
  Examples/Io/Arrow/src/ColliderMLInputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

optional histogram of bin counts in the material maps
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulator.hpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulator.cpp
  Examples/Scripts/MaterialMapping/Mat_map_stats.C
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Root/include/ActsPlugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

forgot
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Examples/Scripts/MaterialMapping/Mat_map_stats.C
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: spatial grid accelerator intersection (#5558)
  Detray/core/include/detray/geometry/detail/volume_kernels.hpp
  Detray/core/include/detray/navigation/accelerators/spatial_grid.hpp
  Detray/core/include/detray/utils/grid/axis.hpp
  Detray/core/include/detray/utils/grid/detail/axis_binning.hpp
  Detray/core/include/detray/utils/grid/detail/axis_bounds.hpp
  Detray/core/include/detray/utils/ranges/iota.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add MMG/EdgeLayerConnector for GNN track building (#5539)
  Examples/Scripts/Python/gnn4itk_example.py
  Plugins/Gnn/CMakeLists.txt
  Plugins/Gnn/include/ActsPlugins/Gnn/EdgeLayerConnector.hpp
  Plugins/Gnn/src/EdgeLayerConnector.cu
  Plugins/Gnn/src/ModuleMapCuda.cu
  Python/Examples/tests/test_examples.py
  Python/Plugins/src/Gnn.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Faulty access to position with index (#5564)
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

Apply suggestion from @andiwand
  CODEOWNERS
Due: leftover_conflict_markers

chore: Ownership for some stuff (#5568)
  CODEOWNERS
Due: leftover_conflict_markers

cleanup comments + keep going mode
  Core/include/Acts/Geometry/BlueprintOptions.hpp
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/include/Acts/Geometry/CylinderPortalShell.hpp
  Core/include/Acts/Geometry/Portal.hpp
  Core/include/Acts/Material/MergedMaterialMarker.hpp
  Core/src/Geometry/ContainerBlueprintNode.cpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/Portal.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MergedMaterialMarker.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderPortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

add script to do merged material failure visualization
  Examples/Scripts/Python/material_merge_rz_view.py
  Plugins/Json/src/MaterialJsonConverter.cpp
  Python/Core/src/Geometry.cpp
  Python/Core/src/GeometryGen3.cpp
  Python/Core/src/Material.cpp
  Python/Examples/tests/test_material_merge_rz_view.py
  Tests/UnitTests/Plugins/Json/MaterialJsonConverterTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

reduce label verbosity
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(Geometry): augment portal merge failures with context
  Core/include/Acts/Geometry/Portal.hpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/Portal.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros
