Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

build: Add compile check for std::format (#4415)
  cmake/ActsCompilerOptions.cmake
Due: none

builds.yml: ping the epic-contacts team
  .github/workflows/builds.yml
Due: none

Update .github/workflows/devcontainer-ci.yml
  .github/workflows/devcontainer-ci.yml
Due: none

build: Bump uv to v0.7.19 (#4407)
  cmake/ActsCodegen.cmake
Due: none

revert: build: Add compile check for std::format (originally #4415)
  cmake/ActsCompilerOptions.cmake
Due: none

revert: build: Add compile check for std::format (originally #4415) (#4418)
  cmake/ActsCompilerOptions.cmake
Due: none

Various new math methods
  Core/include/Acts/Surfaces/detail/LineHelper.hpp
  Core/include/Acts/Utilities/ArrayHelpers.hpp
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/UnitVectors.hpp
  Core/include/Acts/Utilities/detail/Polynomials.hpp
  Tests/UnitTests/Core/EventData/CorrectedTransformFreeToBoundTests.cpp
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/LineIntersectionTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: add eic-shell CI build (#4297)
  .github/workflows/builds.yml
  .github/workflows/report.yml
Due: none

break
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests2.cpp
Due: license, type_t, boost_test, math_macros

delete
  Tests/UnitTests/Plugins/Root/RootMaterialMapIOTests.cpp
Due: license, type_t, boost_test, math_macros

unbreak
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, type_t, boost_test, math_macros

break
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIoBreak.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIoBreak.hpp
  Plugins/Root/src/RootMaterialMapIoBreak.cpp
  Plugins/Root/src/RootMaterialTrackIoBreak.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

unbreak
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: move ROOT surface material map I/O to plugins (#4400)
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackAccessor.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackAccessor.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Minor tidy
  Core/include/Acts/Utilities/detail/Polynomials.hpp
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Efficiency printout for TrackFinderPerformanceWriter (#4417)
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
Due: license, type_t, math_macros

drop actual source links as well
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, type_t, math_macros

chore: Bump codegen python package version
  codegen/pyproject.toml
  codegen/requirements.txt
Due: codegen_dependencies

Plugins
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialTrackIoTests.cpp
Due: license, type_t, boost_test, math_macros

fix: Do not scan for C++ modules on new versions of CMake
  cmake/ActsCompilerOptions.cmake
Due: none

fix: Do not make a copy in SensitiveSurfaceMapper
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
Due: license, type_t, math_macros

ci: Second attempt at an std::format check
  cmake/ActsCompilerOptions.cmake
  cmake/src/format.cpp
Due: license, type_t, math_macros

add license header
  cmake/src/format.cpp
Due: license, type_t, math_macros

fix: Do not make a copy in SensitiveSurfaceMapper (#4422)
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
Due: license, type_t, math_macros

sonarcloud
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

constness
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

build: Do not scan for C++ modules on new versions of CMake (#4421)
  cmake/ActsCompilerOptions.cmake
Due: none

chore: Bump codegen python package version (#4419)
  codegen/pyproject.toml
  codegen/requirements.txt
Due: codegen_dependencies

fix: edm4hep reader with high complexity events (#4396)
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepSimInputConverter.hpp
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Python/src/EDM4hepComponent.cpp
  Examples/Python/tests/test_edm4hep.py
  Examples/Scripts/Python/full_chain_odd.py
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Add check for devcontainer configuration (#4414)
  .github/workflows/devcontainer-ci.yml
Due: none

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Due: none

removing unused parameters
  Tests/UnitTests/Plugins/Root/RootMaterialTrackIoTests.cpp
Due: license, type_t, boost_test, math_macros

try public
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

detail
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/detail/SpacePointContainer2Column.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Add ROOT space point I/O (#4398)
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootSpacePoints2Accessor.hpp
  Plugins/Root/src/RootSpacePointIo.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

revert: feat: move ROOT surface material map I/O to plugins [originally #4400]
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackAccessor.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackAccessor.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

revert: feat: move ROOT surface material map I/O to plugins [originally #4400] (#4424)
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackAccessor.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackAccessor.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fixes after merging main
  Plugins/Root/include/Acts/Plugins/Root/RootSpacePointIo.hpp
  Plugins/Root/src/RootSpacePointIo.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix print out
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
Due: license, type_t, math_macros

...
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
Due: license, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
