Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

revert: Add BoundaryTolerance not NavigationStream candidates again
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/src/Navigation/NavigationStream.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

wip: Accelerated Cylinder portal policy
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Make NavigationStream::initialize a bit more efficient
  Core/src/Navigation/NavigationStream.cpp
Due: license, type_t, math_macros

fixup: Remove terminate on multi-plane size=2
  Core/src/Navigation/NavigationStream.cpp
Due: license, type_t, math_macros

fix: NavStream ix candidate unpacking was broken
  Core/src/Navigation/NavigationStream.cpp
Due: license, type_t, math_macros

refactor: NavStream uses emplace correctly, can be reset
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/src/Navigation/NavigationStream.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Make Intersection and ObjectIntersection trivially movable and copyable
  Core/include/Acts/Utilities/Intersection.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Make BoundaryTolerance trivially movable and copyable
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Make geo context ref in multiwire volume builder const (#4346)
  Core/include/Acts/Geometry/MultiWireVolumeBuilder.hpp
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

debug: add header back, print header
  CI/dependencies/select_lockfile.py
Due: none

add retry logic
  CI/dependencies/select_lockfile.py
Due: none

try retry without auth header on last attempt
  CI/dependencies/select_lockfile.py
Due: none

fixup: BoundaryTolerance::Chi2Bound return value
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

try to fix clang-tidy issues
  Examples/Scripts/compareRootFiles.C
  Examples/Scripts/compareRootFiles.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

improve format
  Examples/Scripts/compareRootFiles.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

adapting unit test path
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoLayerBuilderTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoMaterialConverterTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoParserTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoPrimitivesHelperTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTubeConversionTests.cpp
Due: license, type_t, boost_test, math_macros

drop operator[] accesses
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
Due: license, type_t, boost_test, math_macros

shift MaterialTrackIO to Plugins
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackPayload.hpp
  Plugins/Root/src/RootMaterialTrackPayload.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Specify boost include directory for FpeMonitoring
  Plugins/FpeMonitoring/CMakeLists.txt
Due: none

fix unit test
  Core/src/Navigation/NavigationStream.cpp
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
Due: license, type_t, boost_test, math_macros

resolve some clang-tidy complaints
  Core/include/Acts/Propagator/NavigationTarget.hpp
  Core/include/Acts/Propagator/detail/NavigationHelpers.hpp
  Core/src/Surfaces/BoundaryTolerance.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Apply suggestions from code review
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

refactor: TrivialPortalLink -> don't check on-surface in Release (#4349)
  Core/src/Geometry/TrivialPortalLink.cpp
Due: license, type_t, math_macros

ci/macos-15-xcode163
  .github/workflows/builds.yml
Due: none

Introduced monitring of HT space scan
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
  Examples/Python/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: better mass and charge for nuclei PDG (#4337)
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/ParticleData.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

make things work in Athena
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: Turn `compareRootFile.C` into an executable (#4204)
  Examples/Scripts/CMakeLists.txt
  Examples/Scripts/compareRootFiles.C
  Examples/Scripts/compareRootFiles.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: no underflow in gamma distribution (#4339)
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
  Fatras/include/ActsFatras/Utilities/detail/FpeSafeGammaDistribution.hpp
  Tests/UnitTests/Fatras/CMakeLists.txt
  Tests/UnitTests/Fatras/Utilities/CMakeLists.txt
  Tests/UnitTests/Fatras/Utilities/FpeSafeGammaDistributionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Update to reconstruction script
  Examples/Python/python/acts/examples/reconstruction.py
Due: none

geodetector
  Examples/Scripts/Python/geomodel_G4.py
Due: none

some pr comments (but not all) and visualize the mockup hell yeahgit loggit loggit loggit loggit loggit loggit log!
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelMuonMockupBuilder.hpp
  Examples/Detectors/GeoModelDetector/src/GeoModelDetector.cpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/GeoModel.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: reduce complexity of highly nested blocks (#3633)
  Core/include/Acts/Utilities/BinnedArrayXD.hpp
  Core/src/Detector/IndexedRootVolumeFinderBuilder.cpp
  Core/src/Geometry/GridPortalLinkMerging.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedGridJsonHelper.hpp
  Tests/UnitTests/Plugins/ActSVG/LayerSvgConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros
