Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

pre-calculate center in convexpolygonbounds
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Tests/UnitTests/Core/Surfaces/ConvexPolygonBoundsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Add average phi to annulus calculation
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix transform default
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Add a centroid method for surface bounds
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/EllipseBounds.hpp
  Core/include/Acts/Surfaces/InfiniteBounds.hpp
  Core/include/Acts/Surfaces/LineBounds.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/ConeBounds.cpp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/DiamondBounds.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/LineBounds.cpp
  Core/src/Surfaces/RadialBounds.cpp
  Core/src/Surfaces/RectangleBounds.cpp
  Core/src/Surfaces/TrapezoidBounds.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix format again
  Core/include/Acts/Surfaces/ConvexPolygonBounds.ipp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/ConeBounds.cpp
  Core/src/Surfaces/ConvexPolygonBounds.cpp
  Core/src/Surfaces/CylinderBounds.cpp
  Core/src/Surfaces/DiamondBounds.cpp
  Core/src/Surfaces/DiscTrapezoidBounds.cpp
  Core/src/Surfaces/EllipseBounds.cpp
  Core/src/Surfaces/LineBounds.cpp
  Core/src/Surfaces/RadialBounds.cpp
  Core/src/Surfaces/RectangleBounds.cpp
  Core/src/Surfaces/TrapezoidBounds.cpp
  Tests/UnitTests/Core/Surfaces/ConvexPolygonBoundsTests.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

cleanup; custom merge sort
  Core/include/Acts/Seeding2/detail/CandidatesForMiddleSp2.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

revert original hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

test: CylinderTrackingGeometry Gen3 (#4473)
  Tests/CommonHelpers/CMakeLists.txt
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Detector/KdtSurfacesProviderTests.cpp
  Tests/UnitTests/Core/Detector/LayerStructureBuilderTests.cpp
  Tests/UnitTests/Core/Geometry/KDTreeTrackingGeometryBuilderTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerHelperTests.cpp
  Tests/UnitTests/Plugins/ActSVG/DetectorVolumeSvgConverterTests.cpp
  Tests/UnitTests/Plugins/ActSVG/TrackingGeometrySvgConverterTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorSurfaceFactoryTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDiscLayerStructureTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/DetectorVolumeJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

revert merge sort
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
Due: license, type_t, math_macros

Calculate the phi span correctly, add unit test
  Plugins/Root/include/Acts/Plugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/TGeoToRadianSpanTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix nasty bug
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
Due: license, type_t, math_macros

chore: Remove stable sorting from `CandidatesForMiddleSp2` (#4549)
  Core/include/Acts/Seeding2/detail/CandidatesForMiddleSp2.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/detail/CandidatesForMiddleSp2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Improve layer surface array lookup with representative intersection
  Core/src/Geometry/Layer.cpp
Due: license, type_t, math_macros

tmp disable test
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
Due: none

fix
  Core/src/Geometry/Layer.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
Due: license, type_t, math_macros

chore: Cleanup `CommonHelpers` in `Tests`
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/LineSurfaceStub.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TemporaryDirectory.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

update hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

test: Use `maxSeedsPerSpMConf` by default with `GridTripletSeedingAlgorithm`
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Due: license, include_guards, pragma_once, type_t, math_macros

These minuses....my...
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

wire property to python
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Examples/Python/src/Vertexing.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

more wiring
  Examples/Python/python/acts/examples/reconstruction.py
Due: none

More tracks....
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

Attempt to fix the y0 error
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix
  Examples/Python/src/TrackFinding.cpp
Due: license, type_t, math_macros

chore: Cleanup `CommonHelpers` in `Tests` (#4552)
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CubicTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/CylindricalTrackingGeometry.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/LineSurfaceStub.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/MeasurementsCreator.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TemporaryDirectory.hpp
  Tests/CommonHelpers/include/Acts/Tests/CommonHelpers/TestSpacePoint.hpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

chore: Remove `ReferenceWrapperAnyCompat`
  Core/include/Acts/Geometry/GeometryObjectSorter.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/JacobianEngine.hpp
  Core/include/Acts/Propagator/detail/SympyCovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/SympyJacobianEngine.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/detail/ReferenceWrapperAnyCompat.hpp
  Core/include/Acts/Vertexing/VertexingOptions.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Remove temporary code
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

chore: Remove `ReferenceWrapperAnyCompat` (#4554)
  Core/include/Acts/Geometry/GeometryObjectSorter.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/CovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/JacobianEngine.hpp
  Core/include/Acts/Propagator/detail/SympyCovarianceEngine.hpp
  Core/include/Acts/Propagator/detail/SympyJacobianEngine.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/Utilities/detail/ReferenceWrapperAnyCompat.hpp
  Core/include/Acts/Vertexing/VertexingOptions.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

test: Use `maxSeedsPerSpMConf` by default with `GridTripletSeedingAlgorithm` (#4553)
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, math_macros

Fit preparations done
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

First prototype of the time fit
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, type_t, boost_test, math_macros

Forgot SpacePointCalibrator
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Okat we need to update the circles on the fly
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Refactor print
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

No time of record no fit...
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/FastStrawLineFitTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

docs: Fix typo in MaterialDesignatorBlueprintNode docs
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Include missing PortalShell.hpp header
  Core/include/Acts/Geometry/ContainerBlueprintNode.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

docs: Fix typo in MaterialDesignatorBlueprintNode docs (#4555)
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
