Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

feat: Utility function to join a range of strings
  Core/include/Acts/Utilities/JoinStrings.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Use std::format in GraphViz utilities
  Core/include/Acts/Utilities/GraphViz.hpp
  Core/src/Utilities/GraphViz.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

perf: Remove `maxPtScattering` from `Seeding2` (#4535)
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
  Core/src/Seeding2/TripletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/tests/root_file_hashes.txt
  Plugins/Json/src/Seeding2ConfigJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

remofe fstream
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
Due: license, type_t, math_macros

Revert "refactor: Seed gets truth particle pointer"
  Core/include/Acts/EventData/Seed.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert "refactor: ProtoTrack becomes an object"
  Examples/Algorithms/TrackFinding/src/HoughTransformSeeder.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.cpp
  Examples/Algorithms/Utilities/src/PrototracksToSeeds.cpp
  Examples/Algorithms/Utilities/src/PrototracksToTracks.cpp
  Examples/Algorithms/Utilities/src/TrajectoriesToPrototracks.cpp
  Examples/Framework/include/ActsExamples/EventData/ProtoTrack.hpp
  Examples/Framework/src/Utilities/EventDataTransforms.cpp
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert "additional compile fix"
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
Due: license, type_t, math_macros

Revert "refactor: ProtoTrack gets truth particle pointer"
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.cpp
  Examples/Framework/include/ActsExamples/EventData/ProtoTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

simplify sorting logic
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
Due: license, type_t, math_macros

fix: Test cyl geo -> back to more layers
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, math_macros

refactor: Conversion uses Portal object
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor(detray): Factorize handlePortal method
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore(detray): Cleanup material conv test
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, type_t, boost_test, math_macros

feat(detray): more work on binned material conversion
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/DetrayMaterial.cpp
  Core/src/Material/DetrayMaterialStub.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Add primitive volume conversion + test
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(detray): debugging with obj
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

feat: Initial implementation of surface and portal converter methods
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): work on binned material conversion
  Core/include/Acts/Geometry/DetrayExceptions.hpp
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/DetrayMaterial.cpp
  Core/src/Material/DetrayMaterialStub.cpp
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/Detray/CMakeLists.txt
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  thirdparty/detray/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): Fixes to portal conversion, API refactor
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(detray): Make homog mat func public + add test
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Correct detray exception include in material tests
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Due: license, type_t, boost_test, math_macros

fix: Update after detray bump on main
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

feat(detray): add end of world portals
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat(detray): Add material slab conversion (based on existing)
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): New association by address, write binned material grids
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): Basic conversion working (no material, no surface grid)
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): Add partial payload converter, test conversions
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/CMakeLists.txt
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(detray): Build cylindrical test geometry
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: Make functions that take config methods
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Stub out navigation conversion methods
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/DetrayNavigation.cpp
  Core/src/Navigation/DetrayNavigationStub.cpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): Begin work on SurfaceArray conversion logic
  Core/src/Navigation/DetrayNavigation.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, math_macros

refactor: DetraySurfaceGrids -> DetraySurfaceGrid
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor(detray): Use using enum to simplify code
  Core/src/Material/DetrayMaterial.cpp
Due: license, type_t, math_macros

detray 0.100.0 compat
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: Add Logger argument to toDetrayPayload
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Progress on conversion, wire through surface lookup
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Core/src/Navigation/DetrayNavigationStub.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Add debug print to try all navigation detray conversion
  Core/src/Navigation/DetrayNavigation.cpp
Due: license, type_t, math_macros

refactor: Add toDetrayPayload method to CylinderNavigationPolicy
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Core/src/Navigation/DetrayNavigationStub.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

adjust mock classes after SurfaceBounds API change
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

fix(detray): add missing center methods to tests
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros
