Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

fixes after merge
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/src/GeoModelDetector.cpp
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Io/Json/CMakeLists.txt
  Examples/Python/src/Output.cpp
Due: license, type_t, math_macros

fix missing parameter of particle selector in python bindings
  Examples/Python/src/TruthTracking.cpp
Due: license, type_t, math_macros

add part_meas_map output to dump reader, init conditionally
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Python/src/Input.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

update athena dump reader
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Python/src/Input.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

revert Iterator change
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
Due: license, type_t, math_macros

add comment
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
Due: license, type_t, math_macros

reuse cache config
  .gitlab-ci.yml
Due: none

refactor!: Revise stepper update functions and constrained step types (#3986)
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add support for cuda streams
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/OnnxMetricLearning.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/Stages.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchEdgeClassifier.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TorchMetricLearning.hpp
  Plugins/ExaTrkX/src/BoostTrackBuilding.cpp
  Plugins/ExaTrkX/src/ExaTrkXPipeline.cpp
  Plugins/ExaTrkX/src/OnnxEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchEdgeClassifier.cpp
  Plugins/ExaTrkX/src/TorchMetricLearning.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor!: Strongly typed enum for `ConstrainedStep::Type` and capital initial letter
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

remove cugraph, update cmake
  CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/README.md
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsCugraph.hpp
  docs/getting_started.md
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

clean
  Plugins/ExaTrkX/CMakeLists.txt
Due: none

add it
  .gitlab-ci.yml
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ConnectedComponents.cuh
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CudaUtils.cuh
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ConnectedComponentCudaTests.cu
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

update
  Plugins/ExaTrkX/CMakeLists.txt
Due: none

fix include
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert "refactor!: Strongly typed enum for `ConstrainedStep::Type` and capital initial letter"
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

remove occurances of 'binFoo', fix pytests
  Core/include/Acts/Detector/detail/CuboidalDetectorHelper.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/src/Detector/detail/CuboidalDetectorHelper.cpp
  Core/src/Geometry/GridPortalLink.cpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Python/tests/test_blueprint.py
  Examples/Scripts/Python/blueprint.py
  Examples/Scripts/Python/detector_creation.py
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_validation_core.py
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/GridSvgConverter.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
  Tests/UnitTests/Plugins/ActSVG/GridSvgConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add python binding
  Examples/Python/src/ExaTrkXTrackFinding.cpp
Due: license, type_t, math_macros

rework
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

update
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

ignore .gitlab-ci.yml in yaml check (custom gitlab syntax)
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

update
  .gitlab-ci.yml
Due: none

update
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix propagator test
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
Due: license, type_t, boost_test, math_macros

pr feedback
  Core/include/Acts/Propagator/ConstrainedStep.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix root reader missing cluster truth only
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
Due: license, type_t, math_macros

add buffered reader wrapper
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Framework/BufferedReader.hpp
  Examples/Framework/include/ActsExamples/Framework/SequenceElement.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/BufferedReader.cpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
  Examples/Python/src/Input.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: adding extra bit to measurment writer (#4007)
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, type_t, math_macros

enable cache for other jobs
  .gitlab-ci.yml
Due: none

fix: Missing parameter of particle selector in python bindings (#4010)
  Examples/Python/src/TruthTracking.cpp
Due: license, type_t, math_macros

fix: some blocker reported sonar-cloud issues (#4009)
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
  Core/include/Acts/Seeding/BinnedGroupIterator.ipp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/MultiIndex.hpp
  Core/include/Acts/Utilities/Result.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreatorT.hpp
  Examples/Framework/include/ActsExamples/EventData/GeometryContainers.hpp
  Examples/Framework/include/ActsExamples/Utilities/Range.hpp
  Plugins/FpeMonitoring/include/Acts/Plugins/FpeMonitoring/FpeMonitor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

more SonarCloud fixes
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Detector/IndexedRootVolumeFinderBuilder.hpp
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericCurvilinearTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/SourceLink.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/CorrectedTransformationFreeToBound.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

try fix
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.hpp$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
