Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

lint
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvParticleWriter.cpp
  Examples/Io/Csv/src/CsvSimHitWriter.cpp
  Examples/Io/Csv/src/CsvSpacePointWriter.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Csv/src/CsvVertexWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor!: Drop `SpacePointProxy2::resolvedIndex`
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

change text version again to `proto track`
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFindingGnn/include/ActsExamples/TrackFindingGnn/ProtoTracksToParameters.hpp
  Examples/Algorithms/TrackFindingGnn/include/ActsExamples/TrackFindingGnn/TrackFindingAlgorithmGnn.hpp
  Examples/Algorithms/TrackFindingGnn/include/ActsExamples/TrackFindingGnn/TrackFindingFromProtoTracksAlgorithm.hpp
  Examples/Algorithms/TrackFindingGnn/src/ProtoTracksToParameters.cpp
  Examples/Algorithms/TrackFindingGnn/src/TrackFindingAlgorithmGnn.cpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthTrackFinder.hpp
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/ProtoTracksToTracks.hpp
  Examples/Framework/include/ActsExamples/EventData/ProtoTrack.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackClassification.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvProtoTrackWriter.hpp
  Examples/Io/Csv/src/CsvSeedWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderNTupleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Generalize track parameter estimation further
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

deprecate; cleanup
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

add tmux
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

verbose mode debugging
  .github/workflows/analysis.yml
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

add another change to `TrackingVolume`
  Core/include/Acts/Geometry/TrackingVolume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

drop upterm
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

clang-tidy script and workflow
  .github/workflows/analysis.yml
  CI/clang_tidy/filter.yml
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

add header filter .*
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

add explicit clang-tidy call
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

handle empty PR diff
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

improve workflow
  .github/workflows/analysis.yml
  CI/clang_tidy/filter.yml
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

ci job fixes
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

ContextType: remove explicit to trigger clang-tidy
  Core/include/Acts/Utilities/detail/ContextType.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

change generated TU path convention
  CI/clang_tidy/run_clang_tidy_pr.py
  cmake/ActsFunctions.cmake
Due: leftover_conflict_markers

Add verbose diagnostic filtering output to clang-tidy annotate
  .github/workflows/analysis.yml
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

don't use rich console for annotations
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

debugging
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

TMP: disable workflows for debugging
  .github/workflows/analysis.yml
  .github/workflows/backport.yml.disabled
  .github/workflows/builds.yml
  .github/workflows/checks.yml.disabled
  .github/workflows/devcontainer-ci.yml.disabled
  .github/workflows/docs.yml.disabled
  .github/workflows/labels.yml.disabled
  .github/workflows/milestone.yml.disabled
  .github/workflows/pr-lint.yml.disabled
  .github/workflows/release.yml.disabled
  .github/workflows/remove-automerge-label.yml.disabled
  .github/workflows/report.yml.disabled
  .github/workflows/sonarcloud.yml.disabled
  .github/workflows/stale.yml.disabled
  .github/workflows/trigger_athena.yml.disabled
  .github/workflows/update-pip-requirements.yml.disabled
  .gitlab-ci.yml
Due: leftover_conflict_markers

some cleanup in the script
  .github/workflows/analysis.yml
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

explicit files option
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

improve output
  .github/workflows/analysis.yml
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

skip non-existing paths
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

don't skip headers without a tu
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

build: Add separate codegen-only target
  .github/workflows/analysis.yml
  cmake/ActsCodegen.cmake
Due: leftover_conflict_markers

build: Add a number of generated header TUs
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Vertexing/CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Examples/Io/EDM4hep/CMakeLists.txt
  Fatras/CMakeLists.txt
  Plugins/ActSVG/CMakeLists.txt
  Plugins/EDM4hep/CMakeLists.txt
  Plugins/GeoModel/CMakeLists.txt
Due: leftover_conflict_markers

run on all files to get an idea of the timing
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

experiment with sysroot on macos
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

script updates
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

use PIMPL to work around undefined podio types
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementInputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackInputConverter.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementInputConverter.cpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioInputConverter.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioMeasurementInputConverter.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioReader.hpp
  Examples/Io/Podio/src/PodioInputConverter.cpp
  Examples/Io/Podio/src/PodioReader.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

another round of clang-tidy fixes
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Framework/include/ActsExamples/Onnx/NeuralCalibrator.hpp
  Examples/Framework/include/ActsExamples/Utilities/Range.hpp
  Fatras/include/ActsFatras/Digitization/ChannelMerger.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/GaussianMixture.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/GeneralMixture.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/Highland.hpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/WhiteBoardUtilities.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

seed proxy as const
  Core/include/Acts/EventData/SeedProxy2.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove double index resolving
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/OrthogonalTripletSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

rename space point template
  Core/include/Acts/EventData/Seed.hpp
  Core/include/Acts/EventData/Seed.ipp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.ipp
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  docs/old/core/reconstruction/pattern_recognition/seeding.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Move `PrototracksToParameters` from GNN Examples to Utilities
  Examples/Algorithms/TrackFindingGnn/CMakeLists.txt
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/PrototracksToParameters.hpp
  Examples/Algorithms/Utilities/src/PrototracksToParameters.cpp
  Python/Examples/src/Utilities.cpp
  Python/Examples/src/plugins/Gnn.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Remove `clang-tidy` CI for now
  .gitlab-ci.yml
Due: leftover_conflict_markers
