Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

chore(eventdata): harden track state component allocation
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackStateContainerTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Allocate filtered parameters only when the KF update writes them (#5784)
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
  Core/include/Acts/EventData/detail/TestSourceLink.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/TrackStateCreator.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Core/TrackFitting/KalmanFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: resolve navigation start state into locals in initialize
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Narrow the macOS openssl repair to libthrift, document root cause and lifespan
  CI/repair_wheel_macos.sh
Due: leftover_conflict_markers

ci: Temporarily disable other CI, add macOS wheel diagnostics workflow
  .github/workflows/analysis.yml.disabled
  .github/workflows/builds.yml.disabled
  .github/workflows/checks.yml.disabled
  .github/workflows/devcontainer-ci.yml.disabled
  .github/workflows/diag-macos-wheel.yml
  .github/workflows/docs.yml.disabled
Due: leftover_conflict_markers

ci: pull husk job images through the CERN registry cache
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
Due: leftover_conflict_markers

ci: trim the comments added on this branch
  .github/workflows/builds.yml
Due: leftover_conflict_markers

ci: Run the macOS wheel validation as a PR check instead of fork-only push
  .github/workflows/diag-macos-wheel.yml
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

Make linter happy
  CI/physmon/config/pythia8_ttbar.yml
Due: leftover_conflict_markers

try likelihood fit for resolutions
  Plugins/Root/src/HistogramConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(detray): Add detector generate and read Python bindings for Detray (#5663)
  CI/check_unused_files.py
  Detray/CMakeLists.txt
  Detray/README.md
  Detray/pytest.ini
  Detray/python/CMakeLists.txt
  Detray/python/Core/CMakeLists.txt
  Detray/python/Core/src/CoreModuleEntry.cpp
  Detray/python/Core/tests/test_read_detector.py
  Detray/python/Examples/CMakeLists.txt
  Detray/python/Examples/src/ExamplesModuleEntry.cpp
  Detray/python/module_init.py.in
  Python/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Fatras/CMakeLists.txt
  Python/Plugins/CMakeLists.txt
  cmake/ActsPybindStubs.cmake
Due: license, type_t, leftover_conflict_markers, math_macros

ci: Actually disable Examples in the coverage preset
  CMakePresets.json
Due: leftover_conflict_markers, format-json

ci: Drop unused CMAKE_C_FLAGS_DEBUG from the coverage preset
  CMakePresets.json
Due: leftover_conflict_markers, format-json

ci: Drop DWARF from the coverage build to fix ccache thrashing
  .github/workflows/analysis.yml
  CMakePresets.json
Due: leftover_conflict_markers, format-json

ci: Stop instrumenting code the coverage report throws away
  .github/workflows/analysis.yml
  CMakePresets.json
Due: leftover_conflict_markers, format-json

ci: Trim the gnn_cpu build and skip the GNN jobs when unaffected
  .github/workflows/builds.yml
  CMakeLists.txt
  CMakePresets.json
  Tests/UnitTests/CMakeLists.txt
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers, format-json

Revert "ci: Temporarily disable other CI, add macOS wheel diagnostics workflow"
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/diag-macos-wheel.yml
  .github/workflows/docs.yml
Due: leftover_conflict_markers

Revert "ci: Run the macOS wheel validation as a PR check instead of fork-only push"
  .github/workflows/diag-macos-wheel.yml
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

feat: add minimal MC truth information for HF tagging (#5630)
  CI/physmon/config/pythia8_ttbar.yml
  CI/physmon/config/simulation.yml
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/HepMC3.cpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

First version of 2D plotting with python, matplotlib
  Core/include/Acts/Visualization/PyVisualization.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
  Examples/Scripts/Python/geometry.py
  Python/Core/src/Visualization.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Enabeling the user to provide a custom function to the visualization of the tracking geometry which determines the ViewConfig. Default function was included
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/include/Acts/Visualization/PyVisualization.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/Volume.cpp
  Core/src/Visualization/CMakeLists.txt
  Core/src/Visualization/ViewConfig.cpp
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/plot2D.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Python/Core/src/Geometry.cpp
  Python/Core/src/Visualization.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Improvements on universality of python plotting in 2D
  Core/include/Acts/Visualization/PyVisualization.hpp
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/plot2D.py
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Python/Core/src/Visualization.cpp
  Python/Examples/tests/test_geometry.py
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix merge conflicts
  Examples/Configs/odd-digi-smearing-config-gen3.json:Zone.Identifier
  Examples/Io/Obj/src/ObjTrackingGeometryWriter.cpp
  Testing/Temporary/LastTest.log
  Tests/UnitTests/Core/EventData/TrackVisualizationTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/DiamondVolumeBoundsTests.cpp
  obj/geometry.mtl
  obj/geometry.obj
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

update physmon references
  CI/physmon/reference.sha256
Due: leftover_conflict_markers

fix: Resolve navigation start volume through boundary surfaces and portals (#5740)
  CI/physmon/reference.sha256
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Navigation/Navigator.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Python/Core/src/GeometryGen3.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BoundaryVolumeResolutionTests.cpp
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
  Tests/UnitTests/Plugins/ActSVG/LayerSvgConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

add hash check
  Python/Examples/tests/test_colliderml_reader.py
Due: leftover_conflict_markers

Read published tracks from ColliderML datasets
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/test_colliderml_reader.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

review
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Python/Examples/tests/test_colliderml_reader.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

revert test
  Python/Examples/tests/test_colliderml_reader.py
Due: leftover_conflict_markers

add real CI
  .github/workflows/builds.yml
  CI/dependencies/download_colliderml.sh
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Python/Examples/tests/test_colliderml_reader.py
Due: leftover_conflict_markers

ci: run the key4hep check on the ubuntu24 nightly
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Update .github/workflows/update-pip-requirements.yml
  .github/workflows/update-pip-requirements.yml
Due: leftover_conflict_markers

update
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Python/Examples/tests/test_colliderml_reader.py
Due: leftover_conflict_markers

review
  Python/Examples/tests/test_colliderml_reader.py
Due: leftover_conflict_markers

ci: Shrink the coverage build's ccache footprint (#5804)
  .github/workflows/analysis.yml
  CMakePresets.json
Due: leftover_conflict_markers, format-json

added a user data field in the traccc detector conditions
  Traccc/core/include/traccc/geometry/detector_conditions_description.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Trim the gnn_cpu build and skip the GNN jobs when unaffected (#5803)
  .github/workflows/builds.yml
  CMakeLists.txt
  CMakePresets.json
  Tests/UnitTests/CMakeLists.txt
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers, format-json

ci: move the long every-PR jobs to husk, cancel superseded push runs (#5793)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/detray.yml
  .github/workflows/docs.yml
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

ci: Authenticate GHCR buildcache reads and retry only transient dependency failures (#5799)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/sonarcloud.yml
  CI/dependencies/setup.sh
Due: leftover_conflict_markers
