Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

make internal constructors private
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

another detail namespace cleanup
  Core/include/Acts/EventData/AnyTrackState.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

preliminary cleanup
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: AnyTrackState -> AnyTrackStateProxy
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateProxyTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

drop copyDynamicFrom from any track state
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

gmu: use correct subspace lookup
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

gmu: update after anytrackstateproxy renaming
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GainMatrixUpdaterImpl.cpp.in
Due: license, include_guards, pragma_once, type_t, math_macros

complete documentation
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang-tidy: default initialization
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add some missing methods to any track state
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: AnyTrack type erased type
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

simplify allocateCalibrated
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

cleanup, detail namespace name
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

use ctad in any track test
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, type_t, boost_test, math_macros

reduce API surface
  Core/include/Acts/EventData/AnyTrackState.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

lint
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: AnyTrack -> AnyTrackProxy
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackProxyTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

drop AnyTrack default constructor
  Core/include/Acts/EventData/AnyTrack.hpp
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add some missing methods to track state concept
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

test compatibility of ProxyAccessor with AnyTrack(State)
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/AnyTrackState.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

gmu: use AnyMutablTrackState
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GainMatrixUpdaterImpl.cpp.in
Due: license, include_guards, pragma_once, type_t, math_macros

Update Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, type_t, math_macros

Update Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: clean python notebooks (#4881)
  Tests/IntegrationTests/Magfield.ipynb
  docs/old/SolenoidField.ipynb
Due: none

further developments
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

first commit
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Tests/UnitTests/Core/Navigation/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

establish new IndexGridNavigaitonPolicy
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Update CMakeLists.txt
  CMakeLists.txt
Due: cmake_options

Delete cmake/FindFilesystem.cmake
  cmake/FindFilesystem.cmake
Due: none

adding IndexGridNavigationPolicy
  docs/old/core/geometry/concepts.md
Due: none

remove from cmake
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  Plugins/Gnn/CMakeLists.txt
  Tests/CommonHelpers/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
Due: none

lint
  Tests/CommonHelpers/CMakeLists.txt
Due: none

add cut
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove IndexGridNavigationPolicy from Experimental::
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  docs/old/core/geometry/concepts.md
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

solving indexes bug
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

fix
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

lintify again
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros
