Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

Add print operators
  Core/include/Acts/Propagator/NavigationTarget.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/src/Propagator/NavigationTarget.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix docs
  Core/include/Acts/Navigation/NavigationStream.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(navigation)!: Relax the navigator bounds check through a surface list
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/Navigator.cpp
  Python/Core/src/GeometryGen3.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorBoundaryToleranceOverrideTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTelescope.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat(navigation): Offer a surface the tracking geometry does not hold
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/NavigatorExternalSurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

build(detray): Upper bound [[no_unique_address]] workaround
  Detray/CMakeLists.txt
Due: leftover_conflict_markers

fix(detray): Fix CUDA 13.4 conversion warnings
  Detray/core/include/detray/navigation/caching_navigator.hpp
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/utils/ranges/cartesian_product.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): Fix CUDA 13.4 conversion warnings
  Traccc/device/common/include/traccc/device/array_insertion_mutex.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_bin_spacepoints.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_create_seed_candidate.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_run_cca_iteration.ipp
  Traccc/device/cuda/src/ambiguity_resolution/kernels/remove_tracks.cu
  Traccc/device/cuda/src/clusterization/kernels/sort_cells.cuh
  Traccc/tests/cuda/test_grid2.cu
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(Geometry): take customizer node pointers by const reference (#6069)
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Tests/UnitTests/Core/Geometry/BlueprintBuilderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf(traccc): Radix measurement sorting (#6071)
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/alpaka/src/utils/parallel_algorithms.hpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/clusterization/device/geo_id_based_sorter.hpp
  Traccc/device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  Traccc/device/common/include/traccc/clusterization/device/measurement_sorting.hpp
  Traccc/device/common/include/traccc/clusterization/device/sorting_index_filler.hpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(fatras): avoid materialising all bin edges per hit in Segmentizer
  Fatras/src/Digitization/Segmentizer.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: undefined names in Python error paths
  Detray/codegen/detray-sympy/detray_sympy/output.py
  Detray/tests/tools/python/options/common_options.py
  Detray/tests/tools/python/options/plotting_options.py
  Detray/tests/tools/python/propagation_benchmarks.py
  Python/Examples/python/odd.py
Due: leftover_conflict_markers

Weekly Update: Regenerate requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  codegen/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

Add material wheels in the mock up
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Scripts/Python/geomodel_G4.py
  Python/Examples/src/plugins/GeoModel.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove endcup
  Examples/Scripts/Python/geomodel_G4.py
Due: leftover_conflict_markers

Remove endcup
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Blub
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, type_t, leftover_conflict_markers, math_macros

Clang-tidy
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Start implementation of the navigation test
  Core/include/Acts/EventData/TransformationHelpers.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

skip boost-histogram
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
Due: leftover_conflict_markers

refactor(vertexing): address AMVF Sonar findings
  Core/include/Acts/Vertexing/VertexFitProblem.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: split AMVF fitter state into fit problem and cache
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/VertexFitProblem.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat(vertexing): keep the pre-split fitter state as a deprecated adapter
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor(vertexing): hide AMVF cache internals
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf(traccc): Avoid pageable copies in GBTS algorithm (#6062)
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_seeding_algorithm.hpp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(traccc): Set block count of propagate kernel (#6047)
  Traccc/device/cuda/src/finding/kernels/specializations/propagate_to_next_surface_src.cuh
Due: license, type_t, leftover_conflict_markers, math_macros

build(detray): Upper bound [[no_unique_address]] workaround (#6072)
  Detray/CMakeLists.txt
Due: leftover_conflict_markers

fix(traccc): Fix CUDA 13.4 conversion warnings (#6074)
  Traccc/device/common/include/traccc/device/array_insertion_mutex.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_bin_spacepoints.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_create_seed_candidate.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_run_cca_iteration.ipp
  Traccc/device/cuda/src/ambiguity_resolution/kernels/remove_tracks.cu
  Traccc/device/cuda/src/clusterization/kernels/sort_cells.cuh
  Traccc/tests/cuda/test_grid2.cu
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): allow GBTS seeding in alpaka full chain example (#6068)
  Traccc/examples/run/alpaka/include/traccc/examples/alpaka/full_chain_algorithm.hpp
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

setup straw test
  Core/include/Acts/EventData/TransformationHelpers.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

build: make Boost.Process an optional, Mille-only dependency
  CMakeLists.txt
  Plugins/Mille/CMakeLists.txt
  Plugins/Mille/src/runChildProcess.cpp
Due: license, type_t, cmake_options, leftover_conflict_markers, math_macros

refactor(traccc): Clean up CCL kernel types
  Traccc/device/alpaka/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/common/include/traccc/clusterization/device/ccl_kernel.hpp
  Traccc/device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  Traccc/device/common/include/traccc/clusterization/device/impl/ccl_kernel.ipp
  Traccc/device/cuda/src/clusterization/kernels/ccl_kernel.cu
  Traccc/device/hip/src/clusterization/kernels/ccl_kernel.hip
  Traccc/device/sycl/src/clusterization/clusterization_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Landau input parameters scale and location parameter are (correctly) calculated from MPV and FWHM
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheBloch.hpp
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: ERROR Counting in Fatras Count the different ERROR Messages in Fatras
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Specialise the sympy dense step on covariance transport (#5978)
  Core/include/Acts/Propagator/detail/SympyStepperDenseStep.hpp
  Core/src/Propagator/CMakeLists.txt
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/detail/SympyStepDenseJac.cpp
  Core/src/Propagator/detail/SympyStepDenseNoJac.cpp
  Core/src/Propagator/detail/SympyStepVacuumJac.cpp
  Core/src/Propagator/detail/SympyStepperDenseStepImpl.hpp
  Core/src/Propagator/detail/SympyStepperStep.hpp
  Core/src/Propagator/detail/SympyStepperStepImpl.hpp
  Core/src/Propagator/generate_sympy_stepper.py
  docs/groups/sympy_codegen.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Update the GSF physmon references
  CI/physmon/reference.sha256
Due: leftover_conflict_markers

ci: Update the ROOT hash references
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

ci: Take actsvg, vecmem, covfie and Google Benchmark from the spack environment (#6066)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/detray.yml
  .github/workflows/traccc.yml
  CMakePresets.json
  Traccc/extern/acts/CMakeLists.txt
  Traccc/extern/dfelibs/CMakeLists.txt
  thirdparty/algebra-plugins/CMakeLists.txt
  thirdparty/algebra-plugins/README.md
Due: leftover_conflict_markers, format-json

GBTS ODD minor fixes
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/gbts_layer_connection_training_odd.py
Due: leftover_conflict_markers

Update hash for test_hashing_seeding__estimatedparams
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
