Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.hpp$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

fixing missing Acts::
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

more fixes of namespace
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove using enum
  Core/include/Acts/Navigation/DetectorNavigator.hpp
  Core/include/Acts/Propagator/ConstrainedStep.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Io/Root/src/RootPropagationStepsWriter.cpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/ConstrainedStepTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

ci: Use correct keys for the gitlab caches (#4008)
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

add buffered reader wrapper
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Framework/BufferedReader.hpp
  Examples/Framework/include/ActsExamples/Framework/SequenceElement.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/BufferedReader.cpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
  Examples/Python/src/Input.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

add test
  Examples/Python/tests/test_reader.py
Due: none

ci: Use CERN registry cache in GitLab CI
  .gitlab-ci.yml
Due: none

ci: Run unit test + downstream on main ubuntu build (gitlab)
  .gitlab-ci.yml
Due: none

update
  Examples/Python/tests/test_reader.py
Due: none

update root refs
  CI/physmon/reference/trackfinding_1muon/seeded/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
Due: none

update TensorRT to make it MT save (multiple contexts)
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

allow dynamic allocation in MMG
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ModuleMapUtils.cuh
  Plugins/ExaTrkX/src/ModuleMapCuda.cu
Due: license, type_t, math_macros

fix!: Make BinUtility constructor explicit (#3953)
  Core/include/Acts/Utilities/BinUtility.hpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

ci: Use CERN registry cache in GitLab CI (#4019)
  .gitlab-ci.yml
Due: none

test: Add tests for return values from `IAxis::visit` (#4006)
  Core/include/Acts/Utilities/IAxis.hpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Revert "ci: Use CERN registry cache in GitLab CI"
  .gitlab-ci.yml
Due: none

revert: "ci: Use CERN registry cache in GitLab CI" (#4022)
  .gitlab-ci.yml
Due: none

ci: Use CERN registry cache in GitLab CI - round 2
  .gitlab-ci.yml
Due: none

Add t_prodR to tracksummary.yml file
  CI/physmon/config/tracksummary_ckf.yml
Due: none

use forced surface reached for multi stepper
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Remove cugraph, refactor GNN plugin cmake (#4014)
  CMakeLists.txt
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/README.md
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CugraphTrackBuilding.hpp
  Plugins/ExaTrkX/src/CugraphTrackBuilding.cpp
  Plugins/ExaTrkX/src/weaklyConnectedComponentsCugraph.hpp
  docs/getting_started.md
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

update ref
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
Due: none

see if policy also works
  CMakeLists.txt
  CMakePresets.json
Due: cmake_options

location strategy
  CMakePresets.json
Due: none

more general CMAKE_FIND_FRAMEWORK
  CMakePresets.json
Due: none

collect all policy settings in one place
  CMakeLists.txt
Due: cmake_options

add ptyhon find framework directive
  CMakePresets.json
Due: none

another attempt to fix the GSF
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Don't reset component state in `MultiStepperSurfaceReached`
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert "another attempt to fix the GSF"
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/MultiStepperAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros
