Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

--sanity;
  thirdparty/Millepede-II/CMakeLists.txt
Due: leftover_conflict_markers

remove some hacks
  CMakeLists.txt
  thirdparty/Millepede-II/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

temporary workaround for lcg builds while waiting for MP2-05-01-02 to arrive on spack
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

remove -Werror from MP-II subproject build until latest version
  thirdparty/Millepede-II/CMakeLists.txt
  thirdparty/Millepede-II/mp2.patch
Due: leftover_conflict_markers

do not use system Mille in lcg builds
  CMakePresets.json
Due: leftover_conflict_markers, format-json

typo and regularisation tweak
  Plugins/Mille/src/ActsToMille.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix small typo 2
  Plugins/Mille/src/ActsToMille.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

try updating Spack version!
  .github/actions/dependencies/action.yml
Due: leftover_conflict_markers

update MP2 version
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

while (true) { bang_head_on_desk(); try_new_thing();}
  thirdparty/Millepede-II/CMakeLists.txt
Due: leftover_conflict_markers

bump millepede (again) to defeat overzealous CI
  CMakeLists.txt
  cmake/ActsExternSources.cmake
  thirdparty/Millepede-II/CMakeLists.txt
  thirdparty/Millepede-II/mp2.patch
Due: cmake_options, leftover_conflict_markers

try to ask for new spack
  .github/actions/dependencies/action.yml
Due: leftover_conflict_markers

update Mille to v01-00-03
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

addressing PR comments
  Examples/Scripts/Python/propagation_validation.py
Due: leftover_conflict_markers

docs: Add `CODEOWNERS` file (#5375)
  CI/check_unused_files.py
  CODEOWNERS
Due: leftover_conflict_markers

git ignore changes
  .gitignore
Due: leftover_conflict_markers

Exlude traccc from CI
  .pre-commit-config.yaml
  CI/check_unused_files.py
  CI/clang_tidy/filter.yml
Due: leftover_conflict_markers

Add CI jobs for traccc
  .github/workflows/traccc.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

Misc changes sort later
  CMakeLists.txt
  cmake/ActsExternSources.cmake
  thirdparty/traccc/CMakeLists.txt
  thirdparty/traccc/README.md
Due: cmake_options, leftover_conflict_markers

gtest as system dependency
  Detray/extern/googletest/CMakeLists.txt
Due: leftover_conflict_markers

change to traccc build system
  Traccc/CMakeLists.txt
Due: leftover_conflict_markers

fix unused singla_axis_t (with fixed typo)
  Detray/core/CMakeLists.txt
  Detray/io/include/detray/io/backend/detail/grid_reader.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix log level setting
  Detray/core/CMakeLists.txt
Due: leftover_conflict_markers

Change how VecMem would be set up exactly.
  CMakeLists.txt
  Detray/CMakeLists.txt
  Detray/tests/include/detray/test/device/sycl/CMakeLists.txt
  Detray/tests/integration_tests/device/sycl/CMakeLists.txt
  Detray/tests/unit_tests/device/sycl/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

add codeowners to README
  README.md
Due: leftover_conflict_markers

first snapshot of (partly) BinUtility-freed SurfaceMaterial
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Geometry/MaterialDesignator.hpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulator.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/ProtoSurfaceMaterial.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Python/Core/src/Material.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ProtoSurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Bugs in the record_propagation function (#5516)
  Detray/tests/include/detray/test/validation/navigation_validation_utils.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update CODEOWNERS
  CODEOWNERS
Due: leftover_conflict_markers

Delete Core/scripts directory
  Core/scripts/print_units_physical_constants.py
Due: leftover_conflict_markers

Update Units.hpp
  Core/include/Acts/Definitions/Units.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add ROOT seeding analysis tool
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSeedEventAnaWriter.hpp
  Examples/Io/Root/src/RootSeedEventAnaWriter.cpp
  Python/Examples/src/plugins/Root.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

use spacepoint time information in DoubletSeedFinder
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

use spacepoint time information in BroadTripletSeedFilter
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add options to use spacepoint time information in Example GridTripletSeeding framework
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Adding gen1 - gen3 - (detray) - geant4 propagation (#5514)
  Examples/Scripts/Python/propagation_test_odd.py
  Examples/Scripts/Python/propagation_validation.py
  Python/Examples/python/simulation.py
Due: leftover_conflict_markers

remove preprocessor guards
  Detray/io/include/detray/io/backend/detail/grid_reader.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update README.md
  README.md
Due: leftover_conflict_markers

feat: fix in detray for loglevel change (#5518)
  Detray/io/include/detray/io/backend/detail/grid_reader.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Weekly Update: Regenerate requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
