Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

fix json format
  CMakePresets.json
Due: none

rename utility, handle input file option better
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/HepMC3Normalize.cpp
Due: license, type_t, math_macros

move of first modules
  Examples/Python/CMakeLists.txt
  Examples/Python/src/CovfieStub.cpp
  Examples/Python/src/DetrayStub.cpp
  Examples/Python/src/GeoModelExample.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/SvgExample.cpp
  Python/CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Core/python/__init__.py.in
  Python/Plugins/CMakeLists.txt
  Python/Plugins/python/plugin.py.in
  Python/Plugins/src/Covfie.cpp
  Python/Plugins/src/Detray.cpp
  Python/Plugins/src/GeoModel.cpp
  Python/Plugins/src/Svg.cpp
Due: license, type_t, math_macros

lintify
  Python/Plugins/CMakeLists.txt
  Python/Plugins/python/plugin.py.in
  Python/Plugins/src/GeoModel.cpp
  Python/Plugins/src/Svg.cpp
Due: license, type_t, math_macros

docs: Switch doxygen to warn on undocumented symbols (#4607)
  .github/workflows/analysis.yml
  CMakePresets.json
  docs/Doxyfile
Due: none

fix Covfie dep
  Examples/Python/CMakeLists.txt
Due: none

CMakeLists fix
  Examples/Python/CMakeLists.txt
Due: none

adding logging module
  Examples/Python/CMakeLists.txt
  Python/Core/python/__init__.py.in
  Python/Plugins/CMakeLists.txt
Due: none

make stub know the new name
  Examples/Python/src/GeoModelStub.cpp
  Examples/Python/src/SvgStub.cpp
Due: license, type_t, math_macros

Common jet class
  Plugins/FastJet/CMakeLists.txt
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.ipp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Remove jets.ipp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.ipp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

off your go
  Examples/Python/python/acts/examples/__init__.py
Due: none

Apply pre-commit changes
  Plugins/FastJet/CMakeLists.txt
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Change the namespace into ActsPlugins
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Change namespace to ActsPlugins
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

hepmc3 norm: migrate to a class + python bindings
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/HepMC3Normalize.cpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Normalizer.hpp
  Examples/Io/HepMC3/src/HepMC3Normalizer.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/hepmc3.py
  Examples/Python/python/acts/examples/hepmc3/__init__.py
  Examples/Python/python/acts/examples/hepmc3/__main__.py
  Examples/Python/python/acts/examples/hepmc_normalize.py
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

hepmc3 norm remove c++ binary
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/HepMC3Normalize.cpp
Due: license, type_t, math_macros

hepmc3 util: refactor to single function
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Normalizer.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3Normalizer.cpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Python/python/acts/examples/hepmc3/__init__.py
  Examples/Python/python/acts/examples/hepmc3/__main__.py
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

format fix
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix symlink creation
  Examples/Python/CMakeLists.txt
Due: none

next CI fix attempt
  Examples/Python/python/acts/examples/__init__.py
  Python/Plugins/CMakeLists.txt
Due: none

fix faulty install path
  Examples/Python/CMakeLists.txt
Due: none

fix a number of CI issues
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix WARNINGs in unit tests output
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
Due: license, type_t, boost_test, math_macros

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Due: none

fix aliasing
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

isolate non-inline HepMC declarations
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3FactoryWrappers.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix unchecked optional access
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

fix clang-tidy issues
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

make IGridSurfaceMaterialBase non-detail
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayMaterial.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

unify some helper functions that were duplicated before
  Plugins/Detray/include/ActsPlugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayMaterialConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetraySurfaceGridsConverter.hpp
  Plugins/Detray/src/DetrayConversionUtils.cpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Plugins/Detray/src/DetraySurfaceGridsConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayGeometryConverterTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConverterTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

rename python name of function
  Examples/Python/python/acts/examples/hepmc3/__main__.py
  Examples/Python/src/HepMC3.cpp
Due: license, type_t, math_macros

uintmax_t -> size_t
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove python obsolete commented code
  Examples/Python/python/acts/examples/hepmc3/__main__.py
Due: none

use optionals in the hepmc3 normalize interface
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix format
  Plugins/Detray/include/ActsPlugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/src/DetrayConversionUtils.cpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Plugins/Detray/src/DetraySurfaceGridsConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Build truth jets from fatras barcode 1
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Plugins/FastJet/CMakeLists.txt
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert "Build truth jets from fatras barcode 1"
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Plugins/FastJet/CMakeLists.txt
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Barcode 2
  Plugins/FastJet/CMakeLists.txt
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/src/Jets.cpp
Due: license, include_guards, pragma_once, type_t, math_macros
