Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

Generate measurements and setup initial fit procedure
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Test skeleton
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Event generation
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Space point constructor
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Implement left/right tangent line unit test
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Forgot to put the isng updator if not calibrted
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

Augment space point calibrator concept
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Covariance update
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

New MPI is fancty
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Debugging residual along line
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, type_t, boost_test, math_macros

Add space point line seeder skeleton
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Tangent line function
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Minor update
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, type_t, boost_test, math_macros

Parameter update
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

new physmon histos
  CI/physmon/config/pythia8_ttbar.yml
  CI/physmon/config/vertexing_4muon_50vertices.yml
  CI/physmon/config/vertexing_ttbar_pu200.yml
Due: none

fix lint
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
Due: none

solve todo
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
Due: license, type_t, boost_test, math_macros

reduce unit test changes
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Due: license, type_t, boost_test, math_macros

Break up the fit method into smaller pieces
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Abrivations
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Due: none

Degrees of freedom
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Setup straw only & twin straw only test
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

More test cases
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Augment logging
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

Clean up redundant comment
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
Due: license, type_t, math_macros

Small speed up
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

Silence CMake policy warning
  thirdparty/FRNN/CMakeLists.txt
Due: none

Only build FRNN if CUDA is enabled
  CMakeLists.txt
  Plugins/Gnn/CMakeLists.txt
Due: cmake_options

Only include CudaUtils if building with CUDA
  Plugins/Gnn/src/printCudaMemInfo.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix sign-compare warning
  Plugins/Gnn/src/TorchEdgeClassifier.cpp
  Plugins/Gnn/src/TorchMetricLearning.cpp
Due: license, type_t, math_macros

default values
  CI/physmon/config/pythia8_ttbar.yml
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  Tests/UnitTests/Fatras/EventData/BarcodeTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Use correct cmake option to trigger podio plugin
  Plugins/CMakeLists.txt
Due: none

new reference
  CI/physmon/reference/simulation/particles_ttbar_hist.root
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_vertexing_ivf_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  Examples/Python/tests/root_file_hashes.txt
Due: none

Use the torch target instead of CMake variables
  thirdparty/FRNN/CMakeLists.txt.in
Due: none

fix hash
  Examples/Python/tests/root_file_hashes.txt
Due: none

Reshuffle residual calculation:
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/include/Acts/Surfaces/detail/LineHelper.hpp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Refactor calculation for numerical stability
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Introduce straw line fitter module
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Revert changes
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros
