Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

pr feedback; more cleanups
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Move jet class from plugins to EventData, remove FastJet as plugin (#5089)
  CMakeLists.txt
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Jets/CMakeLists.txt
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/Jets.hpp
  Examples/Framework/src/EventData/Jets.cpp
  Plugins/CMakeLists.txt
  Plugins/FastJet/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Tests/UnitTests/Examples/EventData/CMakeLists.txt
  Tests/UnitTests/Examples/EventData/JetsTests.cpp
  Tests/UnitTests/Plugins/CMakeLists.txt
  Tests/UnitTests/Plugins/FastJet/CMakeLists.txt
  docs/Doxyfile.in
  docs/groups/plugins/fastjet.md
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros

fix docs
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pr feedback
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Bump ModuleMapGraph version (#5115)
  cmake/ActsExternSources.cmake
Due: leftover_conflict_markers

remove examplesjets
  Examples/Io/Root/CMakeLists.txt
Due: leftover_conflict_markers

presets and precommit
  CMakePresets.json
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

feat: CloneablePtr (#5116)
  Core/include/Acts/Utilities/CloneablePtr.hpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/CloneablePtrTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Setup the cloneable ptr
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Utilities/CloneablePtr.hpp
  Core/src/Geometry/Volume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pr feedback
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Document return type
  Core/include/Acts/Utilities/CloneablePtr.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: supress warnings in helpers for module discovery
  Python/Examples/tests/helpers/__init__.py
Due: leftover_conflict_markers

Update Core/include/Acts/Utilities/CloneablePtr.hpp
  Core/include/Acts/Utilities/CloneablePtr.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: switch update pip requirements bot to `uv` (#5087)
  .github/workflows/update-pip-requirements.yml
Due: leftover_conflict_markers

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

refactor: Remove unused isDisc parameter in DD4hep plugin
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/AlignedDD4hepDetectorElement.hpp
  Examples/Detectors/DD4hepDetector/src/AlignedDD4hepDetectorElement.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/src/DD4hepDetectorElement.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorSurfaceFactoryTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Fix compiler
  Tests/UnitTests/Core/Utilities/CloneablePtrTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Cleanup Core GBTS (#5102)
  Core/include/Acts/Seeding/GbtsConfig.hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/include/Acts/TrackFinding/RoiDescriptor.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Core/src/TrackFinding/RoiDescriptor.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add TGeoAxis
  Plugins/Root/include/ActsPlugins/Root/TGeoAxes.hpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/TGeoAxesTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Make LayerBlueprintNode not final
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Use strong type for TGeo axis definition
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/AlignedDD4hepDetectorElement.hpp
  Examples/Detectors/DD4hepDetector/src/AlignedDD4hepDetectorElement.cpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/AlignedTGeoDetectorElement.hpp
  Examples/Detectors/TGeoDetector/src/AlignedTGeoDetectorElement.cpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepDetectorSurfaceFactory.hpp
  Plugins/DD4hep/src/DD4hepDetectorElement.cpp
  Plugins/DD4hep/src/DD4hepDetectorSurfaceFactory.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoAxes.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoLayerBuilder.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/src/TGeoDetectorElement.cpp
  Plugins/Root/src/TGeoLayerBuilder.cpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
  Tests/UnitTests/Plugins/Root/TGeoArb8ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoBBoxConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTrd1ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTrd2ConversionTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoTubeConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: DD4hep det elem unit test uses isDisc still
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

lint
  Examples/Detectors/DD4hepDetector/src/AlignedDD4hepDetectorElement.cpp
  Plugins/DD4hep/src/DD4hepDetectorElement.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoAxes.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
  Tests/UnitTests/Plugins/Root/TGeoArb8ConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

remove spurious
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix in dd4hep layer builder
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Python/Plugins/src/TGeo.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorSurfaceFactoryTests.cpp
  Tests/UnitTests/Plugins/Root/TGeoParserTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Move `ProtoTracksToParameters` from GNN Examples to Utilities (#5113)
  Examples/Algorithms/TrackFindingGnn/CMakeLists.txt
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/ProtoTracksToParameters.hpp
  Examples/Algorithms/Utilities/src/ProtoTracksToParameters.cpp
  Python/Examples/src/Utilities.cpp
  Python/Examples/src/plugins/Gnn.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

make clang-tidy happy
  Examples/Algorithms/Utilities/src/ProtoTracksToParameters.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Generalize track parameter estimation further (#5112)
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Use cloneable ptr to default copy ctor && assignment
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/Surface.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove truthjetalg changes
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

remove truthjetalg changes 2
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor!: Rename packed `SpacePointContainer2` columns
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/HashingPrototypeSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/OrthogonalTripletSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Onnx plugin clang-tidy fixes
  Examples/Framework/src/Onnx/NeuralCalibrator.cpp
  Plugins/Onnx/include/ActsPlugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Onnx/include/ActsPlugins/Onnx/SeedClassifier.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Use cloneable ptr to default copy ctor && assignment (#5119)
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/Surface.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Bump version to v45.2.0
  .zenodo.json
  CITATION.cff
  version_number
Due: leftover_conflict_markers, sync_citation_metadata

continuing developments
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

formatting
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

debug printing
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

apply few revisions
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros
