Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

Revert change
  Core/include/Acts/Geometry/Volume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

First version of VolumePlacementBase
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/src/Geometry/Volume.cpp
  Core/src/Geometry/VolumeBounds.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Compilingversion of portal placement
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Geometry/VolumeBounds.cpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Core/src/Geometry/detail/PortalPlacement.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/Volume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Doc - Vol II
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update center
  Core/include/Acts/Geometry/Volume.hpp
  Core/src/Geometry/Volume.cpp
  Core/src/Geometry/VolumeBounds.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix warnings
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/VolumeBounds.cpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Core/src/Geometry/detail/PortalPlacement.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Rework interface
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/VolumeBounds.cpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Core/src/Geometry/detail/PortalPlacement.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Clang-formatter
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/detail/PortalPlacement.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix documentation
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Documentatin
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Core/src/Geometry/detail/PortalPlacement.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

First unit test
  Core/include/Acts/Geometry/Volume.hpp
  Core/src/Geometry/Volume.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Augment test
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Document method
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/DiamondPortalShell.cpp
  Core/src/Geometry/TrapezoidPortalShell.cpp
  Core/src/Geometry/Volume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Core/src/Geometry/VolumeBounds.cpp
  Core/src/Geometry/VolumeBounds.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Clang tidy
  Core/src/Geometry/VolumeBounds.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Augment documentation
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/Volume.cpp
  Core/src/Geometry/VolumeBounds.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Add VolumePlacementBase tracking volume constructors. Refactor surface visitor
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Revert sensitive
  Core/include/Acts/Geometry/TrackingVolume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Appeace the clang compilation
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Increase errors
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Address sonar cloud
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: generate measurements with muon space points (#4901)
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MuonSpacePointDigitizer.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Added `std::` to all new `uint8_t`
  Tests/UnitTests/Core/Seeding/HoughTransformTest.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

part 1
  Core/include/Acts/Geometry/BoundarySurfaceFace.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/MagneticField/MagneticFieldContext.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Utilities/BinnedArrayXD.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorBuilder.cpp
  Examples/Scripts/compareRootFiles.hpp
  Tests/IntegrationTests/PropagationBentTracks.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

move everything to double
  Core/include/Acts/MagneticField/ToroidField.hpp
  Core/src/MagneticField/ToroidField.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

move gsf details to `detail::Gsf::`
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Initialize jets if required
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Refactor examples plotting tools to not use ROOT (#4973)
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Core/include/Acts/Utilities/Histogram.hpp
  Core/src/Utilities/Histogram.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Framework/include/ActsExamples/Validation/DuplicationPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/FakePlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/ResPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackQualityPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Utilities/Helpers.cpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/FakePlotTool.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFitterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Plugins/Root/include/ActsPlugins/Root/HistogramConverter.hpp
  Plugins/Root/src/HistogramConverter.cpp
  Python/Examples/src/plugins/Root.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Set associated tracks to jets
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

revert truth_jet_test script
  Examples/Scripts/Python/truth_jet_test.py
Due: leftover_conflict_markers

Add k0 and lambda0 to the list of pdg ids
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/ParticleData.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Run pre-commit
  Examples/Scripts/Python/truth_jet_test.py
Due: leftover_conflict_markers

pr feedback
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  CMakePresets.json
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MuonSpacePointDigitizer.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
  Examples/Framework/include/ActsExamples/Root/MuonVisualization.hpp
  Examples/Framework/src/Root/MuonVisualization.cpp
  Python/Examples/src/plugins/Root.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

refactor: Extract GSF functions part 1 (#5014)
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/KalmanGlobalCovariance.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

a few fixes
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

residual issues
  Core/include/Acts/Utilities/Histogram.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepFieldAdapter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
