Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.hpp$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

update references
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  CI/physmon/reference/trackrefitting_kf/performance_trackrefitting.root
  Examples/Python/tests/root_file_hashes.txt
Due: none

revert
  Tests/UnitTests/Core/Surfaces/AnnulusBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/BoundsRegressionTests.cpp
Due: license, type_t, boost_test, math_macros

lint
  Core/src/Geometry/GridPortalLink.cpp
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
Due: license, type_t, boost_test, math_macros

Removing LRT and pixel checks as not needed
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

tidy
  Core/src/Geometry/CuboidVolumeBounds.cpp
Due: license, type_t, math_macros

update refs
  Tests/UnitTests/Core/Surfaces/BoundsRegressionTests.cpp
Due: license, type_t, boost_test, math_macros

tests fixes
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
Due: license, type_t, boost_test, math_macros

format
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
Due: license, type_t, boost_test, math_macros

fixing mistake made when cherry picking
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

throw assert
  Core/include/Acts/Geometry/GridPortalLink.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

format
  Core/include/Acts/Geometry/GridPortalLink.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

cleanup
  Core/src/Geometry/CompositePortalLink.cpp
Due: license, type_t, math_macros

added eta based cuts
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
  Plugins/Json/src/AmbiguityConfigJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

removed cout statements
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
Due: license, type_t, math_macros

update comment
  Tests/UnitTests/Plugins/Json/ProtoAxisJsonConverterTests.cpp
Due: license, type_t, boost_test, math_macros

nitpick comment from SonarCloud
  Plugins/Json/src/ProtoAxisJsonConverter.cpp
Due: license, type_t, math_macros

more nitpick comments
  Plugins/Json/include/Acts/Plugins/Json/ProtoAxisJsonConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update ScoreBasedAmbiguityResolution.ipp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
Due: license, type_t, math_macros

strategies and python bindings
  Core/include/Acts/Geometry/CuboidVolumeStack.hpp
  Core/include/Acts/Geometry/CylinderContainerBlueprintNode.hpp
  Core/include/Acts/Geometry/CylinderVolumeStack.hpp
  Core/include/Acts/Geometry/VolumeAttachmentStrategy.hpp
  Core/include/Acts/Geometry/VolumeResizeStrategy.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/VolumeAttachmentStrategy.cpp
  Core/src/Geometry/VolumeResizeStrategy.cpp
  Examples/Python/src/Blueprint.cpp
  Examples/Python/src/Geometry.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeStackTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

lint
  Examples/Python/src/Geometry.cpp
Due: license, type_t, math_macros

add FPE mask
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Due: license, type_t, math_macros

reset reference for GSF refitting
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
Due: none

fixing compilation
  Core/include/Acts/Utilities/BinningData.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/MultiWireStructureBuilder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: restore compilation of examples without geant4.
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/src/GeoModelDetector.cpp
Due: license, type_t, math_macros

Move track state creator etc. out of the CKF.
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterExtensions.hpp
  Core/include/Acts/TrackFinding/TrackStateCreator.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  docs/_extensions/lazy_autodoc.py
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

updated Exams and tests
  Examples/Algorithms/AmbiguityResolution/include/ActsExamples/AmbiguityResolution/ScoreBasedAmbiguityResolutionAlgorithm.hpp
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Tests/UnitTests/Core/AmbiguityResolution/ScoreBasedAmbiguityResolutionTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fixed formating
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
Due: license, type_t, math_macros

format check for hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

indexed surfaces
  Core/include/Acts/Detector/detail/IndexedSurfacesGenerator.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/MultiWireStructureBuilder.cpp
  Plugins/ActSVG/include/Acts/Plugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/IndexedSurfacesJsonConverter.hpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

updated Examply python code
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/AmbiguityResolution.cpp
Due: license, type_t, math_macros

update python scripts
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/full_chain_test.py
Due: none

fixed json reader
  Plugins/Json/src/AmbiguityConfigJsonConverter.cpp
Due: license, type_t, math_macros

fixed issues with josn loader
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
  Plugins/Json/src/AmbiguityConfigJsonConverter.cpp
Due: license, type_t, math_macros

lint fix
  Core/src/AmbiguityResolution/ScoreBasedAmbiguityResolution.cpp
Due: license, type_t, math_macros

feat!: Updates to GBTS for Athena Implementation (#3882)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.ipp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Due: license, include_guards, pragma_once, type_t, math_macros

addressing PR comments
  Plugins/Json/src/ProtoAxisJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/ProtoAxisJsonConverterTests.cpp
Due: license, type_t, boost_test, math_macros

feat: adding json conversion and unit test for `ProtoAxis` (#4045)
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/ProtoAxisJsonConverter.hpp
  Plugins/Json/src/ProtoAxisJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/ProtoAxisJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros
