Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

test: update ROOT hashes and physmon references for pattern-perf changes
  CI/physmon/reference.sha256
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

docs: correct the doublet record's documentation
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Weight seed deduplication keys by local position dimension
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: terminate explicitly on scoped timer logging failures
  Core/include/Acts/Utilities/ScopedTimer.hpp
  Core/src/Utilities/ScopedTimer.cpp
  Tests/UnitTests/Core/Utilities/ScopedTimerTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: compute error2 as a local lambda behind each cut's guard
  Core/src/Seeding/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

slight python tweaks
  Examples/Scripts/Python/millepede_alignment.py
Due: leftover_conflict_markers

fix: Adding z range to GBTS
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix description
  Detray/CMakeLists.txt
Due: leftover_conflict_markers

Use SYSTEM_EIGEN3 everywhere
  .github/workflows/detray.yml
Due: leftover_conflict_markers

Remove automated TBB setup
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

feat: add argument to run mapping scripts for gen1 (gen3 stays default)
  Examples/Scripts/Python/material_recording.py
  Examples/Scripts/Python/material_validation.py
Due: leftover_conflict_markers

fix: GBTS seed prefix
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

Fix the API in material deduplication tests
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/tests/tools/src/cpu/generate_telescope_detector.cpp
  Detray/tests/tools/src/cpu/generate_wire_chamber.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  Traccc/examples/simulation/simulate_telescope.cpp
  Traccc/examples/simulation/simulate_toy_detector.cpp
  Traccc/examples/simulation/simulate_wire_chamber.cpp
  Traccc/tests/common/tests/kalman_fitting_momentum_resolution_test.cpp
  Traccc/tests/common/tests/kalman_fitting_telescope_test.hpp
  Traccc/tests/common/tests/toy_detector_fixture.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Initialize the members of the Runge-Kutta tableau step
  Core/src/Propagator/GenericRungeKuttaStepper.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: GBTS maximum number of edges
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: pick the sort by list size and bound the bucket sort's worst case
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding/TripletSeeder.hpp
  Core/include/Acts/Seeding/detail/SortByFloat.hpp
  Core/src/Seeding/TripletSeeder.cpp
  Tests/UnitTests/Core/Seeding/SortByFloatTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(traccc): Synchronize before releasing measurement sorting buffers (#6244)
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
Due: license, type_t, leftover_conflict_markers, math_macros

Rename from zRoi to collisionRegion
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): Address review of the CKF measurement order check
  Traccc/device/common/include/traccc/finding/device/geo_id_surface_comparator.hpp
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cu
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_input_is_valid.hip
  Traccc/device/sycl/src/finding/combinatorial_kalman_filter_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove flag and install scripts from wdconinc's list
  .github/workflows/builds.yml
  CMakeLists.txt
  Python/Examples/CMakeLists.txt
  cmake/setup.sh.in
  docs/groups/python_bindings.md
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers

build(traccc)!: Remove traccc configuration from ACTS CMake
  CMakeLists.txt
  CMakePresets.json
  Traccc/CMakeLists.txt
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers, format-json

fix(traccc): Remove automated TBB setup (#6247)
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

perf!: Find a middle space point's triplets in one call
  Core/include/Acts/Seeding/TripletSeedFinder.hpp
  Core/src/Seeding/TripletSeedFinder.cpp
  Core/src/Seeding/TripletSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: GBTS python helper seed prefix (#6250)
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

fix(traccc): Sort measurements by surface before cell index (#6243)
  Traccc/device/common/include/traccc/clusterization/device/measurement_sorting.hpp
  Traccc/device/common/include/traccc/finding/device/geo_id_surface_comparator.hpp
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cu
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_input_is_valid.hip
  Traccc/device/sycl/src/finding/combinatorial_kalman_filter_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

test: update physmon references after merging main
  CI/physmon/reference.sha256
Due: leftover_conflict_markers

optimizaing a bit the frustum
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: replace makePassiveCylinder and makePassiveDisc by makePassiveElement
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: reset gitignore to version on main
  .gitignore
Due: leftover_conflict_markers

fix: don't build calorimeter for gen1 consistenly in mapping chain
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_validation.py
Due: leftover_conflict_markers

Reset the frustum in initializeCandidates to correctly handle cases when the propagator goes outside the frustum.
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Clang-format
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: Test symmetric ranges with one comparison in DoubletSeedFinder
  Core/src/Seeding/DoubletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Adding z range to GBTS (#6249)
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: GBTS maximum number of edges (#6251)
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Core/src/Navigation/FrustumNavigationPolicy.cpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update references
  CI/physmon/reference.sha256
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

fix: Use maxSeedsPerSpM to size the seed candidate collector (#6053)
  CI/physmon/reference.sha256
  Core/include/Acts/Seeding/BroadTripletSeedFilter.hpp
  Core/src/Seeding/BroadTripletSeedFilter.cpp
  Python/Examples/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Seeding/BroadTripletSeedFilterTests.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros
