Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

fix: limit external-eic-shell error reports to downstream use only
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Change CMAKE_INSTALL_PREFIX to /work/prefix to ensure persistence
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Ensure CMAKE_INSTALL_PREFIX is set
  .github/workflows/builds.yml
Due: leftover_conflict_markers

firt step towards mapping infrastructure
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_recording.py
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_core.py
  Python/Examples/tests/conftest.py
  Python/Examples/tests/helpers/__init__.py
  Python/Examples/tests/test_examples.py
  Python/Examples/tests/test_material_mapping.py
Due: leftover_conflict_markers

debug
  Python/Core/python/histogram.py
Due: leftover_conflict_markers

rm
  Core/include/Acts/EventData/detail/ParameterTraits.hpp
  Core/include/Acts/Seeding/PathSeeder.hpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/TestSpacePoint.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

add excludes
  CI/check_unused_files.py
Due: leftover_conflict_markers

update pytest scripts
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/CoreMaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialValidation.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialValidation.cpp
  Examples/Scripts/Python/material_validation.py
  Examples/Scripts/Python/material_validation_itk.py
  Python/Examples/src/MaterialMapping.cpp
  Python/Examples/tests/helpers/__init__.py
  Python/Examples/tests/test_examples.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

first CI-runnable version
  Python/Examples/tests/geometry-volume-map.json
Due: leftover_conflict_markers, format-json

feat: Add TGeoAxes python bindings (#5277)
  Python/Examples/python/odd.py
  Python/Plugins/src/TGeo.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Core/Test updates with deprecated methods
  Tests/UnitTests/Core/Material/SurfaceMaterialMapperTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

remove tests for Surface and Volume material mapper
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove old scripts
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Scripts/MaterialMapping/Mat_map.C
  Examples/Scripts/MaterialMapping/Mat_map_detector_plot.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_1D.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_dist.C
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/MaterialMapping/material_comparison.py
  Examples/Scripts/MaterialMapping/material_mapping_check.py
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_mapping_itk.py
  Python/Examples/tests/test_reader.py
  docs/old/examples/howto/analysis_apps.rst
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

with new docs update
  docs/figures/material/overlay_profile_ratio_v_eta_t_X0.png
  docs/pages/examples/material_mapping.md
Due: leftover_conflict_markers

fix: limit external-eic-shell error reports to downstream use only (#4907)
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Improve debug messages & fix small bug
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Core/src/Navigation/Navigator.cpp
  Core/src/Propagator/NavigationTarget.cpp
  Core/src/Utilities/Intersection.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix missing const
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update root file hashes
  Examples/Scripts/Python/material_mapping.py
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

only install histcmp in physmon
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
Due: leftover_conflict_markers

chore: Cleanup Geant4 simulation code
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/AlgebraConverters.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MagneticFieldWrapper.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MaterialPhysicsList.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MaterialSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleKillAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleTrackingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SimParticleTranslation.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SteppingActionList.hpp
  Examples/Algorithms/Geant4/src/AlgebraConverters.cpp
  Examples/Algorithms/Geant4/src/MagneticFieldWrapper.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: improve unused files check and exclude `Python` (#5075)
  CI/check_unused_files.py
Due: leftover_conflict_markers

rm excluded files
  CI/check_unused_files.py
Due: leftover_conflict_markers

fix
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/UnitConversion.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

few more minor things
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

removing Python bindings of Surface and Volume mapper
  Python/Core/src/Material.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Introduce detector misalignment
  Examples/Scripts/Python/full_chain_odd.py
Due: leftover_conflict_markers

refactor: Split Fatras simulation header into single and multi particle sim
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Fatras/include/ActsFatras/Kernel/MultiParticleSimulation.hpp
  Fatras/include/ActsFatras/Kernel/SingleParticleSimulation.hpp
  Fatras/include/ActsFatras/Kernel/SingleParticleSimulationResult.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/IntegrationTests/Fatras/FatrasSimulationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Augment navigator logging messages (#5283)
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Core/src/Navigation/Navigator.cpp
  Core/src/Propagator/NavigationTarget.cpp
  Core/src/Utilities/Intersection.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore: Bind free functions to namespace in FpeMonitoring plugin
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinArm64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformLinuxX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix
  Plugins/FpeMonitoring/src/FpeMonitorPlatformLinuxX86_64.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Pass geo context to SurfaceArray lookup and return std::span
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix
  Plugins/ActSVG/src/SurfaceArraySvgConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore: Cleanup Geant4 simulation code (#5287)
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/AlgebraConverters.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MagneticFieldWrapper.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MaterialPhysicsList.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/MaterialSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleKillAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/ParticleTrackingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSteppingAction.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SimParticleTranslation.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SteppingActionList.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/UnitConversion.hpp
  Examples/Algorithms/Geant4/src/AlgebraConverters.cpp
  Examples/Algorithms/Geant4/src/MagneticFieldWrapper.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Algorithms/Geant4/src/SimParticleTranslation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Apply suggestion from @andiwand
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Update Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: Install git through brew in macos
  .github/actions/dependencies/action.yml
Due: leftover_conflict_markers

ci debugging
  .github/actions/dependencies/action.yml
  .github/workflows/builds.yml
  CI/dependencies/git-wrapper.sh
Due: leftover_conflict_markers

add lepton jet types
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/ParticleIdHelper.cpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Jets.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
