Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

ci: fetch link-ignore list with curl only
  docs/check_links.sh
Due: leftover_conflict_markers

ci: move external doc link checking to a scheduled retry-based sweep
  .github/workflows/docs.yml
  docs/check_links.sh
Due: leftover_conflict_markers

ci: do not fail internal link check on Doxygen anchors
  docs/check_links.sh
Due: leftover_conflict_markers

pr feedback
  Detray/core/include/detray/builders/homogeneous_material_factory.hpp
  Detray/tests/integration_tests/cpu/builders/homogeneous_material_builder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Address review feedback on the GPU job port
  .github/workflows/builds.yml
  .github/workflows/detray.yml
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

First stab at frustum navigation policy
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Making the test compile with the mockup
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/FrustumNavigationTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Fixes for the new frustum navigation and test
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Tests/UnitTests/Core/Navigation/FrustumNavigationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

More fixes for the frustum nav
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/FrustumNavigationPolicy.cpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Tests/UnitTests/Core/Navigation/FrustumNavigationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Update
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fixes, some other stuff
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/Navigator.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix initializeCandidates
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fixes
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Minor fixes
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/Utilities/BoundingBox.ipp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Better bounding boxes
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

More fixes and debugging
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Clean up
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/Utilities/BoundingBox.ipp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
  Core/src/Navigation/NavigationStream.cpp
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Cleanup
  Tests/UnitTests/Core/Navigation/FrustumNavigationTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

More cleaning
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/src/Geometry/StaticBlueprintNode.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix error introduced in rebase
  Core/src/Navigation/Navigator.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Do not enter a space point into a truth seed twice (#5863)
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: Port GPU jobs from GitLab to GitHub Actions (#5859)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/detray.yml
  .github/workflows/traccc.yml
  .gitignore
  .gitlab-ci.yml
  .merge-sentinel.yml
  CI/bump_versions.py
  CI/dependencies/download_models.sh
  CI/dependencies/setup.sh
  CMakePresets.json
  Detray/CMakePresets.json
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers, format-json

feat: Add pytests for material validation (#5627)
  CI/check_unused_files.py
  Detray/pytest.ini
  Detray/python/Tests/tests/conftest.py
  Detray/python/Tests/tests/test_configs.py
  Detray/python/Tests/tests/test_material_validation.py
Due: leftover_conflict_markers

feat: Remove checks for scattering noise arguments (#5627)
  Detray/tests/tools/python/options/propagation_options.py
Due: leftover_conflict_markers

fix: Double escape in propagation argument help message (#5627)
  Detray/tests/tools/python/options/propagation_options.py
Due: leftover_conflict_markers

refactor: Reduce the GNN non-CUDA fallbacks to one call site each
  Plugins/Gnn/CMakeLists.txt
  Plugins/Gnn/src/CudaUnavailable.cpp
  Plugins/Gnn/src/CudaUnavailable.hpp
  Plugins/Gnn/src/Stages.cpp
  Plugins/Gnn/src/Tensor.cpp
  Plugins/Gnn/src/buildEdges.cpp
  Plugins/Gnn/src/printCudaMemInfo.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Compile the GNN plugin's non-CUDA paths in gnn_build
  .github/workflows/builds.yml
Due: leftover_conflict_markers

ci: Build the GNN job with warnings as errors
  CMakePresets.json
Due: leftover_conflict_markers, format-json

ci: Stop building the unit tests the GNN job never runs
  CMakePresets.json
Due: leftover_conflict_markers, format-json

chore: Remove Unused Algebra Header, main branch (2026.08.06.) (#5836)
  Traccc/plugins/algebra/array/include/traccc/plugins/algebra/array_definitions.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Select the GNN device backend at link time
  Plugins/Gnn/CMakeLists.txt
  Plugins/Gnn/src/CudaUnavailable.hpp
  Plugins/Gnn/src/DeviceOps.hpp
  Plugins/Gnn/src/DeviceOpsNoCuda.cpp
  Plugins/Gnn/src/Stages.cpp
  Plugins/Gnn/src/Tensor.cpp
  Plugins/Gnn/src/Tensor.cu
  Plugins/Gnn/src/buildEdges.cpp
  Plugins/Gnn/src/buildEdgesFRNN.cpp
  Plugins/Gnn/src/buildEdgesFRNNNoCuda.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Added bound to cartesian transformation
  Core/include/Acts/EventData/TransformationHelpers.hpp
  Core/src/EventData/TransformationHelpers.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Synthetic space point event generator in Fatras
  CMakeLists.txt
  Fatras/CMakeLists.txt
  Fatras/README.md
  Fatras/include/ActsFatras/Synthetic/DetectorLayout.hpp
  Fatras/include/ActsFatras/Synthetic/EventConfig.hpp
  Fatras/include/ActsFatras/Synthetic/EventCsvWriter.hpp
  Fatras/include/ActsFatras/Synthetic/EventGenerator.hpp
  Fatras/include/ActsFatras/Synthetic/SeedingTruth.hpp
  Fatras/include/ActsFatras/Synthetic/SyntheticEvent.hpp
  Fatras/include/ActsFatras/Synthetic/detail/GeneratorScratch.hpp
  Fatras/include/ActsFatras/Synthetic/detail/Helix.hpp
  Fatras/include/ActsFatras/Synthetic/detail/ParticlePropagator.hpp
  Fatras/include/ActsFatras/Synthetic/detail/PrimaryGenerator.hpp
  Fatras/include/ActsFatras/Synthetic/detail/Propagation.hpp
  Fatras/include/ActsFatras/Synthetic/detail/Sampling.hpp
  Fatras/src/Synthetic/DetectorLayout.cpp
  Fatras/src/Synthetic/EventConfig.cpp
  Fatras/src/Synthetic/EventCsvWriter.cpp
  Fatras/src/Synthetic/EventGenerator.cpp
  Fatras/src/Synthetic/SeedingTruth.cpp
  Fatras/src/Synthetic/detail/ParticlePropagator.cpp
  Fatras/src/Synthetic/detail/PrimaryGenerator.cpp
  Fatras/src/Synthetic/detail/Propagation.cpp
  Fatras/src/Synthetic/detail/Sampling.cpp
  Tests/UnitTests/Fatras/CMakeLists.txt
  Tests/UnitTests/Fatras/Synthetic/CMakeLists.txt
  Tests/UnitTests/Fatras/Synthetic/DetectorLayoutTests.cpp
  Tests/UnitTests/Fatras/Synthetic/EventGeneratorTests.cpp
  Tests/UnitTests/Fatras/Synthetic/HelixTests.cpp
  Tests/UnitTests/Fatras/Synthetic/PropagationTests.cpp
  docs/groups/fatras.md
  docs/namespaces.dox
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros

Added test
  Tests/UnitTests/Core/EventData/TransformHelpersTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Build a synthetic detector a subsystem at a time
  Fatras/include/ActsFatras/Synthetic/DetectorLayout.hpp
  Fatras/src/Synthetic/DetectorLayout.cpp
  Tests/UnitTests/Fatras/Synthetic/DetectorLayoutTests.cpp
  docs/groups/fatras.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Read and write synthetic detectors, their material and their configuration
  .gitignore
  Fatras/CMakeLists.txt
  Fatras/Json/CMakeLists.txt
  Fatras/Json/include/ActsFatras/Json/DataDirectory.hpp
  Fatras/Json/include/ActsFatras/Json/DetectorDescriptionJsonConverter.hpp
  Fatras/Json/include/ActsFatras/Json/EventConfigJsonConverter.hpp
  Fatras/Json/src/DataDirectory.cpp
  Fatras/Json/src/DetectorDescriptionJsonConverter.cpp
  Fatras/Json/src/EventConfigJsonConverter.cpp
  Fatras/data/generic-pixel-description.json
  Fatras/data/generic-pixel-material.json
  Fatras/include/ActsFatras/Synthetic/DetectorLayout.hpp
  Fatras/src/Synthetic/DetectorLayout.cpp
  Tests/UnitTests/Fatras/CMakeLists.txt
  Tests/UnitTests/Fatras/Json/CMakeLists.txt
  Tests/UnitTests/Fatras/Json/DetectorDescriptionJsonConverterTests.cpp
  Tests/UnitTests/Fatras/Json/EventConfigJsonConverterTests.cpp
  docs/groups/fatras.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros, format-json

first GridSurfaceMaterial migration step
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Revert GridSurfaceMaterial migration step
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Remove GridSurfaceMaterial migration residue
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
