Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

make it testable
  Examples/Scripts/Python/material_validation.py
  Plugins/Json/include/ActsPlugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/src/JsonMaterialDecorator.cpp
  Python/Examples/tests/test_grid_material_mapping.py
  docs/pages/examples/material_mapping_howto.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: serialize material maps directly without a new writer
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/TrackingGeometryMaterial.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/CMakeLists.txt
  Examples/Io/Json/include/ActsExamples/Io/Json/TrackingGeometryMaterialJsonWriter.hpp
  Examples/Io/Json/src/TrackingGeometryMaterialJsonWriter.cpp
  Examples/Scripts/Python/geometry.py
  Examples/Scripts/Python/itk.py
  Examples/Scripts/Python/material_mapping.py
  Python/Core/src/Material.cpp
  Python/Examples/src/MaterialMapping.cpp
  Python/Examples/src/plugins/Json.cpp
  Python/Examples/tests/test_material.py
  Python/Examples/tests/test_material_mapping.py
  Python/Examples/tests/test_writer.py
  Tests/UnitTests/Core/Material/TrackingGeometryMaterialTests.cpp
  Tests/UnitTests/Examples/Algorithms/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/MaterialMapping/MaterialMappingTests.cpp
  Tests/UnitTests/Examples/Io/Json/CMakeLists.txt
  Tests/UnitTests/Examples/Io/Json/TrackingGeometryMaterialJsonWriterTests.cpp
  docs/pages/examples/material_mapping_howto.md
  docs/pages/material_map_json_schema.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: reuse states for unique completed CKF branches
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: Make PyPI landing page nicer (#6227)
  CI/check_unused_files.py
  CI/pypi_readme.md
  Python/Examples/tests/test_pypi_readme.py
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies

perf: reuse selected calibrated CKF track states
  Core/include/Acts/TrackFinding/TrackStateCreator.hpp
  Tests/UnitTests/Core/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Core/TrackFinding/TrackStateCreatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: sort distinct doublet slopes using integer keys
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding/TripletSeeder.hpp
  Core/src/Seeding/TripletSeeder.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/DoubletSeedFinderSortingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: access built-in track columns through typed references
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

test: name unused track-state creator parameters
  Tests/UnitTests/Core/TrackFinding/TrackStateCreatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: document packed-sort parameters and test sign explicitly
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Optimizing the Frustum Navigation Policy (#6255)
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Preserve input order in cuboid portal shell stacks (#6268)
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Tests/UnitTests/Core/Geometry/CuboidPortalShellTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: document typed accessors and retain immutable test proxy
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Avoid allocating unused calibrated source-link slots
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Specialize small finite Kalman projector products
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore(traccc): Remove vestigial CPU measurement creation code
  Traccc/core/CMakeLists.txt
  Traccc/core/include/traccc/clusterization/details/measurement_creation.hpp
  Traccc/core/include/traccc/clusterization/impl/measurement_creation.ipp
  Traccc/device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): Correct measurement variance computation
  Traccc/core/include/traccc/edm/measurement_collection.hpp
  Traccc/device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  Traccc/tests/common/tests/cca_test.hpp
  Traccc/tests/cuda/test_clusterization.cpp
  Traccc/tests/cuda/test_spacepoint_formation.cpp
  Traccc/tests/hip/test_spacepoint_formation.cpp
  Traccc/tests/sycl/test_clusterization.cpp
  Traccc/tests/sycl/test_spacepoint_formation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: qualify dependent calibrated-access test calls
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Release ownership of plugin
  CODEOWNERS
Due: leftover_conflict_markers

fix: Use native units and the 3D angle in Fatras GeneralMixture
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/detail/GeneralMixture.hpp
  Tests/UnitTests/Fatras/Physics/ScatteringTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: avoid recording unnecessary vecmem events
  Detray/core/include/detray/core/detail/container_buffers.hpp
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/alpaka/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/device/common/include/traccc/fitting/device/impl/kalman_fitting_algorithm.ipp
  Traccc/device/common/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/common/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/device/common/src/fitting/kalman_fitting_algorithm.cpp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/common/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/common/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/common/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/cuda/src/ambiguity_resolution/greedy_ambiguity_resolution_algorithm.cu
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cu
  Traccc/device/cuda/src/sanity/contiguous_on.cuh
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_build_measurement_ranges_buffer.hip
  Traccc/device/hip/src/sanity/contiguous_on.hpp
  Traccc/device/sycl/src/finding/combinatorial_kalman_filter_algorithm.sycl
  Traccc/device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm.sycl
  Traccc/examples/run/alpaka/apps/seq_example_alpaka.cpp
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/hip/src/full_chain_algorithm.cpp
  Traccc/tests/alpaka/test_cca.cpp
  Traccc/tests/cuda/test_cca.cpp
  Traccc/tests/hip/test_cca.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): derive measurements_sorting_algorithm from language specific algorithm_base
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/include/traccc/hip/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/sycl/include/traccc/sycl/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): move common code to common measurement_sorting_algorithm
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/clusterization/device/measurement_sorting_algorithm.hpp
  Traccc/device/common/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/include/traccc/hip/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/sycl/include/traccc/sycl/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): move synchronize and buffer setup to common algorithm
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/common/include/traccc/clusterization/device/measurement_sorting_algorithm.hpp
  Traccc/device/common/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/include/traccc/hip/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/sycl/include/traccc/sycl/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feature(traccc): add suspension in measurement_sorting_algorithm
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/common/include/traccc/clusterization/device/measurement_sorting_algorithm.hpp
  Traccc/device/common/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/include/traccc/hip/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/sycl/include/traccc/sycl/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/hip/src/full_chain_algorithm.cpp
  Traccc/examples/run/sycl/src/full_chain_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

last changes
  Core/include/Acts/Seeding/GlobalPatternFinder.hpp
  Core/include/Acts/Seeding/GlobalPatternFinder.ipp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/GlobalPatternFinderAuxiliaries.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Reorder code
  CMakeLists.txt
  Detray/CMakeLists.txt
  Detray/core/include/detray/builders/detail/material_deduplication.hpp
  Detray/core/include/detray/builders/homogeneous_material_builder.hpp
  Detray/core/include/detray/builders/homogeneous_material_factory.hpp
  Detray/core/include/detray/builders/material_map_builder.hpp
  Detray/core/include/detray/builders/material_map_factory.hpp
  Detray/core/include/detray/builders/surface_factory.hpp
  Detray/core/include/detray/material/material.hpp
  Detray/core/include/detray/material/material_rod.hpp
  Detray/core/include/detray/material/material_slab.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/python/Io/src/IoModuleEntry.cpp
  Detray/tests/integration_tests/cpu/builders/homogeneous_material_builder.cpp
  Detray/tests/integration_tests/cpu/builders/material_map_builder.cpp
  Detray/tests/tools/python/detector_display.py
  Detray/tests/tools/python/material_validation.py
  Detray/tests/tools/python/options/detector_io_options.py
  Detray/tests/unit_tests/cpu/CMakeLists.txt
  Detray/tests/unit_tests/cpu/builders/material_deduplication.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  docs/pages/contributing/building_acts.md
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros

Absorb is_identical back into the respective classes equality operator
  CMakeLists.txt
  Detray/core/include/detray/builders/detail/material_deduplication.hpp
  Detray/core/include/detray/builders/grid_builder.hpp
  Detray/core/include/detray/builders/grid_factory.hpp
  Detray/core/include/detray/builders/homogeneous_material_builder.hpp
  Detray/core/include/detray/builders/homogeneous_volume_material_builder.hpp
  Detray/core/include/detray/builders/material_map_builder.hpp
  Detray/core/include/detray/material/material.hpp
  Detray/core/include/detray/material/material_rod.hpp
  Detray/core/include/detray/material/material_slab.hpp
  Detray/core/include/detray/navigation/accelerators/spatial_grid.hpp
  Detray/core/include/detray/utils/grid/axis.hpp
  Detray/core/include/detray/utils/grid/detail/bin_storage.hpp
  Detray/core/include/detray/utils/grid/grid.hpp
  Detray/core/include/detray/utils/grid/grid_collection.hpp
  Detray/tests/integration_tests/cpu/builders/material_map_builder.cpp
  Detray/tests/tools/python/material_validation.py
  Detray/tests/unit_tests/cpu/builders/homogeneous_material_builder.cpp
  Detray/tests/unit_tests/cpu/builders/homogeneous_volume_material_builder.cpp
  Detray/tests/unit_tests/cpu/builders/material_map_builder.cpp
  Detray/tests/unit_tests/cpu/navigation/accelerators/spatial_grid.cpp
  Detray/tests/unit_tests/cpu/utils/grids/grid.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  docs/pages/contributing/building_acts.md
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros

Simplify the homogeneous material builder
  Detray/core/include/detray/builders/homogeneous_material_builder.hpp
  Detray/tests/integration_tests/cpu/builders/homogeneous_material_builder.cpp
  Detray/tests/unit_tests/cpu/builders/homogeneous_material_builder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

CI fixes
  Detray/core/include/detray/builders/homogeneous_material_builder.hpp
  Detray/core/include/detray/material/material.hpp
  Detray/core/include/detray/utils/grid/grid.hpp
  Detray/tests/integration_tests/cpu/builders/material_map_builder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
