Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

docs: group Python testing and update navigation links
  Python/Examples/tests/conftest.py
  docs/DoxygenLayout.xml
  docs/groups/python/python_testing.md
  docs/old/conf.py
Due: leftover_conflict_markers

ci: Do not upload the GSF simulation in the physmon artifact (#6238)
  .github/workflows/builds.yml
Due: leftover_conflict_markers

feat(json): add configurable material quantization
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryMaterialJsonConverter.hpp
  Plugins/Json/src/TrackingGeometryMaterialJsonConverter.cpp
  Python/Core/tests/test_material_document.py
  Python/Plugins/src/Json.cpp
  Tests/UnitTests/Plugins/Json/TrackingGeometryMaterialJsonConverterTests.cpp
  docs/pages/material_map_json_schema.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Go back to using system eigen3 in detray (should be picked up from ACTS)
  .github/workflows/detray.yml
Due: leftover_conflict_markers

feat: use stable layer keys for gen3 mapping
  Examples/Scripts/Python/material_mapping.py
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

docs: Improve pyacts documentation (#6194)
  CI/check_unused_files.py
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Examples/tests/conftest.py
  docs/DoxygenLayout.xml
  docs/examples/generate_python_performance_plots.py
  docs/examples/test_custom_algorithm.py
  docs/examples/test_performance_and_plotting.py
  docs/examples/test_python_getting_started.py
  docs/figures/python/track_residual.svg
  docs/figures/python/tracking_efficiency.svg
  docs/groups/python/custom_algorithms.md
  docs/groups/python/data_io.md
  docs/groups/python/index.md
  docs/groups/python/performance_and_plotting.md
  docs/groups/python/python_testing.md
  docs/old/conf.py
Due: leftover_conflict_markers

Implement builder options
  Detray/core/include/detray/builders/detector_builder.hpp
  Detray/core/include/detray/builders/grid_builder.hpp
  Detray/core/include/detray/builders/homogeneous_material_builder.hpp
  Detray/core/include/detray/builders/homogeneous_volume_material_builder.hpp
  Detray/core/include/detray/builders/material_map_builder.hpp
  Detray/core/include/detray/builders/volume_builder.hpp
  Detray/core/include/detray/builders/volume_builder_interface.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/tests/include/detray/test/common/build_telescope_detector.hpp
  Detray/tests/include/detray/test/common/build_toy_detector.hpp
  Detray/tests/include/detray/test/common/build_wire_chamber.hpp
  Detray/tests/include/detray/test/utils/prefill_detector.hpp
  Detray/tests/integration_tests/cpu/builders/grid_builder.cpp
  Detray/tests/integration_tests/cpu/builders/homogeneous_material_builder.cpp
  Detray/tests/integration_tests/cpu/builders/material_map_builder.cpp
  Detray/tests/integration_tests/cpu/builders/volume_builder.cpp
  Detray/tests/integration_tests/io/io_json_detector_roundtrip.cpp
  Detray/tests/unit_tests/cpu/builders/detector_builder.cpp
  Detray/tests/unit_tests/cpu/builders/grid_builder.cpp
  Detray/tests/unit_tests/cpu/builders/homogeneous_volume_material_builder.cpp
  Detray/tests/unit_tests/cpu/builders/material_deduplication.cpp
  Detray/tests/unit_tests/cpu/builders/volume_builder.cpp
  Detray/tutorials/src/cpu/detector/do_it_yourself_detector.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Add per-event track multiplicity histogram to pattern recognition performance
  Examples/Framework/include/ActsExamples/Validation/PatternRecognitionPerformanceCollector.hpp
  Examples/Framework/src/Validation/PatternRecognitionPerformanceCollector.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPatternRecognitionPerformanceWriter.hpp
  Examples/Io/Root/src/RootPatternRecognitionPerformanceWriter.cpp
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/src/plugins/Root.cpp
  Python/Examples/tests/test_examples.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: document each member of the doublet record
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

rm artifact
  Python/Plugins/CMakeLists.txt
Due: leftover_conflict_markers

add steering file generator for MillePede-II
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/MillePedeSolverAlgorithm.hpp
  Examples/Algorithms/AlignmentMillePede/src/MillePedeSolverAlgorithm.cpp
  Plugins/Mille/CMakeLists.txt
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeError.hpp
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeSteering.hpp
  Plugins/Mille/src/MillePedeError.cpp
  Plugins/Mille/src/MillePedeSteering.cpp
  Python/Examples/src/plugins/AlignmentMillePede.cpp
  Python/Plugins/src/Mille.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
  Tests/UnitTests/Plugins/Mille/MillePedeSteeringTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update the MP example and add a nice plot!
  Examples/Scripts/Python/alignment_visualisation.py
  Examples/Scripts/Python/millepede_alignment.py
Due: leftover_conflict_markers

a bit of new devilry
  Examples/Scripts/Python/millepede_alignment.py
  Python/Core/python/_adapter.py
  Python/Plugins/CMakeLists.txt
  Python/Plugins/python/mille.py
Due: leftover_conflict_markers

reduce brimstone by 20%
  Examples/Scripts/Python/millepede_alignment.py
  Plugins/Mille/src/MillePedeSteering.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/python/mille.py
  Python/Plugins/python/plugin.py.in
Due: license, type_t, leftover_conflict_markers, math_macros

feat(detray): Implement builder options (#6235)
  Detray/core/include/detray/builders/detector_builder.hpp
  Detray/core/include/detray/builders/grid_builder.hpp
  Detray/core/include/detray/builders/homogeneous_material_builder.hpp
  Detray/core/include/detray/builders/homogeneous_volume_material_builder.hpp
  Detray/core/include/detray/builders/material_map_builder.hpp
  Detray/core/include/detray/builders/volume_builder.hpp
  Detray/core/include/detray/builders/volume_builder_interface.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/tests/include/detray/test/common/build_telescope_detector.hpp
  Detray/tests/include/detray/test/common/build_toy_detector.hpp
  Detray/tests/include/detray/test/common/build_wire_chamber.hpp
  Detray/tests/include/detray/test/utils/prefill_detector.hpp
  Detray/tests/integration_tests/cpu/builders/grid_builder.cpp
  Detray/tests/integration_tests/cpu/builders/homogeneous_material_builder.cpp
  Detray/tests/integration_tests/cpu/builders/material_map_builder.cpp
  Detray/tests/integration_tests/cpu/builders/volume_builder.cpp
  Detray/tests/integration_tests/io/io_json_detector_roundtrip.cpp
  Detray/tests/unit_tests/cpu/builders/detector_builder.cpp
  Detray/tests/unit_tests/cpu/builders/grid_builder.cpp
  Detray/tests/unit_tests/cpu/builders/homogeneous_volume_material_builder.cpp
  Detray/tests/unit_tests/cpu/builders/material_deduplication.cpp
  Detray/tests/unit_tests/cpu/builders/volume_builder.cpp
  Detray/tutorials/src/cpu/detector/do_it_yourself_detector.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf(GridTripletSeeding): Sort doublets by cotTheta with a rank or radix sort
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
  Core/include/Acts/Seeding/TripletSeeder.hpp
  Core/include/Acts/Seeding/detail/SortByFloat.hpp
  Core/src/Seeding/TripletSeeder.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/SortByFloatTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: name cotThetaError2 in the comment above the cotTheta cuts
  Core/src/Seeding/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix(traccc): Sort measurements by surface before cell index
  Traccc/device/common/include/traccc/clusterization/device/measurement_sorting.hpp
  Traccc/device/common/include/traccc/finding/device/geo_id_surface_comparator.hpp
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cu
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_input_is_valid.hip
  Traccc/device/sycl/src/finding/combinatorial_kalman_filter_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add GBTS to physmon single muon (#6172)
  CI/physmon/phys_perf_mon.sh
  CI/physmon/physmon_common.py
  CI/physmon/reference.sha256
  CI/physmon/workflows/physmon_trackfinding_1muon.py
Due: leftover_conflict_markers

fix(traccc): Synchronize before releasing measurement sorting buffers
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
Due: license, type_t, leftover_conflict_markers, math_macros

review comments
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeSteering.hpp
  Plugins/Mille/src/MillePedeSteering.cpp
  Python/Core/python/_adapter.py
  Python/Plugins/src/Mille.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

review related fixes to python script
  Examples/Scripts/Python/millepede_alignment.py
Due: leftover_conflict_markers

refactor: Take seed deduplicator keys as a span
  Core/include/Acts/TrackFinding/SeedDeduplicator.hpp
  Core/src/TrackFinding/SeedDeduplicator.cpp
  Tests/UnitTests/Core/TrackFinding/SeedDeduplicatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Make the shared score of the seed deduplicator private
  Core/include/Acts/TrackFinding/SeedDeduplicator.hpp
  Core/src/TrackFinding/SeedDeduplicator.cpp
  Tests/UnitTests/Core/TrackFinding/SeedDeduplicatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: Keep the seed deduplicator threshold formula on one line
  Core/include/Acts/TrackFinding/SeedDeduplicator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: add stereoAngles to TelescopeG4
  Examples/Detectors/TelescopeDetector/src/TelescopeG4DetectorConstruction.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

removed setZero()
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

Refactor the detector reader to make payload accessible directly
  Detray/io/include/detray/io/backend/detail/grid_reader.hpp
  Detray/io/include/detray/io/backend/geometry_reader.hpp
  Detray/io/include/detray/io/backend/geometry_writer.hpp
  Detray/io/include/detray/io/backend/homogeneous_material_reader.hpp
  Detray/io/include/detray/io/backend/material_map_reader.hpp
  Detray/io/include/detray/io/backend/surface_grid_reader.hpp
  Detray/io/include/detray/io/frontend/detail/detector_components_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/io/include/detray/io/frontend/impl/json_readers.hpp
  Detray/io/include/detray/io/frontend/payloads.hpp
  Detray/io/include/detray/io/frontend/reader_interface.hpp
  Detray/io/include/detray/io/json/detail/json_geometry_io.hpp
  Detray/io/include/detray/io/json/json_converter.hpp
  Detray/tests/integration_tests/io/io_json_detector_roundtrip.cpp
  Detray/tests/unit_tests/io/io_json_payload.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  Traccc/io/include/traccc/io/detector.hpp
  Traccc/io/src/read_detector.cpp
  Traccc/tests/alpaka/test_ckf_toy_detector.cpp
  Traccc/tests/cuda/test_ckf_toy_detector.cpp
  Traccc/tests/cuda/test_kalman_fitter_telescope.cpp
  Traccc/tests/sycl/test_ckf_toy_detector.cpp
  Traccc/tests/sycl/test_kalman_fitter_telescope.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Name the seed deduplicator cut `duplicateThreshold`
  Core/include/Acts/TrackFinding/SeedDeduplicator.hpp
  Core/src/TrackFinding/SeedDeduplicator.cpp
  Tests/UnitTests/Core/TrackFinding/SeedDeduplicatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Apply to Detray Plaugin
  Detray/core/include/detray/core/name_map.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/io/include/detray/io/json/detector_reader.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  Traccc/io/src/read_detector.cpp
  Traccc/io/src/read_detector_description.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Adress comments
  Detray/io/include/detray/io/backend/detail/basic_converter.hpp
  Detray/io/include/detray/io/backend/homogeneous_material_reader.hpp
  Detray/io/include/detray/io/backend/surface_grid_reader.hpp
  Detray/io/include/detray/io/frontend/detail/detector_components_reader.hpp
  Detray/io/include/detray/io/frontend/detail/detector_components_writer.hpp
  Detray/io/include/detray/io/frontend/detector_reader.hpp
  Detray/io/include/detray/io/frontend/detector_reader_config.hpp
  Detray/io/include/detray/io/frontend/detector_writer.hpp
  Detray/io/include/detray/io/frontend/detector_writer_config.hpp
  Detray/io/include/detray/io/frontend/payloads.hpp
  Detray/io/include/detray/io/frontend/reader_interface.hpp
  Detray/io/include/detray/io/frontend/writer_interface.hpp
  Detray/io/include/detray/io/json/detail/json_common_io.hpp
  Detray/io/include/detray/io/json/json_converter.hpp
  Detray/tests/integration_tests/io/io_json_detector_roundtrip.cpp
  Detray/tests/tools/src/cpu/generate_telescope_detector.cpp
  Detray/tests/tools/src/cpu/generate_wire_chamber.cpp
  Detray/tests/unit_tests/io/io_json_detector_writer.cpp
  Detray/tests/unit_tests/io/io_json_payload.cpp
  Detray/tutorials/src/cpu/detector/do_it_yourself_detector.cpp
  Detray/tutorials/src/cpu/detector/write_detector_to_file.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  Traccc/examples/simulation/simulate_telescope.cpp
  Traccc/examples/simulation/simulate_toy_detector.cpp
  Traccc/examples/simulation/simulate_wire_chamber.cpp
  Traccc/io/include/traccc/io/read_detector.hpp
  Traccc/io/src/read_detector.cpp
  Traccc/io/src/read_detector_description.cpp
  Traccc/tests/common/tests/kalman_fitting_momentum_resolution_test.cpp
  Traccc/tests/common/tests/kalman_fitting_telescope_test.hpp
  Traccc/tests/common/tests/toy_detector_fixture.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Fixes after rebase
  Detray/core/include/detray/core/name_map.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Python/Plugins/src/Detray.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Diff
  Detray/tests/include/detray/test/validation/detector_scan_utils.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add the if statement back
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

HIP fixes
  Detray/core/include/detray/core/name_map.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix error after rebase
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fixes after rebase
  Detray/io/include/detray/io/backend/detail/basic_converter.hpp
  Detray/io/include/detray/io/backend/homogeneous_material_reader.hpp
  Detray/io/include/detray/io/frontend/reader_interface.hpp
  Detray/io/include/detray/io/frontend/writer_interface.hpp
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_create_device_detector.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_find_tracks_kernel.hip
  Traccc/io/src/read_detector.cpp
  Traccc/io/src/read_detector_description.cpp
  Traccc/tests/hip/test_ckf_toy_detector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Address new comments
  Examples/Scripts/Python/geometry_validation.py
  Examples/Scripts/Python/propagation_validation.py
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Python/Plugins/src/Detray.cpp
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_create_device_detector.hip
  Traccc/device/hip/src/finding/combinatorial_kalman_filter_algorithm_find_tracks_kernel.hip
  Traccc/tests/hip/test_ckf_toy_detector.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fix concept in io
  Detray/io/include/detray/io/utils/io_metadata.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
