Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

split into impl file
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

api refactor splitting up the multi-duty assemblers into separate ones
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Python/Examples/python/odd.py
  Python/Examples/src/plugins/DD4hep.cpp
  Python/Examples/tests/test_geometry.py
  blueprint_builder_api.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clean up: add plane layer helper
  Core/src/Surfaces/SurfaceArray.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

layerType check
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove old code from original API design
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add first facilities for handling Plane Layers
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make customizers more generic
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(DD4hep): use stable grouped layer names and align Gen3 geometry counts
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
  Python/Examples/tests/test_geometry.py
Due: license, type_t, leftover_conflict_markers, math_macros

drop tgeo related constants
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(DD4hep/Root): add initial TGeo blueprint backend and ODD harness
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add doc comments
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoVolumeConverter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

another clang-tidy fix
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

dd4hep: make TGeo layer customization self-contained
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

prepare for tgeo backend
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(Root): make the TGeo blueprint backend lazy and path-derived
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

blueprintbuilder impl tuning
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(Blueprint): make barrel-endcap classification optional for backends
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs update
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

even more drunk?
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang-format is drunk
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lint
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Python/Examples/src/plugins/DD4hep.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix test expectations
  Python/Examples/tests/test_geometry.py
Due: leftover_conflict_markers

lint
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(DD4hep/TGeo): move beampipe handling to DD4hep and simplify TGeo
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

include tuning, namespaces
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix compiler warnings
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove some unnecessary / leftover changes
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

move odd construction to free funcs in core
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(TGeo ODD): expose volume metadata in Python and match Gen3 counts
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
  Python/Core/src/Geometry.cpp
  Python/Examples/tests/test_geometry.py
Due: license, type_t, leftover_conflict_markers, math_macros

Apply suggestions from code review
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies

remove BinUtility from DD4hep and ROOT/IO
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/BinnedSurfaceMaterialAccumulator.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepMaterialHelpers.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepBinningHelpers.cpp
  Plugins/DD4hep/src/DD4hepMaterialHelpers.cpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/include/ActsPlugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Material/AccumulatedSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialAccumulatorTests.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ProtoSurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Follow-up after SurfaceArray changes in #5186
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/LayerCreator.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

remove more BinUtility
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorBuilder.cpp
  Examples/Scripts/Python/geometry.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove duplicated checking code
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

more
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Also fix JsonMaterialMap writing
  Plugins/Json/include/ActsPlugins/Json/GeometryJsonKeys.hpp
  Plugins/Json/include/ActsPlugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Json/src/UtilitiesJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/MaterialJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialMapJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/UtilitiesJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

apply feedback
  Examples/Framework/include/ActsExamples/Validation/TrackFinderPerformanceCollector.hpp
  Examples/Framework/src/Validation/TrackFinderPerformanceCollector.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Python/Examples/src/PythonSpecific.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add ckf tracks option to truth jet script
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Examples/Scripts/Python/truth_jet_test.py
Due: license, type_t, leftover_conflict_markers, math_macros

fix issues
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
