Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

fix non-mutable mutex in const fcn
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/MillePedeAlignmentSandbox.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

push Mille version (now on SPack)
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

add mp-ii thirdparty installer and update CI presets to use Spack versions of Mille/MP2
  CMakeLists.txt
  CMakePresets.json
  cmake/ActsExternSources.cmake
  docs/pages/contributing/building_acts.md
  thirdparty/Mille/CMakeLists.txt
  thirdparty/Millepede-II/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers, format-json

fix integer comparison
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

(temporarily) go back to Mille 01-00-00
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

clean up Eigen include
  Plugins/Mille/src/Helpers.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Revert "push Mille version (now on SPack)"
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

remove some hacks
  CMakeLists.txt
  thirdparty/Millepede-II/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

tune cov regularisation separately for with/out trimming of poorly constrained directions
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsKalmanToMilleConsistency.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

typo and regularisation tweak
  Plugins/Mille/src/ActsToMille.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix small typo 2
  Plugins/Mille/src/ActsToMille.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Apply suggestions from code review
  Plugins/Mille/src/ActsToMille.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update MP2 version
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

temporary workaround for lcg builds while waiting for MP2-05-01-02 to arrive on spack
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

remove -Werror from MP-II subproject build until latest version
  thirdparty/Millepede-II/CMakeLists.txt
  thirdparty/Millepede-II/mp2.patch
Due: leftover_conflict_markers

do not use system Mille in lcg builds
  CMakePresets.json
Due: leftover_conflict_markers, format-json

--sanity;
  thirdparty/Millepede-II/CMakeLists.txt
Due: leftover_conflict_markers

try updating Spack version!
  .github/actions/dependencies/action.yml
  Examples/Scripts/Python/millepede_alignment_mod.py
  Updates.txt
  out/build/dev/CMakeCache.txt
  out/build/dev/CMakeFiles/3.26.5/CMakeSystem.cmake
  out/build/dev/CMakeFiles/3.31.8/CMakeSystem.cmake
  out/build/dev/CMakeFiles/CMakeConfigureLog.yaml
  out/build/dev/CMakeFiles/cmake.check_cache
Due: leftover_conflict_markers

try to ask for new spack
  .github/actions/dependencies/action.yml
Due: leftover_conflict_markers

update Mille to v01-00-03
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

bump millepede (again) to defeat overzealous CI
  CMakeLists.txt
  cmake/ActsExternSources.cmake
  thirdparty/Millepede-II/CMakeLists.txt
  thirdparty/Millepede-II/mp2.patch
Due: cmake_options, leftover_conflict_markers

while (true) { bang_head_on_desk(); try_new_thing();}
  thirdparty/Millepede-II/CMakeLists.txt
Due: leftover_conflict_markers

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

iterate
  cmake/ActsExternSources.cmake
Due: leftover_conflict_markers

update Mille and MP2 versions to be clang-friendly
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

unwanted files
  Examples/Scripts/Python/millepede_alignment_mod.py
  out/build/dev/CMakeCache.txt
  out/build/dev/CMakeFiles/3.26.5/CMakeSystem.cmake
  out/build/dev/CMakeFiles/3.31.8/CMakeSystem.cmake
  out/build/dev/CMakeFiles/CMakeConfigureLog.yaml
  out/build/dev/CMakeFiles/cmake.check_cache
Due: leftover_conflict_markers

one more
  Updates.txt
Due: leftover_conflict_markers

restore externals tag
  .gitlab-ci.yml
Due: leftover_conflict_markers

fix: added logging and simplified
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: pre-commit run
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Use latest machines
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

lazy import root in mat decorator
  Python/Core/python/__init__.py
Due: leftover_conflict_markers

fix: phi-wrap in TrackFitterPerformanceWriter (#5662)
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(Geometry): allow navigation policy factory functions to return unique_ptr
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Use flat set for hot set of processed surfaces
  Core/src/Navigation/NavigationStream.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(Geometry): rotate default navigation policy to per-volume selection
  Core/src/Geometry/BlueprintOptions.cpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: min max slight logic mishandle
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix(Navigation): restrict default cylinder policy to applicable volumes
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Geometry/BlueprintOptions.cpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Potential further improvements
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/Navigator.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

draft to match k4 needs
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
