Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

refactor: Tuning of jet OR
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
Due: license, type_t, math_macros

Delete TrackJet.hpp
  Examples/Framework/include/ActsExamples/EventData/TrackJet.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

docs: Fix doxygen warnings in Surfaces (#4669)
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/CurvilinearSurface.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/include/Acts/Surfaces/DiscBounds.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/EllipseBounds.hpp
  Core/include/Acts/Surfaces/InfiniteBounds.hpp
  Core/include/Acts/Surfaces/LineBounds.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PerigeeSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/Surfaces/RegularSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/include/Acts/Surfaces/SurfaceError.hpp
  Core/include/Acts/Surfaces/SurfaceMergingException.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

build: Make codegen respect system library flag
  cmake/ActsCodegen.cmake
  codegen/pyproject.toml
Due: codegen_dependencies

Fix constructor
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: added missing include statement in TrackSelector
  Core/include/Acts/TrackFinding/TrackSelector.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Lint fix
  Core/include/Acts/TrackFinding/TrackSelector.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

docs: Fix doxygen warnings in Utilities 2 (#4665)
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Core/include/Acts/Utilities/AnnealingUtility.hpp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/AnyGridView.hpp
  Core/include/Acts/Utilities/ArrayHelpers.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/AxisDefinitions.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Allow random sampler to be passed to HepMC3Reader
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Allow 16bit hit counter (#4674)
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
Due: license, type_t, math_macros

fix: Fix `NavigationStream` after #4390
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/NavigationStream.cpp
  Python/Core/python/__init__.py
Due: license, include_guards, pragma_once, type_t, math_macros

Add jet labeling, overlap removal and hepmc3 event
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/src/Definitions/ParticleId.cpp
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TrackToTruthJetAlgorithm.cpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Scripts/Python/track_to_truth_jet.py
  Examples/Scripts/Python/track_to_truth_test.py
  Plugins/FastJet/include/Acts/Plugins/FastJet/Jets.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Weekly Update: Regenerate requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Due: none

PR comments
  Plugins/Root/src/TGeoParser.cpp
  README.md
Due: license, type_t, math_macros

develop against CI
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/CudaUtils.hpp
  Plugins/Gnn/src/GnnPipeline.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

attempt to fix docs
  docs/_extensions/lazy_autodoc.py
  docs/plugins/dd4hep.md
  docs/plugins/geant4.md
Due: none

fix include path for Onnx
  Plugins/Onnx/include/ActsPlugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Onnx/include/ActsPlugins/Onnx/MLTrackClassifier.hpp
  Plugins/Onnx/include/ActsPlugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/include/ActsPlugins/Onnx/SeedClassifier.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

EDM4Hep moved
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepUtil.hpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementOutputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackInputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepTrackOutputConverter.cpp
  Examples/Io/EDM4hep/src/EDM4hepUtil.cpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/EventDataSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/GridSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/IndexedSurfacesSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/PortalSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/SurfaceSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/TrackingGeometrySvgConverter.hpp
  Plugins/Covfie/include/ActsPlugins/Covfie/FieldConversion.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayConverter.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/EDM4hep/CMakeLists.txt
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/TrackerHitCompatibility.hpp
  Plugins/EDM4hep/src/EDM4hepUtil.cpp
  Tests/UnitTests/Plugins/EDM4hep/ConvertTrackEDM4hepTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

next occation, ci fix
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/TensorVectorConversion.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

develop against CI
  Examples/Algorithms/TrackFindingGnn/include/ActsExamples/TrackFindingGnn/TrackFindingAlgorithmGnn.hpp
  Examples/Algorithms/TrackFindingGnn/src/createFeatures.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing namespacing
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLAlgorithm.cpp
  Examples/Algorithms/TrackFindingML/src/SeedFilterMLAlgorithm.cpp
  Plugins/Gnn/include/ActsPlugins/Gnn/TensorRTEdgeClassifier.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/TorchEdgeClassifier.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/TorchMetricLearning.hpp
  Plugins/Gnn/src/BoostTrackBuilding.cpp
  Plugins/Gnn/src/CudaTrackBuilding.cu
  Plugins/Gnn/src/GnnPipeline.cpp
  Plugins/Gnn/src/ModuleMapCuda.cu
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
  Plugins/Gnn/src/TensorRTEdgeClassifier.cpp
  Plugins/Gnn/src/TorchEdgeClassifier.cpp
  Plugins/Gnn/src/TorchMetricLearning.cpp
  Plugins/Gnn/src/TruthGraphMetricsHook.cpp
  Plugins/Gnn/src/buildEdges.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

try to fix SeedClassifier
  Plugins/Onnx/include/ActsPlugins/Onnx/SeedClassifier.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

hashing done
  CI/fpe_masks/requirements.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithmHashing.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithmHashing.cpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/AmbiguityResolutionMLAlgorithm.hpp
  Examples/Algorithms/TrackFindingML/include/ActsExamples/TrackFindingML/SeedFilterMLAlgorithm.hpp
  Examples/Framework/ML/include/ActsExamples/EventData/NeuralCalibrator.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/Hashing.cpp
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  Plugins/FpeMonitoring/include/ActsPlugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/Hashing/CMakeLists.txt
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTrainingConfig.hpp
  Plugins/Hashing/include/ActsPlugins/Hashing/AnnoyForwardDeclarations.hpp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingAlgorithm.hpp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingAlgorithm.ipp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingAlgorithmConfig.hpp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingAnnoy.hpp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingAnnoy.ipp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingTraining.hpp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingTraining.ipp
  Plugins/Hashing/include/ActsPlugins/Hashing/HashingTrainingConfig.hpp
  Plugins/Onnx/CMakeLists.txt
  Plugins/Onnx/include/Acts/Plugins/Onnx/AmbiguityTrackClassifier.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/MLTrackClassifier.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/SeedClassifier.hpp
  Plugins/Onnx/src/MLTrackClassifier.cpp
  Plugins/Onnx/src/OnnxRuntimeBase.cpp
  Tests/UnitTests/Plugins/Hashing/HashingSeedingTest.cpp
  docs/requirements.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fastjet done
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/FastJet/CMakeLists.txt
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.ipp
  Plugins/FastJet/src/Jets.cpp
  Tests/UnitTests/Plugins/FastJet/JetsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

adding Acts::
  Plugins/Onnx/include/ActsPlugins/Onnx/AmbiguityTrackClassifier.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update README
  README.md
Due: none

next occation
  Examples/Algorithms/TrackFindingML/src/AmbiguityResolutionMLAlgorithm.cpp
Due: license, type_t, math_macros

add missing ActsPlugins namespace
  Examples/Algorithms/TrackFindingGnn/include/ActsExamples/TrackFindingGnn/TrackFindingAlgorithmGnn.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang-format
  Plugins/Podio/include/ActsPlugins/Podio/PodioDynamicColumns.hpp
  Plugins/Podio/include/ActsPlugins/Podio/PodioTrackContainer.hpp
  Plugins/Podio/include/ActsPlugins/Podio/PodioTrackStateContainer.hpp
  Plugins/Podio/include/ActsPlugins/Podio/PodioUtil.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang-format
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelConverters.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElementITk.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/IGeoShapeConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GenericGeoShapeConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoIntersectionAnnulusConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoModelExtentHelper.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoPolygonConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoShiftConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoSubtractionConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoTubeConverter.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/detail/GeoUnionDoubleTrdConverter.hpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

using namespace fix
  Tests/UnitTests/Plugins/FpeMonitoring/FpeMonitorTests.cpp
Due: license, type_t, boost_test, math_macros

GNN tests
  Tests/UnitTests/Plugins/Gnn/ConnectedComponentCudaTests.cu
  Tests/UnitTests/Plugins/Gnn/GnnBoostTrackBuildingTests.cpp
  Tests/UnitTests/Plugins/Gnn/GnnEdgeBuildingTest.cpp
  Tests/UnitTests/Plugins/Gnn/GnnMetricHookTests.cpp
  Tests/UnitTests/Plugins/Gnn/GnnTensorConversionTests.cpp
  Tests/UnitTests/Plugins/Gnn/JunctionRemovalTests.cu
  Tests/UnitTests/Plugins/Gnn/TensorTests.cpp
Due: license, type_t, boost_test, math_macros

fpe monitoring done
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Framework/include/ActsExamples/Framework/AlgorithmContext.hpp
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Python/src/Framework.cpp
  Plugins/FpeMonitoring/CMakeLists.txt
  Plugins/FpeMonitoring/include/ActsPlugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Tests/UnitTests/Plugins/FpeMonitoring/FpeMonitorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

first set of sonarcloud fixes
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/DetectorSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/DetectorVolumeSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/LayerSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/SvgUtils.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepBinningHelpers.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayMaterialConverter.hpp
  Plugins/FpeMonitoring/include/ActsPlugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/Podio/include/ActsPlugins/Podio/PodioUtil.hpp
Due: license, include_guards, pragma_once, type_t, math_macros
