Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

Remove redundant static specifier
  Core/src/Definitions/ParticleId.cpp
Due: license, type_t, math_macros

Pre-commit changes
  Core/src/Definitions/ParticleId.cpp
Due: license, type_t, math_macros

pin python version
  .github/workflows/builds.yml
Due: none

DigitizationAlgorithm
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
Due: license, type_t, math_macros

move python version pinning
  .github/actions/dependencies/action.yml
  .github/workflows/builds.yml
Due: none

move to develop
  .github/actions/dependencies/action.yml
Due: none

invalidate cache; bump ci-deps again
  .github/actions/dependencies/action.yml
Due: none

disable cache for now
  .github/actions/dependencies/action.yml
Due: none

comment; bump for gitlab
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
Due: none

pin spack repos; check python path and version
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
Due: none

try again
  CI/dependencies/setup_spack.sh
Due: none

second round of comments
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Print all track state variabels
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Due: license, type_t, boost_test, math_macros

try again
  CI/dependencies/setup.sh
  CI/dependencies/setup_spack.sh
Due: none

fix spack clone
  CI/dependencies/setup.sh
  CI/dependencies/setup_spack.sh
Due: none

linter
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Due: license, type_t, boost_test, math_macros

debug
  CI/dependencies/setup.sh
Due: none

more debugging
  .github/workflows/builds.yml
  CI/dependencies/setup.sh
Due: none

all good now?
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
  CI/physmon/phys_perf_mon.sh
Due: none

python envs?
  CI/dependencies/setup.sh
  CI/physmon/phys_perf_mon.sh
Due: none

refactor python dependencies
  .github/actions/dependencies/action.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
Due: none

fix argparse
  CI/dependencies/setup.sh
Due: none

fix argparse again
  CI/dependencies/setup.sh
Due: none

fix g4 data; fix python deps
  CI/dependencies/setup.sh
Due: none

again
  CI/dependencies/setup.sh
Due: none

debug
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/physmon/phys_perf_mon.sh
Due: none

try again
  .github/workflows/builds.yml
  CI/dependencies/setup.sh
  CI/physmon/phys_perf_mon.sh
Due: none

try again
  .github/workflows/builds.yml
  CI/dependencies/setup.sh
Due: none

again
  .github/workflows/builds.yml
  CI/dependencies/setup.sh
Due: none

more debugging
  .github/workflows/builds.yml
Due: none

now?
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
Due: none

chore: Bump traccc to v0.25.0
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options

last round of changes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

precommit
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

debug again
  .github/workflows/builds.yml
Due: none

refactor setup scripts
  cmake/setup.sh.in
  cmake/setup_withdeps.sh.in
Due: none

cleanup and split setup further
  CI/dependencies/setup.sh
  Python/Core/setup.sh.in
  cmake/setup.sh.in
  cmake/setup_withdeps.sh.in
Due: none

again
  .github/workflows/builds.yml
  Examples/Python/python/acts/examples/odd.py
Due: none

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
