Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

perf(traccc): Use pinned host memory in throughput examples (#5791)
  Traccc/examples/run/common/include/traccc/examples/impl/throughput_mt.ipp
  Traccc/examples/run/common/include/traccc/examples/impl/throughput_st.ipp
  Traccc/examples/run/common/include/traccc/examples/throughput_mt.hpp
  Traccc/examples/run/common/include/traccc/examples/throughput_st.hpp
  Traccc/examples/run/cuda/apps/throughput_mt.cpp
  Traccc/examples/run/cuda/apps/throughput_st.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: resolve API-surface-label PR number by branch, not head sha (#5814)
  .github/workflows/api-surface-label.yml
Due: leftover_conflict_markers

ci: public API surface report, break detection, and labeling (#5754)
  .github/workflows/api-surface-label.yml
  .github/workflows/checks.yml
  CI/public_api/Doxyfile
  CI/public_api/check_deprecated_docs.py
  CI/public_api/public_api_diff.py
  CI/public_api/public_api_surface.py
  CI/public_api/test_check_deprecated_docs.py
  CI/public_api/test_public_api_surface.py
  CI/public_api/testdata/base/Acts/Demo.hpp
  CI/public_api/testdata/head/Acts/Demo.hpp
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/ContainerBlueprintNode.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterialFactory.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/MergedMaterialMarker.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Authenticate GHCR buildcache reads and retry only transient dependency failures (#5799)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/sonarcloud.yml
  CI/dependencies/setup.sh
Due: leftover_conflict_markers

ci: split public API surface report from privileged labeling (#5813)
  .github/workflows/api-surface-label.yml
  .github/workflows/checks.yml
  CI/public_api/public_api_diff.py
  CI/public_api/public_api_surface.py
  CI/public_api/test_public_api_surface.py
Due: leftover_conflict_markers

ci: move the long every-PR jobs to husk, cancel superseded push runs (#5793)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/detray.yml
  .github/workflows/docs.yml
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

ci: Trim the gnn_cpu build and skip the GNN jobs when unaffected (#5803)
  .github/workflows/builds.yml
  CMakeLists.txt
  CMakePresets.json
  Tests/UnitTests/CMakeLists.txt
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers, format-json

ci: Save ccache from main only (#5811)
  .github/actions/cibuildwheel_wrapper/action.yml
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

perf: gpu gbts better edge connection (#5758)
  Traccc/core/include/traccc/gbts_seeding/gbts_seeding_config.hpp
  Traccc/core/include/traccc/gbts_seeding/gbts_types.hpp
  Traccc/core/src/gbts_seeding/gbts_seeding_config.cpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_make_graph_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_match_graph_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_fit_segments.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_make_graph_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_match_graph_edges.ipp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/examples/options/src/track_gbts_seeding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Generalize TrackFinderPerformanceWriter (#5775)
  CI/physmon/reference.sha256
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/DuplicationPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/FakePlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/PatternRecognitionPerformanceCollector.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackQualityPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/FakePlotTool.cpp
  Examples/Framework/src/Validation/PatternRecognitionPerformanceCollector.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPatternRecognitionPerformanceWriter.hpp
  Examples/Io/Root/src/RootPatternRecognitionPerformanceWriter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Examples/python/__init__.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/src/plugins/Root.cpp
  Python/Examples/tests/test_writer.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Speed up the CKF stayOnSeed candidate filter (#5826)
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: GitHub SYCL Syntax Highlighting, main branch (2026.08.06.) (#5834)
  .gitattributes
Due: leftover_conflict_markers

refactor: Allocate GSF smoothed parameters in the backward pass (#5800)
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: False positive on uninit return type (#5812)
  Core/src/Geometry/PortalDesignator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Track reading for ColliderML, CI with small dataset sample (#5796)
  .github/workflows/builds.yml
  CI/dependencies/download_colliderml.sh
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Python/Examples/CMakeLists.txt
  Python/Examples/python/dataset.py
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/conftest.py
  Python/Examples/tests/root_file_hashes.txt
  Python/Examples/tests/test_colliderml_reader.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): gpu-gbts small fixes (#5788)
  Traccc/core/include/traccc/gbts_seeding/gbts_seeding_config.hpp
  Traccc/core/src/gbts_seeding/gbts_seeding_config.cpp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

test: Add GBTS seeding regression test (#5765)
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

chore(detray): Disable default scattering noise estimation (#5792)
  Detray/core/include/detray/navigation/navigation_config.hpp
  Traccc/core/include/traccc/finding/details/progressive_kalman_filter.hpp
  Traccc/device/common/include/traccc/finding/device/impl/propagate_to_next_surface.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Write the track covariance in ProtoTracksToTracks unconditionally (#5846)
  Examples/Algorithms/Utilities/src/ProtoTracksToTracks.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: add missing includes for limits macros (#5816)
  Detray/io/include/detray/io/csv/dfe.hpp
  Traccc/core/include/traccc/gbts_seeding/gbts_seeding_config.hpp
  Traccc/core/include/traccc/gbts_seeding/gbts_types.hpp
  Traccc/io/include/traccc/io/csv/dfe.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(detray): Avoid recomputation of tangential ray (#5789)
  Detray/core/include/detray/navigation/caching_navigator.hpp
  Detray/core/include/detray/navigation/detail/navigation_functions.hpp
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/navigation/navigator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): HIP Utilities, main branch (2026.08.06.) (#5833)
  Traccc/CMakeLists.txt
  Traccc/device/alpaka/CMakeLists.txt
  Traccc/device/alpaka/src/utils/make_magnetic_field.cpp
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/clusterization/clusterization_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/utils/algorithm_base.hpp
  Traccc/device/hip/include/traccc/hip/utils/stream.hpp
  Traccc/device/hip/src/clusterization/clusterization_algorithm.hip
  Traccc/device/hip/src/utils/algorithm_base.cpp
  Traccc/device/hip/src/utils/opaque_stream.cpp
  Traccc/device/hip/src/utils/opaque_stream.hpp
  Traccc/device/hip/src/utils/stream.cpp
  Traccc/device/hip/src/utils/utils.cpp
  Traccc/device/hip/src/utils/utils.hpp
  Traccc/device/hip_utils/CMakeLists.txt
  Traccc/device/hip_utils/include/traccc/hip/utils/make_magnetic_field.hpp
  Traccc/device/hip_utils/include/traccc/hip/utils/stream_wrapper.hpp
  Traccc/device/hip_utils/src/hip_error_handling.cpp
  Traccc/device/hip_utils/src/hip_error_handling.hpp
  Traccc/device/hip_utils/src/make_magnetic_field.cpp
  Traccc/device/hip_utils/src/stream_wrapper.cpp
  Traccc/tests/hip/CMakeLists.txt
  Traccc/tests/hip/test_cca.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Harden track state component allocation (#5801)
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Tests/UnitTests/Core/EventData/MultiTrajectoryTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackStateContainerTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Fix macOS PyPI wheel delocate failure (Arrow libssl duplicate) (#5742)
  CI/cibuildwheel.sh
  CI/repair_wheel_macos.sh
Due: leftover_conflict_markers

fix: validate the BinnedGroup navigation array (#5802)
  Core/include/Acts/Seeding/BinnedGroup.hpp
  Core/include/Acts/Seeding/BinnedGroup.ipp
  Tests/UnitTests/Core/Seeding/BinnedGroupTests.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: trim the GitLab traccc CUDA build and fix the test filter (#5809)
  .gitlab-ci.yml
Due: leftover_conflict_markers

fix: HIP/AMD Compilation Fix, main branch (2026.08.11.) (#5857)
  Traccc/device/hip/src/utils/global_index.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: OpenMP Usage Cleanup, main branch (2026.08.04.) (#5828)
  Detray/tests/benchmarks/cpu/CMakeLists.txt
  Detray/tests/benchmarks/include/detray/benchmarks/cpu/CMakeLists.txt
  Detray/tests/tools/src/cpu/CMakeLists.txt
  Traccc/io/CMakeLists.txt
Due: leftover_conflict_markers

feat: HIP Sanity Checking, main branch (2026.08.06.) (#5835)
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/src/clusterization/clusterization_algorithm.hip
  Traccc/device/hip/src/sanity/contiguous_on.hpp
  Traccc/device/hip/src/sanity/ordered_on.hpp
  Traccc/device/hip/src/utils/global_index.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Do not enter a space point into a truth seed twice (#5863)
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: expose readJson in TGeo pybind (#5779)
  Python/Examples/src/plugins/TGeo.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore(detray): Clean up navigator and fix minor issues (#5839)
  Detray/core/include/detray/navigation/caching_navigator.hpp
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/navigation/navigation_state.hpp
  Detray/core/include/detray/navigation/navigator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Replace the GBTS node EDM with space point container indices (#5767)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Follow naming conventions in Python bindings (#5855)
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Core/src/EventData.cpp
  Python/Core/src/MagneticField.cpp
  Python/Core/tests/test_event_data.py
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
  Python/Plugins/src/Root.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: CudaMuonSegmentFitting added to CI build and unit test added to CI (#5787)
  .gitlab-ci.yml
Due: leftover_conflict_markers

refactor: Make GBTS acceptance cuts configurable (#5766)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(traccc): Improve propagation sorting key (#5840)
  Traccc/device/common/include/traccc/edm/device/sort_key.hpp
  Traccc/device/common/include/traccc/finding/device/impl/fill_finding_propagation_sort_keys.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Improved Binding for SourceLink and Cluster (#5853)
  Python/Examples/src/EventData.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Repair the Geant4 telescope detector geometry (#5838)
  Examples/Detectors/TelescopeDetector/CMakeLists.txt
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeG4DetectorConstruction.cpp
  Python/Examples/tests/test_detectors.py
  Tests/UnitTests/Examples/CMakeLists.txt
  Tests/UnitTests/Examples/Detectors/CMakeLists.txt
  Tests/UnitTests/Examples/Detectors/TelescopeDetector/CMakeLists.txt
  Tests/UnitTests/Examples/Detectors/TelescopeDetector/TelescopeG4DetectorConstructionTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros
