Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

feat: Add UniformVertexGenerator to the examples (#4112)
  Examples/Framework/include/ActsExamples/Utilities/VertexGenerators.hpp
  Examples/Python/src/Generators.cpp
  Examples/Python/tests/test_generators.py
Due: license, include_guards, pragma_once, type_t, math_macros

remove unused hepmc3.py file
  Examples/Python/python/acts/examples/hepmc3.py
Due: none

Forgotten simparticle to barcode
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

unify interface
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/tests/test_hepmc3.py
  Examples/Scripts/Python/hepmc3_merge.py
Due: license, include_guards, pragma_once, type_t, math_macros

improve input API, especially in python
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Python/src/HepMC3.cpp
  Examples/Python/tests/test_hepmc3.py
  Examples/Scripts/Python/hepmc3_merge.py
Due: license, include_guards, pragma_once, type_t, math_macros

lint
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

make examples valid C++
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Reader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Avoid venv race condition in offline build
  cmake/ActsCodegen.cmake
Due: none

feat: Add HepMC merger/splitter utility (#4704)
  Examples/Io/HepMC3/CMakeLists.txt
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3Util.hpp
  Examples/Io/HepMC3/src/HepMC3FactoryWrappers.cpp
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
  Examples/Io/HepMC3/src/HepMC3Util.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/examples/hepmc3/__init__.py
  Examples/Python/python/acts/examples/hepmc3/__main__.py
  Examples/Python/python/acts/examples/hepmc_normalize.py
  Examples/Python/src/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Return the precision fit result for straws
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

Insert parameter check
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Update doxygen
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Add unittests for truthjet and trackjet
  Tests/UnitTests/Plugins/FastJet/JetsTests.cpp
Due: license, type_t, boost_test, math_macros

Add dependency of Fatras for Fastjet
  CMakeLists.txt
Due: cmake_options

Beautiful forgotten precommit
  CMakeLists.txt
Due: cmake_options

feat: More informative error output in HepMC3 reader
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
Due: license, type_t, math_macros

try addressing ActsPythinBindings directly
  Examples/Python/python/acts/examples/__init__.py
Due: none

Force enable fatras for fastjet
  CMakeLists.txt
Due: cmake_options

Another try
  CMakeLists.txt
  Examples/Algorithms/Jets/CMakeLists.txt
Due: cmake_options

Change necessary truthjetalg thingies
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix truth seeding
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
Due: license, type_t, math_macros

fix smoothed and filtered chi2 computation
  Core/include/Acts/Utilities/TrackHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

lintify
  Examples/Python/python/acts/examples/__init__.py
Due: none

reverting import order
  Examples/Python/python/acts/examples/__init__.py
Due: none

remove module adding
  Python/CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Core/python/__init__.py
Due: none

lintify
  Python/Core/python/__init__.py
Due: none

make GeoModel work again
  Examples/Python/src/GeoModelExample.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, type_t, math_macros

next attempt, this time w/o replacement
  Python/CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Core/python/__init__.py.in
Due: none

feat: Wire particle hypothesis from truth estimated seeding to parameter estimation
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.hpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
  Examples/Python/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix truthjetalg
  Examples/Algorithms/Jets/CMakeLists.txt
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix test
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Due: license, type_t, boost_test, math_macros

reverting init copy
  Python/CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Core/python/__init__.py
Due: none

Petty try
  Plugins/FastJet/CMakeLists.txt
Due: none

fix: Fix smoothed and filtered chi2 computation (#4712)
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix
  Examples/Python/src/TruthTracking.cpp
Due: license, type_t, math_macros

fix: CompositeSpacePointLineFitter - Add forgotten parameter boundary check (#4707)
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

moving geant4 and geomodel
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Detector.cpp
  Examples/Python/src/Geant4Component.cpp
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/TGeoStub.cpp
  Python/CMakeLists.txt
  Python/Core/python/__init__.py
  Python/Core/src/Geometry.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/Detray.cpp
  Python/Plugins/src/Geant4.cpp
  Python/Plugins/src/TGeo.cpp
Due: license, type_t, math_macros

shifting obj to Core
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Examples/Python/src/Obj.cpp
  Python/Core/src/Visualization.cpp
Due: license, type_t, math_macros

adapt geant4 library naming
  Examples/Python/python/acts/examples/geant4/__init__.py
Due: none

refactor: Use `boost::hash_combine` for seed generation
  Examples/Framework/src/Framework/RandomNumbers.cpp
Due: license, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
