Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

feat: timestamp PDF filename in performance plots script
  Examples/Scripts/Python/colliderml_performance_plots.py
Due: leftover_conflict_markers

fix silly
  Examples/Framework/src/Framework/DataHandle.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: geo map matching + hard errors for g2l/unknown-geoId
  Examples/Io/Parquet/src/ColliderMLInputConverter.cpp
  Examples/Scripts/Python/generate_colliderml_geo_map.py
  Python/Core/src/Surfaces.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: reliable geo map generation + hard errors in converter
  Examples/Io/Parquet/src/ColliderMLInputConverter.cpp
  Examples/Scripts/Python/generate_colliderml_geo_map.py
Due: license, type_t, leftover_conflict_markers, math_macros

feat: proto-track efficiency evaluation + seeding vs KF comparison
  Examples/Scripts/Python/colliderml_performance_plots.py
  Examples/Scripts/Python/colliderml_truth_tracking.py
Due: leftover_conflict_markers

fix: evaluate efficiency against truth_seeded_particles denominator
  Examples/Scripts/Python/colliderml_truth_tracking.py
Due: leftover_conflict_markers

fix includes
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: title slide + step-function plot style
  Examples/Scripts/Python/colliderml_performance_plots.py
Due: leftover_conflict_markers

revert axis changes
  Core/include/Acts/Utilities/Axis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Circumvent symbol visibility issues with templated final classes
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/detail/SpacePointContainer2Column.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Examples/Framework/include/ActsExamples/Framework/DataHandle.hpp
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgPointWriter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Core/include/Acts/EventData/TrackProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Cleanup `Utilities` source folder (#5538)
  Core/src/Utilities/GraphViz.cpp
  Core/src/Utilities/IAxis.cpp
  Core/src/Utilities/ProtoAxis.cpp
  Core/src/Utilities/SpacePointUtility.cpp
  Core/src/Utilities/TransformComparator.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgPointWriter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Initial Arrow conversion and parquet output (#5410)
  CMakeLists.txt
  Examples/Io/Arrow/CMakeLists.txt
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ArrowParticleOutputConverter.hpp
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ArrowSimHitOutputConverter.hpp
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ArrowTrackOutputConverter.hpp
  Examples/Io/Arrow/src/ArrowParticleOutputConverter.cpp
  Examples/Io/Arrow/src/ArrowSimHitOutputConverter.cpp
  Examples/Io/Arrow/src/ArrowTrackOutputConverter.cpp
  Examples/Io/CMakeLists.txt
  Examples/Io/Parquet/CMakeLists.txt
  Examples/Io/Parquet/include/ActsExamples/Io/Parquet/ArrowInputConverter.hpp
  Examples/Io/Parquet/include/ActsExamples/Io/Parquet/ArrowOutputConverter.hpp
  Examples/Io/Parquet/include/ActsExamples/Io/Parquet/ParquetReader.hpp
  Examples/Io/Parquet/include/ActsExamples/Io/Parquet/ParquetWriter.hpp
  Examples/Io/Parquet/src/ArrowInputConverter.cpp
  Examples/Io/Parquet/src/ParquetReader.cpp
  Examples/Io/Parquet/src/ParquetWriter.cpp
  Examples/Scripts/Python/full_chain_odd.py
  Plugins/Arrow/CMakeLists.txt
  Plugins/Arrow/cmake/exported_symbols.ld
  Plugins/Arrow/cmake/exported_symbols.txt
  Plugins/Arrow/include/ActsPlugins/Arrow/ArrowUtil.hpp
  Plugins/Arrow/include/ActsPlugins/Arrow/Export.hpp
  Plugins/Arrow/src/ArrowUtil.cpp
  Plugins/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/conftest.py
  Python/Examples/tests/helpers/__init__.py
  Python/Examples/tests/test_arrow.py
  Python/Examples/tests/test_arrow_isolation.py
  Python/Examples/tests/test_examples.py
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/Arrow.cpp
  docs/pages/contributing/building_acts.md
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

minor
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Replacing Gen3 onLayer/onContainer can wrap
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

use KL mixture; minor other stuff
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

deps to 23.1.0
  .devcontainer/Dockerfile
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

build: VecMem Setup Fix, main branch (2026.05.29.) (#5519)
  CMakeLists.txt
  Detray/CMakeLists.txt
  Detray/tests/include/detray/test/device/sycl/CMakeLists.txt
  Detray/tests/integration_tests/device/sycl/CMakeLists.txt
  Detray/tests/unit_tests/device/sycl/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

Linting
  Python/Examples/src/plugins/Alignment.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Turn mask conflict function into stub for now
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Use unordered map
  Alignment/include/ActsAlignment/Geometry/AlignableStructure.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add python bindings for new alignment classes
  Python/Examples/src/plugins/Alignment.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Const ref instead of const pointer
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Python/Examples/src/plugins/Alignment.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add const qualifiers
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Python/Examples/src/plugins/Alignment.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Run clang
  Alignment/include/ActsAlignment/Geometry/AlignableStructure.hpp
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
  Alignment/include/ActsAlignment/Kernel/AlignmentError.hpp
  Tests/UnitTests/Alignment/Kernel/HierarchyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Revert changes to full chain ODD example
  Examples/Scripts/Python/full_chain_odd.py
Due: leftover_conflict_markers

Add comment about multi-level alignment
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update validation failure error message
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

Use ref instead of pointer
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
  Python/Examples/src/plugins/Alignment.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add AlignmentHierarchy helper with mask-conflict check
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Tests/UnitTests/Alignment/Kernel/HierarchyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Store Surface instead of SurfacePlacementBase
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Test whether det element was actually added or not
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Code fixes and improvements
  Alignment/include/ActsAlignment/Geometry/AlignableStructure.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Tests/UnitTests/Alignment/Kernel/CMakeLists.txt
  Tests/UnitTests/Alignment/Kernel/HierarchyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Implement skeleton for AlignableStructure
  Alignment/include/ActsAlignment/Geometry/AlignableStructure.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Alignment/include/ActsAlignment/Kernel/AlignmentError.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Move hierarchy checks to its own class
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Tests/UnitTests/Alignment/Kernel/HierarchyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Introduce detector misalignment
  Examples/Scripts/Python/full_chain_odd.py
Due: leftover_conflict_markers

Update documentation
  Alignment/include/ActsAlignment/Geometry/AlignableStructure.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Switch to shared ptr in alignment classes
  Alignment/include/ActsAlignment/Geometry/AlignableStructure.hpp
  Alignment/include/ActsAlignment/Geometry/AlignmentHierarchy.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Tests/UnitTests/Alignment/Kernel/HierarchyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Update hierarchy unit tests
  Tests/UnitTests/Alignment/Kernel/HierarchyTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros
