Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  codegen/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

Pass proxy information to uv
  cmake/ActsCodegen.cmake
Due: leftover_conflict_markers

fix: cmake: not all examples options set general examples (#5183)
  CMakeLists.txt
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers

mess with gnn tests
  Examples/Scripts/Python/gnn.py
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers

pr feedback
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/EventData/detail/MultiComponentTrackParametersConcept.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.ipp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/src/EventData/MultiComponentTrackParameters.cpp
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Send transform to SrfArr in policy (#5238)
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

pr feedback
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

make clang happy
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

pr feedback
  Core/include/Acts/EventData/BoundTrackParameters.hpp
  Core/include/Acts/EventData/ChargeHypothesis.hpp
  Core/include/Acts/EventData/FreeTrackParameters.hpp
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pr feedback
  Core/include/Acts/EventData/BoundTrackParameters.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix docs
  Core/include/Acts/EventData/ChargeHypothesis.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix docs fr
  Core/include/Acts/EventData/ParticleHypothesis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix test script
  Python/Examples/tests/test_truth_tracking.py
Due: leftover_conflict_markers

refactor detector fixtures
  Python/Examples/tests/conftest.py
  Python/Examples/tests/test_truth_tracking.py
Due: leftover_conflict_markers

move truth tracking python tests to different file
  Python/Examples/tests/test_examples.py
  Python/Examples/tests/test_truth_tracking.py
Due: leftover_conflict_markers

register types with whiteboard
  Python/Core/src/EventData.cpp
  Python/Examples/src/EventData.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

array-wise sp container access
  Python/Core/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

poc bindings for tracks
  Python/Core/src/Definitions.cpp
  Python/Examples/CMakeLists.txt
  Python/Examples/src/EventData.cpp
  Python/Examples/src/ExamplesModuleEntry.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

core event data binding file
  Python/Core/CMakeLists.txt
  Python/Core/src/CoreModuleEntry.cpp
  Python/Core/src/EventData.cpp
  Python/Core/tests/test_event_data.py
  Python/Examples/src/EventData.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

play with zero-copy numpy access
  Examples/Scripts/Python/truth_tracking_kalman.py
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

sp access test
  Python/Examples/tests/test_truth_tracking.py
Due: leftover_conflict_markers

feat: Track::isForwardLinked()
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: use copyFromShallow in TrackSelector
  Core/include/Acts/TrackFinding/TrackSelector.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: add linkForward option to TrackFittingAlgorithm for inside-out track state iteration
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFittingAlgorithm.hpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
  Examples/Scripts/Python/truth_tracking_kalman.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFitting.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update SP bindings for write handles
  Python/Core/src/EventData.cpp
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Chain method setting for Extent
  Core/include/Acts/Geometry/Extent.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: pre-commit: bump code-spell `2.2.4` -> `2.4.2` (#5207)
  .pre-commit-config.yaml
  CI/codespell_ignore.txt
  Core/include/Acts/Geometry/IndexGrid.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/Surfaces/CylinderBounds.cpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Scripts/Python/MLAmbiguityResolution/ambiguity_solver_full_chain.py
  Examples/Scripts/fullMaterial.C
  Tests/UnitTests/Core/Geometry/PortalLinkTests.cpp
  Tests/UnitTests/Core/Utilities/GridTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Update Plugins/ActSVG/include/ActsPlugins/ActSVG/SvgUtils.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/SvgUtils.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore!: remove unused files (#5074)
  Core/include/Acts/Geometry/KdtSurfaces.hpp
  Plugins/Gnn/src/runSessionWithIoBinding.hpp
  Plugins/Json/include/ActsPlugins/Json/IndexedGridJsonHelper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Improved FPE mon, extend to macOS (#5231)
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CMakePresets.json
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Plugins/FpeMonitoring/CMakeLists.txt
  Plugins/FpeMonitoring/include/ActsPlugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatform.hpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinArm64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinCommon.hpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformLinuxX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
  Python/Examples/src/Framework.cpp
  Python/Examples/tests/test_fpe.py
  Tests/UnitTests/Plugins/FpeMonitoring/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

chore: Surface & Volume remove deprecated symbols (#5176)
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/Volume.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Reduce number of redundant calls in strip seeding (#5239)
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: pass proxy information to uv (#5178)
  cmake/ActsCodegen.cmake
Due: leftover_conflict_markers

import classifier
  Examples/Scripts/Python/gnn.py
Due: leftover_conflict_markers

pt model?
  Examples/Scripts/Python/gnn.py
Due: leftover_conflict_markers

or maybe this?
  Examples/Scripts/Python/gnn.py
Due: leftover_conflict_markers

refactor!: Generalize navigation options for external surfaces
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
