Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

remove empty smoothed states
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update refs
  Python/Examples/tests/root_file_hashes.txt
Due: none

remove raw pointer from portal shell class
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/include/Acts/Geometry/CylinderPortalShell.hpp
  Core/include/Acts/Geometry/TrapezoidPortalShell.hpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/TrapezoidPortalShell.cpp
  Core/src/Geometry/detail/MaterialDesignator.hpp
  Tests/UnitTests/Core/Geometry/CuboidPortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderPortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/TrapezoidPortalShellTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

bug fix
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

first round of revision
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelMuonMockupBuilder.hpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

instantiate bounds from boundFactory
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

precommit
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

second round of revision
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

clang
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

empty change to trigger new CI
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

squashing
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelMuonMockupBuilder.hpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, include_guards, pragma_once, type_t, math_macros

clang tidy
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

refactoring of LUT parser
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsLutParser.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

removed unessicary include
  Core/include/Acts/Seeding/GbtsLutParser.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang tidy
  Core/include/Acts/Seeding/GbtsLutParser.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

enhancing documentation and moving the logic to compute station bounds to a separate method
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelMuonMockupBuilder.hpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: JSON converter for IndexGrid policy and display script (#4905)
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Examples/Scripts/Navigation/analyze_surface_grids.py
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/ActsPlugins/Json/IndexGridNavigationJsonConverter.hpp
  Plugins/Json/src/IndexGridNavigationJsonConverter.cpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/IndexGridNavigationJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

enhancing documentation
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
Due: license, type_t, math_macros

update
  Core/include/Acts/Utilities/Histogram.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/Histogram.cpp
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Framework/src/Validation/BoostHistogramWrappers.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/BoostHistogramWriteHelpers.hpp
  Examples/Io/Root/src/BoostHistogramWriteHelpers.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/ActsPlugins/Root/HistogramToRootConverter.hpp
  Plugins/Root/src/HistogramToRootConverter.cpp
  Tests/UnitTests/Examples/Framework/BoostHistogramConversionTests.cpp
  Tests/UnitTests/Plugins/Root/BoostHistogramConversionTests.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

pre-commit
  Core/include/Acts/Utilities/Histogram.hpp
  Core/src/Utilities/Histogram.cpp
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Plugins/Root/include/ActsPlugins/Root/HistogramToRootConverter.hpp
  Plugins/Root/src/HistogramToRootConverter.cpp
  Tests/UnitTests/Examples/Framework/BoostHistogramTests.cpp
  Tests/UnitTests/Plugins/Root/BoostHistogramConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

reset examples to main, do this in new PR
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackQualityPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

move tests to be co-located
  Python/Core/src/Definitions.cpp
  Python/Core/tests/test_blueprint.py
  Python/Core/tests/test_definitions.py
  Python/Core/tests/test_magnetic_field.py
  Python/Core/tests/test_navigation.py
  Python/Core/tests/test_utilities.py
  Python/Core/tests/test_version.py
  Python/Examples/tests/test_base.py
  Python/Examples/tests/test_event_data.py
  Python/Examples/tests/test_framework.py
  Python/Examples/tests/test_logging.py
  Python/Plugins/tests/test_covfie.py
  pytest.ini
Due: license, type_t, math_macros

update unused files check
  CI/check_unused_files.py
  Python/Core/tests/test_definitions.py
  Python/Core/tests/test_navigation.py
  Python/Core/tests/test_version.py
  Python/Plugins/tests/test_covfie.py
Due: none

detail_lt -> detail_tsp, move to Types.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: adapt Mat_map_surface_plot.C to read sur_type from geometry-map.json
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_1D.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_dist.C
  Examples/Scripts/MaterialMapping/Mat_map_surface_plot_ratio.C
Due: none

drop unused sur_type from Mat_map_detector_plot.C
  Examples/Scripts/MaterialMapping/Mat_map_detector_plot.C
Due: none

chore: Switch CI jobs to ubuntu‑slim and tighten shell script
  .github/workflows/checks.yml
  .github/workflows/labels.yml
  .github/workflows/milestone.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release.yml
  .github/workflows/remove-automerge-label.yml
  .github/workflows/report.yml
  .github/workflows/stale.yml
  .github/workflows/trigger_athena.yml
  .github/workflows/update-pip-requirements.yml
  CI/missing_include_check.sh
Due: none

add doc comment for `kTrackIndexInvalid`
  Core/include/Acts/EventData/Types.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

deprecate MultiTrajectoryTraits in favor of Types.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Migrate MultiTrajectoryTraits to TrackTraits
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectory.ipp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/TrackFinding/MeasurementSelector.hpp
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/KalmanGlobalCovariance.hpp
  Core/src/TrackFinding/MeasurementSelector.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Algorithms/Utilities/src/TracksToTrajectories.cpp
  Examples/Framework/include/ActsExamples/EventData/Trajectories.hpp
  Examples/Io/Csv/src/CsvTrackWriter.cpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
  Tests/UnitTests/Core/AmbiguityResolution/ScoreBasedAmbiguityResolutionTest.cpp
  Tests/UnitTests/Core/EventData/TrackTests.cpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/Gx2fTests.cpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackContainerTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix deprecation comment
  Core/include/Acts/EventData/MultiTrajectory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

attempt to fix docs ci
  Core/include/Acts/EventData/MultiTrajectory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: add apt‑get update to CI checks workflow
  .github/workflows/checks.yml
Due: none

feat: Add projection methods to Histogram2D
  Core/include/Acts/Utilities/Histogram.hpp
  Core/src/Utilities/Histogram.cpp
  Tests/UnitTests/Core/Utilities/HistogramTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

finalize restructuring
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/ProfileEfficiencyTests.cpp
  Tests/UnitTests/Examples/Framework/BoostHistogramTests.cpp
  Tests/UnitTests/Examples/Framework/CMakeLists.txt
Due: license, type_t, boost_test, math_macros

add Acts:: to @ref
  Core/include/Acts/EventData/MultiTrajectory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

turn on EXTRACT_STATIC
  docs/old/Doxyfile
Due: none

add condition to pass empty array if clusterwidth is not used
  Core/include/Acts/Seeding/GbtsLutParser.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

switch missing_includes back to regular runner
  .github/workflows/checks.yml
Due: none

refactor!: Actors return Result<void> instead of void (#4921)
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Propagator/ActorConcepts.hpp
  Core/include/Acts/Propagator/ActorList.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Propagator/VolumeCollector.hpp
  Core/include/Acts/Propagator/detail/SteppingLogger.hpp
  Core/include/Acts/Propagator/detail/actor_list_implementation.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Fatras/include/ActsFatras/Kernel/detail/SimulationActor.hpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/MeasurementsCreator.hpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
  Tests/UnitTests/Core/Propagator/ActorListTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Propagator/PropagatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
