Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

refactor(traccc): Clean up CCL kernel types (#6080)
  Traccc/device/alpaka/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/common/include/traccc/clusterization/device/ccl_kernel.hpp
  Traccc/device/common/include/traccc/clusterization/device/impl/aggregate_cluster.ipp
  Traccc/device/common/include/traccc/clusterization/device/impl/ccl_kernel.ipp
  Traccc/device/cuda/src/clusterization/kernels/ccl_kernel.cu
  Traccc/device/hip/src/clusterization/kernels/ccl_kernel.hip
  Traccc/device/sycl/src/clusterization/clusterization_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(detray): Fix CUDA 13.4 conversion warnings (#6073)
  Detray/core/include/detray/navigation/caching_navigator.hpp
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/utils/ranges/cartesian_product.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Lock self-test dependencies and disable source builds
  .github/workflows/checks.yml
  CI/self_tests/requirements.in
  CI/self_tests/requirements.txt
Due: leftover_conflict_markers

refactor: Attach DigitizationDesign to surfaces (#5701)
  Core/include/Acts/Geometry/ISensorDesign.hpp
  Core/include/Acts/Geometry/detail/ISensorDesignHolder.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationDesign.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetectorElementWithDesign.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

GBTS traccc fill graph edges
  Traccc/core/include/traccc/gbts_seeding/gbts_seeding_config.hpp
  Traccc/device/alpaka/include/traccc/alpaka/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/alpaka/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/alpaka/src/utils/parallel_algorithms.hpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/gbts_seeding/device/details/gbts_graph_edges_helpers.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_bin_spacepoints.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_build_edge_work_list.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_compress_graph.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_count_graph_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_fill_graph_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_find_minmax_radius.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_link_graph_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_make_graph_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_match_graph_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_reindex_edges.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_seeding_algorithm.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_build_edge_work_list.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_compress_graph.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_count_graph_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_fill_graph_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_find_minmax_radius.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_graph_edges_helpers.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_link_graph_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_make_graph_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_match_graph_edges.ipp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_reindex_edges.ipp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/cuda/src/gbts_seeding/gbts_seeding_algorithm.cu
  Traccc/device/sycl/include/traccc/sycl/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/sycl/src/gbts_seeding/gbts_seeding_algorithm.sycl
  Traccc/examples/options/src/track_gbts_seeding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(detray): Embed next navigation step in state machine
  Detray/core/include/detray/definitions/navigation.hpp
  Detray/core/include/detray/navigation/caching_navigator.hpp
  Detray/core/include/detray/navigation/detail/navigation_functions.hpp
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/navigation/navigator.hpp
  Detray/core/include/detray/navigation/navigator_base.hpp
  Detray/core/include/detray/propagator/propagator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

resolve Comments
  Examples/Algorithms/Fatras/include/ActsExamples/Fatras/FatrasSimulation.hpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add JSON material readre
  Plugins/CMakeLists.txt
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelJsonMaterialManager.hpp
  Plugins/GeoModel/src/GeoModelJsonMaterialManager.cpp
  Python/Plugins/src/GeoModel.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add pragma
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelJsonMaterialManager.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Use nullptr check
  Plugins/GeoModel/src/GeoModelJsonMaterialManager.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Setup unit test
  CI/check_unused_files.py
  Examples/Configs/GeoModel_MaterialMap.json
  Tests/UnitTests/Plugins/GeoModel/CMakeLists.txt
  Tests/UnitTests/Plugins/GeoModel/geoModel_MaterialDBTest.py
Due: leftover_conflict_markers, format-json

Fix docs
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelJsonMaterialManager.hpp
  Plugins/GeoModel/src/GeoModelJsonMaterialManager.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Linter
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelJsonMaterialManager.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Build the Alpaka backend on the traccc CPU legs (#6085)
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

style(detray): Apply pinned clang-format formatting
  Detray/tests/unit_tests/cpu/navigation/intersection/helix_intersector.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf(detray): Implement propagator sync policies
  Detray/core/include/detray/navigation/navigation_sync.hpp
  Detray/core/include/detray/propagator/propagator.hpp
  Traccc/device/common/include/traccc/finding/device/impl/propagate_to_next_surface.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: introduce IVertexFitter and implement it in AMVF
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/IVertexFitter.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFitter.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf(traccc): Improve performance of triplet finding
  Traccc/device/alpaka/include/traccc/alpaka/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/alpaka/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/edm/device/triplet_counter.hpp
  Traccc/device/common/include/traccc/seeding/device/count_triplets.hpp
  Traccc/device/common/include/traccc/seeding/device/find_triplets.hpp
  Traccc/device/common/include/traccc/seeding/device/impl/count_triplets.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/find_triplets.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/make_mid_bot_lincircles.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/make_mid_top_lincircles.ipp
  Traccc/device/common/include/traccc/seeding/device/make_mid_bot_lincircles.hpp
  Traccc/device/common/include/traccc/seeding/device/make_mid_top_lincircles.hpp
  Traccc/device/common/include/traccc/seeding/device/triplet_seeding_algorithm.hpp
  Traccc/device/common/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/cuda/src/seeding/triplet_seeding_algorithm.cu
  Traccc/device/hip/include/traccc/hip/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/hip/src/seeding/triplet_seeding_algorithm.hip
  Traccc/device/sycl/include/traccc/sycl/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/sycl/src/seeding/triplet_seeding_algorithm.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: add optional time cut to DoubletSeedFinder
  Core/include/Acts/Seeding/DoubletSeedFinder.hpp
  Core/src/Seeding/DoubletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pre-commit failure fixes
  Detray/codegen/detray-sympy/requirements.txt
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/navigation/external_surface.hpp
  Detray/core/include/detray/propagator/perigee_extrapolator.hpp
  Detray/detectors/include/detray/detectors/itk_metadata.hpp
  Traccc/extras/benchmark/requirements.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make the opening angle configurable and use the angle between the origin and the position to determine if we are inside the frustum or not
  Core/include/Acts/Navigation/FrustumNavigationPolicy.hpp
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix!: Drop the scalar surface array neighbor distance
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  docs/groups/detector_descr/surface_array.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: Document each space point group cursor
  Core/include/Acts/Seeding/TripletSeeder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: Correct the transform mode in `inverseTransform`
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: add optional triplet time cut to TripletSeedFinder
  Core/include/Acts/Seeding/TripletSeedFinder.hpp
  Core/src/Seeding/TripletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: expose the seeding time cuts in the examples and python
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: gbts allow intra layer linking (#5982)
  Core/include/Acts/Seeding/GbtsLayerDescription.hpp
  Core/src/Seeding/GbtsGeometry.cpp
  Traccc/core/src/gbts_seeding/gbts_seeding_config.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Disable assertions in pypi wheel build
  CMakePresets.json
Due: leftover_conflict_markers, format-json

restore edm4hep fallback
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

newline
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

ci: Make nightly PyPI build manually triggered
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

perf: Hand the sympy vacuum kernel dt/ds (#6059)
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/src/Propagator/SympyStepper.cpp
  Core/src/Propagator/detail/SympyStepperStep.hpp
  Core/src/Propagator/detail/SympyStepperStepImpl.hpp
  Core/src/Propagator/generate_sympy_stepper.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Keep nightly PyPI build matrix on schedule, gate upload manually
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

ci: Update physmon and ROOT hash references
  CI/physmon/reference.sha256
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

implement CI suggestion
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Forward missing config args to the seeders in python (#6052)
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

fix: Resolve the start volumes through the non-deprecated lookup
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Keep the scalar surface array neighbor distance as a deprecated shim
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  docs/groups/detector_descr/surface_array.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

removed uv generated requirements
  Detray/codegen/detray-sympy/requirements.txt
  Traccc/extras/benchmark/requirements.txt
Due: leftover_conflict_markers

implement CI suggestion for real
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
