Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

Lint
  Core/include/Acts/Seeding2/HoughAccumulatorSection.hpp
  Core/src/Seeding2/HoughAccumulatorSection.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix prediction again
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add edm4hep tracker hit links to PODIO track container (#5354)
  Examples/Io/EDM4hep/CMakeLists.txt
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/DD4hepPodioConversionHelper.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepMeasurementOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/EDM4hepTrackOutputConverter.hpp
  Examples/Io/EDM4hep/include/ActsExamples/Io/EDM4hep/PodioTrackOutputConverter.hpp
  Examples/Io/EDM4hep/src/DD4hepPodioConversionHelper.cpp
  Examples/Io/EDM4hep/src/EDM4hepMeasurementOutputConverter.cpp
  Examples/Io/EDM4hep/src/PodioTrackOutputConverter.cpp
  Examples/Io/Podio/CMakeLists.txt
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioMeasurementInputConverter.hpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/PodioMeasurementOutputConverter.hpp
  Examples/Io/Podio/src/PodioMeasurementInputConverter.cpp
  Examples/Io/Podio/src/PodioMeasurementOutputConverter.cpp
  Plugins/EDM4hep/edm.yml
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioUtil.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/TrackerHitCompatibility.hpp
  Plugins/EDM4hep/src/EDM4hepUtil.cpp
  Python/Examples/src/plugins/EDM4hep.cpp
  Python/Examples/tests/test_edm4hep.py
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackContainerTest.cpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackStateContainerTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

improve error handling; improve logging
  Examples/Algorithms/TrackFitting/src/KalmanReferenceTrajectoryFitterFunction.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

blub
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Examples/Algorithms/TrackFitting/src/KalmanReferenceTrajectoryFitterFunction.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

string prefix for seeds and seeding performance writers in reconstruction.py, to have separate files for multi-pass tracking
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

Sonar cloud fixes & test debugging
  Core/include/Acts/Seeding2/HoughAccumulatorSection.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
  Tests/UnitTests/Core/Seeding/HoughAccumulatorSectionTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Sonar cloud fixes & test debugging
  Core/include/Acts/Seeding2/HoughAccumulatorSection.hpp
  Tests/UnitTests/Core/Seeding/HoughAccumulatorSectionTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Fixed test
  Tests/UnitTests/Core/Seeding/HoughAccumulatorSectionTest.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix?
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
  Python/Examples/python/reconstruction.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

favicon
  docs/Doxyfile.in
  docs/figures/favicon/apple-touch-icon.png
  docs/figures/favicon/favicon-16x16.png
  docs/figures/favicon/favicon-32x32.png
  docs/figures/favicon/favicon.ico
  docs/header.html
Due: leftover_conflict_markers

remove explicit dependency finding
  cmake/ActsConfig.cmake.in
Due: leftover_conflict_markers

externsion
  CI/check_unused_files.py
Due: leftover_conflict_markers

deprecate global lookup
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/MaterialValidator.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Propagator/detail/PointwiseMaterialInteraction.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/Geant4/Geant4ConvertersTests.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Bump dependencies to v23.0.0
  .devcontainer/Dockerfile
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

nuking the global + direction call
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/src/Material/ISurfaceMaterial.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

build: Switch ODD source to GitHub (#5408)
  cmake/ActsExternSources.cmake
Due: leftover_conflict_markers

update tests
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

update
  Examples/Algorithms/TrackFindingGnn/CMakeLists.txt
  Plugins/Gnn/CMakeLists.txt
  cmake/setup_withdeps.sh.in
Due: leftover_conflict_markers

fix
  Examples/Algorithms/TrackFindingGnn/CMakeLists.txt
Due: leftover_conflict_markers

include detector_types.xml
  Tests/UnitTests/Plugins/DD4hep/XMLFragments.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Apply suggestions from code review
  Core/include/Acts/Seeding2/HoughAccumulatorSection.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix test cmake
  Tests/UnitTests/Plugins/Gnn/CMakeLists.txt
Due: leftover_conflict_markers

chore: Add `referenceFrame` overload without position/direction for plane surfaces
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Tests/UnitTests/Plugins/Gnn/CMakeLists.txt
Due: leftover_conflict_markers

docs
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Post review fixes
  Core/include/Acts/Seeding2/HoughAccumulatorSection.hpp
  Tests/UnitTests/Core/Seeding/HoughAccumulatorSectionTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update again
  Examples/Algorithms/TrackFindingGnn/CMakeLists.txt
  Plugins/Gnn/CMakeLists.txt
  Tests/UnitTests/Plugins/Gnn/CMakeLists.txt
Due: leftover_conflict_markers

feat: Iterative gauss fit for performance plots
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFitterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Plugins/Root/include/ActsPlugins/Root/HistogramConverter.hpp
  Plugins/Root/src/HistogramConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Plugins/Gnn/CMakeLists.txt
Due: leftover_conflict_markers

cleanup
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/KalmanReferenceTrajectoryFitterFunction.cpp
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
  Python/Examples/src/TrackFitting.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

restrice to local frame maps, test for it
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Surfaces/ConeSurface.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Core/src/Material/HomogeneousSurfaceMaterial.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Surfaces/ConeSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/CylinderSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/DiscSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/LineSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Add navigator concept
  Core/include/Acts/Propagator/NavigatorConcept.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Core/include/Acts/Propagator/VoidNavigator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Revise zero-charge q/p
  Core/include/Acts/EventData/ChargeHypothesis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

disable Detray cylinder conversion
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

use ACTS_POP/PUSH_DEPRECATED
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/src/Material/ISurfaceMaterial.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix silly
  Plugins/Root/src/HistogramConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add install dir to unit test for DD4hep plugin
  Tests/UnitTests/Plugins/DD4hep/CMakeLists.txt
Due: leftover_conflict_markers

few more cases
  Core/include/Acts/EventData/detail/GenerateParameters.hpp
  Tests/UnitTests/Core/EventData/BoundTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/CurvilinearTrackParametersTests.cpp
  Tests/UnitTests/Core/EventData/FreeTrackParametersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros
