Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

fix: Fix `TruthSeedingAlgorithm` space point sorting (#4711)
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/tracksummary_ckf_hist.root
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, type_t, math_macros

initial cov
  CI/physmon/workflows/physmon_trackfitting_kf.py
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: license, type_t, math_macros

disable smearing
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackParameterSmearing.hpp
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: license, include_guards, pragma_once, type_t, math_macros

fix overlaps in geo mockup
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

fix
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: none

fix clashes and make inner vols nodes for correct navigation
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

refactor: Rework setup scripts (#4733)
  cmake/ActsCreateSetup.cmake
  cmake/setup.sh.in
  cmake/setup_withdeps.sh.in
Due: none

try again
  Core/include/Acts/Utilities/Helpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

better nan and inf support for clamping
  Core/include/Acts/Utilities/Helpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

ci: Drop linux_ubuntu without ROOT build (#4730)
  .github/workflows/builds.yml
  CMakePresets.json
Due: none

remove no needed couts
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

adjusting covriance
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

adding missing documentation
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

removing lambda
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

cleaning the test file
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

precommit
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

cleaning test file
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

cleaning again the test file
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

precommit
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

solving sonar issues
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

trying reduce lambfa length
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

still cleaning the test
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, math_macros

applying suggestion
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

precommit
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

trying with implementation function but its not good
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

last round of changes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

cleaning
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

squashing
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

second round of comments
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

cleaning includes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

first round of comments
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix
  Core/include/Acts/Utilities/Helpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

last change to covariance
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

update refs
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/tracksummary_ckf_hist.root
Due: none

cleanup
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TruthSeedingAlgorithm.cpp
  Examples/Python/src/TruthTracking.cpp
Due: license, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
