Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

rm using
  Core/src/Geometry/CuboidVolumeBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix
  CI/physmon/workflows/physmon_trackfinding_ttbar_pu200.py
Due: leftover_conflict_markers

chore: Another round of sonar fixes (#5040)
  .github/workflows/builds.yml
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.ipp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.ipp
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Utilities/Histogram.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/src/Definitions/Direction.cpp
  Core/src/EventData/VectorMultiTrajectory.cpp
  Core/src/Geometry/Volume.cpp
  Examples/Algorithms/TrackFitting/src/KalmanFitterFunction.cpp
  Examples/Framework/include/ActsExamples/EventData/ScalingCalibrator.hpp
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/src/EventData/ScalingCalibrator.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Plugins/Root/include/ActsPlugins/Root/HistogramConverter.hpp
  Plugins/Root/src/HistogramConverter.cpp
  Tests/UnitTests/Core/Geometry/VolumeTests.cpp
  Tests/UnitTests/Plugins/Root/BoostHistogramConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Add a warning if no tracks are associated
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

remove ununsed import symbol
  Examples/Scripts/Python/itk_seeding.py
Due: leftover_conflict_markers

test compilation fixes
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackContainerTest.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

disallow `release_into` for `shared_ptr` holder
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

improve constructors
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackStateContainerTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix compilation
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackStateContainerTest.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

simplify types a bit
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Expose plotting configuration to python bindings (#5053)
  Python/Examples/src/plugins/Root.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix bin nr underflow
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  Tests/UnitTests/Core/Vertexing/HoughVertexFinderTests.cpp
Due: license, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update full_chain_odd_LRT.py to match full_chain_odd.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
Due: leftover_conflict_markers

chore: fix random typos (#5055)
  CI/README.md
  Core/include/Acts/Geometry/BoundarySurfaceFace.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/MagneticField/MagneticFieldContext.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Core/include/Acts/Utilities/BinAdjustmentVolume.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorBuilder.cpp
  Examples/Scripts/compareRootFiles.hpp
  Tests/IntegrationTests/PropagationBentTracks.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceIntersectionTests.cpp
  Tests/UnitTests/Plugins/DD4hep/LayerFactory.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: rename `doPloting` to `doPlotting` (double T) (#5056)
  Examples/Scripts/Python/Auto-tuning/Orion/launchMaterialAutoTuning.sh
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
Due: leftover_conflict_markers

update truth jet test script
  Examples/Scripts/Python/truth_jet_test.py
Due: leftover_conflict_markers

chore: correct use of `setup` and `(to) set up` (#5057)
  CMakeLists.txt
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/TextMagneticFieldIo.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/Utilities/detail/Polynomials.hpp
  Plugins/Root/include/ActsPlugins/Root/RootMagneticFieldIo.hpp
  Plugins/Root/src/RootMaterialDecorator.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/tests/test_examples.py
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

refactor: remove unused using namespace (#5058)
  Core/src/Geometry/CuboidVolumeBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Core
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

make a script flag for dotrackjetmatching
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/TruthJet.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Take tracks only if matching is enabled
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Modify truth jet script
  Examples/Scripts/Python/truth_jet_test.py
Due: leftover_conflict_markers

Fix some minor things in setup scripts
  CMakeLists.txt
  Python/Core/CMakeLists.txt
  cmake/setup.sh.in
Due: cmake_options, leftover_conflict_markers

fix a few doxygen errors
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove unnecessary thingies
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

more
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore: Organize GSF utilities
  Core/include/Acts/TrackFinding/MeasurementAdatper2.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GsfComponent.hpp
  Core/include/Acts/TrackFitting/GsfMixtureReduction.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/CMakeLists.txt
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
  Python/Examples/tests/test_examples.py
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

rm
  Core/include/Acts/TrackFinding/MeasurementAdatper2.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

doc
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

change type
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Python/Examples/python/reconstruction.py
  Python/Examples/python/simulation.py
Due: leftover_conflict_markers

move everything to `Acts::detail::Gsf`
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/include/Acts/TrackFitting/detail/SymmetricKlDistanceMatrix.hpp
  Core/src/TrackFitting/GsfMixtureReduction.cpp
  Core/src/TrackFitting/GsfUtils.cpp
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

merge muon visualization files
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Root/MuonHoughVisualization.hpp
  Examples/Framework/include/ActsExamples/Root/MuonVisualization.hpp
  Examples/Framework/src/Root/MuonHoughVisualization.cpp
  Examples/Framework/src/Root/MuonVisualization.cpp
  Python/Examples/src/plugins/Root.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs fixes
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

changes based of comments on GbtsSeedingAlgorithm
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

small change
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Due: leftover_conflict_markers

doc
  Core/include/Acts/TrackFitting/GsfComponent.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

changes before tracking filter hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
