Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

test compatibility of ProxyAccessor with AnyTrack(State)
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/AnyTrackState.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

pull more methods into the common track proxy
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackProxyCommon.hpp
  Core/include/Acts/EventData/TrackProxyConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor anytrack to use component interface and keep the handles light
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add calibrated double ptr access methods
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: AnyTrackState type-erased type
  Core/include/Acts/EventData/AnyTrackState.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

drop AnyTrack default constructor
  Core/include/Acts/EventData/AnyTrack.hpp
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

remove useless branch in any track state proxy
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

prep for tsp crtp
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

use ctad in any track test
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, type_t, boost_test, math_macros

make internal constructors private
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

move a bunch of functions into the common track state proxy
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

another detail namespace cleanup
  Core/include/Acts/EventData/AnyTrackState.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

complete documentation
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

M_PI -> std::numbers::pi
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: AnyTrackState -> AnyTrackStateProxy
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateProxyTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add some missing methods to any track state
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: move common proxy types out of detail namespace
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

reduce API surface
  Core/include/Acts/EventData/AnyTrackState.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

docs: add documentation to common track proxies
  Core/include/Acts/EventData/TrackProxyCommon.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

lint
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, type_t, boost_test, math_macros

use central component hashes for any track proxy
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: AnyTrack -> AnyTrackProxy
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackProxyTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

basic CRTP pattern, proof of concept
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

shift definition of keys and typdefs to common header
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

cleanup, detail namespace name
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

claude moves smoothed methods
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

improve any track state proxy test coverage
  Tests/UnitTests/Core/EventData/AnyTrackStateProxyTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: More constistent const-ness in MultiTrajectory
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryBackendConcept.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

claude moves chi2, pathlength and typeFlags
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

bugfix in gsf utils, common typeFlags method
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove obsolete methods
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

preliminary cleanup
  Core/include/Acts/EventData/AnyTrack.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix incldues
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
Due: license, pragma_once, type_t, math_macros

fix docs issue
  Core/include/Acts/EventData/TrackStateProxyCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix a bunch of whitespace linter errors
  .github/workflows/docs.yml
  Plugins/Json/include/ActsPlugins/Json/JsonSurfacesReader.hpp
  docs/groups/dataprep/index.md
  docs/groups/detector_descr/material.md
  docs/groups/eventdata/measurement.md
  docs/pages/tracking.md
  docs/references.bib
Due: license, include_guards, pragma_once, type_t, math_macros

add patch for module map graph build
  .pre-commit-config.yaml
  thirdparty/ModuleMapGraph/CMakeLists.txt
  thirdparty/ModuleMapGraph/include_cmath.patch
Due: none

(maybe) fix unused files pattern
  CI/check_unused_files.py
Due: none

fix: move DetectorElementBase pybind11 definition to Core (#4941)
  Python/Core/src/Geometry.cpp
  Python/Examples/src/Detector.cpp
Due: license, type_t, math_macros

fix format
  CI/bump_versions.py
Due: none

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
