Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

feat: Resolve passives for TryAllNavigationPolicy (#4803)
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

docs: Update jacobian (#4782)
  docs/tracking.md
Due: none

fixes
  Examples/Python/tests/root_file_hashes.txt
  Examples/Python/tests/test_examples.py
Due: none

update
  .gitlab-ci.yml
Due: none

feat: Toroidal field benchmark with LUT caching and symmetry optimization
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalFieldMap.hpp
  Examples/Detectors/MagneticField/src/ToroidalFieldBindings.cpp
  Examples/Detectors/MagneticField/src/ToroidalFieldMap.cpp
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
Due: license, include_guards, pragma_once, type_t, math_macros

Adding description for benchmark_single_evaluations
  Examples/Scripts/Python/toroidal_field_benchmark.py
Due: none

Fix linting
  Examples/Scripts/Python/toroidal_field_basic.py
  Examples/Scripts/Python/toroidal_field_benchmark.py
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
  Examples/Scripts/Python/toroidal_field_simulation.py
Due: none

Fixing linting
  Examples/Scripts/Python/toroidal_field_benchmark.py
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
  Examples/Scripts/Python/toroidal_field_simulation.py
Due: none

fixed float conversion error
  Core/src/Seeding/GbtsGeometry.cpp
Due: license, type_t, math_macros

Fixing linting
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalField.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalFieldMap.hpp
  Examples/Detectors/MagneticField/src/ToroidalField.cpp
  Examples/Detectors/MagneticField/src/ToroidalFieldBindings.cpp
  Examples/Detectors/MagneticField/src/ToroidalFieldMap.cpp
  Examples/Scripts/Python/toroidal_field_simulation.py
Due: license, include_guards, pragma_once, type_t, math_macros

reformatted to clang style formatting
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Python/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Adding save function for LUT
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
Due: none

automatic changes made by pre-commit run --all-files commited, manual changes to do now
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Due: license, include_guards, pragma_once, type_t, math_macros

more formatting fixes
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
Due: license, type_t, math_macros

clang formatting passed
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
Due: license, type_t, math_macros

deleted messages from PR comment by Tim Adye
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
Due: license, type_t, math_macros

uncomment CFK in running script as commented by Tim Adye
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Due: none

Fix again linting
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
Due: none

single threaded
  CI/physmon/workflows/physmon_trackfitting_gsf.py
Due: none

no pythia
  Examples/Scripts/Python/gnn_module_map_odd.py
Due: none

fix
  Examples/Scripts/Python/gnn_module_map_odd.py
Due: none

docs: Reshuffle documentation
  docs/getting_started.md
Due: none

docs: Reshuffle documentation (#4805)
  docs/getting_started.md
Due: none

update
  Examples/Scripts/Python/gnn.py
Due: none

Updating LUT saving
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
Due: none

Fixing linting again
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
Due: none

Fixing for merge request
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalField.hpp
  Examples/Detectors/MagneticField/src/ToroidalField.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fixing for merge request
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalField.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Document method
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Don't time as DoF if not needed
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

Start clean-up of the residual test
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Utilities/StringHelpers.hpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Need to move the constructors still
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Test compile
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Use string function
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Fix clang
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Let's try
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/detail/TransformComparator.hpp
  Core/src/Utilities/TransformComparator.cpp
  Tests/UnitTests/Core/Vertexing/GridDensityVertexFinderTests.cpp
  Tests/UnitTests/Core/Vertexing/TrackDensityVertexFinderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

More sign updates
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
Due: license, pragma_once, type_t, math_macros

Print fixes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

Update Core/include/Acts/Utilities/detail/TransformComparator.hpp
  Core/include/Acts/Utilities/detail/TransformComparator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Remove debug message
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
Due: license, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
