Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

Implement suggestions
  Core/include/Acts/Definitions/PdgParticle.hpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Fatras/include/ActsFatras/EventData/HeavyFlavourOrigin.hpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix documentation
  Fatras/include/ActsFatras/EventData/HeavyFlavourOrigin.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make linter happy
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make linter happy
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fix typo
  Fatras/include/ActsFatras/EventData/HeavyFlavourOrigin.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make linter happy
  Fatras/include/ActsFatras/EventData/HeavyFlavourOrigin.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Make python warnings failures in pytest (#5682)
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Python/Examples/tests/conftest.py
  Python/Examples/tests/helpers/hash_root.py
  pytest.ini
Due: license, type_t, leftover_conflict_markers, math_macros

perf: cut peak compile memory of the heaviest translation units (#5743)
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Alignment/src/Kernel/detail/AlignmentEngine.cpp
  Core/include/Acts/Utilities/Frustum.ipp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/include/Acts/Utilities/detail/QuaternionFromTwoVectors.hpp
  Core/src/Geometry/GenericCuboidVolumeBounds.cpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/CreateMultiAxis3Bound.cpp
  Core/src/Utilities/CreateMultiAxis3Closed.cpp
  Core/src/Utilities/CreateMultiAxis3Open.cpp
  Core/src/Utilities/IMultiAxis.cpp
  Core/src/Utilities/TrackHelpersUnbiased.cpp
  Core/src/Utilities/detail/CreateMultiAxis3.hpp
  Core/src/Utilities/detail/CreateMultiAxis3Bound.cpp
  Core/src/Utilities/detail/CreateMultiAxis3Closed.cpp
  Core/src/Utilities/detail/CreateMultiAxis3Impl.hpp
  Core/src/Utilities/detail/CreateMultiAxis3Open.cpp
  Core/src/Utilities/detail/QuaternionFromTwoVectorsDouble.cpp
  Core/src/Utilities/detail/QuaternionFromTwoVectorsFloat.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: cut ~230s of avoidable work from the python test suite
  Examples/Scripts/Python/geometry.py
  Python/Examples/python/__init__.py
  Python/Examples/python/odd.py
  Python/Examples/tests/test_covfie.py
  Python/Examples/tests/test_geometry.py
  Python/Examples/tests/test_hepmc3.py
Due: leftover_conflict_markers

test: share one ODD instance across the python test suite
  Python/Examples/tests/conftest.py
  Python/Examples/tests/test_detectors.py
  Python/Examples/tests/test_edm4hep.py
  Python/Examples/tests/test_examples.py
  Python/Examples/tests/test_geometry.py
  Python/Examples/tests/test_material_mapping.py
  Python/Examples/tests/test_material_merge_rz_view.py
  Python/Examples/tests/test_writer.py
Due: leftover_conflict_markers

test: do not publish session fixture output until it is complete
  Python/Examples/tests/conftest.py
  Python/Examples/tests/test_edm4hep.py
Due: leftover_conflict_markers

Fix typo
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix(traccc): don't treat in-tree Acts/Detray headers as system includes (#5728)
  Core/include/Acts/Geometry/GeometryHierarchyMap.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/IMultiAxis.hpp
  Core/include/Acts/Utilities/Logger.hpp
  Detray/core/include/detray/navigation/detail/intersection_kernel.hpp
  Detray/core/include/detray/propagator/propagator.hpp
  Detray/io/include/detray/io/csv/dfe.hpp
  Detray/io/include/detray/io/csv/intersection2D.hpp
  Detray/io/include/detray/io/csv/track_parameters.hpp
  Detray/tests/include/detray/test/common/event_generator/random_track_generator.hpp
  Detray/tests/include/detray/test/utils/perigee_stopper.hpp
  Traccc/core/include/traccc/fitting/kalman_filter/kalman_fitter.hpp
  Traccc/extern/acts/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Fatras/include/ActsFatras/EventData/HeavyFlavourOrigin.hpp
  Fatras/include/ActsFatras/EventData/HeavyFlavourOrigin.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Move HF origin from ActsFatras to SimParticle
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Fatras/include/ActsFatras/EventData/HeavyFlavourOrigin.hpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: keep the .root suffix on the ddsim staging path
  Python/Examples/tests/test_edm4hep.py
Due: leftover_conflict_markers

test: Add GBTS seeding regression test
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Make GBTS acceptance cuts configurable
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Replace the GBTS node EDM with space point container indices
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Fill the GBTS node storage directly from the input space points
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: Add a GBTS documentation page
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: document navigation-less material mapping
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulator.hpp
  Core/include/Acts/Material/IntersectionMaterialAssigner.hpp
  Core/include/Acts/Material/MaterialInteractionAssignment.hpp
  Core/include/Acts/Material/MaterialValidator.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Material/interface/IAssignmentFinder.hpp
  Core/include/Acts/Material/interface/ISurfaceMaterialAccumulator.hpp
  docs/groups/detector_descr/material_mapping.md
  docs/pages/examples/material_mapping.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix deltaRMin assignment in topDoubletFinderConfig
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fix typo
  Examples/Io/Root/src/RootParticleWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

docs: add a practical material mapping how-to
  docs/DoxygenLayout.xml
  docs/groups/detector_descr/material_mapping.md
  docs/pages/examples/material_mapping.md
  docs/pages/examples/material_mapping_howto.md
Due: leftover_conflict_markers

Update CI/cibuildwheel.sh
  CI/cibuildwheel.sh
Due: leftover_conflict_markers

docs: describe Gen3 material designation in the how-to
  docs/groups/detector_descr/material_mapping.md
  docs/pages/examples/material_mapping_howto.md
Due: leftover_conflict_markers

test: Add an ITk-scale GBTS seeding benchmark
  Tests/Benchmarks/CMakeLists.txt
  Tests/Benchmarks/GbtsSeedingBenchmark.cpp
  Tests/Benchmarks/SyntheticItkEvent.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: Speed up the GBTS triplet matching loop
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Compute the GBTS tau reciprocal without a division
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Make linter happy
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add ALPAKA_HIP_SYCL to CI
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

Make linter happy
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

test: generate one ddsim sample instead of two identical ones
  Python/Examples/tests/test_edm4hep.py
Due: leftover_conflict_markers

docs: take material mapping snippets from compiled and tested code
  docs/CMakeLists.txt
  docs/examples/material_designation.cpp
  docs/examples/test_material.py
  docs/pages/examples/material_mapping_howto.md
Due: license, type_t, leftover_conflict_markers, math_macros

rename perf writer
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/DuplicationPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/FakePlotTool.hpp
  Examples/Framework/include/ActsExamples/Validation/PatternPerformanceCollector.hpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/FakePlotTool.cpp
  Examples/Framework/src/Validation/PatternPerformanceCollector.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPatternPerformanceWriter.hpp
  Examples/Io/Root/src/RootPatternPerformanceWriter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Examples/python/__init__.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/src/plugins/Root.cpp
  Python/Examples/tests/test_writer.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
