Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

const/mutable column proxies
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/detail/SpacePointContainer2Column.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: move ROOT surface material map I/O to plugins
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackAccessor.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackAccessor.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Update doxygen documentation format
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonHoughSeeder.hpp
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Examples/Framework/include/ActsExamples/EventData/MuonHoughMaximum.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSegment.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Python/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: TrapezoidVolumeBounds - Fix printout legend (#4426)
  Core/src/Geometry/TrapezoidVolumeBounds.cpp
Due: license, type_t, math_macros

pr feedback
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix TGeoSurfaceConverter header bug
  Plugins/Root/include/Acts/Plugins/Root/TGeoSurfaceConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Adding feature where a geometric cut can be applied for measurements, clusters and spacepoint. For the abality to do partial GNN or other tracklet finding, while then extentision with the CKF
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ClusterCutter.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/ClusterCutter.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/MeasurementCutter.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/MeasurementCutter.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/SpacePointCutter.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/SpacePointCutter.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Python/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: Update doxygen documentation format (#4427)
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonHoughSeeder.hpp
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Examples/Framework/include/ActsExamples/EventData/MuonHoughMaximum.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSegment.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Python/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Adding 2D version of the nMeasurements, nOutliers, and nHoles vs eta and pT for easier debugging
  Examples/Framework/include/ActsExamples/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing pytest
  Examples/Python/tests/test_alignmentdecorator.py
Due: none

fix: Add material typedefs back with deprecation
  Core/include/Acts/Material/MaterialMapper.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Follwups on Sonar cloud findings
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/helpers/__init__.py
Due: none

Review
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

Fix sonar cloud
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

Linter
  Core/include/Acts/Geometry/BlueprintNode.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Geant 4 simulation script with GeoModel detector
  Core/include/Acts/Geometry/BlueprintNode.hpp
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelMuonMockupBuilder.hpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Python/tests/helpers/__init__.py
  Examples/Python/tests/test_examples.py
  Examples/Scripts/Python/geomodel_G4.py
Due: license, include_guards, pragma_once, type_t, math_macros

add json geometry id infrastructure
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryIdentifierJsonConverter.hpp
  Plugins/Json/src/GeometryIdentifierJsonConverter.cpp
  Plugins/Json/src/JsonSurfacesReader.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/GeometryIdentifierJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

lintify
  Plugins/Json/include/Acts/Plugins/Json/GeometryIdentifierJsonConverter.hpp
  Plugins/Json/src/GeometryIdentifierJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/GeometryIdentifierJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: ActsExamples - Refactor how Surfaces are associated with G4Volumes (#4409)
  Core/include/Acts/Utilities/detail/TransformComparator.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/TransformComparator.cpp
  Examples/Algorithms/Geant4/CMakeLists.txt
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/AlgebraConverters.hpp
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/SensitiveSurfaceMapper.hpp
  Examples/Algorithms/Geant4/src/AlgebraConverters.cpp
  Examples/Algorithms/Geant4/src/MagneticFieldWrapper.cpp
  Examples/Algorithms/Geant4/src/MaterialSteppingAction.cpp
  Examples/Algorithms/Geant4/src/ParticleKillAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Python/src/Geant4Component.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/TransformComparatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

sonarcloud
  Plugins/Root/src/RootSpacePointIo.cpp
Due: license, type_t, math_macros

align constness with track edm
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Add material typedefs back with deprecation (#4425)
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/src/Material/MaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Json/src/JsonMaterialWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootInput.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Python/tests/test_writer.py
  Plugins/Json/include/Acts/Plugins/Json/JsonMaterialDecorator.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackAccessor.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Plugins/Root/src/RootMaterialTrackAccessor.cpp
  Plugins/Root/src/RootMaterialTrackIo.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Initialize the propagator from Plain options
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Improve flexibility of `CylindricalSpacePointGrid2`
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/Seeding2/CylindricalSpacePointGrid2.hpp
  Core/src/Seeding2/CylindricalSpacePointGrid2.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

pr feedback
  Core/include/Acts/Seeding2/CylindricalSpacePointGrid2.hpp
  Core/src/Seeding2/CylindricalSpacePointGrid2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Make use of UnitConstants and Helpers
  Plugins/Root/include/Acts/Plugins/Root/TGeoSurfaceConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Couple of improvements to `SpacePointContainer2` (#4404)
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.ipp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/Types.hpp
  Core/include/Acts/EventData/detail/SpacePointContainer2Column.hpp
  Core/src/EventData/SpacePointContainer2.cpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Plugins/Root/include/Acts/Plugins/Root/RootSpacePointIo.hpp
  Plugins/Root/src/RootSpacePointIo.cpp
  Tests/UnitTests/Core/EventData/SpacePointContainer2Tests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: ProxyAccessor gets function to check existence
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Tests/UnitTests/Core/EventData/TrackTestsExtra.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Adding plotting for differnece in measurement between CKF and input prototrack
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/src/EventData/VectorTrackContainer.cpp
  Examples/Algorithms/TrackFindingExaTrkX/src/TrackFindingFromPrototrackAlgorithm.cpp
  Examples/Framework/include/ActsExamples/Validation/TrackSummaryPlotTool.hpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
Due: license, include_guards, pragma_once, type_t, math_macros

fix coordinate ordering
  Core/include/Acts/Seeding2/CylindricalSpacePointGrid2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Use uv build backend for codegen project
  codegen/README.md
  codegen/pyproject.toml
Due: codegen_dependencies

fix: Gx2Fitter - Initialize the propagator from Plain options (#4431)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

simplification
  Core/include/Acts/EventData/ProxyAccessor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

lintify
  Python/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Examples/include/ActsPython/Examples/Helpers.hpp
  Python/Utilities/CMakeLists.txt
  Python/Utilities/include/ActsPython/Utilities/Context.hpp
  Python/Utilities/include/ActsPython/Utilities/Macros.hpp
  Python/Utilities/include/ActsPython/Utilities/Patchers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

patching ONNX and ML
  Examples/Python/src/Hashing.cpp
  Examples/Python/src/Onnx.cpp
  Examples/Python/src/OnnxNeuralCalibrator.cpp
  Examples/Python/src/PodioComponent.cpp
  Examples/Python/src/TruthJet.cpp
Due: license, type_t, math_macros

ONNX again
  Examples/Python/src/OnnxNeuralCalibrator.cpp
Due: license, type_t, math_macros

geometry.py bugfix
  Examples/Scripts/Python/geometry.py
Due: none

refactor: Use uv build backend for codegen project (#4434)
  codegen/README.md
  codegen/pyproject.toml
Due: codegen_dependencies
