Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

try different pattern to ignore dependencies
  CI/test_coverage.py
Due: leftover_conflict_markers

python formatting
  CI/test_coverage.py
Due: leftover_conflict_markers

comma
  CI/test_coverage.py
Due: leftover_conflict_markers

add filtering at the xml level since gcovr can't be convinced to do what i want
  .github/workflows/analysis.yml
  CI/test_coverage.py
Due: leftover_conflict_markers

rework the script
  .github/workflows/analysis.yml
  CI/test_coverage.py
Due: leftover_conflict_markers

always upload artifact
  .github/workflows/analysis.yml
  CI/sonar_coverage.xsd
  ^1
Due: leftover_conflict_markers

Delete ^1
  ^1
Due: leftover_conflict_markers

try to ignore boost headers and validate xml
  CI/sonar_coverage.xsd
  CI/test_coverage.py
Due: leftover_conflict_markers

ws fix
  ^1
Due: leftover_conflict_markers

another pattern
  CI/test_coverage.py
Due: leftover_conflict_markers

CI hader error
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

other header file error
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Add policy state to navigation system (#4981)
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
  Core/src/Navigation/Navigator.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
  Python/Core/src/GeometryGen3.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/NavigationPolicyStateTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Remove old seeders from Examples (#5051)
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingOrthogonalAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/SeedingOrthogonalAlgorithm.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  Python/Examples/tests/test_algorithms.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Track to jet matching (#5050)
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Examples/Scripts/Python/truth_jet_test.py
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/TruthJet.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Update Gbts code in `Examples` and `TrackFinding` as well as change to fixed size variables (#5018)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GbtsSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Equip Shell constructor with GeometryContext
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/include/Acts/Geometry/CylinderPortalShell.hpp
  Core/include/Acts/Geometry/DiamondPortalShell.hpp
  Core/include/Acts/Geometry/TrapezoidPortalShell.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/ContainerBlueprintNode.cpp
  Core/src/Geometry/CuboidPortalShell.cpp
  Core/src/Geometry/CylinderPortalShell.cpp
  Core/src/Geometry/DiamondPortalShell.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Core/src/Geometry/TrapezoidPortalShell.cpp
  Tests/UnitTests/Core/Geometry/CuboidPortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderPortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/DiamondPortalShellTests.cpp
  Tests/UnitTests/Core/Geometry/TrapezoidPortalShellTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Fix documentation
  Core/include/Acts/Geometry/CuboidPortalShell.hpp
  Core/include/Acts/Geometry/CylinderPortalShell.hpp
  Core/include/Acts/Geometry/DiamondPortalShell.hpp
  Core/include/Acts/Geometry/TrapezoidPortalShell.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: bin number underflow in HoughVertexFinder (#5060)
  Core/include/Acts/Vertexing/HoughVertexFinder.ipp
  Tests/UnitTests/Core/Vertexing/HoughVertexFinderTests.cpp
Due: license, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Add CI test
  .github/workflows/builds.yml
Due: leftover_conflict_markers

fix docs
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: rename eNAME to NAME and deprecate previous
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/src/Surfaces/SurfaceBounds.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Rename `BoundsType` to `Type`
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/src/Surfaces/SurfaceBounds.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Make SurfaceBounds::BoundsType an enum class
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/src/Surfaces/SurfaceBounds.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Plugins/EDM4hep/src/PodioUtil.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Remove use of deprecated names
  Core/include/Acts/Surfaces/AnnulusBounds.hpp
  Core/include/Acts/Surfaces/ConeBounds.hpp
  Core/include/Acts/Surfaces/ConvexPolygonBounds.hpp
  Core/include/Acts/Surfaces/CylinderBounds.hpp
  Core/include/Acts/Surfaces/DiamondBounds.hpp
  Core/include/Acts/Surfaces/DiscTrapezoidBounds.hpp
  Core/include/Acts/Surfaces/EllipseBounds.hpp
  Core/include/Acts/Surfaces/InfiniteBounds.hpp
  Core/include/Acts/Surfaces/LineBounds.hpp
  Core/include/Acts/Surfaces/RadialBounds.hpp
  Core/include/Acts/Surfaces/RectangleBounds.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/include/Acts/Surfaces/TrapezoidBounds.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
  Examples/Io/Root/src/RootMuonSpacePointWriter.cpp
  Plugins/ActSVG/src/SurfaceSvgConverter.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Plugins/EDM4hep/src/PodioUtil.cpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/src/DetrayJsonHelper.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceBoundsTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorElementTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Make sonar load the actual PR sha instead of the branch
  .github/workflows/analysis.yml
  .github/workflows/sonarcloud.yml
Due: leftover_conflict_markers

ci: Make sonar load the actual PR sha instead of the branch (#5069)
  .github/workflows/analysis.yml
  .github/workflows/sonarcloud.yml
Due: leftover_conflict_markers

all Core
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Geometry/Volume.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

fix local python installation
  Python/Core/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Plugins/CMakeLists.txt
Due: leftover_conflict_markers

remove reference to deprecated
  Tests/UnitTests/Core/Propagator/NavigationPolicyStateTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

centrally managed python install directory
  CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Plugins/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

adding explicit shell
  .github/workflows/builds.yml
Due: leftover_conflict_markers

adding CI test
  .github/workflows/builds.yml
Due: leftover_conflict_markers

push it
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.cpp
  Examples/Algorithms/GeneratorsPythia8/ActsExamples/Generators/Pythia8ProcessGenerator.hpp
  Examples/Scripts/Python/H_gg.py
  Examples/Scripts/Python/pythia8_selection.py
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/Pythia8.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

rebase
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

remove remnant scripts
  .github/workflows/builds.yml
  Examples/Scripts/Python/H_gg.py
  Examples/Scripts/Python/pythia8_selection.py
Due: leftover_conflict_markers

undo python fix
  CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Plugins/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

Protect ODD setup in case of installed ACTS
  cmake/setup.sh.in
Due: leftover_conflict_markers

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
