Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

fix: simplified and clarified
  Examples/Framework/include/ActsExamples/Utilities/CudaHoughTransformUtils.hpp
  Examples/Framework/src/Utilities/CudaHoughTransformUtils.cu
  Tests/UnitTests/Core/Seeding/CudaHoughTransformUtilsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: address actor chain review comments
  Detray/core/include/detray/utils/tuple_helpers.hpp
  Detray/core/include/detray/utils/type_list.hpp
  Detray/tests/unit_tests/cpu/propagator/actor_chain.cpp
  Detray/tests/unit_tests/cpu/utils/type_list.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

port documentation
  docs/figures/seeding/3Dcoordinates.svg
  docs/figures/seeding/impactParameter.svg
  docs/figures/seeding/r-zCoordinates.svg
  docs/figures/seeding/tripletsFormation.svg
  docs/figures/seeding/x-yCoordinates.svg
  docs/figures/track_fitting/gsf_bethe_heitler_approx.svg
  docs/figures/track_fitting/gsf_overview.svg
  docs/groups/pattern_recog/seeding.md
  docs/groups/track_fitting.md
Due: leftover_conflict_markers

refactor: Drop residual std::enable_if
  Core/include/Acts/EventData/SpacePointContainer.hpp
  Core/include/Acts/EventData/SpacePointContainer.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: N-point space-point track parameter estimation with per-point weights
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/include/Acts/Seeding/detail/CircleFit.hpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: patch traccc state ref ordering
  thirdparty/traccc/0001-Fix-kalman-fitter-state-ref-order.patch
  thirdparty/traccc/CMakeLists.txt
Due: leftover_conflict_markers

refactor: use a single per-point weight in the space-point estimator
  Core/include/Acts/Seeding/EstimateTrackParamsFromSeed.hpp
  Core/src/Seeding/EstimateTrackParamsFromSeed.cpp
  Tests/UnitTests/Core/Seeding/EstimateTrackParamsFromSeedTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

build: Add explicit dependency for codegen (#5640)
  cmake/ActsCodegen.cmake
Due: leftover_conflict_markers

fix: address SonarCloud findings on PR #5619
  Core/include/Acts/Utilities/detail/LruCache.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.cpp
  Plugins/Arrow/src/ArrowUtil.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: remove rejected AMVF vertices safely (#5591)
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/src/Vertexing/AdaptiveMultiVertexFinder.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFinderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: clean traccc patch whitespace
  thirdparty/traccc/0001-Fix-kalman-fitter-state-ref-order.patch
Due: none

fix: PyPI build, improve CI (#5652)
  .github/actions/cibuildwheel_wrapper/action.yml
  .github/workflows/builds.yml
  .github/workflows/pypi.yml
  CI/cibuildwheel.sh
Due: leftover_conflict_markers

feat: record Geant4 production process of simulated particles (#5605)
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
  Fatras/include/ActsFatras/EventData/GenerationProcess.hpp
  Fatras/src/EventData/GenerationProcess.cpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Use SympyStepper for GSF fitting in examples (#5650)
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, type_t, leftover_conflict_markers, math_macros

fix(detray): Remove broken assertion in propagation validation
  Detray/tests/include/detray/test/validation/propagation_validation.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove volume support from detector factory
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Express concept restriction via requires
  Core/include/Acts/Geometry/TrackingVolume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Blub
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Python/Plugins/src/GeoModel.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Revert type traits
  Core/include/Acts/Utilities/TypeTraits.hpp
  Tests/UnitTests/Core/Utilities/TypeDispatcherTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Simplify
  Core/include/Acts/Geometry/ContainerBlueprintNode.hpp
  Core/include/Acts/Geometry/StaticBlueprintNode.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update doc format
  Core/include/Acts/Utilities/PointerTraits.hpp
  Core/src/Geometry/StaticBlueprintNode.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

adding spatialWindow and temporalWindow params for AMVF in examples
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add spatialWindow and temporalWindow params to track density config
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add spatial and temporal window parameters to vertexing
  Python/Examples/src/Vertexing.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

docs: Update documentation of CompositeSpacePoint classes (#5631)
  Core/include/Acts/EventData/CompositeSpacePoint.hpp
  Core/include/Acts/EventData/CompositeSpacePointCalibrator.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.hpp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Core/src/Seeding/CompositeSpacePointLineSeeder.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Blub
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Python/Plugins/src/GeoModel.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: enable Arrow/Parquet plugin in pypi wheel, test it in cibuildwheel
  CI/cibuildwheel.sh
  CI/dependencies/setup.sh
  CMakePresets.json
  Python/Examples/python/odd.py
  Python/Examples/tests/test_arrow.py
  Python/Examples/tests/test_reader.py
  Python/Examples/tests/test_track_finding_python_only.py
  Python/Examples/tests/test_uproot.py
  Python/Examples/tests/test_writer.py
  pytest.ini
Due: leftover_conflict_markers, format-json

update hashes
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

Update macOS version in PyPI workflow
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

Add unit test
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Python/Plugins/src/GeoModel.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update
  CI/cibuildwheel.sh
  CI/dependencies/setup.sh
Due: leftover_conflict_markers

Change MACOSX_DEPLOYMENT_TARGET version
  CI/cibuildwheel.sh
Due: leftover_conflict_markers

Disable ubuntu-latest in PyPI workflow
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

revert disable ubuntu
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

update
  .github/workflows/pypi.yml
Due: leftover_conflict_markers

Make the docs happy
  Core/include/Acts/Geometry/TrackingVolume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix bounding box retrieval
  Core/include/Acts/Geometry/Volume.hpp
  Core/src/Geometry/Volume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

DONT MERGE ME JUST DELOADING THE CI
  .github/workflows/checks.yml
  .github/workflows/detray.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/docs.yml
  .github/workflows/labels.yml
  .github/workflows/milestone.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pypi.yml
  .github/workflows/release.yml
  .github/workflows/remove-automerge-label.yml
  .github/workflows/report.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/stale.yml
  .github/workflows/trigger_athena.yml
  .github/workflows/update-pip-requirements.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

ci: Skip build and analysis flows for Detray PRs
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
Due: leftover_conflict_markers
