Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

changes for perigee extrapolation
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/navigation/external_surface.hpp
  Detray/core/include/detray/propagator/perigee_extrapolator.hpp
  Detray/detectors/include/detray/detectors/itk_metadata.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): patch alpaka sycl callback support
  Traccc/extern/alpaka/CMakeLists.txt
  Traccc/extern/alpaka/alpaka-2.0.0-sycl-enqueue-forward.patch
Due: leftover_conflict_markers

feat(traccc): introduce await customization point for CUDA clustering and seeding
  Traccc/device/common/include/traccc/clusterization/device/clusterization_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/seed_parameter_estimation_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/triplet_seeding_algorithm.hpp
  Traccc/device/common/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/common/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/common/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/common/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/cuda/CMakeLists.txt
  Traccc/device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/utils/await.hpp
  Traccc/device/cuda/src/clusterization/clusterization_algorithm.cu
  Traccc/device/cuda/src/seeding/seed_parameter_estimation_algorithm.cu
  Traccc/device/cuda/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cu
  Traccc/device/cuda/src/seeding/triplet_seeding_algorithm.cu
  Traccc/device/cuda/src/utils/await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): add missing CUDART_CB for CUDA resumption callback
  Traccc/examples/run/cuda/src/tbb_await.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(traccc): add TBB callback for sycl
  Traccc/device/sycl_utils/CMakeLists.txt
  Traccc/device/sycl_utils/include/traccc/sycl/utils/queue_wrapper.hpp
  Traccc/device/sycl_utils/src/queue_wrapper.sycl
  Traccc/examples/run/sycl/CMakeLists.txt
  Traccc/examples/run/sycl/include/traccc/examples/sycl/full_chain_algorithm.hpp
  Traccc/examples/run/sycl/include/traccc/examples/sycl/tbb_await.hpp
  Traccc/examples/run/sycl/src/full_chain_algorithm.cpp
  Traccc/examples/run/sycl/src/tbb_await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): add TBB callback for CUDA, configure await function from options
  Traccc/examples/options/include/traccc/options/threading.hpp
  Traccc/examples/options/src/threading.cpp
  Traccc/examples/run/common/CMakeLists.txt
  Traccc/examples/run/common/include/traccc/examples/await_strategy.hpp
  Traccc/examples/run/common/include/traccc/examples/impl/throughput_mt.ipp
  Traccc/examples/run/cpu/include/traccc/examples/cpu/full_chain_algorithm.hpp
  Traccc/examples/run/cpu/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/CMakeLists.txt
  Traccc/examples/run/cuda/include/traccc/examples/cuda/full_chain_algorithm.hpp
  Traccc/examples/run/cuda/include/traccc/examples/cuda/tbb_await.hpp
  Traccc/examples/run/cuda/src/cuda_error_check.hpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/src/tbb_await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): introduce await customization point for SYCL clustering and seeding
  Traccc/device/sycl/CMakeLists.txt
  Traccc/device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/utils/await.hpp
  Traccc/device/sycl/src/clusterization/clusterization_algorithm.sycl
  Traccc/device/sycl/src/seeding/seed_parameter_estimation_algorithm.sycl
  Traccc/device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm.sycl
  Traccc/device/sycl/src/seeding/triplet_seeding_algorithm.sycl
  Traccc/device/sycl/src/utils/await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): introduce await customization point for alpaka clustering and seeding
  Traccc/device/alpaka/CMakeLists.txt
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/clusterization_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/utils/await.hpp
  Traccc/device/alpaka/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/alpaka/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/alpaka/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/alpaka/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/alpaka/src/utils/await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): introduce a base class for awaitable components
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/clusterization_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/utils/algorithm_base.hpp
  Traccc/device/alpaka/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/alpaka/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/alpaka/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/alpaka/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/alpaka/src/utils/algorithm_base.cpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/clusterization/device/clusterization_algorithm.hpp
  Traccc/device/common/include/traccc/device/abstract_awaitable.hpp
  Traccc/device/common/include/traccc/seeding/device/seed_parameter_estimation_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/triplet_seeding_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/utils/algorithm_base.hpp
  Traccc/device/cuda/src/clusterization/clusterization_algorithm.cu
  Traccc/device/cuda/src/seeding/seed_parameter_estimation_algorithm.cu
  Traccc/device/cuda/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cu
  Traccc/device/cuda/src/seeding/triplet_seeding_algorithm.cu
  Traccc/device/cuda/src/utils/algorithm_base.cpp
  Traccc/device/hip/include/traccc/hip/clusterization/clusterization_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/utils/algorithm_base.hpp
  Traccc/device/hip/src/clusterization/clusterization_algorithm.hip
  Traccc/device/hip/src/utils/algorithm_base.cpp
  Traccc/device/sycl/include/traccc/sycl/clusterization/clusterization_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/utils/algorithm_base.hpp
  Traccc/device/sycl/src/clusterization/clusterization_algorithm.sycl
  Traccc/device/sycl/src/seeding/seed_parameter_estimation_algorithm.sycl
  Traccc/device/sycl/src/seeding/silicon_pixel_spacepoint_formation_algorithm.sycl
  Traccc/device/sycl/src/seeding/triplet_seeding_algorithm.sycl
  Traccc/device/sycl/src/utils/algorithm_base.sycl
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): introduce await customization point for HIP clustering
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/clusterization/clusterization_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/utils/await.hpp
  Traccc/device/hip/src/clusterization/clusterization_algorithm.hip
  Traccc/device/hip/src/utils/await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): control number of events processed concurrently in mt example
  Traccc/examples/options/include/traccc/options/threading.hpp
  Traccc/examples/options/src/threading.cpp
  Traccc/examples/run/common/include/traccc/examples/impl/throughput_mt.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): add TBB callback for alpaka
  Traccc/device/alpaka/include/traccc/alpaka/utils/queue.hpp
  Traccc/device/alpaka/src/utils/queue.cpp
  Traccc/examples/run/alpaka/CMakeLists.txt
  Traccc/examples/run/alpaka/include/traccc/examples/alpaka/full_chain_algorithm.hpp
  Traccc/examples/run/alpaka/include/traccc/examples/alpaka/tbb_await.hpp
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/alpaka/src/tbb_await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor(traccc): simplify TBB callback for SYCL and alpaka
  Traccc/examples/run/alpaka/src/tbb_await.cpp
  Traccc/examples/run/sycl/src/tbb_await.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(traccc): support suspension in HIP seeding algorithms
  Traccc/device/hip/include/traccc/hip/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/hip/src/seeding/seed_parameter_estimation_algorithm.hip
  Traccc/device/hip/src/seeding/silicon_pixel_spacepoint_formation_algorithm.hip
  Traccc/device/hip/src/seeding/triplet_seeding_algorithm.hip
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): support suspension in kalman fitting algorithm
  Traccc/device/alpaka/include/traccc/alpaka/fitting/kalman_fitting_algorithm.hpp
  Traccc/device/alpaka/src/fitting/kalman_fitting_algorithm.cpp
  Traccc/device/common/include/traccc/fitting/device/kalman_fitting_algorithm.hpp
  Traccc/device/common/src/fitting/kalman_fitting_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/fitting/kalman_fitting_algorithm.hpp
  Traccc/device/cuda/src/fitting/kalman_fitting_algorithm.cpp
  Traccc/device/hip/include/traccc/hip/fitting/kalman_fitting_algorithm.hpp
  Traccc/device/hip/src/fitting/kalman_fitting_algorithm.cpp
  Traccc/device/sycl/include/traccc/sycl/fitting/kalman_fitting_algorithm.hpp
  Traccc/device/sycl/src/fitting/kalman_fitting_algorithm.cpp
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/sycl/src/full_chain_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): support suspension in CKF algorithm
  Traccc/device/alpaka/include/traccc/alpaka/finding/combinatorial_kalman_filter_algorithm.hpp
  Traccc/device/alpaka/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/device/common/include/traccc/finding/device/combinatorial_kalman_filter_algorithm.hpp
  Traccc/device/common/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/finding/combinatorial_kalman_filter_algorithm.hpp
  Traccc/device/cuda/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/device/sycl/include/traccc/sycl/finding/combinatorial_kalman_filter_algorithm.hpp
  Traccc/device/sycl/src/finding/combinatorial_kalman_filter_algorithm.cpp
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/sycl/src/full_chain_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(traccc): ignore event when stream is used in callback-based handler
  Traccc/examples/run/alpaka/src/tbb_await.cpp
  Traccc/examples/run/cuda/src/tbb_await.cpp
  Traccc/examples/run/sycl/src/tbb_await.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor(traccc): change another sync to suspension in spacepoint formation
  Traccc/device/common/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Include guard
  .pre-commit-config.yaml
  Traccc/examples/run/common/include/traccc/examples/indicators.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pragma once
  .pre-commit-config.yaml
  Traccc/device/common/include/traccc/seeding/device/select_seeds.hpp
  Traccc/examples/tools/bfield_type.hpp
  Traccc/performance/include/traccc/performance/kalman_filter_comparison.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Math constants
  .pre-commit-config.yaml
  Traccc/core/include/traccc/fitting/triplet_fit/triplet_fitter.hpp
  Traccc/core/include/traccc/seeding/detail/seeding_config.hpp
  Traccc/core/include/traccc/seeding/spacepoint_binning_helper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

HIP SYCL
  .pre-commit-config.yaml
Due: leftover_conflict_markers

Type part 2
  Traccc/core/include/traccc/edm/impl/measurement_helpers.ipp
  Traccc/core/include/traccc/edm/measurement_helpers.hpp
  Traccc/core/include/traccc/fitting/triplet_fit/triplet_fitter.hpp
  Traccc/core/include/traccc/seeding/detail/seeding_config.hpp
  Traccc/core/include/traccc/seeding/spacepoint_binning_helper.hpp
  Traccc/performance/src/efficiency/duplication_plot_tool.hpp
  Traccc/performance/src/efficiency/fake_tracks_plot_tool.hpp
  Traccc/tests/common/tests/grid2_test.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Few more fixes
  Traccc/core/include/traccc/fitting/triplet_fit/triplet_fitter.hpp
  Traccc/core/include/traccc/seeding/detail/seeding_config.hpp
  Traccc/core/include/traccc/seeding/spacepoint_binning_helper.hpp
  Traccc/core/src/gbts_seeding/gbts_seeding_config.cpp
  Traccc/device/alpaka/src/utils/utils.hpp
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_fit_segments.ipp
  Traccc/device/cuda/src/utils/sync.cuh
  Traccc/device/hip/src/sanity/contiguous_on.hpp
  Traccc/extras/benchmark/requirements.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Invert placements as rigid transforms, and skip the angle in the local derivatives (#6048)
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

First unit test batch
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Update Examples/Scripts/Python/geomodel_G4.py
  Examples/Scripts/Python/geomodel_G4.py
Due: leftover_conflict_markers

feat: GBTS on ODD (#6067)
  Examples/Configs/odd-gbts-connection-table.txt
  Examples/Configs/odd-gbts-layer-geometry.txt
  Examples/Configs/odd-gbts-layer-map.txt
  Examples/Scripts/Python/full_chain_odd.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/gbts_layer_connection_training_itk.py
  Examples/Scripts/Python/gbts_layer_connection_training_odd.py
  docs/groups/pattern_recog/gbts.md
Due: leftover_conflict_markers

ci: Update the GSF root file hashes
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

Implement straw case
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Harden surface array windows and add configurable overfilling
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
  docs/figures/geometry/surface_array_figures.html
  docs/groups/detector_descr/surface_array.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Update GSF stepper components through the single stepper (#6058)
  CI/physmon/reference.sha256
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
  Core/include/Acts/Propagator/detail/SympyBoundToFreeScaling.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Move the tube chamber
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Fix doxygen
  Core/include/Acts/EventData/TransformationHelpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Unit test failure
  Tests/UnitTests/Plugins/Json/TrackingGeometryJsonConverterTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

mimimi implicit conversion
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Add unit test for the frustum navigation policy
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
