Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

visialization
  Core/include/Acts/Visualization/IVisualization3D.hpp
  Core/include/Acts/Visualization/ViewConfig.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clusterization
  Core/include/Acts/Clusterization/Clusterization.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

utilities 4
  Core/include/Acts/Utilities/Logger.hpp
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/MultiIndex.hpp
  Core/include/Acts/Utilities/PointerTraits.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/include/Acts/Utilities/RangeXD.hpp
  Core/include/Acts/Utilities/Ray.hpp
  Core/include/Acts/Utilities/Result.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

docs: Switch doxygen to warn on undocumented symbols
  docs/Doxyfile
Due: none

magnetic field
  Core/include/Acts/MagneticField/ConstantBField.hpp
  Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp
  Core/include/Acts/MagneticField/MagneticFieldError.hpp
  Core/include/Acts/MagneticField/MultiRangeBField.hpp
  Core/include/Acts/MagneticField/SolenoidBField.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Don't use ccache for the debug/coverage build
  .github/workflows/analysis.yml
Due: none

eventdata
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/GenericFreeTrackParameters.hpp
  Core/include/Acts/EventData/GenericParticleHypothesis.hpp
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/MultiTrajectoryHelpers.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
  Core/include/Acts/EventData/ProxyAccessor.hpp
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointColumnProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointData.hpp
  Core/include/Acts/EventData/SpacePointMutableData.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/SubspaceHelpers.hpp
  Core/include/Acts/EventData/TrackContainer.hpp
  Core/include/Acts/EventData/TrackParameters.hpp
  Core/include/Acts/EventData/TrackProxy.hpp
  Core/include/Acts/EventData/TrackStatePropMask.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Core/include/Acts/EventData/TrackStateType.hpp
  Core/include/Acts/EventData/Types.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

track finding
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterError.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterExtensions.hpp
  Core/include/Acts/TrackFinding/TrackParamsLookupAccumulator.hpp
  Core/include/Acts/TrackFinding/TrackSelector.hpp
  Core/include/Acts/TrackFinding/TrackStateCreator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

utilities 1 ✅
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Core/include/Acts/Utilities/AnnealingUtility.hpp
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/AnyGridView.hpp
  Core/include/Acts/Utilities/ArrayHelpers.hpp
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/AxisDefinitions.hpp
  Core/include/Acts/Utilities/BinUtility.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

utilities 2 🟨
  Core/include/Acts/Utilities/BinnedArrayXD.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/BoundFactory.hpp
  Core/include/Acts/Utilities/BoundingBox.hpp
  Core/include/Acts/Utilities/DBScan.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Core/include/Acts/Utilities/Enumerate.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

detector
  Core/include/Acts/Detector/CuboidalContainerBuilder.hpp
  Core/include/Acts/Detector/CylindricalContainerBuilder.hpp
  Core/include/Acts/Detector/DetectorComponents.hpp
  Core/include/Acts/Detector/DetectorVolume.hpp
  Core/include/Acts/Detector/GeometryIdMapper.hpp
  Core/include/Acts/Detector/KdtSurfacesProvider.hpp
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/MultiWireStructureBuilder.hpp
  Core/include/Acts/Detector/Portal.hpp
  Core/include/Acts/Detector/ProtoDetector.hpp
  Core/include/Acts/Detector/interface/IGeometryIdGenerator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

material
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/AccumulatedVolumeMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulater.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousVolumeMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/IVolumeMaterial.hpp
  Core/include/Acts/Material/Interactions.hpp
  Core/include/Acts/Material/InterpolatedMaterialMap.hpp
  Core/include/Acts/Material/Material.hpp
  Core/include/Acts/Material/MaterialComposition.hpp
  Core/include/Acts/Material/MaterialGridHelper.hpp
  Core/include/Acts/Material/MaterialInteraction.hpp
  Core/include/Acts/Material/MaterialMapUtils.hpp
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/MaterialSlab.hpp
  Core/include/Acts/Material/MaterialValidater.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoVolumeMaterial.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Material/interface/IAssignmentFinder.hpp
  Core/include/Acts/Material/interface/ISurfaceMaterialAccumulater.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ambi ✅
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.hpp
  Core/include/Acts/AmbiguityResolution/ScoreBasedAmbiguityResolution.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

definitions
  Core/include/Acts/Definitions/Algebra.hpp
  Core/include/Acts/Definitions/Alignment.hpp
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Definitions/Direction.hpp
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/TrackParametrization.hpp
  Core/include/Acts/Definitions/Units.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

vertexing
  Core/include/Acts/Vertexing/AMVFInfo.hpp
  Core/include/Acts/Vertexing/AdaptiveGridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveGridTrackDensity.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFitter.hpp
  Core/include/Acts/Vertexing/DummyVertexFitter.hpp
  Core/include/Acts/Vertexing/GaussianGridTrackDensity.hpp
  Core/include/Acts/Vertexing/GaussianTrackDensity.hpp
  Core/include/Acts/Vertexing/GridDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/HelicalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/HoughVertexFinder.hpp
  Core/include/Acts/Vertexing/ImpactPointEstimator.hpp
  Core/include/Acts/Vertexing/IterativeVertexFinder.hpp
  Core/include/Acts/Vertexing/LinearizedTrack.hpp
  Core/include/Acts/Vertexing/NumericalTrackLinearizer.hpp
  Core/include/Acts/Vertexing/TrackDensityVertexFinder.hpp
  Core/include/Acts/Vertexing/TrackLinearizer.hpp
  Core/include/Acts/Vertexing/Vertex.hpp
  Core/include/Acts/Vertexing/VertexingError.hpp
  Core/include/Acts/Vertexing/ZScanVertexFinder.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

minor
  Examples/Algorithms/TrackFinding/src/OrthogonalTripletSeedingAlgorithm.cpp
Due: license, type_t, math_macros

fatras
  Fatras/include/ActsFatras/Digitization/DigitizationData.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  Fatras/include/ActsFatras/EventData/Hit.hpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Fatras/include/ActsFatras/Kernel/InteractionList.hpp
  Fatras/include/ActsFatras/Kernel/Simulation.hpp
  Fatras/include/ActsFatras/Kernel/SimulationResult.hpp
  Fatras/include/ActsFatras/Physics/Decay/NoDecay.hpp
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
  Fatras/include/ActsFatras/Selectors/KinematicCasts.hpp
  Fatras/include/ActsFatras/Selectors/ParticleSelectors.hpp
  Fatras/include/ActsFatras/Selectors/SelectorHelpers.hpp
  Fatras/include/ActsFatras/Selectors/SurfaceSelectors.hpp
  Fatras/include/ActsFatras/Utilities/LandauDistribution.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Bump gcovr to 8.3 + use uv to run
  .github/workflows/analysis.yml
  CI/test_coverage.py
Due: none

dd4hep
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepBlueprintFactory.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepIdentifierMapper.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerStructure.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepMaterialHelpers.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4DetectorSurfaceFactory.hpp
  Plugins/Geant4/include/Acts/Plugins/Geant4/Geant4PhysicalVolumeSelectors.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

root
  Plugins/Root/include/Acts/Plugins/Root/ITGeoIdentifierProvider.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoLayerBuilder.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoParser.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix documentation
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

onnx
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Disable examples unit tests in debug build
  .github/workflows/analysis.yml
  CMakePresets.json
Due: none

fix conflict markers
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

json
  Plugins/Json/include/Acts/Plugins/Json/AlgebraJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/AmbiguityConfigJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/DefinitionsJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/ExtentJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/GeometryHierarchyMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/JsonDetectorElement.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/ProtoAxisJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/ProtoDetectorJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/Seeding2ConfigJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/UtilitiesJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeBoundsJsonConverter.hpp
  Plugins/Json/include/Acts/Plugins/Json/VolumeJsonConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

gnn
  Plugins/Gnn/include/Acts/Plugins/Gnn/Stages.hpp
  Plugins/Gnn/include/Acts/Plugins/Gnn/Tensor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add -fprofile-update=atomic to the gcc build (maybe that helps)
  CMakePresets.json
Due: none

chore: Increase `cotThetaMax` to eta=3
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Scripts/Optimization/Optuna_tuning.py
  Examples/Scripts/Optimization/ckf.py
  Tests/UnitTests/Core/Seeding/SeedFinderTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

comment ccache again
  .gitlab-ci.yml
Due: none

fix compilation in barcode file
  Fatras/include/ActsFatras/EventData/Barcode.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update refs
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_seeding.root
  CI/physmon/reference/trackfinding_1muon/orthogonal/tracksummary_ckf_hist.root
Due: none

Add fast fitter pass
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Demote warning
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

debug setup_withdeps
  cmake/setup_withdeps.sh.in
Due: none

chore: Cleanup hashing plugin
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithmHashing.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithmHashing.cpp
  Examples/Python/src/Hashing.cpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAlgorithm.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAlgorithm.ipp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAnnoy.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingAnnoy.ipp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTraining.hpp
  Plugins/Hashing/include/Acts/Plugins/Hashing/HashingTraining.ipp
  Tests/UnitTests/Plugins/Hashing/HashingSeedingTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

utilities 3
  Core/include/Acts/Utilities/Frustum.hpp
  Core/include/Acts/Utilities/Grid.hpp
  Core/include/Acts/Utilities/GridAccessHelpers.hpp
  Core/include/Acts/Utilities/GridAxisGenerators.hpp
  Core/include/Acts/Utilities/GridBinFinder.hpp
  Core/include/Acts/Utilities/GridIterator.hpp
  Core/include/Acts/Utilities/HashedString.hpp
  Core/include/Acts/Utilities/Helpers.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/include/Acts/Utilities/KDTree.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

utilities 2
  Core/include/Acts/Utilities/BinnedArrayXD.hpp
  Core/include/Acts/Utilities/BinningData.hpp
  Core/include/Acts/Utilities/BoundFactory.hpp
  Core/include/Acts/Utilities/BoundingBox.hpp
  Core/include/Acts/Utilities/DBScan.hpp
  Core/include/Acts/Utilities/Delegate.hpp
  Core/include/Acts/Utilities/Enumerate.hpp
  Core/include/Acts/Utilities/FiniteStateMachine.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

utilities 5
  Core/include/Acts/Utilities/ScopedTimer.hpp
  Core/include/Acts/Utilities/StringHelpers.hpp
  Core/include/Acts/Utilities/Table.hpp
  Core/include/Acts/Utilities/ThrowAssert.hpp
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Core/include/Acts/Utilities/TypeTag.hpp
  Core/include/Acts/Utilities/TypeTraits.hpp
  Core/include/Acts/Utilities/UnitVectors.hpp
  Core/include/Acts/Utilities/Zip.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
