Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

feat: Add SeedsToTracks to Examples (#5845)
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/SeedsToTracks.hpp
  Examples/Algorithms/Utilities/src/SeedsToTracks.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/Utilities.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf: Optional recording of CKF material track states (#5827)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Rename TrackFitterPerformance to TrackParameterPerformance (#5841)
  CI/physmon/workflows/physmon_trackfitting_gx2f_vs_kf.py
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/TrackParameterPerformanceCollector.hpp
  Examples/Framework/src/Validation/TrackParameterPerformanceCollector.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackParameterPerformanceWriter.cpp
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Examples/Scripts/Python/truth_jet_test.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_gx2f.py
  Examples/Scripts/Python/truth_tracking_kalman.py
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
  Python/Examples/python/__init__.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/src/plugins/Root.cpp
  Python/Examples/tests/test_writer.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: GeoModel G4 connection with GM 6.31 (#5862)
  Examples/Detectors/GeoModelDetector/src/GeoModelGeant4DetectorConstruction.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: drop unfulfillable PR-title check from merge-sentinel's required list (#5886)
  .merge-sentinel.yml
Due: leftover_conflict_markers

fix: Repair the cosmic strip space point formation (#5858)
  Core/include/Acts/SpacePointFormation/StripSpacePointBuilder.hpp
  Core/src/SpacePointFormation/StripSpacePointBuilder.cpp
  Tests/UnitTests/Core/CMakeLists.txt
  Tests/UnitTests/Core/SpacePointFormation/CMakeLists.txt
  Tests/UnitTests/Core/SpacePointFormation/StripSpacePointBuilderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: tgeo AlignTGeoDetectorElement (#5909)
  Python/Examples/src/plugins/TGeo.cpp
  Python/Examples/tests/test_detectors.py
Due: license, type_t, leftover_conflict_markers, math_macros

fix: apply experimentCuts in DoubletSeedFinder also when interactionPointCut is disabled (#5901)
  Core/src/Seeding/DoubletSeedFinder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: speed up the dependency install step (#5874)
  .github/actions/dependencies/action.yml
  CI/dependencies/opengl.sh
  CI/dependencies/setup.sh
Due: leftover_conflict_markers

docs: document navigation-less material mapping (#5770)
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulator.hpp
  Core/include/Acts/Material/IntersectionMaterialAssigner.hpp
  Core/include/Acts/Material/MaterialInteractionAssignment.hpp
  Core/include/Acts/Material/MaterialValidator.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/include/Acts/Material/interface/IAssignmentFinder.hpp
  Core/include/Acts/Material/interface/ISurfaceMaterialAccumulator.hpp
  docs/CMakeLists.txt
  docs/DoxygenLayout.xml
  docs/examples/material_designation.cpp
  docs/examples/test_material_map.py
  docs/groups/detector_descr/material_mapping.md
  docs/pages/examples/material_mapping.md
  docs/pages/examples/material_mapping_howto.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Use PointSurface for the 3D PCA in ImpactPointEstimator (#5672)
  Core/src/Vertexing/ImpactPointEstimator.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

build: rocThrust Update, main branch (2026.08.11.) (#5856)
  Traccc/extern/rocThrust/CMakeLists.txt
  Traccc/extern/rocThrust/rocm-6.1.1.patch
  Traccc/extern/rocThrust/rocm-7.2.0.patch
  Traccc/tests/hip/CMakeLists.txt
Due: leftover_conflict_markers

perf: Print a sum's plain term first so the products fuse (#5897)
  CI/physmon/reference.sha256
  Python/Examples/tests/root_file_hashes.txt
  codegen/src/codegen/sympy_common.py
Due: leftover_conflict_markers

fix: Covariance transport assumed d(q/p)/d(q/p) is one (#5896)
  Core/src/Propagator/detail/SympyCovarianceEngine.cpp
  Core/src/Propagator/detail/generate_sympy_cov.py
  Core/src/Propagator/detail/generate_sympy_jac.py
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Add TrackExtrapolationAlgorithm (#5842)
  Core/include/Acts/Utilities/TrackHelpers.hpp
  Examples/Algorithms/Utilities/CMakeLists.txt
  Examples/Algorithms/Utilities/include/ActsExamples/Utilities/TrackExtrapolationAlgorithm.hpp
  Examples/Algorithms/Utilities/src/TrackExtrapolationAlgorithm.cpp
  Python/Examples/src/Utilities.cpp
  Tests/UnitTests/Core/Utilities/TrackHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Bind additional geometry methods to Python (#5900)
  Python/Core/src/Geometry.cpp
  Python/Core/src/GeometryGen1.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore: Update to alpaka 2.1.1 (#5893)
  Traccc/extern/alpaka/CMakeLists.txt
Due: leftover_conflict_markers

feat: HIP Measurement Sorting, main branch (2026.08.18.) (#5902)
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Compose the sympy stepper transport jacobian in the right order (#5875)
  CI/physmon/reference.sha256
  Core/src/Propagator/generate_sympy_stepper.py
  Python/Examples/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Add an accelerator flavor axis to dependency lockfile selection (#5892)
  .github/actions/dependencies/action.yml
  .github/workflows/checks.yml
  CI/dependencies/select_lockfile.py
  CI/dependencies/setup.sh
  CI/dependencies/test_select_lockfile.py
Due: leftover_conflict_markers

refactor: Adopt actsvg 0.4.57, deprecating the removed sheet converters (#5923)
  CMakeLists.txt
  Examples/Io/Svg/include/ActsExamples/Io/Svg/SvgDefaults.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/LayerSvgConverter.hpp
  Plugins/ActSVG/include/ActsPlugins/ActSVG/SurfaceSvgConverter.hpp
  Plugins/ActSVG/src/LayerSvgConverter.cpp
  Tests/UnitTests/Plugins/ActSVG/SurfaceSvgConverterTests.cpp
  cmake/ActsExternSources.cmake
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros

ci: rework documentation link checking (split gate + lychee) (#5781)
  .github/workflows/docs.yml
  docs/check_links.sh
  docs/linkcheckerrc
Due: leftover_conflict_markers

Ensure backward compatibility
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Visualization/GeometryView3D.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: MuonHoughSeeder now runnable with phi disabled and test of that (#5869)
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonHoughSeeder.hpp
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Examples/Scripts/Python/muon_hough.py
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Port GPU jobs from GitLab to GitHub Actions (#5859)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/detray.yml
  .github/workflows/traccc.yml
  .gitignore
  .gitlab-ci.yml
  .merge-sentinel.yml
  CI/bump_versions.py
  CI/dependencies/download_models.sh
  CI/dependencies/setup.sh
  CMakePresets.json
  Detray/CMakePresets.json
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers, format-json

ci: add merge_group triggers for merge queue readiness (#5884)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/detray.yml
  .github/workflows/docs.yml
  .github/workflows/report.yml
  .github/workflows/sonarcloud.yml
Due: leftover_conflict_markers

chore: Update PR template (#5891)
  .github/pull_request_template.md
Due: leftover_conflict_markers

fix(detray): allow homogeneous material on a sparse set of surfaces (#5815)
  Detray/core/include/detray/builders/homogeneous_material_factory.hpp
  Detray/tests/integration_tests/cpu/builders/homogeneous_material_builder.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: Add Gaussian Sum Filter reference page (#5753)
  CI/codespell_ignore.txt
  Core/include/Acts/Propagator/MultiStepperLoop.ipp
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/include/Acts/TrackFitting/GsfComponent.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
  docs/figures/track_fitting/gsf_bethe_heitler_approx.svg
  docs/figures/track_fitting/gsf_overview.svg
  docs/groups/gsf.md
  docs/groups/kf_material_effects.md
  docs/groups/track_fitting.md
  docs/references.bib
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Fix MillePede sandbox for non-telescope usage (#5924)
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Examples/Algorithms/AlignmentMillePede/src/MillePedeAlignmentSandbox.cpp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Add ALPAKA_HIP to CI (#5774)
  .github/workflows/traccc.yml
  Traccc/.github/ci_setup.sh
Due: leftover_conflict_markers

fix: Fill in the atlas stepper stepping statistics (#5895)
  Core/include/Acts/Propagator/AtlasStepper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: TrackingGeometry - Add garbage collection of the placements (#5322)
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Utilities/PointerTraits.hpp
  Core/src/Geometry/LayerBlueprintNode.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Replace GNN GPU reference hashes with smoke checks (#5903)
  Python/Examples/tests/root_file_hashes.txt
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers

fix: Recover one-sided overshoots in strip space point formation (#5860)
  Core/src/SpacePointFormation/StripSpacePointBuilder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  Tests/UnitTests/Core/SpacePointFormation/StripSpacePointBuilderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Compile the GNN plugin's non-CUDA paths and enforce warnings (#5870)
  .github/workflows/builds.yml
  CMakeLists.txt
  CMakePresets.json
  Examples/Algorithms/TrackFindingGnn/src/TrackFindingAlgorithmGnn.cpp
  Plugins/Gnn/CMakeLists.txt
  Plugins/Gnn/src/CudaUnavailable.cpp
  Plugins/Gnn/src/CudaUnavailable.hpp
  Plugins/Gnn/src/DeviceOps.hpp
  Plugins/Gnn/src/DeviceOpsNoCuda.cpp
  Plugins/Gnn/src/Stages.cpp
  Plugins/Gnn/src/Tensor.cpp
  Plugins/Gnn/src/Tensor.cu
  Plugins/Gnn/src/buildEdges.cpp
  Plugins/Gnn/src/buildEdgesFRNN.cpp
  Plugins/Gnn/src/buildEdgesFRNNNoCuda.cpp
  Plugins/Gnn/src/printCudaMemInfo.hpp
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros, format-json

ci: prevent merge queue ejections from concurrency-group cancellation (#5885)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  .github/workflows/detray.yml
  .github/workflows/docs.yml
Due: leftover_conflict_markers

feat: added a user data field in the traccc detector conditions (#5810)
  Traccc/core/include/traccc/geometry/detector_conditions_description.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

build: ship pre-generated code in the release source archive (#5873)
  .github/workflows/checks.yml
  .github/workflows/release.yml
  .gitignore
  CI/codegen_prebuilt_check/CMakeLists.txt
  CI/make_source_archive.sh
  CI/pregenerate_codegen.py
  CI/release.sh
  CMakeLists.txt
  Core/src/Definitions/CMakeLists.txt
  Core/src/Propagator/CMakeLists.txt
  Detray/cmake/detray-functions.cmake
  Detray/core/CMakeLists.txt
  cmake/ActsCodegen.cmake
  codegen/manifest.json
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers, format-json

refactor: Make the GBTS graph representation internal (#5854)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsLayerConnectionTool.hpp
  Core/include/Acts/Seeding/GbtsLayerDescription.hpp
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
  Core/include/Acts/Seeding/GbtsRoiDescriptor.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/include/Acts/Seeding/detail/GbtsFilterTypes.hpp
  Core/include/Acts/Seeding/detail/GbtsGraphTypes.hpp
  Core/include/Acts/Seeding/detail/GbtsLayer.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsLayerConnectionTool.cpp
  Core/src/Seeding/GbtsNodeStorage.cpp
  Core/src/Seeding/GbtsRoiDescriptor.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros
