Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

missing include
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix compilation
  Core/include/Acts/Propagator/Propagator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

updates and lint
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Python/Examples/src/plugins/Root.cpp
Due: license, type_t, math_macros

lint
  .github/workflows/builds.yml
Due: none

refactor: Split Navigator into `.cpp` file (#4971)
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/Navigator.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Use (cached) runtime type hash in Acts::Any (#4968)
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: template<holder_t> for PodioTrack(State)Container
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackStateContainer.hpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackContainerTest.cpp
  Tests/UnitTests/Plugins/EDM4hep/PodioTrackStateContainerTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: AnyTrack(State)Proxy from const input proxy (#4966)
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Tests/UnitTests/Core/EventData/AnyTrackProxyTests.cpp
  Tests/UnitTests/Core/EventData/AnyTrackStateProxyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Fix compilation - Vol I
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
  Plugins/GeoModel/src/GeoModelDetectorElementITk.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Typo
  Core/include/Acts/Geometry/DetectorElementBase.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Blub
  Core/include/Acts/Geometry/DetectorElementBase.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Migrate the transform methods & introduce a isSensitive method
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/src/Geometry/Portal.cpp
  Core/src/Geometry/detail/TrackingGeometryPrintVisitor.cpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
  Core/src/Surfaces/Surface.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Detectors/Common/src/StructureSelector.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Plugins/Json/include/ActsPlugins/Json/JsonDetectorElement.hpp
  Plugins/Json/src/JsonDetectorElement.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Python/Core/src/Navigation.cpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/DetectorElementStub.hpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Fix compiler errors
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Revert
  Core/include/Acts/Geometry/DetectorElementBase.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: Update `GbtsDataStorage` to ACTS coding standard (#4956)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Due: license, include_guards, pragma_once, type_t, math_macros

podioreader from examples.edm4hep
  Examples/Scripts/Python/full_chain_odd.py
Due: none

Iteration number 8?
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Use CylinderNavigationPolicy in Gen3 GenericDetector
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
Due: license, type_t, math_macros

feat: Acts::Any gets `.emplace` method for in-place construction
  Core/include/Acts/Utilities/Any.hpp
  Tests/UnitTests/Core/Utilities/AnyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: pip install acts, first steps (#4948)
  .github/workflows/builds.yml
  CMakeLists.txt
  CMakePresets.json
  Python/CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Plugins/CMakeLists.txt
  docs/getting_started.md
  pyproject.toml
Due: cmake_options, codegen_dependencies

Ensure acts can still be built with EDM4hep 1.0
  CMakeLists.txt
Due: cmake_options

Fix formatting
  CMakeLists.txt
Due: cmake_options

fix: Import PodioReader from examples.edm4hep (#4975)
  Examples/Scripts/Python/full_chain_odd.py
Due: none

feat: `SeedContainer2` can point to `SpacePointContainer2`
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/src/EventData/SeedContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Restore histogram names and derived histograms for physmon compatibility
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/FakePlotTool.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
Due: license, type_t, math_macros

Think about integration in oriented surface retrieval
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Layout the interface class to handle the alignment of the volumes
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Spell out more the interface
  Core/include/Acts/Geometry/Volume.hpp
  Core/include/Acts/Geometry/VolumeBounds.hpp
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/src/Geometry/Volume.cpp
  Core/src/Geometry/VolumeBounds.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

lint
  Core/include/Acts/Utilities/Histogram.hpp
  Examples/Framework/include/ActsExamples/Validation/EffPlotTool.hpp
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/FakePlotTool.cpp
  Examples/Framework/src/Validation/ResPlotTool.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Plugins/Root/include/ActsPlugins/Root/HistogramConverter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix integer promotion in factorial, demonstrate 0 result
  Core/include/Acts/Utilities/MathHelpers.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

guard against overflow -> div by zero issue
  Core/include/Acts/Utilities/MathHelpers.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Add policy state to signature
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
  Core/src/Navigation/Navigator.cpp
  Python/Core/src/GeometryGen3.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

proof-of-concept of volume-local state stack
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/Navigator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Add state to navigation policies
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Deprecated GeometryContext default construction
  Core/include/Acts/Geometry/GeometryContext.hpp
  Python/Core/src/Geometry.cpp
  Python/Examples/tests/test_base.py
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/GeometryContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

avoid recursive constructor instantiation
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/Utilities/detail/ContextType.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang-format
  Core/include/Acts/EventData/detail/TestTrackState.hpp
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Detectors/GenericDetector/src/AlignedGenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Python/Core/src/Geometry.cpp
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Geometry/GenericApproachDescriptorTests.cpp
  Tests/UnitTests/Core/Propagator/ActorListTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fixups
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/TrackFinding/TrackParamsLookupAccumulator.hpp
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Detector.hpp
  Examples/Detectors/Common/src/Detector.cpp
  Examples/Framework/include/ActsExamples/Framework/AlgorithmContext.hpp
  Examples/Io/Root/src/RootMuonSpacePointWriter.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
  Plugins/Json/include/ActsPlugins/Json/TrackParametersJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementITkTests.cpp
  Tests/UnitTests/Plugins/Json/JsonSurfacesReaderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros
