Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

build(cmake): Use tmpdir for uv python installation
  Plugins/FpeMonitoring/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Fatras/CMakeLists.txt
  cmake/ActsCodegen.cmake
  cmake/ActsFunctions.cmake
  cmake/ActsGenerateNonCompileTest.cmake
  cmake/FindFastJet.cmake
  cmake/FindPythia8.cmake
  cmake/FindTBB.cmake
  cmake/FindTensorRT.cmake
Due: leftover_conflict_markers

chore!: Move try all navigators to experimental namespace (#5233)
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Tests/IntegrationTests/NavigatorConsistency.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

cmake format
  Plugins/FpeMonitoring/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Fatras/CMakeLists.txt
  cmake/ActsCodegen.cmake
  cmake/ActsFunctions.cmake
  cmake/ActsGenerateNonCompileTest.cmake
  cmake/FindFastJet.cmake
  cmake/FindPythia8.cmake
  cmake/FindTBB.cmake
  cmake/FindTensorRT.cmake
Due: leftover_conflict_markers

disable failure in other jobs
  .github/workflows/builds.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

remove legacy material mapping
  Core/include/Acts/Material/SurfaceMaterialMapper.hpp
  Core/include/Acts/Material/VolumeMaterialMapper.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/CoreMaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Algorithms/MaterialMapping/src/CoreMaterialMapping.cpp
  Examples/Algorithms/MaterialMapping/src/MaterialMapping.cpp
  Examples/Scripts/Python/Auto-tuning/Orion/material_mapping_optimisation.py
  Examples/Scripts/Python/material_mapping.py
  Examples/Scripts/Python/material_mapping_core.py
  Examples/Scripts/Python/material_mapping_itk.py
  Python/Core/src/Material.cpp
  Python/Examples/src/MaterialMapping.cpp
  Python/Examples/tests/test_examples.py
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/SurfaceMaterialMapperTests.cpp
  Tests/UnitTests/Core/Material/VolumeMaterialMapperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

some sonar follow-up
  Examples/Framework/src/Framework/Sequencer.cpp
  Plugins/FpeMonitoring/include/ActsPlugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatform.hpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinArm64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformLinuxX86_64.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

try to make the fpe test work in github
  Python/Examples/tests/test_fpe.py
Due: leftover_conflict_markers

lint
  Tests/UnitTests/Plugins/EDM4hep/EDM4HepMeasurementTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

be smarter about when to skip
  Python/Examples/tests/test_fpe.py
Due: leftover_conflict_markers

more lint
  Plugins/EDM4hep/CMakeLists.txt
  Plugins/EDM4hep/edm.yml
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/EDM4hepUtil.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lint
  Plugins/FpeMonitoring/CMakeLists.txt
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinArm64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformLinuxX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
  Python/Examples/src/Framework.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add one more fallback case
  Plugins/FpeMonitoring/CMakeLists.txt
Due: leftover_conflict_markers

go back to the original backtrace finding logic
  Plugins/FpeMonitoring/CMakeLists.txt
Due: leftover_conflict_markers

ref update
  CI/physmon/reference/simulation/particles_geant4_hist.root
  CI/physmon/reference/simulation/particles_ttbar_hist.root
  CI/physmon/reference/simulation/vertices_ttbar_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_seeding.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

find_program(mktemp)
  cmake/ActsCodegen.cmake
Due: leftover_conflict_markers

fix
  Core/include/Acts/EventData/Charge.hpp
  Core/src/EventData/MultiComponentTrackParameters.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor!: Combine try all navigators
  Core/include/Acts/Propagator/TryAllNavigator.hpp
  Tests/IntegrationTests/NavigatorConsistency.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix
  Core/include/Acts/Seeding/PathSeeder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Material designator with less boilerplate (#5221)
  Core/src/Geometry/MaterialDesignator.hpp
  Core/src/Geometry/MaterialDesignatorBlueprintNode.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

build(cmake): Use tmpdir for uv python installation (#5235)
  cmake/ActsCodegen.cmake
Due: leftover_conflict_markers

fix
  Core/include/Acts/Vertexing/TrackLinearizer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: remove unused CI requirements (#5200)
  CI/README.md
  CI/poetry.lock
  CI/pyproject.toml
  CI/requirements.txt
Due: leftover_conflict_markers, codegen_dependencies

update setup script docs
  docs/examples/python_bindings.md
  docs/figures/odd_render.jpg
  docs/old/examples/howto/run_ckf_auto_tuning.rst
  docs/old/examples/python_bindings.rst
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
  docs/pages/examples/python_bindings.md
Due: leftover_conflict_markers

add some redirects
  docs/old/conf.py
Due: leftover_conflict_markers

chore: bump Python version to 3.14 in github workflows (#5199)
  .github/workflows/checks.yml
  .github/workflows/report.yml
Due: leftover_conflict_markers

fix: Send transform to SrfArr in policy
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

sonar fixes
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

conditionally handle updated geomodel type
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

optimize strip coordinate check
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

small tweaks on strip optimization
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore!: rename `accumulater` ->`accumulator` (#5209)
  Core/include/Acts/Material/BinnedSurfaceMaterialAccumulator.hpp
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/interface/ISurfaceMaterialAccumulator.hpp
  Core/src/Material/BinnedSurfaceMaterialAccumulator.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MaterialMapper.cpp
  Examples/Scripts/Python/material_mapping_core.py
  Python/Core/src/Material.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialAccumulatorTests.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/MaterialMapperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore!: rename `validater` -> `validator` (#5208)
  Core/include/Acts/Material/MaterialValidator.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/MaterialValidator.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialValidation.hpp
  Examples/Algorithms/MaterialMapping/src/MaterialValidation.cpp
  Examples/Scripts/Python/material_validation_core.py
  Python/Core/src/Material.cpp
  Python/Examples/src/MaterialMapping.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/MaterialValidatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

bump devcontainer version
  .devcontainer/Dockerfile
Due: leftover_conflict_markers

fix docs
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

PR feedback
  Plugins/FpeMonitoring/include/ActsPlugins/FpeMonitoring/FpeMonitor.hpp
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Send transform to SrfArr in policy (#5238)
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor!: Make stepper bound params more explicit for propagation
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.ipp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/ParameterTraits.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix!: Propagate the alignable volume to the Multilayer navigation policy (#5224)
  Core/include/Acts/Geometry/IndexGrid.hpp
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Core/src/Geometry/AlignablePortalVisitor.cpp
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Plugins/Json/src/IndexGridNavigationJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

change to pod+free func for stripdata optimization
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

docs: Improve ODD setup documentation, add redirects (#5237)
  docs/examples/python_bindings.md
  docs/figures/odd_render.jpg
  docs/old/conf.py
  docs/old/examples/howto/run_ckf_auto_tuning.rst
  docs/old/examples/python_bindings.rst
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
  docs/pages/examples/python_bindings.md
Due: leftover_conflict_markers

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
