Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

refactor: ActsGeoModelPlugin - Remove geometry context from GeoModelConverters (#4982)
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
Due: license, type_t, math_macros

add a wrapper function for the geometry building
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang-format
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/TGeoDetector.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix clang-tidy suggestion
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
Due: license, type_t, math_macros

remove trinary
  Core/include/Acts/Utilities/MathHelpers.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

remove c-style cast
  Core/include/Acts/Utilities/MathHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update CMakeLists.txt
  CMakeLists.txt
Due: cmake_options

feat: Ensure acts can still be built with EDM4hep 1.0 (#4976)
  CMakeLists.txt
Due: cmake_options

unify comments
  Tests/UnitTests/Core/VersionTests.cpp
Due: license, type_t, boost_test, math_macros

docs: Include getting started guide
  docs/DoxygenLayout.xml
Due: none

docs: Test examples compilation
  .github/workflows/builds.yml
  CMakeLists.txt
  docs/CMakeLists.txt
Due: cmake_options

rename getting started to building
  .pre-commit-config.yaml
  README.md
  docs/Doxyfile.in
  docs/pages/contributing/building_acts.md
Due: none

refactor: GainMatrixUpdater uses AnyMutableTrackState (#4890)
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GainMatrixUpdaterImpl.cpp.in
  Core/src/TrackFitting/MbfSmoother.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Make ROOT optional in Examples/Framework
  Examples/Framework/CMakeLists.txt
  Examples/Framework/ROOT/CMakeLists.txt
  Examples/Framework/ROOT/include/ActsExamples/EventData/ScalingCalibrator.hpp
  Examples/Framework/ROOT/include/ActsExamples/Utilities/Helpers.hpp
  Examples/Framework/ROOT/src/Helpers.cpp
  Examples/Framework/ROOT/src/ScalingCalibrator.cpp
  Examples/Framework/src/Framework/Sequencer.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

cmake fixes
  Examples/Framework/ROOT/CMakeLists.txt
  Python/Examples/CMakeLists.txt
Due: none

move binding of ScalingCalibrator
  Python/Examples/src/TrackFitting.cpp
  Python/Examples/src/plugins/Root.cpp
Due: license, type_t, math_macros

docs: Include getting started guide + build examples target (#4988)
  .github/workflows/builds.yml
  .pre-commit-config.yaml
  CMakeLists.txt
  README.md
  docs/CMakeLists.txt
  docs/Doxyfile.in
  docs/DoxygenLayout.xml
  docs/pages/contributing/building_acts.md
Due: cmake_options

simpler type check in Acts::Any
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

clang-format
  Core/include/Acts/EventData/detail/TestTrackState.hpp
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/Visualization/EventDataView3D.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Examples/Detectors/Geant4Detector/src/Geant4Detector.cpp
  Examples/Detectors/GenericDetector/src/AlignedGenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Python/Core/src/Geometry.cpp
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Geometry/GenericApproachDescriptorTests.cpp
  Tests/UnitTests/Core/Propagator/ActorListTests.cpp
  Tests/UnitTests/Core/Surfaces/PolyhedronSurfacesTests.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
  Tests/UnitTests/Plugins/DD4hep/DD4hepCylindricalDetectorGen3Tests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fixups
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/TrackFinding/TrackParamsLookupAccumulator.hpp
  Core/include/Acts/Utilities/BinAdjustment.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Detector.hpp
  Examples/Detectors/Common/src/Detector.cpp
  Examples/Framework/include/ActsExamples/Framework/AlgorithmContext.hpp
  Examples/Io/Root/src/RootMuonSpacePointWriter.cpp
  Plugins/Json/include/ActsPlugins/Json/TrackParametersJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Tests/UnitTests/Core/Propagator/CovarianceEngineTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/TrackFinding/CombinatorialKalmanFilterTests.cpp
  Tests/UnitTests/Core/TrackFitting/FitterTestsCommon.hpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixSmootherTests.cpp
  Tests/UnitTests/Core/TrackFitting/GainMatrixUpdaterTests.cpp
  Tests/UnitTests/Core/TrackFitting/MbfSmootherTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/UncorrelatedHitSmearerTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementITkTests.cpp
  Tests/UnitTests/Plugins/Json/JsonSurfacesReaderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

avoid recursive constructor instantiation
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/Utilities/detail/ContextType.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Deprecated GeometryContext default construction
  Core/include/Acts/Geometry/GeometryContext.hpp
  Python/Core/src/Geometry.cpp
  Python/Examples/tests/test_base.py
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/GeometryContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix two sonar issues
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Detector.hpp
  Examples/Detectors/Common/src/Detector.cpp
  Examples/Framework/include/ActsExamples/Framework/AlgorithmContext.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix remaining use of default constructor
  docs/examples/units.cpp
Due: license, type_t, math_macros

add deprecated diagnostics macro
  Core/include/Acts/Geometry/GeometryContext.hpp
  Core/include/Acts/Utilities/Diagnostics.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Use `std::bit_cast` in `Acts::Any`
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Incorrect type identity check
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

use auto for redundant types
  Core/include/Acts/Utilities/Any.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Remove transform from shell interface
  Core/include/Acts/Geometry/DiamondPortalShell.hpp
  Core/include/Acts/Geometry/TrapezoidPortalShell.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Linter...
  Core/include/Acts/Geometry/DiamondPortalShell.hpp
  Core/include/Acts/Geometry/TrapezoidPortalShell.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Ensure that the factorial is > 0
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/detail/Polynomials.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Relax `KalmanFitter` errors
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Use forward for universal reference arguments
  Core/include/Acts/Propagator/ActorConcepts.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

restructure
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/DigitizationMuon/CMakeLists.txt
  Examples/Algorithms/DigitizationMuon/include/ActsExamples/Digitization/MuonSpacePointDigitizer.hpp
  Examples/Algorithms/DigitizationMuon/src/MuonSpacePointDigitizer.cpp
  Examples/Scripts/Python/geomodel_G4.py
  Python/Examples/CMakeLists.txt
  Python/Examples/src/Digitization.cpp
  Python/Examples/src/plugins/Root.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Install CI dependencies in SonarCloud analysis job
  .github/workflows/sonarcloud.yml
Due: none

update
  CMakeLists.txt
Due: cmake_options
