Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

refactor: Make `SurfaceArray::getBinCenter` const
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

doc: `Surface::center` returns a value
  Core/include/Acts/Surfaces/Surface.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

extending functionality for experimental cuts
  Core/include/Acts/Seeding/SeedConfirmationRangeConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

build: Point gersemi (cmake formatter) at definitions (#4459)
  .gersemirc
  CMakeLists.txt
  Core/CMakeLists.txt
  Core/src/Definitions/CMakeLists.txt
  Core/src/Propagator/CMakeLists.txt
  Plugins/CMakeLists.txt
  Tests/UnitTests/CMakeLists.txt
Due: cmake_options

fix (obscure) clang warning
  Core/include/Acts/Definitions/Units.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing compilation
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update versions, centralize dep payload tag
  .github/actions/dependencies/action.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
Due: none

explicitly select builtin
  CI/dependencies/setup.sh
Due: none

feat: CompositePortalLink exposes child links (#4443)
  Core/include/Acts/Geometry/CompositePortalLink.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CompositePortalLink.cpp
  Plugins/ActSVG/src/TrackingGeometrySvgConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing compilation
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing compilation
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithmHashing.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing lint
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithmHashing.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Introduce helper struct to describe a line with first & second derivative (#4455)
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
  Tests/UnitTests/Core/Utilities/AlgebraHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/LineWithPartialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Handle phi grid correctly in `SurfaceArrayCreator` &more
  Core/src/Geometry/SurfaceArrayCreator.cpp
Due: license, type_t, math_macros

tmp hack disable test
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
Due: none

ci: hotfix for eic-shell failures
  .github/workflows/builds.yml
Due: none

ci: Reduce LCG coverage, keep representative set of version (#4457)
  .gitlab-ci.yml
Due: none

adapt unit tests
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Due: license, type_t, boost_test, math_macros

update hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

update physmon refs
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
Due: none

alternative way to fix
  .github/workflows/builds.yml
Due: none

docs: `Surface::center` returns a value (#4462)
  Core/include/Acts/Surfaces/Surface.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Make `SurfaceArray::getBinCenter` const (#4461)
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: hotfix for eic-shell failures (#4468)
  .github/workflows/builds.yml
Due: none

revert global<->local
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Due: license, type_t, boost_test, math_macros

fix unit test
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Due: license, type_t, boost_test, math_macros

Revert "update hashes"
  Examples/Python/tests/root_file_hashes.txt
Due: none

Revert "update physmon refs"
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/tracksummary_ckf_hist.root
Due: none

fix
  Core/include/Acts/Utilities/Intersection.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

test(cylpol): Add additional randomized test
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

docs(cylpol): improved comment on cyl nav pol
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor(cylpol): Simplify disk calculation
  Core/src/Navigation/CylinderNavigationPolicy.cpp
Due: license, type_t, math_macros

fix(cylpol): edge cases
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

test(cylpol): Test with various rotations + offsets
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

feat(cylpol): Accelerated Cylinder portal policy
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

test(cylpol): Some code reorganization
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

fix compilation errors after rebase
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, math_macros

feat(cylpol): basic somewhat working somewhat tested version of the smart cylinder policy
  Core/include/Acts/Navigation/CylinderNavigationPolicy.hpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor(cylpol): output improvements
  Core/src/Navigation/CylinderNavigationPolicy.cpp
Due: license, type_t, math_macros
