Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

fix two sonar issues
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Detector.hpp
  Examples/Detectors/Common/src/Detector.cpp
  Examples/Framework/include/ActsExamples/Framework/AlgorithmContext.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove old internal track state in mbf
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

gmu: use AnyMutablTrackState
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GainMatrixUpdaterImpl.cpp.in
Due: license, include_guards, pragma_once, type_t, math_macros

fix build issue with assert
  Core/src/TrackFitting/MbfSmoother.cpp
Due: license, type_t, math_macros

switch GainMatrixSmoother to any track state proxies
  Core/include/Acts/TrackFitting/GainMatrixSmoother.hpp
  Core/src/TrackFitting/GainMatrixSmoother.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

gmu: cache track state components
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

gmu: update after anytrackstateproxy renaming
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
  Core/src/TrackFitting/GainMatrixUpdater.cpp
  Core/src/TrackFitting/GainMatrixUpdaterImpl.cpp.in
Due: license, include_guards, pragma_once, type_t, math_macros

use explicit template parameter on lambda (sonar likes it)
  Core/src/TrackFitting/MbfSmoother.cpp
Due: license, type_t, math_macros

switch MbfSmoother to any track state proxies
  Core/include/Acts/TrackFitting/MbfSmoother.hpp
  Core/src/TrackFitting/MbfSmoother.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix wrong conversion in gain matrix smoother
  Core/src/TrackFitting/GainMatrixSmoother.cpp
Due: license, type_t, math_macros

gmu: use correct subspace lookup
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

drop unused typedef
  Core/include/Acts/TrackFitting/GainMatrixUpdater.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

review comments -> change throw to assert
  Core/include/Acts/Utilities/MathHelpers.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: DetectorElementBase - Introduce isSensitive method && define localToGlobalTransform in the child classes (#4970)
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Propagator/SurfaceCollector.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/src/Geometry/Portal.cpp
  Core/src/Geometry/detail/TrackingGeometryPrintVisitor.cpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
  Core/src/Surfaces/Surface.cpp
  Core/src/Visualization/GeometryView3D.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
  Examples/Detectors/Common/src/StructureSelector.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Plugins/GeoModel/src/GeoModelDetectorElementITk.cpp
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/Json/include/ActsPlugins/Json/JsonDetectorElement.hpp
  Plugins/Json/src/JsonDetectorElement.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Python/Core/src/Navigation.cpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/DetectorElementStub.hpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Visualization/EventDataView3DBase.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Unsigned integral
  Core/include/Acts/Utilities/MathHelpers.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Simplify factorial implementation
  Core/include/Acts/Utilities/MathHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix run-time legendre derivative
  Core/include/Acts/Utilities/detail/Polynomials.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Ensure that the factorial is > 0
  Core/include/Acts/Utilities/MathHelpers.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Linter & obelix
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
Due: license, type_t, boost_test, math_macros

Bad vscode
  Tests/UnitTests/Core/Utilities/PolynomialTests.cpp
Due: license, type_t, boost_test, math_macros

Rename factorial into product
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/detail/Polynomials.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Fix test
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, type_t, boost_test, math_macros

Fix unit test
  Core/include/Acts/Utilities/MathHelpers.hpp
  Core/include/Acts/Utilities/detail/Polynomials.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

asserts and argument swaps
  Core/include/Acts/Utilities/MathHelpers.hpp
  Tests/UnitTests/Core/Utilities/MathHelpersTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Acts::Any gets `.emplace` method for in-place construction (#4979)
  Core/include/Acts/Utilities/Any.hpp
  Tests/UnitTests/Core/Utilities/AnyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Introduce free sensitive surface
  Core/include/Acts/Surfaces/SensitiveSurface.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Remove geometry context from GeoModelConverters
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
  Plugins/GeoModel/src/detail/GeoUnionDoubleTrdConverter.cpp
Due: license, type_t, math_macros

Fix assignment
  Core/include/Acts/Surfaces/SensitiveSurface.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Spell out overflow assert
  Core/include/Acts/Utilities/MathHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Remove direct access on protected transform
  Core/src/Geometry/CuboidVolumeStack.cpp
  Core/src/Geometry/CylinderVolumeStack.cpp
Due: license, type_t, math_macros

Weekly Update: Regenerate requirements.txt
  Examples/Scripts/requirements.txt
  docs/old/requirements.txt
Due: none

Remove surface template arguments
  Plugins/GeoModel/src/detail/GeoShiftConverter.cpp
Due: license, type_t, math_macros

refactor: Remove `virtual` from `Surface::isSensitive`
  Core/include/Acts/Surfaces/Surface.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: make MuonSpacePointDigitizer similar to DigitizationAlgorithm (#4866)
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, type_t, math_macros

feat: Use CylinderNavigationPolicy in Gen3 GenericDetector (#4978)
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
Due: license, type_t, math_macros

Fix link to Spack documentation in getting_started.md
  docs/getting_started.md
Due: none

Correct links in getting_started.md
  docs/getting_started.md
Due: none

Fix links in getting_started.md for profiling and Spack
  docs/getting_started.md
Due: none

Fix duplicate layers in HoughCell when filling
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
  Tests/UnitTests/Core/Seeding/HoughTransformTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
