Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

fix docs; try fix detray
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Plugins/Detray/src/DetrayNavigation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix again
  Plugins/Detray/src/DetrayNavigation.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Inclination dependent `SurfaceArray` lookup (#5186)
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix
  docs/DoxygenLayout.xml
  docs/groups/python_bindings.md
Due: leftover_conflict_markers

update
  docs/groups/python_bindings.md
Due: leftover_conflict_markers

clarify
  docs/groups/python_bindings.md
Due: leftover_conflict_markers

add stuff
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies

update
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies

feat: First draft for partial DD4hep Gen3 support
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/LayerBlueprintNode.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

layer helper API and use it
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/LayerBlueprintNode.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Beampipe maker for blueprint builder
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoVolumeConverter.hpp
  Plugins/Root/src/TGeoVolumeConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make the layer names use the full path name
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove artifact
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: dd4hep -> DD4hep on disk
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add flag to LayerHelper whether empty is ok or not
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

(sort of) auto detect layer transform if axes are specified
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

rename addLayer -> makeLayer
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix beampipe builder and make it build to r=0
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

customizer MUST return shared pointer
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Test Gen3 DD4hep code on ODD
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

api exploration
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Check if cylinder conversion failed
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Add missing symbol
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Use boost join
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fixes after rebase
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix missing include
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

reduce backend concept and api surface
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

improve ODD for illustrative purposes
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

api work
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add nodiscard to builder interface methods
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lots of api drafting
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  blueprint_builder_api.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make string separator configurable
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor to tgeo axes
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/Root/src/TGeoVolumeConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

cc docs update
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

centralize constant lookup
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

api drafting
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Examples/Scripts/Python/geometry.py
Due: license, type_t, leftover_conflict_markers, math_macros

make some useful methods public
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

forward format args
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add a very generic makeLayer overload from sensitives
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
