Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

fix
  Core/include/Acts/Utilities/IMultiAxis.hpp
  Core/include/Acts/Utilities/MultiAxis.hpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Enhance `enumerate`
  Core/include/Acts/Utilities/Enumerate.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

simplify multi axis helper
  Core/include/Acts/Utilities/detail/MultiAxisHelper.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: VectorHelpers - Add generic eta method (#5598)
  Core/include/Acts/Utilities/VectorHelpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore!: Remove deprecated space point formation (#5499)
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilder.ipp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderConfig.hpp
  Core/include/Acts/SpacePointFormation/SpacePointBuilderOptions.hpp
  Core/include/Acts/Utilities/SpacePointUtility.hpp
  Core/src/Utilities/CMakeLists.txt
  Core/src/Utilities/SpacePointUtility.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: address PR review comments for ColliderML reader
  Examples/Configs/odd-digi-smearing-config-notime-gen3.json
  Examples/Configs/odd_gen1_gen3_geo_id_map.csv
  Examples/Io/Arrow/CMakeLists.txt
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Examples/Scripts/Python/convert_digi_config.py
  Examples/Scripts/Python/generate_geoid_map.py
  Plugins/Arrow/include/ActsPlugins/Arrow/ArrowUtil.hpp
  Plugins/Arrow/src/ArrowUtil.cpp
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/test_colliderml_reader.py
  Python/Plugins/src/Arrow.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

pr feedback
  Core/include/Acts/Utilities/Enumerate.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Cleanup: Merge JSON files, remove deprecated API, fix bugs
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Examples/Configs/betheHeitler_geantSim_cdf_nC6_O5.json
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/ActsPlugins/Json/BetheHeitlerApproxJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/BetheHeitlerApproxJsonReader.hpp
  Plugins/Json/src/BetheHeitlerApproxJsonConverter.cpp
  Plugins/Json/src/BetheHeitlerApproxJsonReader.cpp
  Python/Examples/src/TrackFitting.cpp
  Python/Plugins/src/Json.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

resolving merge conflict
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

bump vecmem version to 1.25.0
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

fix: address second round of PR review comments
  CMakePresets.json
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Python/Core/src/Surfaces.cpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

refactor: replace Arrow CSV reader with CsvReader for geo ID map
  Examples/Io/Arrow/CMakeLists.txt
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: use explicit source/target prefixes for geo ID map CSV
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Python/Examples/src/plugins/Arrow.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Apply suggestions from code review
  Core/include/Acts/TrackFitting/BetheHeitlerApprox.hpp
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
  Plugins/Json/src/BetheHeitlerApproxJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Add LCG dev4 build, drop LCG 107 builds (#5560)
  .devcontainer/Dockerfile
  .github/actions/dependencies/action.yml
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/detray.yml
  .github/workflows/sonarcloud.yml
  .gitlab-ci.yml
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: leftover_conflict_markers

Add ionisation and other process types to output
  Fatras/src/EventData/GenerationProcess.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add more processes, enhance comments in GenerationProcess.hpp
  Fatras/include/ActsFatras/EventData/GenerationProcess.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Implement mapping of Geant4 processes to Fatras GenerationProcess
  Examples/Algorithms/Geant4/src/ParticleTrackingAction.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore: Enhance `enumerate` (#5603)
  Core/include/Acts/Utilities/Enumerate.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: change to multimask rather than multi links (#5592)
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore!: Remove deprecated seeding components (#5500)
  Core/include/Acts/Seeding/CandidatesForMiddleSp.hpp
  Core/include/Acts/Seeding/CandidatesForMiddleSp.ipp
  Core/include/Acts/Seeding/IExperimentCuts.hpp
  Core/include/Acts/Seeding/Neighbour.hpp
  Core/include/Acts/Seeding/SeedFilter.hpp
  Core/include/Acts/Seeding/SeedFilter.ipp
  Core/include/Acts/Seeding/SeedFilterConfig.hpp
  Core/include/Acts/Seeding/SeedFinder.hpp
  Core/include/Acts/Seeding/SeedFinder.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.hpp
  Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp
  Core/include/Acts/Seeding/SeedFinderOrthogonalConfig.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/SpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.hpp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/Seeding/detail/UtilityFunctions.hpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/UtilityFunctionsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Add portal tagging blueprint node (#5593)
  Core/include/Acts/Geometry/BlueprintNode.hpp
  Core/include/Acts/Geometry/Portal.hpp
  Core/include/Acts/Geometry/PortalDesignatorBlueprintNode.hpp
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/src/Geometry/BlueprintNode.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/Portal.cpp
  Core/src/Geometry/PortalDesignator.hpp
  Core/src/Geometry/PortalDesignatorBlueprintNode.cpp
  Core/src/Geometry/TrackingGeometry.cpp
  Python/Core/src/Geometry.cpp
  Python/Core/src/GeometryGen3.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Weekly Update: Regenerate requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

feat: adding padblueprintnode (#5595)
  Core/include/Acts/Geometry/BlueprintNode.hpp
  Core/include/Acts/Geometry/PadBlueprintNode.hpp
  Core/include/Acts/Geometry/StaticBlueprintNode.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/PadBlueprintNode.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: bump traccc version to 1.4.0 (#5604)
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options, leftover_conflict_markers

fix: support 1:N volume mapping in digi config conversion
  Examples/Scripts/Python/convert_digi_config.py
Due: leftover_conflict_markers

refactor: replace digi config with hardcoded per-subsystem sigmas
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/test_colliderml_reader.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clean up
  .pre-commit-config.yaml
  CI/check_unused_files.py
  CMakePresets.json
  Examples/Scripts/Python/convert_digi_config.py
Due: leftover_conflict_markers, format-json

refactor: return ArrowSchemaHandle from ColliderML schema methods and bind as class statics
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Python/Examples/src/plugins/Arrow.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: store pitch sizes in subsystem config map, derive sigma
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: Run detray workflows on changes to workflow definition
  .github/workflows/detray.yml
  .merge-sentinel.yml
Due: leftover_conflict_markers

use v69 for detray images
  .github/workflows/detray.yml
Due: leftover_conflict_markers

Add optional time-of-flight cuts to Seeding2 doublet finding and seed filtering
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/include/Acts/Seeding2/DoubletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: clean up ColliderML converter config and hit processing
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/test_colliderml_reader.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Run detray workflows on changes to workflow definition (#5609)
  .github/workflows/detray.yml
  .merge-sentinel.yml
Due: leftover_conflict_markers

chore: Make devcontainer out-of-the-box experience nicer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  CMakePresets.json
Due: leftover_conflict_markers, format-json

no hooks, update motd
  .devcontainer/Dockerfile
  .devcontainer/setup.sh
Due: leftover_conflict_markers

improvements
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitattributes
  CMakePresets.json
Due: leftover_conflict_markers, format-json

add --no-build
  .devcontainer/Dockerfile
Due: leftover_conflict_markers

style: apply pre-commit formatting
  Examples/Scripts/Python/guntam_transformer_seeder.py
  Examples/Scripts/Python/onnx_seeding.py
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
