Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

fix: Local static initializer over global for particle data and photon conversion
  Core/src/Definitions/ParticleData.cpp
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/scripts/generate_particle_data_table.py
  Fatras/src/Physics/PhotonConversion.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

debugging
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

refactor: write measurements in geomodel_G4 chain (#5096)
  Examples/Scripts/Python/geomodel_G4.py
  Python/Examples/src/Digitization.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add tmux
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

last fixes
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

p[recomitt
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

typ
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: mv {addnab -> eic}/docker-run-action
  .github/workflows/builds.yml
Due: leftover_conflict_markers

chore: clean up `using namespace` (#5078)
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/SeedFinderConfig.hpp
  Core/include/Acts/Seeding/SeedFinderUtils.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
  Core/include/Acts/Seeding/detail/CylindricalSpacePointGrid.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.ipp
  Core/src/Geometry/Volume.cpp
  Core/src/Seeding/CompSpacePointAuxiliaries.cpp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Plugins/EDM4hep/include/ActsPlugins/EDM4hep/PodioTrackContainer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

pr feedback
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Python/Examples/python/reconstruction.py
  Python/Examples/src/plugins/Onnx.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix
  docs/examples/units.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: IterativeVertexFinder: const reference instead of copying (#5097)
  Core/src/Vertexing/IterativeVertexFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

fix: harmonise full_chain.py updates (#5065)
  Examples/Scripts/Python/full_chain_itk.py
  Examples/Scripts/Python/full_chain_itk_Gbts.py
  Examples/Scripts/Python/full_chain_odd_LRT.py
  Examples/Scripts/Python/full_chain_test.py
  Examples/Scripts/Python/itk_seeding.py
Due: leftover_conflict_markers

adding first version of the PyAlg
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/DispatchAlgorithms/CMakeLists.txt
  Examples/Algorithms/DispatchAlgorithms/include/ActsExamples/DispatchAlgorithms/DispatchEdm.hpp
  Examples/Algorithms/DispatchAlgorithms/include/ActsExamples/DispatchAlgorithms/FittingDispatchAlgorithm.hpp
  Examples/Algorithms/DispatchAlgorithms/include/ActsExamples/DispatchAlgorithms/PatternDispatchAlgorithm.hpp
  Examples/Algorithms/DispatchAlgorithms/src/FittingDispatchAlgorithm.cpp
  Examples/Algorithms/DispatchAlgorithms/src/PatternDispatchAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

revert
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

fix
  Tests/UnitTests/Core/EventData/ParticleHypothesisTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

adding python bindings
  Examples/Algorithms/DispatchAlgorithms/CMakeLists.txt
  Examples/Algorithms/DispatchAlgorithms/include/ActsExamples/DispatchAlgorithms/DispatchEdm.hpp
  Examples/Algorithms/DispatchAlgorithms/include/ActsExamples/DispatchAlgorithms/FittingDispatchAlgorithm.hpp
  Examples/Algorithms/DispatchAlgorithms/include/ActsExamples/DispatchAlgorithms/PatternDispatchAlgorithm.hpp
  Examples/Algorithms/DispatchAlgorithms/src/FittingDispatchAlgorithm.cpp
  Examples/Algorithms/DispatchAlgorithms/src/PatternDispatchAlgorithm.cpp
  Python/Examples/CMakeLists.txt
  Python/Examples/src/DispatchAlgorithms.cpp
  Python/Examples/src/ExamplesModuleEntry.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Minor zenodo version filling fix
  .zenodo.json
  CI/sync_citation_metadata.py
  CITATION.cff
Due: leftover_conflict_markers, sync_citation_metadata

fix
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackParamsEstimationAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

rearranging a bit debug messages
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

typo
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

Reviews... Need to update docs...
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
  Core/include/Acts/Geometry/detail/PortalPlacement.hpp
  Core/src/Geometry/VolumePlacementBase.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Update doc
  Core/include/Acts/Geometry/VolumePlacementBase.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

compilation fixes
  Tests/UnitTests/Core/Propagator/NavigationPolicyStateTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

add header filter .*
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

drop upterm
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

fix: Local static initializer over global for particle data and photon conversion (#5098)
  Core/src/Definitions/ParticleData.cpp
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/PhotonConversion.hpp
  Fatras/scripts/generate_particle_data_table.py
  Fatras/src/Physics/PhotonConversion.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

scripts adding
  Examples/Scripts/Python/dispatching.py
  Python/Examples/src/DispatchAlgorithms.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

rework sp container copy/move; copyFrom for space points and seeds
  Core/include/Acts/EventData/SeedColumns.hpp
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedContainer2.ipp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointColumns.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/EventData/detail/SpacePointContainer2Column.hpp
  Core/src/EventData/SeedContainer2.cpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove explicit
  Core/include/Acts/Geometry/Volume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove remaining fastjet plugin
  CMakeLists.txt
  Examples/Algorithms/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers

placement
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

don't use rich console for annotations
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

improve output
  .github/workflows/analysis.yml
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers

run on all files to get an idea of the timing
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

don't skip headers without a tu
  CI/clang_tidy/run_clang_tidy_pr.py
Due: leftover_conflict_markers
