Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

naming
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

display herald link
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

maybe symlinks are the problem?
  CI/test_coverage.py
Due: leftover_conflict_markers

ignore parse error
  CI/test_coverage.py
Due: leftover_conflict_markers

try to get dependencies to work again
  .github/workflows/analysis.yml
  uv.lock
Due: leftover_conflict_markers

try to get dependencies filtered out
  CI/test_coverage.py
Due: leftover_conflict_markers

move --no-project
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

add --no-project
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

attempt at fix
  CI/test_coverage.py
Due: leftover_conflict_markers

hallucinated option
  CI/test_coverage.py
Due: leftover_conflict_markers

one , too much
  CI/test_coverage.py
Due: leftover_conflict_markers

script evolution
  CI/sonar_coverage.xsd
  CI/test_coverage.py
Due: leftover_conflict_markers

try with multiple opts
  CI/test_coverage.py
Due: leftover_conflict_markers

let's try to ignore dependencies again
  CI/test_coverage.py
Due: leftover_conflict_markers

add .sh to unused check
  CI/check_unused_files.py
Due: leftover_conflict_markers

pr feedback
  Core/include/Acts/EventData/Types.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/HashingPrototypeSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/HashingPrototypeSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/Utilities/src/ProtoTracksToParameters.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ignore redirect warnings for doi links
  docs/check_links.sh
  docs/linkcheckerrc
Due: leftover_conflict_markers

fix a bunch of links
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/Units.hpp
  Core/include/Acts/Utilities/BoundingBox.hpp
  Plugins/Gnn/README.md
  docs/groups/eventdata/tracks.md
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
  docs/references.bib
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update doc with infos about how to build the doc
  docs/pages/contributing/building_acts.md
Due: leftover_conflict_markers

lint
  .gitlab-ci.yml
Due: leftover_conflict_markers

adding a function rangeContainsSubstring to Helpers.hpp
  Core/include/Acts/Utilities/Helpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

treat strings from volumeMappings as substrings
  Examples/Algorithms/Geant4/src/SensitiveSurfaceMapper.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ignore localhost
  docs/linkcheckerrc
Due: leftover_conflict_markers

refactor: Improve separation for GBTS
  Core/include/Acts/Seeding2/GbtsConfig.hpp
  Core/include/Acts/Seeding2/GbtsDataStorage.hpp
  Core/include/Acts/Seeding2/GbtsGeometry.hpp
  Core/include/Acts/Seeding2/GbtsLayerConnection.hpp
  Core/include/Acts/Seeding2/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/CMakeLists.txt
  Core/src/Seeding2/GbtsDataStorage.cpp
  Core/src/Seeding2/GbtsGeometry.cpp
  Core/src/Seeding2/GbtsLayerConnection.cpp
  Core/src/Seeding2/GbtsTrackingFilter.cpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

diff cleanup
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix type mismatch error
  Python/Examples/src/Framework.cpp
  Python/Utilities/include/ActsPython/Utilities/WhiteBoardTypeRegistry.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

test error types from python
  Python/Examples/tests/test_read_data_handle.py
Due: leftover_conflict_markers

python access to whiteboard
  Core/include/Acts/Utilities/Any.hpp
  Core/include/Acts/Utilities/HashedString.hpp
  Examples/Framework/include/ActsExamples/Framework/DataHandle.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/DataHandle.cpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
  Examples/Io/Podio/include/ActsExamples/Io/Podio/CollectionBaseWriteHandle.hpp
  Examples/Io/Podio/src/CollectionBaseWriteHandle.cpp
  Python/Examples/src/Framework.cpp
  Python/Examples/tests/test_fpe.py
  Python/Examples/tests/test_read_data_handle.py
  Python/Utilities/include/ActsPython/Utilities/WhiteBoardTypeRegistry.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add missing include in hashed string
  Core/include/Acts/Utilities/HashedString.hpp
  Python/Examples/tests/test_read_data_handle.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

consistency, tests actually work
  Python/Examples/src/Generators.cpp
  Python/Examples/tests/test_read_data_handle.py
Due: license, type_t, leftover_conflict_markers, math_macros

adding description of param value for doc
  Core/include/Acts/Utilities/Helpers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

doc for typehash
  Core/include/Acts/Utilities/HashedString.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

spelling
  Python/Examples/src/Framework.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

wb reg interface change
  Python/Examples/src/Generators.cpp
  Python/Utilities/include/ActsPython/Utilities/WhiteBoardTypeRegistry.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

cleanup, documentation
  Python/Examples/src/Framework.cpp
  Python/Examples/tests/test_fpe.py
  Python/Utilities/include/ActsPython/Utilities/WhiteBoardTypeRegistry.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

use logger in data handle test
  Python/Examples/tests/test_read_data_handle.py
Due: leftover_conflict_markers

fix issue with python init/finalize not being called
  Python/Examples/src/Framework.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: Remove build performance test job (#5169)
  .github/workflows/analysis.yml
  CI/headwind.yml
  CI/perf_headwind.py
Due: leftover_conflict_markers

feat: `MultiComponentBoundTrackParameters::merge` (#5137)
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/MultiComponentTrackParameters.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
