Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

fix(examples): fix pattern-perf collector for tracks without fitted parameters
  Examples/Framework/include/ActsExamples/Validation/PatternRecognitionPerformanceCollector.hpp
  Examples/Framework/include/ActsExamples/Validation/TrackQualityPlotTool.hpp
  Examples/Framework/src/Validation/PatternRecognitionPerformanceCollector.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Io/Root/src/RootPatternRecognitionPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Muon mockup geometry small refactoring and add propagation script (#6146)
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelMuonMockupBuilder.hpp
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Scripts/Python/geomodel_G4.py
  Examples/Scripts/Python/muon_mockup.py
  Examples/Scripts/Python/propagate_mockup.py
  Python/Examples/tests/test_examples.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: expose standalone surface sensitivity in Python
  Python/Core/src/Surfaces.cpp
  Python/Core/tests/test_blueprint.py
  Python/Core/tests/test_surfaces.py
Due: license, type_t, leftover_conflict_markers, math_macros

refactor(navigation): Drop the parentheses around the remaining count
  Core/include/Acts/Navigation/NavigationStream.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Update Python/Core/src/Surfaces.cpp
  Python/Core/src/Surfaces.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: pilot ccache snapshots in CERN S3
  .github/actions/ccache-s3/action.yml
  .github/actions/ccache-s3/stats/action.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/sccache.md
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

feat: expose Python propagator maximum step size
  Python/Core/src/Propagation.cpp
  Python/Core/tests/test_propagation.py
Due: license, type_t, leftover_conflict_markers, math_macros

fix: nodiscard and boost with clang21 / macOS 27 (#6174)
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

next comments
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeError.hpp
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeSolver.hpp
  Plugins/Mille/src/MillePedeError.cpp
  Plugins/Mille/src/MillePedeSolver.cpp
  Plugins/Mille/src/detail/RunSolverProcess.cpp
  Plugins/Mille/src/detail/RunSolverProcess.hpp
  Plugins/Mille/src/detail/SolverProcessCall_BoostV1.hpp
  Plugins/Mille/src/detail/SolverProcessCall_BoostV2.hpp
  Plugins/Mille/src/detail/WrappedFileHandle.cpp
  Plugins/Mille/src/detail/WrappedFileHandle.hpp
  Python/Plugins/src/Mille.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
  Tests/UnitTests/Plugins/Mille/MillePedeSolverBuiltIn.cpp
  Tests/UnitTests/Plugins/Mille/SolverProcessTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: simplify snapshot pilot and lock dependencies
  .github/actions/ccache-s3/action.yml
  .github/actions/sccache/action.yml
  .github/actions/sccache/start.sh
  .github/actions/sccache/stats/action.yml
  .github/actions/sccache/wait.sh
  .github/workflows/builds.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/ccache_snapshot.py.lock
  CI/sccache.md
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

ci: avoid serializing cache publishers
  .github/workflows/builds.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

feat(traccc): add GPU strip spacepoint formation
  Traccc/core/CMakeLists.txt
  Traccc/core/include/traccc/seeding/detail/spacepoint_formation.hpp
  Traccc/core/include/traccc/seeding/detail/strip_geometry.hpp
  Traccc/core/include/traccc/seeding/detail/strip_pair.hpp
  Traccc/core/include/traccc/seeding/detail/strip_pairing.hpp
  Traccc/core/include/traccc/seeding/impl/spacepoint_formation.ipp
  Traccc/core/include/traccc/seeding/strip_spacepoint_formation_data.hpp
  Traccc/device/common/CMakeLists.txt
  Traccc/device/common/include/traccc/seeding/device/count_strip_pairs.hpp
  Traccc/device/common/include/traccc/seeding/device/find_strip_pairs.hpp
  Traccc/device/common/include/traccc/seeding/device/form_strip_spacepoints_from_pairs.hpp
  Traccc/device/common/include/traccc/seeding/device/impl/count_strip_pairs.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/find_strip_pairs.ipp
  Traccc/device/common/include/traccc/seeding/device/impl/form_strip_spacepoints_from_pairs.ipp
  Traccc/device/common/include/traccc/seeding/device/silicon_strip_spacepoint_formation_algorithm.hpp
  Traccc/device/common/src/seeding/silicon_strip_spacepoint_formation_algorithm.cpp
  Traccc/device/cuda/CMakeLists.txt
  Traccc/device/cuda/include/traccc/cuda/seeding/silicon_strip_spacepoint_formation_algorithm.hpp
  Traccc/device/cuda/src/seeding/silicon_strip_spacepoint_formation_algorithm.cu
  Traccc/tests/core/CMakeLists.txt
  Traccc/tests/core/test_strip_spacepoint_inputs.cpp
  Traccc/tests/core/test_strip_spacepoint_migration.cpp
  Traccc/tests/cuda/CMakeLists.txt
  Traccc/tests/cuda/test_strip_spacepoint_formation.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: clean ccache in the build environment
  .github/workflows/builds.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

ci: omit environment for anonymous cache reads
  .github/workflows/builds.yml
  CI/ccache-snapshots.md
Due: leftover_conflict_markers

refactor(propagator): Store the stepper covariance as an optional
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/RiddersStepper.hpp
  Core/include/Acts/Propagator/StepperConcept.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/Propagator/RiddersStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: preserve compiler paths for FPE masks
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Use abstraction over octree traversal logic
  Core/src/Navigation/FrustumNavigationPolicy.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fix compilation and clang-format
  Core/src/Navigation/FrustumNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Clang-format
  Core/src/Navigation/FrustumNavigationPolicy.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

ci: publish cache snapshots in an action post hook
  .github/actions/ccache-s3/action.cjs
  .github/actions/ccache-s3/action.test.cjs
  .github/actions/ccache-s3/action.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  CI/ccache-snapshots.md
Due: leftover_conflict_markers

Revert "ci: publish cache snapshots in an action post hook"
  .github/actions/ccache-s3/action.cjs
  .github/actions/ccache-s3/action.test.cjs
  .github/actions/ccache-s3/action.yml
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  CI/ccache-snapshots.md
Due: leftover_conflict_markers

ci: pilot ccache snapshots in CERN S3 (#6177)
  .github/actions/ccache-s3/action.yml
  .github/actions/ccache-s3/stats/action.yml
  .github/actions/sccache/action.yml
  .github/actions/sccache/start.sh
  .github/actions/sccache/stats/action.yml
  .github/actions/sccache/wait.sh
  .github/workflows/builds.yml
  .github/workflows/checks.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/ccache_snapshot.py.lock
  CI/sccache.md
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

lint fix
  Python/Core/src/Surfaces.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor!: Split the navigator external surfaces into three inputs (#6064)
  CI/physmon/reference.sha256
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Core/include/Acts/Propagator/NavigationTarget.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/include/Acts/Propagator/NavigatorOptions.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/ReferenceTrajectoryBuilder.hpp
  Core/src/Geometry/Layer.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Core/src/Navigation/NavigationStream.cpp
  Core/src/Navigation/Navigator.cpp
  Core/src/Propagator/NavigationTarget.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Propagator/DirectNavigatorTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorAdditionalSurfaceTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorExtendedSurfaceTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTelescope.hpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: add endplates
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(traccc): Fuse GBTS CCA loops
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_run_cca_iteration.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

perf(traccc): Fuse GBTS CCA loops (#6181)
  Traccc/device/common/include/traccc/gbts_seeding/device/impl/gbts_run_cca_iteration.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add Mille Solver (#5954)
  CMakeLists.txt
  Plugins/Mille/CMakeLists.txt
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeError.hpp
  Plugins/Mille/include/ActsPlugins/Mille/MillePedeSolver.hpp
  Plugins/Mille/src/MillePedeError.cpp
  Plugins/Mille/src/MillePedeSolver.cpp
  Plugins/Mille/src/detail/RunSolverProcess.cpp
  Plugins/Mille/src/detail/RunSolverProcess.hpp
  Plugins/Mille/src/detail/SolverProcessCall_BoostV1.hpp
  Plugins/Mille/src/detail/SolverProcessCall_BoostV2.hpp
  Plugins/Mille/src/detail/WrappedFileHandle.cpp
  Plugins/Mille/src/detail/WrappedFileHandle.hpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/Mille.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
  Tests/UnitTests/Plugins/Mille/MillePedeSolverBuiltIn.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros

reverted concepts detector type
  Detray/core/include/detray/navigation/direct_navigator.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

de-templating of the proto surface material
  Core/include/Acts/Geometry/MaterialDesignatorBlueprintNode.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Geometry/MaterialDesignator.hpp
  Core/src/Material/BinnedSurfaceMaterialAccumulator.cpp
  Core/src/Material/MaterialSurfaceRegistry.cpp
  Core/src/Material/TrackingGeometryMaterial.cpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MappingMaterialDecorator.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorBuilder.cpp
  Examples/Scripts/MaterialMapping/GeometryVisualisationAndMaterialHandling.py
  Examples/Scripts/MaterialMapping/configureMap.py
  Examples/Scripts/MaterialMapping/materialBinning.py
  Examples/Scripts/MaterialMapping/writeMapConfig.py
  Plugins/DD4hep/include/ActsPlugins/DD4hep/DD4hepMaterialHelpers.hpp
  Plugins/DD4hep/src/DD4hepMaterialHelpers.cpp
  Plugins/Detray/include/ActsPlugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayMaterial.cpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceMaterialJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/detail/MaterialJsonContext.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Plugins/Json/src/SurfaceMaterialJsonConverter.cpp
  Python/Core/src/Material.cpp
  Python/Core/tests/test_blueprint.py
  Python/Examples/tests/test_material_config.py
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Geometry/PortalTests.cpp
  Tests/UnitTests/Core/Material/BinnedSurfaceMaterialAccumulatorTests.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ProtoSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/TrackingGeometryMaterialTests.cpp
  Tests/UnitTests/Plugins/Json/MaterialMapJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceMaterialJsonConverterTests.cpp
  docs/groups/detector_descr/material_mapping.md
  docs/old/core/geometry/material.md
  docs/pages/examples/material_mapping_howto.md
  docs/pages/material_map_json_format.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix(traccc): Use unpinned memory when running in NSight Compute
  Traccc/examples/run/cuda/apps/throughput_mt.cpp
  Traccc/examples/run/cuda/apps/throughput_st.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor(propagator): Throw if setCovariance has no covariance to replace
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/RiddersStepper.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/src/Propagator/StraightLineStepper.cpp
  Core/src/Propagator/SympyStepper.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf(traccc): Eliminate more GBTS unpinned memory copies
  Traccc/device/common/include/traccc/gbts_seeding/device/gbts_seeding_algorithm.hpp
  Traccc/device/common/src/gbts_seeding/gbts_seeding_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(examples): expose GBTS magnetic field strength to Python
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

style: apply clang-format
  Python/Examples/src/TrackFinding.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat(detray): perigee extrapolator (#6084)
  Detray/core/include/detray/navigation/direct_navigator.hpp
  Detray/core/include/detray/navigation/external_surface.hpp
  Detray/core/include/detray/propagator/perigee_extrapolator.hpp
  Detray/tests/integration_tests/cpu/CMakeLists.txt
  Detray/tests/integration_tests/cpu/propagator/perigee_extrapolator.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: migrate remaining compiler caches to S3 snapshots
  .github/actions/ccache-s3/action.yml
  .github/actions/cibuildwheel_wrapper/action.yml
  .github/detray-traccc-filters.yml
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/ccache-retention.yml
  .github/workflows/detray.yml
  .github/workflows/pypi.yml
  .merge-sentinel.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/cibuildwheel.sh
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

ci: remove obsolete compiler cache retention
  .github/workflows/ccache-retention.yml
  .github/workflows/checks.yml
  CI/ccache-snapshots.md
  CI/prune_ccache.py
  CI/test_prune_ccache.py
Due: leftover_conflict_markers

HIP GBTS version
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/gbts_seeding/gbts_seeding_algorithm.hpp
  Traccc/device/hip/src/gbts_seeding/gbts_seeding_algorithm.hip
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
