Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

pr feedback
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

doc
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

optional time -> nan
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

pr feedback
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

try calm ci
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

docs: Fix typo in GridPortalLink doc
  Core/include/Acts/Geometry/GridPortalLink.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Make std::filesystem a private link in Exatrkx plugin (#4366)
  Plugins/ExaTrkX/CMakeLists.txt
Due: none

Move spectrometer mockup into dedicated package
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
  Examples/Detectors/GeoModelDetector/src/GeoModelDetector.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Python/src/GeoModel.cpp
  Examples/Scripts/Python/geomodel_G4.py
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Format
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Due: none

Integrate mockup into the python workflow
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/GeoModel.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, include_guards, pragma_once, type_t, math_macros

Precommit fix
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/GeoModel.cpp
  Examples/Scripts/Python/geomodel_G4.py
Due: license, include_guards, pragma_once, type_t, math_macros

Improve comments
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

BLub
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

changes to reconstruction.py so the tolerance inside SeedingAlgorithm.cpp can be chaned dynamically
  Examples/Python/python/acts/examples/reconstruction.py
Due: none

Ignore itk directory to avoid large file push errors
  .gitignore
Due: none

Move large files to Git LFS
  .gitattributes
Due: none

Improve documentation
  Examples/Detectors/MuonSpectrometerMockupDetector/include/ActsExamples/MuonSpectrometerMockupDetector/GeoMuonMockupExperiment.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: determine PR number/sha using GitHub API in report.yml (#4361)
  .github/workflows/builds.yml
  .github/workflows/report.yml
Due: none

docs: Fix documentation typos (#4365)
  Core/include/Acts/Geometry/CylinderPortalShell.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/PortalShell.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Navigator without tracking geometry throws an exception
  Core/include/Acts/Propagator/Navigator.hpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Refactor GeoModelTree to have its own list of published FulLPhysVol
  Examples/Detectors/GeoModelDetector/include/ActsExamples/GeoModelDetector/GeoModelDetector.hpp
  Plugins/GeoModel/CMakeLists.txt
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelReader.cpp
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

more SoA seed container; reduce seed length type
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedContainer2.ipp
  Core/src/EventData/SeedContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

adding AlignedTGeoDetectorElement
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/AlignedTGeoDetectorElement.hpp
  Examples/Detectors/TGeoDetector/src/AlignedTGeoDetectorElement.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

introduce TGeo aligned detectors
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/AlignedTGeoDetectorElement.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Naming convention
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix Sonarcloud defects
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Formatter
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

moving shared pointer
  Examples/Detectors/TGeoDetector/src/AlignedTGeoDetectorElement.cpp
Due: license, type_t, math_macros

clang tidy
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Clang tidy
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelTree.hpp
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Typo
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, type_t, math_macros

Formatter
  Plugins/GeoModel/src/GeoModelTree.cpp
Due: license, type_t, math_macros

calm clang 19
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, type_t, math_macros

pr feedback
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/include/Acts/EventData/SeedProxy2.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

try inline
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: alignable `TGeoDetector` (#4369)
  Examples/Detectors/TGeoDetector/CMakeLists.txt
  Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/AlignedTGeoDetectorElement.hpp
  Examples/Detectors/TGeoDetector/src/AlignedTGeoDetectorElement.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

re-introduce algined generic detector
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
  Examples/Detectors/GenericDetector/CMakeLists.txt
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/AlignedGenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreator.hpp
  Examples/Detectors/GenericDetector/src/AlignedGenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/GenericDetector/src/ProtoLayerCreator.cpp
  Examples/Python/src/Detector.cpp
  Examples/Scripts/Python/propagation.py
Due: license, include_guards, pragma_once, type_t, math_macros

try without final
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros
