Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

framework
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MuonSpacePointDigitizer.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

applying revision
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

extend test coverage
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
Due: license, type_t, boost_test, math_macros

revert this
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: Bump minimum boost version to 1.78.0 (#3517)
  CMakeLists.txt
  Examples/Algorithms/Fatras/src/FatrasSimulation.cpp
  Examples/Algorithms/Geant4/src/Geant4Simulation.cpp
  Examples/Algorithms/Geant4/src/SensitiveSteppingAction.cpp
  Examples/Framework/include/ActsExamples/EventData/Index.hpp
  Examples/Scripts/MaterialMapping/MaterialComposition.cpp
  Examples/Scripts/TrackingPerformance/TrackSummary.cpp
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

simhit map framework
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MuonSpacePointDigitizer.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

finish simhitmap
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, type_t, math_macros

chore: consistent use of `rangeContainsValue` (#4321)
  Core/include/Acts/Propagator/StandardAborters.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: alignment improvements and bug fixes
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithmFunction.cpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignedTransformUpdater.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentContext.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvMeasurementReader.hpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Python/CMakeLists.txt
  Examples/Python/src/Alignment.cpp
  Examples/Python/src/Input.cpp
  Examples/Scripts/Python/alignment_odd.py
  Python/Core/src/Definitions.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Straw line seeder (#4808)
  Core/include/Acts/EventData/CompositeSpacePoint.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/include/Acts/Utilities/PointerTraits.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/CompositeSpacePointLineSeeder.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineSeederTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Update Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Add ProtoAxisHelper (#4871)
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

ci: Use direct smoother on first iteration, reverse KF on second in Physmon (#4887)
  CI/physmon/workflows/physmon_trackrefitting_kf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_kalman_refitting.py
Due: none

DirectedProtoAxes in accumulated surface material
  Core/include/Acts/Material/AccumulatedSurfaceMaterial.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/src/Material/AccumulatedSurfaceMaterial.cpp
  Core/src/Material/BinnedSurfaceMaterial.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix accumulated surface material test
  Tests/UnitTests/Core/Material/AccumulatedSurfaceMaterialTests.cpp
Due: license, type_t, boost_test, math_macros

fix: Re-targeting for `DirectNavigator` (#4891)
  Core/include/Acts/Propagator/DirectNavigator.hpp
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Algorithms/TrackFitting/src/TrackFittingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

small fix
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/ModuleMapUtils.cuh
Due: license, type_t, math_macros

do it
  Core/include/Acts/TrackFitting/GsfOptions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Examples/Algorithms/TrackFitting/include/ActsExamples/TrackFitting/TrackFitterFunction.hpp
  Examples/Algorithms/TrackFitting/src/GsfFitterFunction.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFitting.cpp
  Examples/Scripts/Python/truth_tracking_gsf.py
Due: license, include_guards, pragma_once, type_t, math_macros

restore
  Examples/Scripts/Python/truth_tracking_gsf.py
Due: none

update
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/ModuleMapUtils.cuh
Due: license, type_t, math_macros

do it
  Examples/Scripts/Python/gnn_module_map_odd.py
  Python/Examples/python/reconstruction.py
  Python/Examples/tests/test_examples.py
Due: none

fix
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix warning
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, type_t, boost_test, math_macros

lint
  Tests/UnitTests/Core/TrackFitting/GsfMixtureReductionTests.cpp
Due: license, type_t, boost_test, math_macros

feat: Introduce indexed grid navigation policy for Gen3 (#4898)
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Tests/UnitTests/Core/Navigation/CMakeLists.txt
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  docs/old/core/geometry/concepts.md
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Muon Mockup Detector: use ACTS chamber frame to describe cuboids instead of geoModel local frame (#4896)
  Examples/Detectors/GeoModelDetector/src/GeoModelMuonMockupBuilder.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/GeoMuonMockupExperiment.cpp
Due: license, type_t, math_macros

chore: remove gcc8 workarounds in track state proxy (#4900)
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Draft implementation
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Draft implementation of Sliding Window HT scan algorithm
  Core/include/Acts/Seeding/HoughTransformUtils.hpp
  Core/include/Acts/Seeding/HoughTransformUtils.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

new Json converter and visualization for IndexGrid policies
  Core/include/Acts/Navigation/IndexGridNavigationPolicy.hpp
  Examples/Scripts/Navigation/analyze_surface_grids.py
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/ActsPlugins/Json/IndexGridNavigationJsonConverter.hpp
  Plugins/Json/src/IndexGridNavigationJsonConverter.cpp
  Tests/UnitTests/Core/Navigation/IndexGridNavigationTests.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/IndexGridNavigationJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add concept checks for track (state) proxy
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: Extend the track proxy concept
  Core/include/Acts/EventData/TrackProxyConcept.hpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

add hasColumn to track state proxy
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove shareFrom / copyFrom from track state proxy concept
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

centralize component hashes for track proxy
  Core/include/Acts/EventData/TrackProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

track state proxy concept subspace changes
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: centralize component hashes for track state proxy
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add hasColumn to TrackProxy
  Core/include/Acts/EventData/TrackProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros
