Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

Take Millepede from GitHub
  cmake/ActsExternSources.cmake
Due: leftover_conflict_markers

ARGHgit commit -m ARGH
  Tests/UnitTests/Plugins/Mille/ActsKalmanToMilleConsistency.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

drop filters; use -j over custom shell multi processing
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

use scatter over voxels for 3d
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

restore shell-side comparison pool over histcmp -j
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

fix
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers

Revert "restore shell-side comparison pool over histcmp -j"
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

ci: Bump histcmp 0.10.0 (#5710)
  CI/dependencies/setup.sh
  CI/physmon/phys_perf_mon.sh
Due: leftover_conflict_markers

refactor: Switch Examples digitization to `DirectedProtoAxis`
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Utilities/ProtoAxis.cpp
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/GeometricConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Algorithms/Digitization/src/GeometricConfig.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/src/Digitization/Channelizer.cpp
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceTestBeds.hpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

off by one
  Core/include/Acts/Utilities/Axis.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Use MultiAxis/IMultiAxis for the digitization segmentation
  Core/include/Acts/Utilities/Axis.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Utilities/ProtoAxis.cpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/GeometricConfig.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Algorithms/Digitization/src/GeometricConfig.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/Segmentizer.hpp
  Fatras/src/Digitization/Channelizer.cpp
  Fatras/src/Digitization/Segmentizer.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceTestBeds.hpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Add PointSurface (PCA to a 3D point) (#5671)
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Surfaces/PointBounds.hpp
  Core/include/Acts/Surfaces/PointSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/PointBounds.cpp
  Core/src/Surfaces/PointSurface.cpp
  Plugins/EDM4hep/src/PodioUtil.cpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Python/Core/src/Surfaces.cpp
  Python/Core/tests/test_surfaces.py
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/PointBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/PointSurfaceTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: mp-ii thirdparty installer (#5433)
  .devcontainer/Dockerfile
  .github/actions/dependencies/action.yml
  .gitlab-ci.yml
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  CI/cibuildwheel.sh
  CMakeLists.txt
  CMakePresets.json
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/MillePedeAlignmentSandbox.hpp
  Plugins/Mille/src/ActsToMille.cpp
  Plugins/Mille/src/Helpers.cpp
  Python/Examples/tests/test_edm4hep.py
  Tests/UnitTests/Plugins/Mille/ActsKalmanToMilleConsistency.cpp
  cmake/ActsExternSources.cmake
  docs/pages/contributing/building_acts.md
  thirdparty/Mille/CMakeLists.txt
  thirdparty/Millepede-II/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, format-json

feat: Use PointSurface for the 3D PCA in ImpactPointEstimator
  Core/src/Vertexing/ImpactPointEstimator.cpp
  Tests/UnitTests/Core/Vertexing/ImpactPointEstimatorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Update geometric digitization hashes for float->double binning precision
  Core/include/Acts/Utilities/Axis.hpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Use Bound axis boundary type for digitization segmentation
  Examples/Algorithms/Digitization/src/DigitizationConfigurator.cpp
  Examples/Io/Json/src/JsonDigitizationConfig.cpp
  Tests/UnitTests/Examples/Algorithms/Digitization/ModuleClustersTests.cpp
  Tests/UnitTests/Examples/Io/Json/JsonDigitizationConfigTests.cpp
  Tests/UnitTests/Fatras/Digitization/ChannelizerTests.cpp
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceTestBeds.hpp
  Tests/UnitTests/Fatras/Digitization/SegmentizerTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fixes
  Examples/Scripts/Python/track_finding_python_only.py
  Python/Core/python/__init__.py
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers

rename
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers

feat: Build ODD subsystems selectively
  Python/Examples/python/odd.py
  Python/Examples/tests/test_detectors.py
Due: leftover_conflict_markers

chore: Update OpenDataDetector to v6.0.2
  Python/Examples/tests/root_file_hashes.txt
  cmake/ActsExternSources.cmake
Due: leftover_conflict_markers

update
  Python/Examples/python/__init__.py
Due: leftover_conflict_markers

Make feature scaling of OnnxEdgeClassifier device-aware, add new template mulPerColumn for column-wise scaling on CPU + CUDA devices
  Plugins/Gnn/include/ActsPlugins/Gnn/Tensor.hpp
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
  Plugins/Gnn/src/Tensor.cpp
  Plugins/Gnn/src/Tensor.cu
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make OnnxEdgeClassifier node feature selection device aware
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

OnnxEdgeClassifier change node feature scaling to division by scale factor (avoid numerical discrepancies with training framework)
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

remove selectedNodeFeatures (Tensor) copy-constructor
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

node feature scales option missing doc
  Plugins/Gnn/include/ActsPlugins/Gnn/OnnxEdgeClassifier.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

GNN plugin add unit test for Tensor column-wise scaling (CPU+GPU)
  Tests/UnitTests/Plugins/Gnn/TensorTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

selected features config option for OnnxEdgeClassifier
  Plugins/Gnn/include/ActsPlugins/Gnn/OnnxEdgeClassifier.hpp
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add node feature scales to OnnxEdgeClassifier
  Plugins/Gnn/include/ActsPlugins/Gnn/OnnxEdgeClassifier.hpp
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs(traccc): update readme links and build instructions
  Traccc/README.md
Due: leftover_conflict_markers

docs(detray): update readme links and build instructions
  Detray/README.md
Due: leftover_conflict_markers

feat: enable Arrow/Parquet for PyPI, use pytest in cibuildwheel (#5659)
  CI/cibuildwheel.sh
  CI/physmon/workflows/physmon_simulation.py
  CI/physmon/workflows/physmon_trackfitting_gx2f_vs_kf.py
  CMakePresets.json
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  Python/Core/python/__init__.py
  Python/Examples/python/__init__.py
  Python/Examples/python/odd.py
  Python/Examples/python/reconstruction.py
  Python/Examples/python/simulation.py
  Python/Examples/tests/test_arrow.py
  Python/Examples/tests/test_examples.py
  Python/Examples/tests/test_reader.py
  Python/Examples/tests/test_uproot.py
  Python/Examples/tests/test_writer.py
  pytest.ini
Due: leftover_conflict_markers, format-json

refactor: Move single shell factory to `PortalShellBase`
  Core/include/Acts/Geometry/PortalShell.hpp
  Core/include/Acts/Geometry/detail/PortalShellFactory.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/PortalShell.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Decouple Blueprint::construct from root PadBlueprintNode
  Core/include/Acts/Geometry/PadBlueprintNode.hpp
  Core/include/Acts/Geometry/StaticBlueprintNode.hpp
  Core/include/Acts/Geometry/detail/PortalShellFactory.hpp
  Core/src/Geometry/Blueprint.cpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/PadBlueprintNode.cpp
  Core/src/Geometry/PortalShellFactory.cpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: MuonHoughSeeder fix to min-max logic and unit test (#5674)
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Tests/UnitTests/Examples/Algorithms/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Add node feature selection to OnnxEdgeClassifier (#5646)
  Plugins/Gnn/include/ActsPlugins/Gnn/OnnxEdgeClassifier.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/Tensor.hpp
  Plugins/Gnn/src/OnnxEdgeClassifier.cpp
  Plugins/Gnn/src/Tensor.cpp
  Plugins/Gnn/src/Tensor.cu
  Tests/UnitTests/Plugins/Gnn/TensorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

revert hashes
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

Update geometric digitization hashes for float->double segmentation precision
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

perf(navigation): remove per-propagation heap allocations from Gen3 navigation
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/src/Navigation/MultiNavigationPolicy.cpp
  Core/src/Navigation/NavigationStream.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
