Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

remove devcontainer files from unused file check
  .devcontainer/Dockerfile
  CI/check_unused_files.py
Due: none

script update to disable signing
  .devcontainer/setup.sh
  .gitignore
Due: none

fix
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

next round of PR comments
  Core/include/Acts/Material/MaterialMapper.hpp
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/IMaterialWriter.hpp
  Examples/Algorithms/MaterialMapping/include/ActsExamples/MaterialMapping/MaterialMapping.hpp
  Examples/Io/Json/include/ActsExamples/Io/Json/JsonMaterialWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootOutput.cpp
  Plugins/Json/include/Acts/Plugins/Json/MaterialMapJsonConverter.hpp
  Plugins/Json/src/MaterialMapJsonConverter.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIO.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIO.hpp
  Plugins/Root/src/RootMaterialMapIO.cpp
  Plugins/Root/src/RootMaterialTrackIO.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIOTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

minor
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

adding read-in test for indexed material
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIO.hpp
  Plugins/Root/src/RootMaterialMapIO.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialMapIOTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Clang-tidy
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
Due: license, type_t, boost_test, math_macros

add source particle to vertex particle list if generator stable (to fix particle gun)
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
Due: license, type_t, math_macros

ddsim particle gun eta range
  Examples/Python/tests/test_edm4hep.py
Due: none

run mu- and pi- particle gun ddsim runs
  Examples/Python/tests/test_edm4hep.py
Due: none

ci: Reraise exception in lockfile selection
  CI/dependencies/select_lockfile.py
Due: none

add some testing
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Tests/UnitTests/Core/EventData/SpacePointContainer2Tests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

update setup so that it works
  .devcontainer/Dockerfile
  .devcontainer/setup.sh
Due: none

ci: Reraise exception in lockfile selection (#4413)
  CI/dependencies/select_lockfile.py
Due: none

docs
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix detector pytest
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIO.hpp
  Plugins/Root/src/RootMaterialMapIO.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: Add devcontainer configuration (#4412)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .gitignore
  CI/check_unused_files.py
Due: none

Add GitHub Actions workflow for devcontainer CI and build
  .github/workflows/devcontainer-ci.yml
Due: none

up instead of build
  .github/workflows/devcontainer-ci.yml
Due: none

use bash -c
  .github/workflows/devcontainer-ci.yml
Due: none

make pytest run
  Examples/Python/tests/test_writer.py
  Plugins/Root/src/RootMaterialMapIO.cpp
Due: license, type_t, math_macros

force onnxruntime find module, use unprefixed path for inclue
  CMakeLists.txt
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/SeedClassifier.hpp
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

WIP
  Examples/Python/tests/test_examples.py
Due: none

ci: try out new image for gnn
  .gitlab-ci.yml
Due: none

bump all images to v80
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .gitlab-ci.yml
Due: none

purge references to ubuntu2204
  .github/workflows/builds.yml
  .github/workflows/sonarcloud.yml
  .gitlab-ci.yml
  docs/getting_started.md
Due: none

symmetrize RootIO with internal payloads
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIO.hpp
  Plugins/Root/src/RootMaterialTrackIO.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

last fixable SonarCloud issue
  Plugins/Root/src/RootMaterialMapIO.cpp
Due: license, type_t, math_macros

lint
  .github/workflows/devcontainer-ci.yml
Due: none

ci: Remove Ubuntu22.04 (#4378)
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/sonarcloud.yml
  .gitlab-ci.yml
  CMakeLists.txt
  Examples/Python/tests/test_examples.py
  Plugins/Onnx/include/Acts/Plugins/Onnx/OnnxRuntimeBase.hpp
  Plugins/Onnx/include/Acts/Plugins/Onnx/SeedClassifier.hpp
  docs/getting_started.md
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

Update Core/include/Acts/Utilities/detail/TransformComparator.hpp
  Core/include/Acts/Utilities/detail/TransformComparator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Formatter
  Core/include/Acts/Utilities/detail/TransformComparator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

build: Add compile check for std::format
  cmake/ActsCompilerOptions.cmake
Due: none

refactor: GeoModelObjectFactory - Don't use std::tuple to safe the assebmled objects (#4410)
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelDetectorObjectFactory.hpp
  Plugins/GeoModel/include/Acts/Plugins/GeoModel/GeoModelToDetectorVolume.hpp
  Plugins/GeoModel/src/GeoModelDetectorObjectFactory.cpp
  Plugins/GeoModel/src/GeoModelToDetectorVolume.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoBoxToVolumeTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoDetectorObjectTest.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTrdToVolumeTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoTubeToVolumeTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Rename
  Core/include/Acts/Utilities/PointerTraits.hpp
  Tests/UnitTests/Core/Utilities/PointerConceptTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

adding MaterialTrackIO test
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Examples/Python/src/RootOutput.cpp
  Examples/Scripts/Python/material_recording.py
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIO.hpp
  Plugins/Root/src/RootMaterialTrackIO.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialTrackIOTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

renaming
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialDecorator.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMaterialWriter.cpp
  Examples/Python/src/RootOutput.cpp
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialMapIO.hpp
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackIO.hpp
  Plugins/Root/src/RootMaterialMapIO.cpp
  Plugins/Root/src/RootMaterialTrackIO.cpp
  Tests/UnitTests/Plugins/Root/CMakeLists.txt
  Tests/UnitTests/Plugins/Root/RootMaterialMapIOTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

adding the read
  Plugins/Root/src/RootMaterialTrackIO.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialTrackIOTests.cpp
Due: license, type_t, boost_test, math_macros

Update TrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/TrackFinderPerformanceWriter.cpp
Due: license, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
