Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

Update reconstruction.py
  Examples/Python/python/acts/examples/reconstruction.py
Due: none

Apply suggestions from code review
  CI/dependencies/download_models.sh
  Examples/Python/tests/root_file_hashes.txt
Due: none

update
  Examples/Scripts/Python/gnn_module_map_odd.py
Due: none

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Python/tests/requirements.txt
  Examples/Scripts/requirements.txt
  docs/requirements.txt
Due: none

Add angular transform helper
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Abolute
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, type_t, math_macros

modified Gbtsdatastorage,Gbts trackingfilter and finderGbts hpp files with clang tidy changes
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

got rid of clang tidy errors from GBtsConfig hpp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

removed unessiciary includes in GbtsDatastorage and gbtstracking filter
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Examples/Scripts/Python/full_chain_itk_Gbts.py
Due: license, include_guards, pragma_once, type_t, math_macros

fixed clang tidy issues in seedfindergbts hpp file
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixed clang tidy errors in gbts connector hpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixed clang tidy errors in GbtsGeoemtry.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixed clang tidy issues with GbtsDatastorage.cpp
  Core/src/Seeding/GbtsDataStorage.cpp
Due: license, type_t, math_macros

fixed clang tidy issues in GbtsGeometry.cpp
  Core/src/Seeding/GbtsGeometry.cpp
Due: license, type_t, math_macros

fixed clang tidy issues in GbtsTrackingFilter.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
Due: license, type_t, math_macros

fixed clang tidy issues in SeedFinderGbts.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
Due: license, type_t, math_macros

fixed clang tidy issues in Gbtsconnector.cpp
  Core/include/Acts/TrackFinding/GbtsConnector.hpp
  Core/src/TrackFinding/GbtsConnector.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

pre commit formatting added
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/SeedFinderGbtsConfig.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Core/src/TrackFinding/GbtsConnector.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

added include for macos ci issue
  Core/src/Seeding/GbtsDataStorage.cpp
Due: license, type_t, math_macros

apply pre commit again
  Core/src/Seeding/GbtsDataStorage.cpp
Due: license, type_t, math_macros

perf: Optimize sort and value range checks in `SeedFinder` (#4318)
  Core/include/Acts/Seeding/SeedFinder.ipp
Due: license, pragma_once, type_t, math_macros

post-creation seed filtering
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Due: license, pragma_once, type_t, math_macros

adding switch for hough vertex filter
  Core/include/Acts/Seeding/SeedFinder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
  Examples/Python/python/acts/examples/reconstruction.py
Due: license, include_guards, pragma_once, type_t, math_macros

fixing last merge conflict fix
  Core/include/Acts/Seeding/SeedFinder.ipp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Due: license, pragma_once, type_t, math_macros

Return the direction vector
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

de-template reference generators
  Core/include/Acts/Detector/KdtSurfacesProvider.hpp
  Core/include/Acts/Detector/detail/ReferenceGenerators.hpp
  Core/src/Detector/CMakeLists.txt
  Core/src/Detector/detail/ReferenceGenerators.cpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4SurfaceProvider.hpp
  Python/Plugins/src/Json.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfaceGridFillerTests.cpp
  Tests/UnitTests/Core/Detector/IndexedSurfacesGeneratorTests.cpp
  Tests/UnitTests/Core/Detector/ReferenceGeneratorsTests.cpp
  Tests/UnitTests/Plugins/ActSVG/IndexedSurfacesSvgConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Redesign the fast fit method
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Added faster, in-place clusterization.
  Core/include/Acts/Clusterization/InPlaceClusterization.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/DigitizationAlgorithm.hpp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/ModuleClusters.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Algorithms/Digitization/src/ModuleClusters.cpp
  Examples/Python/python/acts/examples/simulation.py
  Examples/Python/src/Digitization.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTestData.hpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTestDataCommonCorner.hpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Work around false clang-tidy positive without switching off a warning.
  Core/include/Acts/Clusterization/InPlaceClusterization.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix delegate dilemma
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, math_macros

Correct time of arrival
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, math_macros

Update Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, type_t, boost_test, math_macros

Documentation
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

What did I chanage
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.hpp
  Core/src/Seeding/CompositeSpacePointLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

beta version
  Core/include/Acts/Detector/LayerStructureBuilder.hpp
  Core/include/Acts/Detector/detail/ReferenceGenerators.hpp
  Core/src/Detector/LayerStructureBuilder.cpp
  Core/src/Detector/detail/ReferenceGenerators.cpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelBlueprintCreater.hpp
  Plugins/GeoModel/src/GeoModelBlueprintCreater.cpp
  Plugins/GeoModel/src/detail/GeoModelExtentHelper.cpp
  Python/Plugins/src/GeoModel.cpp
  Python/Plugins/src/Svg.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove combined particle id branches as well, update readers
  CI/physmon/config/pythia8_ttbar.yml
  CI/physmon/config/simulation.yml
  CI/physmon/config/tracksummary_ckf.yml
  CI/physmon/config/vertexing_4muon_50vertices.yml
  CI/physmon/config/vertexing_ttbar_pu200.yml
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFinderPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackParameterWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackStatesWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexNTupleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexWriter.hpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootSimHitReader.cpp
  Examples/Io/Root/src/RootSimHitWriter.cpp
  Examples/Io/Root/src/RootTrackFinderNTupleWriter.cpp
  Examples/Io/Root/src/RootTrackFinderPerformanceWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Io/Root/src/RootVertexNTupleWriter.cpp
  Examples/Io/Root/src/RootVertexReader.cpp
  Examples/Io/Root/src/RootVertexWriter.cpp
  Examples/Scripts/TrackingPerformance/TreeReader.h
  Examples/Scripts/TrackingPerformance/defineReconstructionPerformance.C
Due: license, include_guards, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
