Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

Include option for edm4hep inputs in jet clustering script
  Examples/Scripts/Python/truth_jet_test.py
Due: leftover_conflict_markers

chore: Random round of sonar fixes
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.ipp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Geometry/GeometryObject.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

new conv condition based on norm update, moving the covariance in param update. Just for fastfitter: fix covariance computation
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/include/Acts/Seeding/detail/FastStrawLineFitter.hpp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: removing redundant seed filtering
  .gitattributes
  .gitignore
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore: removing empty files
  Core/include/Acts/Seeding/HoughVtxSeedFilter.hpp
  Core/include/Acts/Seeding/HoughVtxSeedFilter.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add documentation, hange how we compute the norm update
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

typo
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

safeguard check against cases where the gradient is small and hessian is notinvertible
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

typo
  Core/include/Acts/Seeding/CompositeSpacePointLineFitter.ipp
  Core/src/Seeding/FastStrawLineFitter.cpp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Use AnyConstTrackProxy for track constituents of jets (#4969)
  Examples/Algorithms/Jets/include/ActsExamples/Jets/TruthJetAlgorithm.hpp
  Examples/Algorithms/Jets/src/TruthJetAlgorithm.cpp
  Plugins/FastJet/include/ActsPlugins/FastJet/Jets.hpp
  Plugins/FastJet/src/Jets.cpp
  Tests/UnitTests/Plugins/FastJet/JetsTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Typo
  Python/Core/src/Navigation.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Don't get why the other 2 tests fail
  Plugins/Geant4/src/Geant4DetectorElement.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Maybe this compiles
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/StrawSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Python/Core/src/Navigation.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Navigation/MultiWireNavigationTests.cpp
  Tests/UnitTests/Core/Propagator/NavigatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Rename member variable
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/Surface.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove unused member variable
  Core/include/Acts/Surfaces/Surface.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Python/Plugins/src/DD4hep.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Introduce the SurfacePlacementBase interface class
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/include/Acts/Surfaces/SurfacePlacementBase.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/LayerBuilder.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/ProtoLayerCreator.hpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/Json/include/ActsPlugins/Json/JsonDetectorElement.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Python/Examples/src/Detector.cpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/DetectorElementStub.hpp
  Tests/CommonHelpers/src/DetectorElementStub.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Add isAlignable
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorElement.cpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/Json/src/JsonDetectorElement.cpp
  Plugins/Root/src/TGeoDetectorElement.cpp
  Tests/CommonHelpers/src/DetectorElementStub.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Assign depth
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/Surface.cpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorElement.cpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Plugins/Json/src/JsonDetectorElement.cpp
  Plugins/Root/src/TGeoDetectorElement.cpp
  Tests/CommonHelpers/src/DetectorElementStub.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Fix warning
  Examples/Io/EDM4hep/src/EDM4hepSimInputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Update Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Geometry/DetectorElementBase.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Continue the plumbing
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Detector.hpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Geant4/src/Geant4DetectorElement.cpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/GeoModel/src/GeoModelDetectorElement.cpp
  Plugins/Json/include/ActsPlugins/Json/JsonDetectorElement.hpp
  Plugins/Json/src/JsonDetectorElement.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/src/TGeoDetectorElement.cpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/DetectorElementStub.hpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/LineSurfaceStub.hpp
  Tests/CommonHelpers/src/DetectorElementStub.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
  Tests/UnitTests/Core/Geometry/ProtoLayerTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Continue deprecating
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceConcept.hpp
  Core/include/Acts/Surfaces/SurfacePlacementBase.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Navigation/MultiLayerNavigationPolicy.cpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
  Core/src/Surfaces/StrawSurface.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
  Examples/Detectors/GenericDetector/include/ActsExamples/GenericDetector/GenericDetectorElement.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetectorElement.hpp
  Plugins/EDM4hep/src/PodioUtil.cpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Plugins/GeoModel/include/ActsPlugins/GeoModel/GeoModelDetectorElement.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoDetectorElement.hpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/DetectorElementStub.hpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeBuilderTests.cpp
  Tests/UnitTests/Core/Propagator/KalmanExtrapolatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceTests.cpp
  Tests/UnitTests/Plugins/GeoModel/GeoModelDetectorElementITkTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Replace occurances of DetectorElementBase by SurfacePlacementBase
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Core/include/Acts/Geometry/CuboidVolumeBuilder.hpp
  Core/include/Acts/Surfaces/CylinderSurface.hpp
  Core/include/Acts/Surfaces/DiscSurface.hpp
  Core/include/Acts/Surfaces/LineSurface.hpp
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/include/Acts/Surfaces/StrawSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Detector.hpp
  Examples/Detectors/GenericDetector/src/GenericDetectorElement.cpp
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/BuildTelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetectorElement.cpp
  Plugins/Geant4/include/ActsPlugins/Geant4/Geant4DetectorElement.hpp
  Plugins/Root/src/TGeoDetectorElement.cpp
  Python/Core/src/Geometry.cpp
  Python/Core/src/Navigation.cpp
  Python/Core/src/Surfaces.cpp
  Python/Plugins/src/DD4hep.cpp
  Python/Plugins/src/Geant4.cpp
  Python/Plugins/src/Json.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintApiTests.cpp
  Tests/UnitTests/Core/Geometry/BlueprintTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceStub.hpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Clang-tidy
  Core/include/Acts/Geometry/DetectorElementBase.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Surfaces/Surface.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix compiler
  Tests/UnitTests/Plugins/DD4hep/DD4hepDetectorSurfaceFactoryTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

Fix depth assignment
  Core/src/Geometry/CuboidVolumeBuilder.cpp
  Tests/CommonHelpers/include/ActsTests/CommonHelpers/LineSurfaceStub.hpp
  Tests/CommonHelpers/src/DetectorElementStub.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Rename depth to thickness
  Core/include/Acts/Surfaces/Surface.hpp
  Core/src/Geometry/ProtoLayer.cpp
  Core/src/Surfaces/Surface.cpp
  Examples/Framework/include/ActsExamples/EventData/AverageSimHits.hpp
  Examples/Io/Csv/src/CsvTrackingGeometryWriter.cpp
  Fatras/include/ActsFatras/Digitization/UncorrelatedHitSmearer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Blub
  Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Definitely not ATLAS toroidal field (#4765)
  CI/check_unused_files.py
  CI/codespell_ignore.txt
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalField.hpp
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalFieldMap.hpp
  Examples/Detectors/MagneticField/src/ToroidalField.cpp
  Examples/Detectors/MagneticField/src/ToroidalFieldBindings.cpp
  Examples/Detectors/MagneticField/src/ToroidalFieldMap.cpp
  Examples/Python/tests/test_toroidal_field.py
  Examples/Scripts/Python/toroidal_field_basic.py
  Examples/Scripts/Python/toroidal_field_benchmark.py
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
  Examples/Scripts/Python/toroidal_field_simulation.py
  Python/Core/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Random round of sonar fixes (#5021)
  Alignment/include/ActsAlignment/Kernel/detail/AlignmentEngine.hpp
  Core/include/Acts/AmbiguityResolution/GreedyAmbiguityResolution.ipp
  Core/include/Acts/Clusterization/Clusterization.ipp
  Core/include/Acts/EventData/MeasurementHelpers.hpp
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/Geometry/GeometryObject.hpp
  Core/include/Acts/Geometry/GridPortalLink.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Vertexing/AdaptiveMultiVertexFinder.hpp
  Core/src/Geometry/GridPortalLink.cpp
  Core/src/Geometry/TrackingVolume.cpp
  Examples/Algorithms/TrackFitting/src/GlobalChiSquareFitterFunction.cpp
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvInputOutput.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang tidy and refactoring
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/FakePlotTool.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

lint
  Examples/Framework/src/Validation/DuplicationPlotTool.cpp
  Examples/Framework/src/Validation/EffPlotTool.cpp
  Examples/Framework/src/Validation/TrackQualityPlotTool.cpp
  Examples/Framework/src/Validation/TrackSummaryPlotTool.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor!: Rework `PointwiseMaterialInteraction` part 1 (#5016)
  Core/include/Acts/Definitions/Common.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Definitions/Common.cpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/ISurfaceMaterial.cpp
  Core/src/Propagator/detail/PointwiseMaterialInteraction.cpp
  Python/Examples/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Material/HomogeneousSurfaceMaterialTests.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Rework `PointwiseMaterialInteraction` part 2
  Core/include/Acts/Propagator/MaterialInteractor.hpp
  Core/include/Acts/Propagator/detail/PointwiseMaterialInteraction.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Propagator/detail/PointwiseMaterialInteraction.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix docs
  Core/include/Acts/Propagator/MaterialInteractor.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

changes before tracking filter hpp
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Revise copy and move of `SpacePointContainer2` and `SeedContainer2`
  Core/include/Acts/EventData/SeedContainer2.hpp
  Core/src/EventData/SeedContainer2.cpp
  Core/src/EventData/SpacePointContainer2.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Cleanup toroid field, relocate to core
  CI/check_unused_files.py
  Core/include/Acts/MagneticField/BFieldMapUtils.hpp
  Core/include/Acts/MagneticField/ToroidalField.hpp
  Core/src/MagneticField/BFieldMapUtils.cpp
  Core/src/MagneticField/CMakeLists.txt
  Core/src/MagneticField/ToroidalField.cpp
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Detectors/MagneticField/include/ActsExamples/MagneticField/ToroidalFieldMap.hpp
  Examples/Detectors/MagneticField/src/ToroidalFieldBindings.cpp
  Examples/Detectors/MagneticField/src/ToroidalFieldMap.cpp
  Examples/Python/tests/test_toroidal_field.py
  Examples/Scripts/Python/toroidal_field_basic.py
  Examples/Scripts/Python/toroidal_field_benchmark.py
  Examples/Scripts/Python/toroidal_field_map_benchmark.py
  Examples/Scripts/Python/toroidal_field_simulation.py
  Python/Core/CMakeLists.txt
  Python/Core/src/MagneticField.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

test: Add a unit test for the toroid field
  Tests/UnitTests/Core/MagneticField/CMakeLists.txt
  Tests/UnitTests/Core/MagneticField/ToroidalFieldTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Attach full namespace to PWMI in GX2F
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
