Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

restructure python bin
  Python/Examples/CMakeLists.txt
  Python/Examples/bin/hello_world_kalman.py
  Python/Examples/bin/hepmc_normalize.py
  Python/Examples/bin/mockupbuilder.py
Due: leftover_conflict_markers

try with shared libraries
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

change project name in pyproject.toml
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies

update rpaths for wheel build
  CMakeLists.txt
  Python/Core/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Plugins/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

some changes to presets and pyproject.toml
  CMakePresets.json
  pyproject.toml
Due: leftover_conflict_markers, codegen_dependencies, format-json

rename; forward enum
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/src/EventData/MultiComponentTrackParameters.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update hello-world-kalman update CI
  .github/workflows/builds.yml
  Python/Examples/bin/hello_world_kalman.py
Due: leftover_conflict_markers

refactor!: Distinct `MultiComponentTrackParameters`
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/include/Acts/Propagator/MultiStepperLoop.hpp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/src/EventData/MultiComponentTrackParameters.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Tests/UnitTests/Core/EventData/MultiComponentBoundTrackParametersTests.cpp
  Tests/UnitTests/Core/Material/PropagatorMaterialAssignerTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/TrackFitting/GsfTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

remove concept
  Core/include/Acts/EventData/TrackParametersConcept.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

handle no cov case
  Core/src/EventData/MultiComponentTrackParameters.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update and lint
  CMakeLists.txt
  Python/Examples/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

feat: Add GSF functions for solely parameter merging
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

try again
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix docs
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

try again
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

naming and map change
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/src/Seeding/GbtsGeometry.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add jet kinematics into TrackSummaryWriter (#5035)
  CMakePresets.json
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryWriter.hpp
  Examples/Io/Root/src/RootTrackSummaryWriter.cpp
  Examples/Scripts/Python/truth_jet_test.py
  Python/Examples/src/plugins/Root.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

try again
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
  Tests/UnitTests/Core/TrackFitting/GsfComponentMergingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

simplify
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

add missing include
  Plugins/Root/include/ActsPlugins/Root/TGeoAxes.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Deprecate unused charge hypothesis types (#5134)
  Core/include/Acts/EventData/Charge.hpp
  Core/include/Acts/EventData/ParticleHypothesis.hpp
  Core/include/Acts/EventData/TrackParameters.hpp
  Core/include/Acts/Material/PropagatorMaterialAssigner.hpp
  Core/src/EventData/CMakeLists.txt
  Core/src/EventData/Charge.cpp
  Core/src/EventData/TrackParameters.cpp
  Core/src/Material/SurfaceMaterialMapper.cpp
  Core/src/Material/VolumeMaterialMapper.cpp
  Tests/UnitTests/Core/EventData/ChargeTests.cpp
  Tests/UnitTests/Core/EventData/ParticleHypothesisTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Deprecate `BoundTrackParameter::toBound` (#5135)
  Core/include/Acts/EventData/GenericBoundTrackParameters.hpp
  Core/include/Acts/EventData/MultiComponentTrackParameters.hpp
  Core/include/Acts/EventData/TrackParametersConcept.hpp
  Core/include/Acts/Propagator/Propagator.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Deprecate `SpacePointProxy2::resolvedIndex` (#5111)
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Rename packed `SpacePointContainer2` columns (#5121)
  Core/include/Acts/EventData/SpacePointColumns.hpp
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/HashingPrototypeSeedingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/OrthogonalTripletSeedingAlgorithm.cpp
  Tests/UnitTests/Core/EventData/SpacePointContainer2Tests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

try agagin
  Core/include/Acts/TrackFitting/detail/GsfComponentMerging.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: part 1 of migration to GBTSv3 (#5138)
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/SeedFinderGbts.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/SeedFinderGbts.cpp
  Examples/Algorithms/TrackFinding/src/GbtsSeedingAlgorithm.cpp
  Python/Examples/python/reconstruction.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix after merge
  Core/include/Acts/EventData/SpacePointContainer2.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

basic draft of conversion
  Core/include/Acts/Geometry/CompositePortalLink.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryJsonConverter.hpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/TrackingGeometryJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

introduce json kind dispatcher
  Plugins/Json/include/ActsPlugins/Json/JsonKindDispatcher.hpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/JsonKindDispatcherTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

update json conversion to use kind dispatcher
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryJsonConverter.hpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

centralize volume lookups
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryJsonConverter.hpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

rename collectVolumesDfs to DepthFirst
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add comments
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryJsonConverter.hpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

json io in test
  Tests/UnitTests/Plugins/Json/TrackingGeometryJsonConverterTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

add cylindrical test geo (fails)
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/TrackingGeometryJsonConverterTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros
