Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

include tuning, namespaces
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix another deprecation case
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

layerType check
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

move single element lookup into cpp file as well
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

doxygen
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

move odd construction to free funcs in core
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

api work
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

make factory private, move to separate constructor for SurfaceArray
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

centralize constant lookup
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

reduce backend concept and api surface
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lint
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/OpenDataDetector.hpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Python/Examples/src/plugins/DD4hep.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

tune docs
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Push SurfaceGridLookup to .cpp file
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(TGeo ODD): expose volume metadata in Python and match Gen3 counts
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
  Python/Core/src/Geometry.cpp
  Python/Examples/tests/test_geometry.py
Due: license, type_t, leftover_conflict_markers, math_macros

Make customizers more generic
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Examples/Detectors/DD4hepDetector/src/OpenDataDetector.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs update
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove old code from original API design
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make string separator configurable
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add first facilities for handling Plane Layers
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

make some useful methods public
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/Root/include/ActsPlugins/Root/TGeoSurfaceConverter.hpp
  Plugins/Root/src/TGeoSurfaceConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

yet more lint
  docs/CMakeLists.txt
Due: leftover_conflict_markers

more lint?
  CI/check_unused_files.py
  docs/examples/geometry_module.cpp
  docs/examples/geometry_module_template_dd4hep.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

docs with examples and compiles snippets
  Core/CMakeLists.txt
  Core/include/Acts/Geometry/GeometryModuleLoader.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/GeometryModuleLoader.hpp
  cmake/ActsConfig.cmake.in
  cmake/ActsDD4hepGeometryModuleHelpers.cmake
  cmake/ActsGeometryModuleHelpers.cmake
  docs/CMakeLists.txt
  docs/examples/geometry_module.cpp
  docs/examples/geometry_module_template.cpp
  docs/examples/geometry_module_template_dd4hep.cpp
  docs/groups/detector_descr/runtime_geometry_modules.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lint
  CI/check_unused_files.py
  Core/include/Acts/Geometry/GeometryModuleHelper.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/GeometryModuleHelper.hpp
  Plugins/DD4hep/src/GeometryModuleHelper.cpp
  Tests/DownstreamProject/CMakeLists.txt
  cmake/ActsConfig.cmake.in
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

if scoping, return nullptr
  Core/src/Geometry/GeometryModuleLoader.cpp
  docs/examples/geometry_module_template.cpp
  docs/examples/geometry_module_template_dd4hep.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

chore: Add unittest for rangeContainsValue function (#5293)
  Tests/UnitTests/Core/Utilities/HelpersTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

drop tgeo related constants
  Plugins/DD4hep/include/ActsPlugins/DD4hep/OpenDataDetectorBuilder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Add missing const to Fpe monitoring (#5284)
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

add doc comments
  Core/include/Acts/Geometry/BlueprintBuilder.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/Root/include/ActsPlugins/Root/TGeoVolumeConverter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix compiler warnings
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix deprecations
  Core/src/Geometry/SurfaceArrayCreator.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Pass the detector construction options to the addGeant4 function
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4ConstructionOptions.hpp
  Examples/Detectors/Geant4Detector/src/GdmlDetectorConstruction.cpp
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/Geant4.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

another clang-tidy fix
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(dd4hep): include DD4hep in geometry module ABI tags
  Core/include/Acts/Geometry/GeometryModuleLoader.hpp
  Core/src/Geometry/GeometryModuleHelper.cpp
  Core/src/Geometry/GeometryModuleLoader.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/src/GeometryModuleLoader.cpp
  cmake/ActsDD4hepGeometryModuleHelpers.cmake
  docs/groups/detector_descr/runtime_geometry_modules.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Muon space point chi2 calculation -> simplification (#5294)
  Core/include/Acts/Seeding/detail/CompSpacePointAuxiliaries.ipp
Due: license, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Push SurfaceGridLookup to .cpp file (#5285)
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Plugins/Detray/src/DetrayNavigation.cpp
  Tests/UnitTests/Alignment/Kernel/AlignmentTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

chore: Bind free functions to namespace in FpeMonitoring plugin (#5290)
  Plugins/FpeMonitoring/src/FpeMonitor.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinArm64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformDarwinX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformLinuxX86_64.cpp
  Plugins/FpeMonitoring/src/FpeMonitorPlatformUnsupported.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

cot theta pre-filtering before expensive strip coord check
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/include/Acts/Seeding2/TripletSeedFinder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

and actually include the cpps this time
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/TripletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros
