Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

refactor: Extend use of `copyFromIndex` in `Seeding2`
  Core/include/Acts/EventData/SpacePointContainer2.hpp
  Core/include/Acts/EventData/SpacePointProxy2.hpp
  Core/include/Acts/Seeding2/BroadTripletSeedFilter.hpp
  Core/src/Seeding2/BroadTripletSeedFilter.cpp
  Core/src/Seeding2/DoubletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
Due: license, type_t, math_macros

doc: Fix typos in comments
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootNuclearInteractionParametersWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationSummaryWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSeedWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/VertexNTupleWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

chore: remove unused m_segmentation member from DD4hepDetectorElement (#4483)
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepDetectorElement.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Blub
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

Update hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

Strong enum
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
  Tests/UnitTests/Core/Utilities/LineWithPartialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Fix test
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, type_t, boost_test, math_macros

fix: enlarge cylinder volume rmax for layers with displaced center (#4496)
  Core/src/Geometry/CylinderVolumeBuilder.cpp
Due: license, type_t, math_macros

Sonar cloud
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
Due: license, pragma_once, type_t, math_macros

compiler typo
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
Due: license, pragma_once, type_t, math_macros

Linder
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
Due: license, pragma_once, type_t, math_macros

feat: Add a TrackStateFlag for split hits (#4495)
  Core/include/Acts/EventData/TrackStateType.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: propagate transform to ProtoLayer in DD4hep builder; use in SurfaceArrayCreator
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
Due: license, type_t, math_macros

fix: style
  Core/src/Geometry/SurfaceArrayCreator.cpp
Due: license, type_t, math_macros

Auto
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
Due: license, pragma_once, type_t, math_macros

Auto sonarcloud
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

format
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix
  Core/include/Acts/EventData/SeedProxy2.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Fix logging in MultiWireVolume Builder (#4488)
  Core/include/Acts/Geometry/MultiWireVolumeBuilder.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Adaptive Hough Transform example (#4247)
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
  Examples/Python/python/acts/examples/reconstruction.py
  Examples/Python/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix GeoModel build without G4
  Examples/Detectors/CMakeLists.txt
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Due: none

Add empty source file
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MuonSpectrometerMockupDetector.cpp
Due: license, type_t, math_macros

docs: Fix typos in Csv and Root IO files (#4500)
  Examples/Io/Csv/include/ActsExamples/Io/Csv/CsvTrackParameterWriter.hpp
  Examples/Io/Csv/src/CsvOutputData.hpp
  Examples/Io/Csv/src/CsvProtoTrackWriter.cpp
  Examples/Io/Csv/src/CsvTrackParameterWriter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootNuclearInteractionParametersWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationStepsWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootPropagationSummaryWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSeedWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/VertexNTupleWriter.hpp
  Examples/Io/Root/src/RootMaterialDecorator.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Io/Root/src/RootNuclearInteractionParametersWriter.cpp
  Examples/Io/Root/src/RootTrackParameterWriter.cpp
  Examples/Io/Root/src/TrackFitterPerformanceWriter.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, math_macros

Fix lib
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Due: none

Blub
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Due: none

fix: Use `reserve` over `resize` in `BroadTripletSeedFinder`
  Core/include/Acts/Seeding2/BroadTripletSeedFinder.hpp
  Core/src/Seeding2/BroadTripletSeedFinder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Introduce the StationSpacePoint concept & add first batch of line residual calculators (#4485)
  Core/include/Acts/EventData/CompositeSpacePoint.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.hpp
  Core/include/Acts/Utilities/detail/Line3DWithPartialDerivatives.ipp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
  Tests/UnitTests/Core/Utilities/LineWithPartialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Swaped files
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Due: none

Linter
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Due: none

Fix clang
  Examples/Framework/src/EventData/MuonSpacePoint.cpp
Due: license, type_t, math_macros

Update Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Due: none

formatter
  Examples/Detectors/MuonSpectrometerMockupDetector/CMakeLists.txt
Due: none

Delete Examples/Detectors/MuonSpectrometerMockupDetector/src/MuonSpectrometerMockupDetector.cpp
  Examples/Detectors/MuonSpectrometerMockupDetector/src/MuonSpectrometerMockupDetector.cpp
Due: license, type_t, math_macros

start migration of combinatorial seeding for nsw
  Core/include/Acts/Seeding/CombinatorialSeedSolver.hpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Add time of flight residual for strips
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Start implementation of the hessian
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, type_t, boost_test, math_macros

Finalize test for strips and augment documentation
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Setup straw template
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros
