Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

fix: Link against ROOT hist component to write TH1 in unit tests (#4869)
  CMakeLists.txt
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, cmake_options, math_macros

fix: Skip outliers for truth matching in Examples (#4859)
  CI/physmon/reference/trackfinding_1muon/orthogonal/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/seeded/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_estimated/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_1muon/truth_smeared/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_4muon_50vertices/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ambi.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_finding_ckf_ml_solver.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_fitting_ckf.root
  Examples/Framework/src/Validation/TrackClassification.cpp
  Examples/Python/tests/root_file_hashes.txt
Due: license, type_t, math_macros

improve code quality
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/src/Seeding/CompositeSpacePointLineSeeder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

docs: add information about setting up pre-commit (#4872)
  docs/contribution/run_formatting.md
Due: none

use = default for RootBranchPtr
  Examples/Io/Root/include/ActsExamples/Io/Root/detail/RootBranchPtr.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

drop explicit destructors
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
  Examples/Io/Root/src/RootSimHitReader.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

move RootBranchPtr to ROOT plugin
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
  Plugins/Root/include/ActsPlugins/Root/detail/RootBranchPtr.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

rename typedef BranchMatrix to BranchJaggedVector
  Examples/Io/Root/include/ActsExamples/Io/Root/RootAthenaDumpReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackSummaryReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootVertexReader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

lint fix
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootTrackSummaryReader.cpp
  Examples/Io/Root/src/RootVertexReader.cpp
Due: license, type_t, math_macros

update
  Python/Examples/src/plugins/Gnn.cpp
  Tests/UnitTests/Plugins/Gnn/ConnectedComponentCudaTests.cu
Due: license, type_t, boost_test, math_macros

update
  Examples/Scripts/Python/gnn.py
  Examples/Scripts/Python/gnn4itk_example.py
  Examples/Scripts/Python/gnn_module_map_odd.py
Due: none

update
  CI/physmon/workflows/physmon_simulation_gsf.py
  CI/physmon/workflows/physmon_trackfitting_gsf.py
  CI/physmon/workflows/physmon_trackrefitting_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
Due: none

Apply suggestions from code review
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/ConnectedComponents.cuh
Due: license, type_t, math_macros

update
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/ConnectedComponents.cuh
Due: license, type_t, math_macros

update
  CI/physmon/phys_perf_mon.sh
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: none

update
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
Due: none

use typedef in RootParticleHandler
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: Fix and Refactor imports for GNN scripts (#4873)
  Examples/Scripts/Python/gnn.py
  Examples/Scripts/Python/gnn4itk_example.py
  Examples/Scripts/Python/gnn_module_map_odd.py
Due: none

clang-tidy suggestions
  Core/include/Acts/Utilities/ProtoAxisHelpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

re-add desctructor again
  Examples/Io/Root/src/RootSimHitReader.cpp
Due: license, type_t, math_macros

update
  CI/physmon/workflows/physmon_trackfitting_gsf.py
  CI/physmon/workflows/physmon_trackrefitting_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: none

reduce diff
  docs/old/SolenoidField.ipynb
  docs/old/white_papers/billoir-covariances.md
  docs/old/white_papers/correction-for-transport-jacobian.md
  docs/old/white_papers/gaussian-track-densities.md
  docs/old/white_papers/index.md
  docs/old/white_papers/line-surface-jacobian.md
  docs/old/white_papers/whitepaper-template.md
Due: none

deleted too much
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, type_t, math_macros

fix lint
  docs/old/SolenoidField.ipynb
  docs/parse_cmake_options.py
Due: none

update rtd config
  readthedocs.yml
Due: none

chore: Bump traccc to v0.26.1
  CMakeLists.txt
  cmake/ActsExternSources.cmake
Due: cmake_options

update references
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
Due: none

was still missing in header
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSimHitReader.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

minor
  Core/src/TrackFitting/BetheHeitlerApprox.cpp
Due: license, type_t, math_macros

try to fix ci build
  .github/workflows/docs.yml
  docs/old/SolenoidField.ipynb
  docs/old/_extensions/lazy_autodoc.py
Due: none

fix license, remove file
  Examples/Io/Root/include/ActsExamples/Io/Root/detail/RootBranchPtr.hpp
  Plugins/Root/include/ActsPlugins/Root/detail/RootBranchPtr.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: More GNN track building on gpu (#4800)
  Plugins/Gnn/include/ActsPlugins/Gnn/CudaTrackBuilding.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/ConnectedComponents.cuh
  Plugins/Gnn/src/CudaTrackBuilding.cu
  Python/Examples/src/plugins/Gnn.cpp
  Tests/UnitTests/Plugins/Gnn/ConnectedComponentCudaTests.cu
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix AUTHORS reference
  docs/old/authors.rst
Due: none

remove two (obsolete?) files
  docs/old/api_index.rst
  docs/old/api_stub.rst
Due: none

Use cached inverse transform in Volume::inside().
  Core/src/Geometry/Volume.cpp
Due: license, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
