Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

refactor: Take the truth matching of the track parameter performance as input
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

refactor: Extrapolate before the track parameter performance writer
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

build: ship pre-generated code in the release source archive
  .github/workflows/checks.yml
  .gitignore
  CI/codegen_prebuilt_check/CMakeLists.txt
  CI/make_source_archive.sh
  CI/pregenerate_codegen.py
  CI/release.sh
  CMakeLists.txt
  Core/src/Definitions/CMakeLists.txt
  Core/src/Propagator/CMakeLists.txt
  Detray/cmake/detray-functions.cmake
  Detray/core/CMakeLists.txt
  cmake/ActsCodegen.cmake
  codegen/manifest.json
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers, format-json

build: sync release CI with the codegen prebuild step
  .github/workflows/release.yml
  CI/pregenerate_codegen.py
Due: leftover_conflict_markers

fix: disable uv cache in the release workflow
  .github/workflows/release.yml
Due: leftover_conflict_markers

ci: Drop GsfDebugger from pip-requirements lockfile management
  .github/workflows/update-pip-requirements.yml
  Examples/Scripts/GsfDebugger/requirements.in
Due: leftover_conflict_markers

feat: modularize ODD alignment workflow and address review comments
  Examples/Algorithms/Alignment/include/ActsExamples/Alignment/AlignmentAlgorithm.hpp
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
  Examples/Scripts/Python/alignment_odd.py
  Examples/Scripts/Python/odd_alignment/full_chain_odd_KFalignment.py
  Examples/Scripts/Python/odd_alignment/kfalignment_alignment.py
  Examples/Scripts/Python/odd_alignment/kfalignment_config.py
  Examples/Scripts/Python/odd_alignment/kfalignment_geoid.py
  Examples/Scripts/Python/odd_alignment/kfalignment_misalignment.py
  Examples/Scripts/Python/odd_alignment/kfalignment_paths.py
  Examples/Scripts/Python/odd_alignment/kfalignment_reconstruction.py
  Examples/Scripts/Python/odd_alignment/kfalignment_simulation.py
  Examples/Scripts/Python/odd_alignment/kfalignment_transform_io.py
  Python/Examples/src/plugins/Alignment.cpp
  version_number
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fixing doc (hopefully)
  Core/include/Acts/Material/GridSurfaceMaterialFactory.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Implement Paul's comments
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementReader.hpp
  Examples/Io/Root/src/RootMeasurementReader.cpp
  Python/Examples/tests/test_reader.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Bind additional geometry methods to Python (#5900)
  Python/Core/src/Geometry.cpp
  Python/Core/src/GeometryGen1.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor: MaximaPerBucket now refactored to be constructor arg, not template, CudaUtilities back to src and CudaStream separated
  Examples/CudaMuonSegmentFitting/CMakeLists.txt
  Examples/CudaMuonSegmentFitting/include/ActsExamples/EventData/CudaMuonHoughMaximum.hpp
  Examples/CudaMuonSegmentFitting/include/ActsExamples/Utilities/CudaStream.hpp
  Examples/CudaMuonSegmentFitting/src/CudaMuonHoughMaximum.cpp
  Examples/CudaMuonSegmentFitting/src/CudaMuonSpacePoint.cpp
  Examples/CudaMuonSegmentFitting/src/CudaUtilities.hpp
  Tests/UnitTests/Examples/CudaMuonSegmentFitting/CudaMuonHoughMaximumTests.cpp
  Tests/UnitTests/Examples/CudaMuonSegmentFitting/CudaMuonSpacePointTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

docs: Fix CI failures in the new material mapping examples
  docs/examples/material_designation.cpp
  docs/examples/test_material_map.py
  docs/pages/examples/material_mapping_howto.md
Due: license, type_t, leftover_conflict_markers, math_macros

precommit: precommit run
  Examples/CudaMuonSegmentFitting/include/ActsExamples/EventData/CudaMuonHoughMaximum.hpp
  Examples/CudaMuonSegmentFitting/src/CudaMuonHoughMaximum.cpp
  Examples/CudaMuonSegmentFitting/src/CudaMuonSpacePoint.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Move to 90 tag
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

docs: Address GSF page review feedback
  docs/figures/track_fitting/gsf_bethe_heitler_approx.svg
  docs/figures/track_fitting/gsf_overview.svg
  docs/groups/gsf.md
Due: leftover_conflict_markers

fxing first set of PR comments
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterialFactory.hpp
  Core/src/Material/GridSurfaceMaterial.cpp
  Core/src/Material/GridSurfaceMaterialFactory.cpp
  Tests/UnitTests/Core/Material/GridSurfaceMaterialTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

SonarCloud fixes
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

doc fix
  Core/include/Acts/Material/GridSurfaceMaterialFactory.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

discard doublets based on experiment specific cuts also in interactionPointCut==false branch
  Core/src/Seeding/DoubletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

enhance GridTripletSeedingAlgorithm with vertex z-constraints
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Introduced traccc::hip::measurement_sorting_algorithm.
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Implement vertex-z constraint for doublet seeding
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add inputVertices and vertex parameters to algorithm
  Python/Examples/src/TrackFinding.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add inputVertices and vertex parameters to seeding
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

fix lint checker complaints
  Core/src/Seeding/DoubletSeedFinder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix lint checker complaints
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GridTripletSeedingAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix lint checker complaints
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Adjusted the HIP targets to the new rocThrust version.
  Traccc/device/hip/CMakeLists.txt
Due: leftover_conflict_markers

Added python bindings for the alignmentTGeoDetectorElementFactory
  Python/Examples/src/plugins/TGeo.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add missing header
  Python/Examples/src/plugins/TGeo.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fix AlignedDetectorElement
  Python/Examples/src/plugins/TGeo.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fiox kwargs
  Python/Examples/src/plugins/TGeo.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add assignSurfaceDesign
  Core/include/Acts/Surfaces/SurfacePlacementBase.hpp
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetectorElementWithDesign.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

new Root I/O
  Plugins/Root/include/ActsPlugins/Root/RootMaterialMapIo.hpp
  Plugins/Root/src/RootMaterialMapIo.cpp
  Tests/UnitTests/Plugins/Root/RootMaterialMapIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Replace GNN GPU reference hashes with smoke checks
  Python/Examples/tests/root_file_hashes.txt
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers

adding accumulator
  Core/include/Acts/Material/GridSurfaceMaterialAccumulator.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/GridSurfaceMaterialAccumulator.cpp
  Examples/Scripts/Python/material_mapping.py
  Python/Core/src/Material.cpp
  Tests/UnitTests/Core/Material/CMakeLists.txt
  Tests/UnitTests/Core/Material/GridSurfaceMaterialAccumulatorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Add TGeoDetector test
  Python/Examples/tests/test_detectors.py
Due: leftover_conflict_markers

Move to RelWithDebInfo to avoid compiler crash (ICE)
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

build: ship pre-generated code in the release source archive (#5873)
  .github/workflows/checks.yml
  .github/workflows/release.yml
  .gitignore
  CI/codegen_prebuilt_check/CMakeLists.txt
  CI/make_source_archive.sh
  CI/pregenerate_codegen.py
  CI/release.sh
  CMakeLists.txt
  Core/src/Definitions/CMakeLists.txt
  Core/src/Propagator/CMakeLists.txt
  Detray/cmake/detray-functions.cmake
  Detray/core/CMakeLists.txt
  cmake/ActsCodegen.cmake
  codegen/manifest.json
  docs/pages/contributing/building_acts.md
Due: cmake_options, leftover_conflict_markers, format-json

ci: Print GNN ntuple entry counts instead of asserting them
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers
