Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

Prevent actsvg from setting up its own python bindings version
  thirdparty/actsvg/CMakeLists.txt
Due: leftover_conflict_markers

Exclude the ACTS unittests from detray workflows
  .github/workflows/builds.yml
  .github/workflows/detray.yml
Due: leftover_conflict_markers

Put traccc plugin job in its own file to be reused by traccc workflows
  .github/workflows/detray.yml
  .github/workflows/traccc-plugin.yml
Due: leftover_conflict_markers

correct vecmem build with cuda
  thirdparty/vecmem/CMakeLists.txt
Due: leftover_conflict_markers

remove setting TBB
  thirdparty/traccc/CMakeLists.txt
Due: leftover_conflict_markers

set traccc tag
  CMakeLists.txt
  cmake/ActsExternSources.cmake
  docs/pages/contributing/building_acts.md
  thirdparty/traccc/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

update traccc build
  .gitlab-ci.yml
  CMakeLists.txt
  CMakePresets.json
  Plugins/Gnn/CMakeLists.txt
  cmake/ActsExternSources.cmake
  docs/pages/contributing/building_acts.md
  thirdparty/traccc/CMakeLists.txt
  thirdparty/vecmem/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers, format-json

const
  Fatras/src/Digitization/PlanarSurfaceDrift.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

do it
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

Update Core/include/Acts/EventData/detail/DynamicColumn.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Python/Examples/tests/test_examples.py
Due: leftover_conflict_markers

ci: Run detray GitLab CI only for detray changes (#5472)
  .gitlab-ci.yml
Due: leftover_conflict_markers

use same cuda flag everywhere
  CMakePresets.json
  Examples/Algorithms/TrackFindingGnn/CMakeLists.txt
  Plugins/Gnn/CMakeLists.txt
  Tests/UnitTests/Plugins/Gnn/CMakeLists.txt
Due: leftover_conflict_markers, format-json

Apply suggestions from code review
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/MillePedeAlignmentSandbox.hpp
  Examples/Algorithms/AlignmentMillePede/src/ActsSolverFromMille.cpp
  Examples/Algorithms/AlignmentMillePede/src/MillePedeAlignmentSandbox.cpp
  Plugins/Mille/src/ActsToMille.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

do it
  Examples/Algorithms/Utilities/src/ProtoTracksToSeeds.cpp
  Examples/Scripts/Python/gnn.py
  Python/Examples/python/reconstruction.py
Due: license, type_t, leftover_conflict_markers, math_macros

additional review comments
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/ActsSolverFromMille.hpp
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/MillePedeAlignmentSandbox.hpp
  Examples/Algorithms/AlignmentMillePede/src/MillePedeAlignmentSandbox.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Examples/Scripts/Python/gnn.py
  Examples/Scripts/Python/gnn_module_map_odd.py
  Python/Examples/python/reconstruction.py
Due: leftover_conflict_markers

feat: Space point performance writer for Examples
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SpacePointMaker.hpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Utilities/StripModulePairing.hpp
  Examples/Framework/src/Utilities/StripModulePairing.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSpacePointPerformanceWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootSpacePointWriter.hpp
  Examples/Io/Root/src/RootSpacePointPerformanceWriter.cpp
  Examples/Scripts/Python/strip_space_points.py
  Python/Examples/src/plugins/Root.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Python/Examples/tests/test_truth_tracking.py
Due: leftover_conflict_markers

Add CylindricalSurfaceMask and CylindricalSurfaceDrift
  Fatras/CMakeLists.txt
Due: leftover_conflict_markers

Add cylindrical surface support to Channelizer
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Allow Cylinder surface type in Segmentizer
  Fatras/src/Digitization/Segmentizer.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add CylindricalSurfaceDrift.hpp and CylindricalSurfaceMask.hpp
  Fatras/include/ActsFatras/Digitization/CylindricalSurfaceDrift.hpp
  Fatras/include/ActsFatras/Digitization/CylindricalSurfaceMask.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add CylindricalSurfaceMask.cpp, CylindricalSurfaceDrift.cpp
  Fatras/src/Digitization/CylindricalSurfaceDrift.cpp
  Fatras/src/Digitization/CylindricalSurfaceMask.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

build: Allow ACTS to export detray targets (#5462)
  CMakeLists.txt
  Detray/CMakeLists.txt
  docs/pages/contributing/building_acts.md
  thirdparty/detray/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

fix formatting for lint
  Fatras/src/Digitization/CylindricalSurfaceDrift.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix formatting for lint
  Fatras/src/Digitization/CylindricalSurfaceMask.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Geometric digitization with debugged drift, and correct threshold setting (#4169)
  Fatras/CMakeLists.txt
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
  Fatras/include/ActsFatras/Digitization/DigitizationError.hpp
  Fatras/include/ActsFatras/Digitization/PlanarSurfaceDrift.hpp
  Fatras/src/Digitization/Channelizer.cpp
  Fatras/src/Digitization/DigitizationError.cpp
  Fatras/src/Digitization/PlanarSurfaceDrift.cpp
  Fatras/src/Digitization/PlanarSurfaceMask.cpp
  Fatras/src/Digitization/Segmentizer.cpp
  Python/Examples/tests/root_file_hashes.txt
  Tests/UnitTests/Fatras/Digitization/PlanarSurfaceDriftTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

build: update traccc build (#5469)
  .gitlab-ci.yml
  CMakeLists.txt
  CMakePresets.json
  Examples/Algorithms/TrackFindingGnn/CMakeLists.txt
  Plugins/Gnn/CMakeLists.txt
  Tests/UnitTests/Plugins/Gnn/CMakeLists.txt
  cmake/ActsExternSources.cmake
  docs/pages/contributing/building_acts.md
  thirdparty/traccc/CMakeLists.txt
  thirdparty/vecmem/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers, format-json

feat: improve Mille example (#5432)
  Alignment/include/ActsAlignment/Kernel/Alignment.hpp
  Alignment/include/ActsAlignment/Kernel/Alignment.ipp
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/ActsSolverFromMille.hpp
  Examples/Algorithms/AlignmentMillePede/include/ActsExamples/AlignmentMillePede/MillePedeAlignmentSandbox.hpp
  Examples/Algorithms/AlignmentMillePede/src/ActsSolverFromMille.cpp
  Examples/Algorithms/AlignmentMillePede/src/MillePedeAlignmentSandbox.cpp
  Examples/Scripts/Python/millepede_alignment.py
  Plugins/Mille/include/ActsPlugins/Mille/ActsToMille.hpp
  Plugins/Mille/src/ActsToMille.cpp
  Python/Examples/src/plugins/AlignmentMillePede.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Track container resize dynamic columns if the column is created after tracks have been made (#5463)
  Core/include/Acts/EventData/VectorMultiTrajectory.hpp
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Bind measurement subset to python (#5474)
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

fix formatting for lint
  Fatras/include/ActsFatras/Digitization/Channelizer.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

build: Covfie Configuration Fix, main branch (2026.05.20.) (#5473)
  cmake/ActsConfig.cmake.in
Due: leftover_conflict_markers

fix: Assign spacepoints in prototracks-to-seeds algorithm (#5485)
  Examples/Algorithms/TrackFinding/src/TrackParamsEstimationAlgorithm.cpp
  Examples/Algorithms/Utilities/src/ProtoTracksToSeeds.cpp
  Examples/Scripts/Python/gnn_module_map_odd.py
  Python/Examples/python/reconstruction.py
Due: license, type_t, leftover_conflict_markers, math_macros

Implement loading of additional particle data from CSV
  Fatras/scripts/generate_particle_data_table.py
Due: leftover_conflict_markers

fix clang_tidy complaints
  Plugins/Detray/include/ActsPlugins/Detray/DetrayConversionUtils.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Exclude `StrawLineFitterTest` from debug build tests
  .github/workflows/analysis.yml
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineFitterTest.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fixing doc failure
  Plugins/Detray/include/ActsPlugins/Detray/DetrayGeometryConverter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
