Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

  - repo: local
    hooks:
    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

  - repo: local
    hooks:
    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/getting_started.md
      files: ^CMakeLists.txt$

  - repo: local
    hooks:
    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check

  - repo: local
    hooks:
    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: local
    hooks:
    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

feat(detray): Add material slab conversion (based on existing)
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Remove weird allocation in SurfaceArray constructor
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, type_t, math_macros

refactor: DetraySurfaceGrids -> DetraySurfaceGrid
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

test(detray): Make homog mat func public + add test
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Initial implementation of surface and portal converter methods
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): Basic conversion working (no material, no surface grid)
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix: Correct detray exception include in material tests
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
Due: license, type_t, boost_test, math_macros

feat: Add primitive volume conversion + test
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

wip debugging with log
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

refactor: Rename MultiNavigationPolicyDynamic to just MultiNavigationPolicy
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Split MultiNavigationPolicy into .cpp file
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/MultiNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Rationalize MultiNavigationPolicy and builder to runtime dynamic
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Examples/Python/src/Navigation.cpp
  Examples/Python/tests/test_navigation.py
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): more work on binned material conversion
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/src/Material/DetrayMaterial.cpp
  Core/src/Material/DetrayMaterialStub.cpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): add end of world portals
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Add Logger argument to toDetrayPayload
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/DetrayNavigation.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Add some getters to SurfaceArray
  Core/include/Acts/Surfaces/SurfaceArray.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

some debugging
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
Due: license, type_t, boost_test, math_macros

feat: Stub out navigation conversion methods
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiLayerNavigationPolicy.hpp
  Core/include/Acts/Navigation/MultiNavigationPolicy.hpp
  Core/include/Acts/Navigation/SurfaceArrayNavigationPolicy.hpp
  Core/include/Acts/Navigation/TryAllNavigationPolicy.hpp
  Core/src/Navigation/CMakeLists.txt
  Core/src/Navigation/DetrayNavigation.cpp
  Core/src/Navigation/DetrayNavigationStub.cpp
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor: Unify NavigationPolicyFactoryDynamic with base class
  Core/include/Acts/Geometry/NavigationPolicyFactory.hpp
  Core/src/Geometry/BlueprintOptions.cpp
  Core/src/Geometry/MultiWireVolumeBuilder.cpp
  Examples/Detectors/GenericDetector/src/GenericDetector.cpp
  Examples/Python/src/Navigation.cpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Navigation/NavigationPolicyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

refactor(detray): Factorize handlePortal method
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Simplify SurfaceArray transform flexibility
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/TrackingVolumeCreation.hpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat(detray): work on binned material conversion
  Core/include/Acts/Geometry/DetrayExceptions.hpp
  Core/include/Acts/Geometry/DetrayFwd.hpp
  Core/include/Acts/Material/BinnedSurfaceMaterial.hpp
  Core/include/Acts/Material/GridSurfaceMaterial.hpp
  Core/include/Acts/Material/HomogeneousSurfaceMaterial.hpp
  Core/include/Acts/Material/ISurfaceMaterial.hpp
  Core/include/Acts/Material/ProtoSurfaceMaterial.hpp
  Core/include/Acts/Navigation/INavigationPolicy.hpp
  Core/src/Material/CMakeLists.txt
  Core/src/Material/DetrayMaterial.cpp
  Core/src/Material/DetrayMaterialStub.cpp
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/Acts/Plugins/Detray/DetrayPayloadConverter.hpp
  Plugins/Detray/src/DetrayPayloadConverter.cpp
  Tests/CommonHelpers/src/CylindricalTrackingGeometry.cpp
  Tests/UnitTests/Core/Material/ISurfaceMaterialTests.cpp
  Tests/UnitTests/Plugins/ActSVG/TrackingGeometrySvgConverterTests.cpp
  Tests/UnitTests/Plugins/Detray/CMakeLists.txt
  Tests/UnitTests/Plugins/Detray/DetrayMaterialConversionTests.cpp
  Tests/UnitTests/Plugins/Detray/DetrayPayloadConverterTests.cpp
  thirdparty/detray/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Blub
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePointCalibrator.hpp
  Examples/Framework/src/EventData/MuonSpacePointCalibrator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Introduce space point concept & implement straw chamber line seeder
  Core/include/Acts/EventData/StationSpacePoint.hpp
  Core/include/Acts/Seeding/StrawChamberLineSeeder.hpp
  Core/include/Acts/Seeding/StrawChamberLineSeeder.ipp
  Core/include/Acts/Seeding/StrawChamberSegmentLineFitter.hpp
  Core/include/Acts/Seeding/StrawChamberSegmentLineFitter.ipp
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/MuonSegmentFinder.hpp
  Examples/Algorithms/TrackFinding/src/MuonSegmentFinder.cpp
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/EventData/MuonHoughMaximum.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSPLayerSplitter.hpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePointCalibrator.hpp
  Examples/Framework/src/EventData/MuonSPLayerSplitter.cpp
  Examples/Framework/src/EventData/MuonSpacePointCalibrator.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Strip residual
  Core/include/Acts/EventData/StationSpacePoint.hpp
  Core/include/Acts/Seeding/StrawChamberLineSeeder.ipp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Examples/Framework/src/EventData/MuonSpacePoint.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Remove duplicated line with partials
  Core/include/Acts/Seeding/StrawChamberSegmentLineFitter.hpp
  Core/include/Acts/Utilities/detail/LineWithPartials.hpp
  Core/include/Acts/Utilities/detail/LineWithPartials.ipp
Due: license, include_guards, pragma_once, type_t, math_macros

More blub
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Test the first derivative
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/include/Acts/Utilities/detail/LineWithPartials.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

More stuff
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Residual test
  Core/include/Acts/EventData/StationSpacePoint.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Activate the hessian test
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, pragma_once, type_t, boost_test, math_macros

Fix non-orthogonal strips
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Residual updates for straes
  Core/include/Acts/Seeding/StrawChamberSegmentLineFitter.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/include/Acts/Utilities/detail/LineWithPartials.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Refactor mixed terms hessian
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Conflict
  Core/include/Acts/Utilities/detail/LineWithPartials.hpp
  Core/include/Acts/Utilities/detail/LineWithPartials.ipp
  Examples/Algorithms/Digitization/include/ActsExamples/Digitization/MuonSpacePointDigitizer.hpp
  Examples/Algorithms/Digitization/src/MuonSpacePointDigitizer.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Residual along straw works now
  Core/include/Acts/EventData/StationSpacePoint.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.hpp
  Core/include/Acts/Seeding/detail/StrawLineFitAuxiliaries.ipp
  Core/src/Seeding/StrawLineFitAuxillaries.cpp
  Examples/Framework/include/ActsExamples/EventData/MuonSpacePoint.hpp
  Tests/UnitTests/Core/Seeding/StrawLineResidualTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Augment the space point
  Core/include/Acts/EventData/StationSpacePoint.hpp
Due: license, include_guards, pragma_once, type_t, math_macros
