Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md

leftover_conflict_markers:
  name: Leftover conflict markers
  language: system
  entry: git --no-pager diff --staged --check

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

format-json:
  name: Format JSON files (Python)
  entry: CI/format_json.py
  language: python
  require_serial: true
  args:
  - --indent=4

sync_citation_metadata:
  name: sync citation metadata
  entry: CI/sync_citation_metadata.py
  language: python
  additional_dependencies:
  - typer
  - rich
  - pyyaml
  pass_filenames: false

Updating the physmon GBTS to use the json files
  CI/physmon/physmon_common.py
Due: leftover_conflict_markers

ci: drop k4ActsTracking data-file check after ExternalData switch (#6213)
  .github/workflows/builds.yml
Due: leftover_conflict_markers

reduce brimstone by 20%
  Examples/Scripts/Python/millepede_alignment.py
  Plugins/Mille/src/MillePedeSteering.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/python/mille.py
  Python/Plugins/python/plugin.py.in
Due: license, type_t, leftover_conflict_markers, math_macros

rm artifact
  Python/Plugins/CMakeLists.txt
Due: leftover_conflict_markers

refactor(traccc): Share device buffers between threads (#6153)
  Traccc/examples/run/alpaka/include/traccc/examples/alpaka/full_chain_algorithm.hpp
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/common/include/traccc/examples/impl/throughput_mt.ipp
  Traccc/examples/run/common/include/traccc/examples/impl/throughput_st.ipp
  Traccc/examples/run/cuda/include/traccc/examples/cuda/full_chain_algorithm.hpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/sycl/include/traccc/examples/sycl/full_chain_algorithm.hpp
  Traccc/examples/run/sycl/src/full_chain_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

GBTS layerconnection remove optional in span
  Core/include/Acts/Seeding/GbtsLayerConnectionTool.hpp
  Core/src/Seeding/GbtsLayerConnectionTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Keep the smoothed track at the Mille local-fit minimum
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsToMillePseudoResiduals.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

GBTS physmon to reference
  CI/physmon/reference.sha256
Due: leftover_conflict_markers

refactor: split cluster/cell output out of the ROOT measurement writer
  Examples/Algorithms/Digitization/src/DigitizationAlgorithm.cpp
  Examples/Framework/include/ActsExamples/EventData/Cluster.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Examples/Io/Csv/src/CsvMeasurementReader.cpp
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootClusterWriter.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMeasurementWriter.hpp
  Examples/Io/Root/src/RootAthenaDumpReader.cpp
  Examples/Io/Root/src/RootClusterWriter.cpp
  Examples/Io/Root/src/RootMeasurementWriter.cpp
  Examples/Scripts/Digitization/error_parameterisation.py
  Plugins/Root/include/ActsPlugins/Root/RootMeasurementIo.hpp
  Plugins/Root/src/RootMeasurementIo.cpp
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/Root.cpp
  Python/Examples/tests/root_file_hashes.txt
  Python/Examples/tests/test_examples.py
  Python/Examples/tests/test_writer.py
  Tests/UnitTests/Plugins/Root/RootMeasurementIoTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Let the layer pair carry the GBTS tau ratio cut
  Core/include/Acts/Seeding/GbtsBinning.hpp
  Core/include/Acts/Seeding/GbtsLayerConnection.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/include/Acts/Seeding/detail/GbtsGraphTypes.hpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: GBTS layer training tool from ACTS geometry (#6208)
  Core/include/Acts/Seeding/GbtsLayerConnectionTool.hpp
  Core/src/Seeding/GbtsLayerConnectionTool.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
  Examples/Configs/odd-gbts-layer-map.json
  Examples/Scripts/Python/gbts_layer_connection_training_itk.py
  Examples/Scripts/Python/gbts_layer_connection_training_odd.py
  Plugins/Json/include/ActsPlugins/Json/GbtsConfigJsonConverter.hpp
  Plugins/Json/src/GbtsConfigJsonConverter.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros, format-json

feat(traccc): Add HIP throughput examples
  Traccc/examples/run/CMakeLists.txt
  Traccc/examples/run/hip/CMakeLists.txt
  Traccc/examples/run/hip/apps/throughput_mt.cpp
  Traccc/examples/run/hip/apps/throughput_st.cpp
  Traccc/examples/run/hip/include/traccc/examples/hip/full_chain_algorithm.hpp
  Traccc/examples/run/hip/include/traccc/examples/hip/tbb_await.hpp
  Traccc/examples/run/hip/src/full_chain_algorithm.cpp
  Traccc/examples/run/hip/src/hip_error_check.hpp
  Traccc/examples/run/hip/src/tbb_await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: add calorimeter material surface to collect calorimeter material
  Plugins/DD4hep/include/ActsPlugins/DD4hep/BlueprintBuilder.hpp
  Plugins/DD4hep/src/BlueprintBuilder.cpp
  Plugins/DD4hep/src/OpenDataDetectorBuilder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: prune obsolete ccache snapshots nightly
  .github/workflows/ccache-cleanup.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

ci: drop linux_physmon_perf_report job (#6214)
  .github/workflows/builds.yml
Due: leftover_conflict_markers

GBTS physmon changes
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference.sha256
Due: leftover_conflict_markers

removing early return completely
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: prune obsolete ccache snapshots nightly (#6216)
  .github/workflows/ccache-cleanup.yml
  CI/ccache-snapshots.md
  CI/ccache_snapshot.py
  CI/test_ccache_snapshot.py
Due: leftover_conflict_markers

docs: address Python bindings review feedback
  Examples/Framework/include/ActsExamples/Framework/IAlgorithm.hpp
  Examples/Framework/include/ActsExamples/Framework/IReader.hpp
  Examples/Framework/include/ActsExamples/Framework/ProcessCode.hpp
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Scripts/Python/pypi_finding_fitting_demo.py
  docs/Doxyfile.in
  docs/groups/python/custom_algorithms.md
  docs/groups/python/data_io.md
  docs/groups/python/index.md
  docs/groups/python/performance_and_plotting.md
  docs/namespaces.dox
  docs/old/conf.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Read every Mille record entry as a measurement
  Plugins/Mille/include/ActsPlugins/Mille/ActsToMille.hpp
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsKalmanToMilleConsistency.cpp
  Tests/UnitTests/Plugins/Mille/ActsToMillePseudoResiduals.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

removed CI CUDA inaccessible nav target state
  Traccc/core/include/traccc/finding/details/expected_layer_pattern_with_extrapolation.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

description cleanup
  Traccc/core/include/traccc/finding/details/expected_layer_pattern_with_extrapolation.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Skip empty records in unpackMilleRecord
  Plugins/Mille/include/ActsPlugins/Mille/ActsToMille.hpp
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsMilleReadRecordSequence.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Serialise writing Mille records in dumpToMille
  Plugins/Mille/include/ActsPlugins/Mille/ActsToMille.hpp
  Plugins/Mille/src/ActsToMille.cpp
  Tests/UnitTests/Plugins/Mille/ActsToMilleConcurrentWriting.cpp
  Tests/UnitTests/Plugins/Mille/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Read backward-linked tracks in MillePedeAlignmentSandbox
  Examples/Algorithms/AlignmentMillePede/src/MillePedeAlignmentSandbox.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Add composite alignment Jacobians
  Core/include/Acts/Surfaces/detail/AlignmentHelper.hpp
  Core/src/Surfaces/detail/AlignmentHelper.cpp
  Tests/UnitTests/Core/Surfaces/AlignmentHelperTests.cpp
  docs/pages/alignment_composite_jacobians.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat(traccc): Add HIP throughput examples (#6102)
  Traccc/examples/run/CMakeLists.txt
  Traccc/examples/run/hip/CMakeLists.txt
  Traccc/examples/run/hip/apps/throughput_mt.cpp
  Traccc/examples/run/hip/apps/throughput_st.cpp
  Traccc/examples/run/hip/include/traccc/examples/hip/full_chain_algorithm.hpp
  Traccc/examples/run/hip/include/traccc/examples/hip/tbb_await.hpp
  Traccc/examples/run/hip/src/full_chain_algorithm.cpp
  Traccc/examples/run/hip/src/hip_error_check.hpp
  Traccc/examples/run/hip/src/tbb_await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Gen3 Telescope Detector (#6118)
  Examples/Detectors/TelescopeDetector/CMakeLists.txt
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/BuildTelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/include/ActsExamples/TelescopeDetector/TelescopeDetector.hpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/BuildTelescopeDetectorGen3.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeDetector.cpp
  Examples/Detectors/TelescopeDetector/src/TelescopeG4DetectorConstruction.cpp
  Python/Examples/src/Detector.cpp
  Python/Examples/tests/test_alignmentdecorator.py
  Python/Examples/tests/test_detectors.py
  Tests/UnitTests/Examples/Detectors/TelescopeDetector/TelescopeG4DetectorConstructionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf(traccc): Allocate exact size for measurement sorting result
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
Due: license, type_t, leftover_conflict_markers, math_macros

perf(traccc): Add freeing algorithm API with move semantics
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/alpaka/src/clusterization/measurement_sorting_algorithm.cpp
  Traccc/device/alpaka/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/common/include/traccc/seeding/device/seed_parameter_estimation_algorithm.hpp
  Traccc/device/common/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/cuda/include/traccc/cuda/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/cuda/src/clusterization/measurement_sorting_algorithm.cu
  Traccc/device/cuda/src/seeding/seed_parameter_estimation_algorithm.cu
  Traccc/device/hip/include/traccc/hip/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/hip/src/clusterization/measurement_sorting_algorithm.hip
  Traccc/device/hip/src/seeding/seed_parameter_estimation_algorithm.hip
  Traccc/device/sycl/include/traccc/sycl/clusterization/measurement_sorting_algorithm.hpp
  Traccc/device/sycl/include/traccc/sycl/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/sycl/src/clusterization/measurement_sorting_algorithm.sycl
  Traccc/device/sycl/src/seeding/seed_parameter_estimation_algorithm.sycl
  Traccc/examples/run/alpaka/src/full_chain_algorithm.cpp
  Traccc/examples/run/cuda/src/full_chain_algorithm.cpp
  Traccc/examples/run/hip/src/full_chain_algorithm.cpp
  Traccc/examples/run/sycl/src/full_chain_algorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix declaration in read_cells.cpp
  Traccc/io/src/csv/read_cells.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

feat(json): add versioned surface material format and converter
  .github/workflows/checks.yml
  .gitignore
  .pre-commit-config.yaml
  CI/check_material_schema.py
  CI/self_tests/requirements.in
  CI/self_tests/requirements.txt
  Core/include/Acts/Material/TrackingGeometryMaterial.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryMaterialJsonConverter.hpp
  Plugins/Json/schema/material-map-v1.schema.json
  Plugins/Json/src/TrackingGeometryMaterialJsonConverter.cpp
  Python/Core/src/Material.cpp
  Python/Core/tests/test_material_document.py
  Python/Plugins/src/Json.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/TrackingGeometryMaterialJsonConverterTests.cpp
  docs/examples/material-map-v1/minimal.json
  docs/examples/material-map-v1/surfaces.json
  docs/examples/material-map-v1/templates.json
  docs/groups/plugins/json.md
  docs/pages/material_map_json_schema.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros, format-json

docs(json): link material API types with Doxygen references
  docs/groups/plugins/json.md
  docs/pages/material_map_json_schema.md
Due: leftover_conflict_markers

docs(json): compile-check the material format example
  docs/CMakeLists.txt
  docs/examples/material_map_json.cpp
  docs/pages/material_map_json_schema.md
Due: license, type_t, leftover_conflict_markers, math_macros

feat(json): declare material document units and portal identifiers
  CI/check_material_schema.py
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryMaterialJsonConverter.hpp
  Plugins/Json/schema/material-map-v1.schema.json
  Plugins/Json/src/TrackingGeometryMaterialJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/TrackingGeometryMaterialJsonConverterTests.cpp
  docs/examples/material-map-v1/minimal.json
  docs/examples/material-map-v1/surfaces.json
  docs/examples/material-map-v1/templates.json
  docs/pages/material_map_json_schema.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros, format-json

docs(json): shorten the material format reference
  docs/pages/material_map_json_schema.md
Due: leftover_conflict_markers

exclude boost-histogram
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
Due: leftover_conflict_markers

fix(json): disambiguate dependent template calls in unit tests
  Tests/UnitTests/Plugins/Json/TrackingGeometryMaterialJsonConverterTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Fix early return that killed triplet seeds (#6207)
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  leftover_conflict_markers: any file but: \.(diff|patch)$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
  format-json: any of: \.json$, but not: ^.zenodo.json$
  sync_citation_metadata: any of: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
