Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

feat: Add CUDA connected components & track building (#4015)
  .gitlab-ci.yml
  Examples/Python/src/ExaTrkXTrackFinding.cpp
  Plugins/ExaTrkX/CMakeLists.txt
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/CudaTrackBuilding.hpp
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/ConnectedComponents.cuh
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/detail/CudaUtils.cuh
  Plugins/ExaTrkX/src/CudaTrackBuilding.cu
  Tests/UnitTests/Plugins/ExaTrkX/CMakeLists.txt
  Tests/UnitTests/Plugins/ExaTrkX/ConnectedComponentCudaTests.cu
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

adding json converter and test
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Plugins/Json/CMakeLists.txt
  Plugins/Json/include/Acts/Plugins/Json/ProtoAxisJsonConverter.hpp
  Plugins/Json/src/ProtoAxisJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/CMakeLists.txt
  Tests/UnitTests/Plugins/Json/ProtoAxisJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

feat: Allow multiple aliases for one whiteboard entry in Examples (#4035)
  Examples/Framework/include/ActsExamples/Framework/Sequencer.hpp
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/Sequencer.cpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

naming, bounds tests, cleanup
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

lint
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Due: license, type_t, boost_test, math_macros

refactor!: Decouple stepping from navigation
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
  Core/include/Acts/Propagator/Propagator.hpp
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Propagator/PropagatorState.hpp
  Core/include/Acts/Propagator/PropagatorTraits.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.ipp
  Core/include/Acts/Propagator/VoidNavigator.hpp
  Core/include/Acts/Propagator/detail/LoopStepperUtils.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/KalmanUpdateHelpers.hpp
  Core/src/Propagator/SympyStepper.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix formatting
  Core/include/Acts/Propagator/EigenStepper.ipp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
Due: license, type_t, math_macros

fix stepper tests
  Core/src/Propagator/SympyStepper.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/StraightLineStepperTests.cpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
Due: license, type_t, boost_test, math_macros

fix doc
  Core/include/Acts/Propagator/AtlasStepper.hpp
  Core/include/Acts/Propagator/EigenStepper.hpp
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/MultiEigenStepperLoop.hpp
  Core/include/Acts/Propagator/StraightLineStepper.hpp
  Core/include/Acts/Propagator/SympyStepper.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

temporary switch off tests
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
Due: none

try workaround compiler bug
  Core/include/Acts/Propagator/MultiEigenStepperLoop.ipp
Due: license, type_t, math_macros

Update Plugins/Json/src/ProtoAxisJsonConverter.cpp
  Plugins/Json/src/ProtoAxisJsonConverter.cpp
Due: license, type_t, math_macros

adressing some nitpick comments
  Core/include/Acts/Utilities/IAxis.hpp
  Core/include/Acts/Utilities/ProtoAxis.hpp
  Core/src/Utilities/ProtoAxis.cpp
  Tests/UnitTests/Core/Utilities/AxesTests.cpp
  Tests/UnitTests/Core/Utilities/ProtoAxisTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

not use std::format
  Core/src/Utilities/ProtoAxis.cpp
Due: license, type_t, math_macros

don't believe the coderabbit
  Core/src/Utilities/ProtoAxis.cpp
Due: license, type_t, math_macros

fix eigen stepper
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Tests/UnitTests/Core/Propagator/CMakeLists.txt
  Tests/UnitTests/Core/Vertexing/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, math_macros

fix typename
  Core/include/Acts/Propagator/EigenStepperDefaultExtension.hpp
  Core/include/Acts/Propagator/EigenStepperDenseExtension.hpp
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix silly
  Core/include/Acts/Propagator/detail/SteppingHelper.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

testing more invalid conditions
  Tests/UnitTests/Core/Utilities/ProtoAxisTests.cpp
Due: license, type_t, boost_test, math_macros

update
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
Due: license, type_t, math_macros

adding cuboid volume stack
  Core/include/Acts/Geometry/CuboidVolumeStack.hpp
  Core/src/Geometry/CuboidVolumeStack.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeStackTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

lint
  Core/src/Geometry/CuboidVolumeStack.cpp
Due: license, type_t, math_macros

cmake
  Tests/UnitTests/Core/Geometry/CMakeLists.txt
Due: none

docs
  docs/_extensions/lazy_autodoc.py
Due: none

fix: Fix enum conversion error in Podio plugin
  Plugins/Podio/include/Acts/Plugins/Podio/PodioTrackStateContainer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

tolerance
  Core/src/Geometry/CuboidVolumeStack.cpp
Due: license, type_t, math_macros

update
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update refs
  CI/physmon/reference/simulation/particles_fatras_hist.root
  CI/physmon/reference/simulation/particles_geant4_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_gauss_notime_hist.root
  CI/physmon/reference/trackfinding_ttbar_pu200/performance_vertexing_amvf_grid_time_hist.root
  Examples/Python/tests/root_file_hashes.txt
Due: none

cmake
  Core/src/Geometry/CMakeLists.txt
Due: none

sonarcloud fixes
  Core/src/Surfaces/PlaneSurface.cpp
Due: license, type_t, math_macros

build: find Python after DD4hep to find the correct one
  CMakeLists.txt
Due: cmake_options

dereference warnings
  Tests/UnitTests/Core/Geometry/CuboidVolumeStackTests.cpp
Due: license, type_t, boost_test, math_macros

sonarcloud fixes
  Core/src/Geometry/CuboidVolumeStack.cpp
Due: license, type_t, math_macros

feat: Plane surface merging (#4037)
  Core/include/Acts/Surfaces/PlaneSurface.hpp
  Core/src/Surfaces/PlaneSurface.cpp
  Tests/UnitTests/Core/Surfaces/PlaneSurfaceTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

first shot
  CMakeLists.txt
  Examples/Io/Root/CMakeLists.txt
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootMaterialTrackWriter.hpp
  Examples/Io/Root/src/RootMaterialTrackReader.cpp
  Examples/Io/Root/src/RootMaterialTrackWriter.cpp
  Plugins/CMakeLists.txt
  Plugins/Root/CMakeLists.txt
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrack.hpp
  Plugins/Root/src/RootMaterialTrack.cpp
Due: license, include_guards, pragma_once, type_t, cmake_options, math_macros

udpate
  Plugins/ExaTrkX/include/Acts/Plugins/ExaTrkX/TensorRTEdgeClassifier.hpp
  Plugins/ExaTrkX/src/TensorRTEdgeClassifier.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.hpp$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
