Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

refactor: Take the last file handles out of the GBTS core (#5995)
  Core/include/Acts/Seeding/GbtsLayerConnectionTool.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsLayerConnectionTool.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Beamspot constrained fit (perigee choice, subspace) (#5999)
  Examples/Algorithms/TrackFitting/src/RefittingAlgorithm.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

feat: Include the container name when using grouping in blueprint construction (#5368)
  Core/include/Acts/Geometry/detail/BlueprintBuilder_impl.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

updated for issues with build
  Examples/Algorithms/AmbiguityResolution/src/ScoreBasedAmbiguityResolutionAlgorithm.cpp
  Plugins/Json/src/AmbiguityConfigJsonConverter.cpp
  Plugins/Root/src/AmbiScoreMonitor.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Register surfaces in every bin they overlap
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

perf(seeding): index best seed quality by a flat vector
  Core/include/Acts/Seeding/BroadTripletSeedFilter.hpp
  Core/src/Seeding/BroadTripletSeedFilter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci: Update physmon and ROOT hash references
  CI/physmon/reference.sha256
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

fix: Register surfaces in every bin they overlap (#6019)
  CI/physmon/reference.sha256
  Core/src/Surfaces/SurfaceArray.cpp
  Python/Examples/tests/root_file_hashes.txt
  Tests/UnitTests/Core/Geometry/LayerCreatorTests.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Name the layer ids the GBTS connector reader parses
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Make the GBTS layer index 16 bit and drop the Options constructor
  Core/include/Acts/Seeding/GbtsLayerDescription.hpp
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/include/Acts/Seeding/detail/GbtsGraphTypes.hpp
  Core/src/Seeding/GbtsNodeStorage.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Size the surface array window by the crossing angle
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Geometry/LayerCreator.cpp
  Core/src/Geometry/SurfaceArrayCreator.cpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Build the alpaka backend on the traccc CUDA and HIP legs
  .github/workflows/traccc.yml
  Traccc/device/alpaka/src/utils/utils.hpp
  Traccc/tests/alpaka/alpaka_basic.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ci(traccc): add -ci presets that unset the VECMEM_BUILD_* switches
  .github/workflows/traccc.yml
  Traccc/CMakePresets.json
Due: leftover_conflict_markers, format-json

ci(traccc): stop fetching CCCL on the HIP legs
  Traccc/CMakePresets.json
Due: leftover_conflict_markers, format-json

ci: Add a traccc HIP compile leg on the rocm7 flavor
  .github/workflows/traccc.yml
  Traccc/.github/ci_setup.sh
  Traccc/CMakePresets.json
Due: leftover_conflict_markers, format-json

fix(EDM4hep): Keep Python's include path out of the exported dict target
  Plugins/EDM4hep/CMakeLists.txt
Due: leftover_conflict_markers

ci(traccc): Take TBB from the environment instead of building oneTBB
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

ci(traccc): take Thrust from the CUDA toolkit instead of fetching CCCL
  CI/dependencies/setup.sh
  Traccc/CMakePresets.json
Due: leftover_conflict_markers, format-json

fix(Examples): link GeoMaterial2G4 into the GeoModel Geant4 detector
  Examples/Detectors/GeoModelDetector/CMakeLists.txt
Due: leftover_conflict_markers

ci(dependencies): exclude libiconv from the locally-materialized spack view
  CI/dependencies/setup.sh
Due: leftover_conflict_markers

ci(traccc): Host the -O3 HIP leg on clang, still allowed to fail
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

fix(Examples): mask the known FLTINV from NaN covariances in RootTrackStatesWriter
  Examples/Io/Root/src/RootTrackStatesWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci: Move the remaining jobs to ubuntu 26.04 and dependencies v24.1.0
  .github/actions/dependencies/action.yml
  .github/workflows/analysis.yml
  .github/workflows/builds.yml
  .github/workflows/detray.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/traccc.yml
  CI/dependencies/test_select_lockfile.py
  docs/old/getting_started.md
  docs/pages/contributing/building_acts.md
Due: leftover_conflict_markers

refactor: Clean up the GBTS old tunings flags and layer id types (#6028)
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsLayerConnection.hpp
  Core/include/Acts/Seeding/GbtsLayerConnectionTool.hpp
  Core/include/Acts/Seeding/GbtsLayerDescription.hpp
  Core/include/Acts/Seeding/GbtsNodeStorage.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/include/Acts/Seeding/detail/GbtsGraphTypes.hpp
  Core/include/Acts/Seeding/detail/GbtsLayer.hpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsLayerConnectionTool.cpp
  Core/src/Seeding/GbtsNodeStorage.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Tests/UnitTests/Core/Seeding/GbtsSeedingTests.cpp
  docs/groups/pattern_recog/gbts.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Reject surface array neighbor lookups outside the cached window
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Keep the scalar surface array neighbor distance compiling
  Core/include/Acts/Geometry/LayerCreator.hpp
  Core/include/Acts/Geometry/SurfaceArrayCreator.hpp
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/src/Surfaces/SurfaceArray.cpp
  Tests/UnitTests/Core/Geometry/SurfaceArrayCreatorTests.cpp
  Tests/UnitTests/Core/Surfaces/SurfaceArrayTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: Stop keeping a second copy of the surface array bin contents
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: Take the surface array window from the surface's own metric
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: Skip the angle in the cylinder and disc local derivatives
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: Resolve the surface array grid scale once
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

fix: Assert the rigidity the surface array local mapping relies on
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

perf: Invert placement transforms as the rigid transforms they are
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Core/src/Surfaces/ConeSurface.cpp
  Core/src/Surfaces/CylinderSurface.cpp
  Core/src/Surfaces/DiscSurface.cpp
  Core/src/Surfaces/LineSurface.cpp
  Core/src/Surfaces/PlaneSurface.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Trim the surface array comments
  Core/include/Acts/Surfaces/SurfaceArray.hpp
  Core/include/Acts/Utilities/AlgebraHelpers.hpp
  Core/src/Surfaces/SurfaceArray.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

docs: Document the surface array
  docs/figures/geometry/surface_array_footprint.svg
  docs/figures/geometry/surface_array_lookup_grid.svg
  docs/figures/geometry/surface_array_lookup_rz.svg
  docs/groups/detector_descr/surface_array.md
Due: leftover_conflict_markers

Weekly Update: Regenerate requirements.txt
  CI/clang_tidy/requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  codegen/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

revert boost-histogram
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
Due: leftover_conflict_markers

feat(traccc): introduce await customization point for alpaka clustering and seeding
  Traccc/device/alpaka/CMakeLists.txt
  Traccc/device/alpaka/include/traccc/alpaka/clusterization/clusterization_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/alpaka/include/traccc/alpaka/utils/await.hpp
  Traccc/device/alpaka/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/alpaka/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/alpaka/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/alpaka/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/alpaka/src/utils/await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): control number of events processed concurrently in mt example
  Traccc/examples/options/include/traccc/options/threading.hpp
  Traccc/examples/options/src/threading.cpp
  Traccc/examples/run/common/include/traccc/examples/impl/throughput_mt.ipp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): introduce await customization point for CUDA clustering and seeding
  Traccc/device/common/include/traccc/clusterization/device/clusterization_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/seed_parameter_estimation_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/common/include/traccc/seeding/device/triplet_seeding_algorithm.hpp
  Traccc/device/common/src/clusterization/clusterization_algorithm.cpp
  Traccc/device/common/src/seeding/seed_parameter_estimation_algorithm.cpp
  Traccc/device/common/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cpp
  Traccc/device/common/src/seeding/triplet_seeding_algorithm.cpp
  Traccc/device/cuda/CMakeLists.txt
  Traccc/device/cuda/include/traccc/cuda/clusterization/clusterization_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/seed_parameter_estimation_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/silicon_pixel_spacepoint_formation_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/seeding/triplet_seeding_algorithm.hpp
  Traccc/device/cuda/include/traccc/cuda/utils/await.hpp
  Traccc/device/cuda/src/clusterization/clusterization_algorithm.cu
  Traccc/device/cuda/src/seeding/seed_parameter_estimation_algorithm.cu
  Traccc/device/cuda/src/seeding/silicon_pixel_spacepoint_formation_algorithm.cu
  Traccc/device/cuda/src/seeding/triplet_seeding_algorithm.cu
  Traccc/device/cuda/src/utils/await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat(traccc): introduce await customization point for HIP clustering
  Traccc/device/hip/CMakeLists.txt
  Traccc/device/hip/include/traccc/hip/clusterization/clusterization_algorithm.hpp
  Traccc/device/hip/include/traccc/hip/utils/await.hpp
  Traccc/device/hip/src/clusterization/clusterization_algorithm.hip
  Traccc/device/hip/src/utils/await.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
