Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

TEST
  .github/workflows/builds.yml
  CI/changeset.sh
Due: leftover_conflict_markers

MORE DELOADING
  .github/workflows/analysis.yml
Due: leftover_conflict_markers

CI change
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Update
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Add checkout
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Update
  .github/workflows/builds.yml
  CI/changeset.sh
Due: leftover_conflict_markers

cat file
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Fetch
  .github/workflows/builds.yml
Due: leftover_conflict_markers

Weee
  .github/workflows/builds.yml
Due: leftover_conflict_markers

fd0
  .github/workflows/builds.yml
Due: leftover_conflict_markers

fix: documentation and simplification
  Examples/Framework/include/ActsExamples/EventData/CudaMuonSpacePoint.hpp
  Examples/Framework/include/ActsExamples/Utilities/CudaHoughTransformUtils.hpp
  Examples/Framework/src/EventData/CudaMuonSpacePoint.cpp
  Examples/Framework/src/Utilities/CudaHoughTransformUtils.cu
  Examples/Io/Root/include/ActsExamples/Io/Root/RootCudaMuonSpacePointReader.hpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootCudaMuonSpacePointWriter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(detray): Remove broken assertion in propagation validation (#5657)
  Detray/tests/include/detray/test/validation/propagation_validation.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

test
  .github/workflows/builds.yml
Due: leftover_conflict_markers

forgot file
  CI/set_changeset_output.sh
Due: leftover_conflict_markers

fix!: Volume - fix the retrieval of the bounding box for alignable volumes (#5661)
  Core/include/Acts/Geometry/Volume.hpp
  Core/src/Geometry/Volume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

lint
  Core/src/TrackFitting/detail/GsfComponentMerging.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Move retainment to layer blue print node
  Core/include/Acts/Geometry/ContainerBlueprintNode.hpp
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/ContainerBlueprintNode.cpp
  Core/src/Geometry/LayerBlueprintNode.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: Use periodic-wrapped deltaR for isolation in RootTrackFitterPerformanceWriter
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Revert static blue print node
  Core/include/Acts/Geometry/StaticBlueprintNode.hpp
  Core/src/Geometry/StaticBlueprintNode.cpp
  Tests/UnitTests/Core/Geometry/AlignmentContextTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

perf: speed up Parquet reading via LRU shard cache (#5619)
  Core/include/Acts/Utilities/detail/LruCache.hpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/TrackTruthMatcher.cpp
  Examples/Io/Arrow/include/ActsExamples/Io/Arrow/ColliderMLRelease1InputConverter.hpp
  Examples/Io/Arrow/src/ColliderMLRelease1InputConverter.cpp
  Examples/Io/Parquet/include/ActsExamples/Io/Parquet/ParquetReader.hpp
  Examples/Io/Parquet/src/ParquetReader.cpp
  Examples/Scripts/Python/colliderml_truth_tracking.py
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  Plugins/Arrow/include/ActsPlugins/Arrow/ArrowUtil.hpp
  Plugins/Arrow/src/ArrowUtil.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/plugins/Arrow.cpp
  Python/Examples/tests/test_arrow.py
  Python/Examples/tests/test_colliderml_reader.py
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/LruCacheTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: MuonHoughSeeder min-max logic fix and test case
  Examples/Algorithms/TrackFinding/src/MuonHoughSeeder.cpp
  Tests/UnitTests/Examples/Algorithms/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: pre-commit formating
  Tests/UnitTests/Examples/Algorithms/TrackFinding/CMakeLists.txt
  Tests/UnitTests/Examples/Algorithms/TrackFinding/MuonHoughSeederTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

chore: update macos build for PyPI to 26 (#5660)
  .github/workflows/pypi.yml
  CI/cibuildwheel.sh
Due: leftover_conflict_markers

feat(core): add optional fall-through handler to TypeDispatcher
  Core/include/Acts/Utilities/TypeDispatcher.hpp
  Tests/UnitTests/Core/Utilities/TypeDispatcherTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Add track-state iteration to AnyTrackProxy
  Core/include/Acts/EventData/AnyTrackProxy.hpp
  Core/include/Acts/EventData/AnyTrackStateProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackProxyTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: split plain and brem CKF options into separate types
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Fitters link tracks forward
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Try this?
  Core/include/Acts/Geometry/TrackingVolume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: expose AdaptiveGridTrackDensity spatial & temporal windows in AMVF algorithm + python (#5658)
  Examples/Algorithms/Vertexing/include/ActsExamples/Vertexing/AdaptiveMultiVertexFinderAlgorithm.hpp
  Examples/Algorithms/Vertexing/src/AdaptiveMultiVertexFinderAlgorithm.cpp
  Python/Examples/src/Vertexing.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Displaced-track (LRT) support for GBTS seeding
  Core/include/Acts/Seeding/GbtsDataStorage.hpp
  Core/include/Acts/Seeding/GbtsGeometry.hpp
  Core/include/Acts/Seeding/GbtsLayerConnection.hpp
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding/GraphBasedTrackSeeder.hpp
  Core/src/Seeding/GbtsDataStorage.cpp
  Core/src/Seeding/GbtsGeometry.cpp
  Core/src/Seeding/GbtsLayerConnection.cpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Fitters link tracks forward (#5666)
  Core/include/Acts/TrackFitting/GaussianSumFitter.hpp
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
  Core/include/Acts/TrackFitting/KalmanFitter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Keep entry-layer graph vetoes off in LRT mode
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Add per-cut debug accounting to GBTS graph building
  Core/include/Acts/Seeding/GbtsTrackingFilter.hpp
  Core/src/Seeding/GbtsTrackingFilter.cpp
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

d0-aware widening for the segment direction-phi matching
  Core/src/Seeding/GraphBasedTrackSeeder.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: add in-memory GenericVisualization3D helper
  Core/include/Acts/Visualization/GenericVisualization3D.hpp
  Core/src/Visualization/CMakeLists.txt
  Core/src/Visualization/GenericVisualization3D.cpp
  Tests/UnitTests/Core/Visualization/CMakeLists.txt
  Tests/UnitTests/Core/Visualization/GenericVisualization3DTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Weekly Update: Regenerate requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

feat: Add PointSurface (PCA to a 3D point)
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/Surfaces/PointBounds.hpp
  Core/include/Acts/Surfaces/PointSurface.hpp
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Core/src/Surfaces/CMakeLists.txt
  Core/src/Surfaces/PointBounds.cpp
  Core/src/Surfaces/PointSurface.cpp
  Plugins/EDM4hep/src/PodioUtil.cpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Python/Core/src/Surfaces.cpp
  Python/Core/tests/test_surfaces.py
  Tests/UnitTests/Core/Surfaces/CMakeLists.txt
  Tests/UnitTests/Core/Surfaces/PointBoundsTests.cpp
  Tests/UnitTests/Core/Surfaces/PointSurfaceTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: restrict nightly PyPI schedule to main repo
  .github/workflows/pypi.yml
Due: leftover_conflict_markers
