Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

fix: use dangerouslyDefaultConstruct for saved GeometryContext
  Examples/Algorithms/Alignment/src/AlignmentAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

applied PR comments
  Core/include/Acts/Seeding2/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/GbtsTrackingFilter.cpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

bump dependancy versions, add full chain alg example
  CMakeLists.txt
  Examples/Algorithms/Detray/include/ActsExamples/Detray/DetrayPropagator.hpp
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Traccc.cpp
  thirdparty/traccc/CMakeLists.txt
  thirdparty/vecmem/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

set traccc tag, adding sequence example
  CMakeLists.txt
  Examples/Algorithms/Detray/include/ActsExamples/Detray/DetrayPropagator.hpp
  Examples/Algorithms/Traccc/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Traccc.cpp
  docs/pages/contributing/building_acts.md
  thirdparty/traccc/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

switching to traccc tag
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Traccc.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ensure linking against device code only when cuda available, traccc build ci test
  .gitlab-ci.yml
  CMakeLists.txt
  CMakePresets.json
  Examples/Algorithms/Traccc/CMakeLists.txt
  Plugins/Gnn/CMakeLists.txt
  Python/Examples/CMakeLists.txt
  docs/old/getting_started.md
  thirdparty/vecmem/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers, format-json

making IAlg Traccc chain
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Detray/include/ActsExamples/Detray/TracccChain.hpp
  Examples/Algorithms/Detray/include/ActsExamples/Detray/TracccSeqAlg.hpp
  Examples/Algorithms/Detray/include/Detray/DetrayPropagator.hpp
  Examples/Algorithms/Detray/include/Detray/DetrayStore.hpp
  Examples/Algorithms/Traccc/CMakeLists.txt
  Examples/Algorithms/Traccc/src/TracccChain.cpp
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Examples/Scripts/Python/full_chain_traccc.py
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Traccc.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format tidy
  Examples/Algorithms/Detray/include/ActsExamples/Detray/TracccChain.hpp
  Examples/Algorithms/Detray/include/ActsExamples/Detray/TracccSeqAlg.hpp
  Examples/Algorithms/Traccc/CMakeLists.txt
  Examples/Algorithms/Traccc/src/TracccChain.cpp
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Examples/Scripts/Python/full_chain_traccc.py
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Traccc.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Version bump of Traccc, Detray and VecMem (#5376)
  Examples/Algorithms/Detray/include/ActsExamples/Detray/DetrayPropagator.hpp
  Examples/Algorithms/Detray/include/Detray/DetrayPropagator.hpp
  Examples/Algorithms/Traccc/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fixing wrong conditional statement for cuda includes
  Examples/Algorithms/Traccc/CMakeLists.txt
Due: leftover_conflict_markers

add traccc example alg
  CMakeLists.txt
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Detray/include/ActsExamples/Detray/TracccSeqAlg.hpp
  Examples/Algorithms/Traccc/CMakeLists.txt
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Examples/Detray/CMakeLists.txt
  Examples/Detray/include/ActsExamples/Detray/DetrayPropagator.hpp
  Examples/Detray/include/ActsExamples/Detray/DetrayStore.hpp
  Examples/Scripts/Python/traccc_seq_example.py
  Plugins/Gnn/CMakeLists.txt
  cmake/ActsExternSources.cmake
  thirdparty/traccc/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

switching to traccc tag
  CMakeLists.txt
  Examples/Algorithms/Traccc/CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

set traccc tag, adding sequence example
  CMakeLists.txt
  Examples/Algorithms/Detray/include/ActsExamples/Detray/DetrayPropagator.hpp
  Python/Examples/src/plugins/Traccc.cpp
  thirdparty/traccc/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

remove unwanted duplicate detray dir
  Examples/Detray/CMakeLists.txt
  Examples/Detray/include/ActsExamples/Detray/DetrayPropagator.hpp
  Examples/Detray/include/ActsExamples/Detray/DetrayStore.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang tiday
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

ensure linking against device code only when cuda available, traccc build ci test
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

rebasing to main
  CMakeLists.txt
  CMakePresets.json
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccChain.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccSeqAlg.hpp
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros, format-json

removing duplicate steering scripts
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Examples/Scripts/Python/full_chain_traccc.py
Due: license, type_t, leftover_conflict_markers, math_macros

clean up after rebase
  Examples/Algorithms/Detray/include/ActsExamples/Detray/DetrayPropagator.hpp
  Examples/Algorithms/Detray/include/Detray/DetrayPropagator.hpp
  Examples/Algorithms/Detray/include/Detray/DetrayStore.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccSeqAlg.hpp
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Python/Examples/src/plugins/Traccc.cpp
  thirdparty/traccc/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

format tidy
  CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccSeqAlg.hpp
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Examples/Scripts/Python/traccc_seq_example.py
  Python/Examples/src/plugins/Traccc.cpp
Due: license, include_guards, pragma_once, type_t, cmake_options, leftover_conflict_markers, math_macros

format tidy
  thirdparty/traccc/CMakeLists.txt
Due: leftover_conflict_markers

remove second detray inclusion
  Python/Examples/CMakeLists.txt
Due: leftover_conflict_markers

adding converters
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccChain.hpp
  Examples/Algorithms/Traccc/src/TracccChain.cpp
  Plugins/CMakeLists.txt
  Plugins/Traccc/include/ActsPlugins/Traccc/TracccMeasurementsConverter.hpp
  Plugins/Traccc/include/ActsPlugins/Traccc/TracccTracksConverter.hpp
  Plugins/Traccc/src/TracccMeasurementsConverter.cpp
  Plugins/Traccc/src/TracccTracksConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

turn off TBB build
  thirdparty/traccc/CMakeLists.txt
Due: leftover_conflict_markers

fix: drop removed DetectorElementBase from alignment Python bindings
  Python/Examples/src/plugins/Alignment.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

making backend choice at run time
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Traccc/CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/ActsMeasToTracccAlg.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/ActsSpToTracccAlg.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccChain.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccSeqAlg.hpp
  Examples/Algorithms/Traccc/src/ActsMeasToTracccAlg.cpp
  Examples/Algorithms/Traccc/src/ActsSpToTracccAlg.cpp
  Examples/Algorithms/Traccc/src/TracccChain.cpp
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Examples/Scripts/Python/full_chain_odd_traccc.py
  Python/Examples/src/plugins/Traccc.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

set single prec as default
  Examples/Algorithms/Traccc/src/TracccChain.cpp
  Examples/Scripts/Python/full_chain_odd_traccc.py
  thirdparty/traccc/CMakeLists.txt
Due: license, type_t, leftover_conflict_markers, math_macros

format tidy
  Examples/Algorithms/Traccc/CMakeLists.txt
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/ActsMeasToTracccAlg.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/ActsSpToTracccAlg.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccChain.hpp
  Examples/Algorithms/Traccc/include/ActsExamples/Traccc/TracccSeqAlg.hpp
  Examples/Algorithms/Traccc/src/ActsMeasToTracccAlg.cpp
  Examples/Algorithms/Traccc/src/ActsSpToTracccAlg.cpp
  Examples/Algorithms/Traccc/src/TracccChain.cpp
  Examples/Algorithms/Traccc/src/TracccSeqAlg.cpp
  Examples/Scripts/Python/full_chain_odd_traccc.py
  Plugins/Traccc/include/ActsPlugins/Traccc/TracccMeasurementsConverter.hpp
  Plugins/Traccc/include/ActsPlugins/Traccc/TracccTracksConverter.hpp
  Plugins/Traccc/src/TracccMeasurementsConverter.cpp
  Plugins/Traccc/src/TracccTracksConverter.cpp
  Python/Examples/src/plugins/Traccc.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

do it
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

exampels changes and removing not needed config settings
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Python/Examples/src/EventData.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

refactor(GNN): Use MMG library kernels instead of local copies (#5438)
  Examples/Scripts/Python/gnn4itk_example.py
  Examples/Scripts/Python/gnn_module_map_odd.py
  Plugins/Gnn/include/ActsPlugins/Gnn/ModuleMapCuda.hpp
  Plugins/Gnn/include/ActsPlugins/Gnn/detail/ModuleMapUtils.cuh
  Plugins/Gnn/src/ModuleMapCuda.cu
  Python/Plugins/src/Gnn.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

take out optional as strip options passed in in tool
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

more examples changes
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang tidy and examples changes
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/GraphBasedSeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

refactor: Remove some dead code from the detray plugin (#5455)
  Plugins/Detray/CMakeLists.txt
  Plugins/Detray/include/ActsPlugins/Detray/DetrayConversionUtils.hpp
  Plugins/Detray/src/DetrayConversionUtils.cpp
  Plugins/Detray/src/DetrayConverter.cpp
  Plugins/Detray/src/DetrayGeometryConverter.cpp
  Plugins/Detray/src/DetrayMaterialConverter.cpp
  Plugins/Detray/src/DetraySurfaceGridsConverter.cpp
  Plugins/Json/include/ActsPlugins/Json/DetrayJsonHelper.hpp
  Plugins/Json/include/ActsPlugins/Json/GridJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/MaterialJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceJsonConverter.hpp
  Plugins/Json/src/DetrayJsonHelper.cpp
  Plugins/Json/src/GridJsonConverter.cpp
  Plugins/Json/src/MaterialJsonConverter.cpp
  Plugins/Json/src/SurfaceBoundsJsonConverter.cpp
  Plugins/Json/src/SurfaceJsonConverter.cpp
  Tests/UnitTests/Plugins/Json/SurfaceBoundsJsonConverterTests.cpp
  Tests/UnitTests/Plugins/Json/SurfaceJsonConverterTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Bind measurement container to python (#5464)
  Python/Examples/src/EventData.cpp
  Python/Examples/tests/test_truth_tracking.py
Due: license, type_t, leftover_conflict_markers, math_macros

Clang-format
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Resize the dynamic column with default values if it's created after tracks have been already appended
  Core/include/Acts/EventData/VectorTrackContainer.hpp
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add copydoc for the specification
  Core/include/Acts/EventData/detail/DynamicColumn.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
