Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

remove WhiteBoard's use of Acts::Any::typeInfo
  Examples/Framework/include/ActsExamples/Framework/WhiteBoard.hpp
  Examples/Framework/src/Framework/WhiteBoard.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

remove Python Framework's use of Acts::Any::typeInfo
  Python/Examples/src/Framework.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

unit conversions
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: replace boost::hash_combine with murmur3-mixed hashCombine
  Core/include/Acts/Utilities/HashCombine.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Framework/src/Framework/RandomNumbers.cpp
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests1D.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
  Tests/UnitTests/Core/Utilities/CMakeLists.txt
  Tests/UnitTests/Core/Utilities/HashCombineTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

fix: fix & build python binding of TensorRT in CI (#5324)
  CMakePresets.json
  Python/Examples/src/plugins/Gnn.cpp
Due: license, type_t, leftover_conflict_markers, math_macros, format-json

do it
  Examples/Scripts/Python/gnn.py
  Examples/Scripts/Python/gnn4itk_example.py
  Examples/Scripts/Python/gnn_module_map_odd.py
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Gnn.cpp
  Python/Plugins/CMakeLists.txt
  Python/Plugins/src/Gnn.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

feat: `dlopen`-based geometry *module* support (#5253)
  .github/workflows/builds.yml
  .gitlab-ci.yml
  CI/check_unused_files.py
  Core/CMakeLists.txt
  Core/include/Acts/Geometry/GeometryModule.h
  Core/include/Acts/Geometry/GeometryModuleHelper.hpp
  Core/include/Acts/Geometry/GeometryModuleLoader.hpp
  Core/src/Geometry/CMakeLists.txt
  Core/src/Geometry/GeometryModuleHelper.cpp
  Core/src/Geometry/GeometryModuleLoader.cpp
  Plugins/DD4hep/CMakeLists.txt
  Plugins/DD4hep/include/ActsPlugins/DD4hep/GeometryModuleHelper.hpp
  Plugins/DD4hep/include/ActsPlugins/DD4hep/GeometryModuleLoader.hpp
  Plugins/DD4hep/src/GeometryModuleHelper.cpp
  Plugins/DD4hep/src/GeometryModuleLoader.cpp
  Tests/DownstreamProject/CMakeLists.txt
  Tests/DownstreamProject/DD4hepGeometryModule.cpp
  Tests/DownstreamProject/GeometryModule.cpp
  Tests/DownstreamProject/LoadGeometryModule.cpp
  Tests/DownstreamProject/README.md
  cmake/ActsConfig.cmake.in
  cmake/ActsCreatePackageConfig.cmake
  cmake/ActsDD4hepGeometryModuleHelpers.cmake
  cmake/ActsGeometryModuleHelpers.cmake
  docs/CMakeLists.txt
  docs/examples/geometry_module.cpp
  docs/examples/geometry_module_template.cpp
  docs/examples/geometry_module_template_dd4hep.cpp
  docs/groups/detector_descr/runtime_geometry_modules.md
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

gcc15 fix
  Examples/Algorithms/TrackFinding/src/GraphBasedSeedingAlgorithm.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

adding projected visualization & tests
  Core/include/Acts/Visualization/ProjectedVisualization.hpp
  Core/src/Visualization/CMakeLists.txt
  Core/src/Visualization/ProjectedVisualization.cpp
  Python/Core/src/Visualization.cpp
  Tests/UnitTests/Core/Visualization/CMakeLists.txt
  Tests/UnitTests/Core/Visualization/ProjectedVisualizationTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

updated names, fix collisions
  Core/include/Acts/Utilities/HashCombine.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Framework/src/Framework/RandomNumbers.cpp
  Fatras/include/ActsFatras/EventData/Barcode.hpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests1D.cpp
  Tests/UnitTests/Core/Clusterization/ClusterizationTests2D.cpp
  Tests/UnitTests/Core/Utilities/HashCombineTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Add RandomEngine::combinedWith for derived sub-sequences
  Examples/Framework/include/ActsExamples/Framework/RandomNumbers.hpp
  Examples/Framework/include/ActsExamples/Utilities/VertexGenerators.hpp
  Python/Examples/src/Framework.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add LumiBlockRotationVertexGenerator for per-block beam tilt
  Examples/Framework/include/ActsExamples/Utilities/VertexGenerators.hpp
  Python/Examples/src/Generators.cpp
  Python/Examples/tests/test_generators.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

test: Add Python tests for AdditiveVertexGenerator and LumiBlockVertexGenerator
  Python/Examples/tests/test_generators.py
Due: leftover_conflict_markers

refactor: Wrap RandomEngine to expose original seed
  Examples/Framework/include/ActsExamples/Framework/RandomNumbers.hpp
  Examples/Framework/include/ActsExamples/Utilities/VertexGenerators.hpp
  Python/Examples/src/Framework.cpp
  Python/Examples/tests/test_generators.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: Add composable vertex position generators with event number support
  Examples/Algorithms/Generators/ActsExamples/Generators/EventGenerator.cpp
  Examples/Framework/include/ActsExamples/Utilities/VertexGenerators.hpp
  Python/Examples/src/Generators.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Address SonarCloud issues in vertex generators
  Examples/Framework/include/ActsExamples/Framework/RandomNumbers.hpp
  Examples/Framework/include/ActsExamples/Utilities/VertexGenerators.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Pass eventNumber to vertex generator in HepMC3Reader
  Examples/Io/HepMC3/src/HepMC3Reader.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

test: Add functional tests for vertex generators including invocation
  Python/Examples/src/Generators.cpp
  Python/Examples/tests/test_generators.py
Due: license, type_t, leftover_conflict_markers, math_macros

Apply suggestion from @andiwand
  Python/Examples/python/simulation.py
Due: leftover_conflict_markers

unit conversions
  Core/include/Acts/Seeding2/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

clang tidy
  Core/include/Acts/Seeding2/GbtsTrackingFilter.hpp
  Core/include/Acts/Seeding2/GraphBasedTrackSeeder.hpp
  Core/src/Seeding2/GraphBasedTrackSeeder.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

PR feedback
  Examples/Framework/include/ActsExamples/Utilities/VertexGenerators.hpp
  Python/Core/src/Definitions.cpp
  Python/Examples/tests/test_lb_gen.ipynb
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix tests, clang-tidy
  Core/include/Acts/Utilities/HashCombine.hpp
  Tests/UnitTests/Fatras/EventData/BarcodeTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

Add garbage collection of the placements
  Core/include/Acts/Geometry/TrackingGeometry.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingGeometry.cpp
  Core/src/Geometry/TrackingVolume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make method public
  Core/include/Acts/Geometry/TrackingVolume.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Cache the placement
  Core/src/Geometry/LayerBlueprintNode.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Blub
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add placement setter function
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/src/Geometry/LayerBlueprintNode.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Volumes don't need to be passed with the placement
  Core/include/Acts/Geometry/LayerBlueprintNode.hpp
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/src/Geometry/TrackingVolume.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Blub
  Core/src/Geometry/LayerBlueprintNode.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

update
  Python/Plugins/src/Gnn.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Apply suggestions from code review
  Python/Examples/python/simulation.py
Due: leftover_conflict_markers

feat: Pass the detector construction options to the addGeant4 function (#5296)
  Examples/Algorithms/Geant4/include/ActsExamples/Geant4/Geant4ConstructionOptions.hpp
  Examples/Detectors/Geant4Detector/src/GdmlDetectorConstruction.cpp
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/Geant4.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix(cmake): add Alignment component before Plugins subdirectory
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

update
  .gitlab-ci.yml
Due: leftover_conflict_markers

fix(cmake): add Alignment component before Plugins subdirectory (#5329)
  CMakeLists.txt
Due: cmake_options, leftover_conflict_markers

clang-format
  Examples/Framework/src/Framework/RandomNumbers.cpp
  Tests/UnitTests/Core/Utilities/HashCombineTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

feat: Python bindings for SimHit/SimHitContainer + pure-Python uproot reader
  Python/Examples/CMakeLists.txt
  Python/Examples/python/uproot_reader.py
  Python/Examples/src/Framework.cpp
  Python/Examples/src/Generators.cpp
  Python/Examples/tests/test_uproot_reader.py
Due: license, type_t, leftover_conflict_markers, math_macros

go to 64bit
  Core/include/Acts/Utilities/HashCombine.hpp
  Examples/Framework/include/ActsExamples/Framework/RandomNumbers.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros
