Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

Introduce Straw Line Seeder
  Core/include/Acts/EventData/CompositeSpacePoint.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.ipp
  Core/include/Acts/Utilities/PointerTraits.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/CompositeSpacePointLineSeeder.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/StrawHitGeneratorHelper.hpp
  Tests/UnitTests/Core/Seeding/StrawLineSeederTest.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

Apply suggestions from code review
  Tests/UnitTests/Core/Seeding/StrawLineSeederTest.cpp
Due: license, type_t, boost_test, math_macros

ci: Simulation with Geant4 for GSF physmon (#4804)
  CI/physmon/phys_perf_mon.sh
  CI/physmon/reference/trackfitting_gsf/performance_trackfitting.root
  CI/physmon/reference/trackrefitting_gsf/performance_trackrefitting.root
  CI/physmon/workflows/physmon_simulation_gsf.py
  CI/physmon/workflows/physmon_trackfitting_gsf.py
  CI/physmon/workflows/physmon_trackrefitting_gsf.py
  CI/requirements.txt
  Examples/Python/tests/root_file_hashes.txt
  Examples/Scripts/Python/truth_tracking_gsf.py
  Examples/Scripts/Python/truth_tracking_gsf_refitting.py
  Examples/Scripts/Python/truth_tracking_kalman.py
Due: none

move Examples modules
  Examples/Python/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Python/Examples/CMakeLists.txt
  Python/Examples/src/Alignment.cpp
  Python/Examples/src/AmbiguityResolution.cpp
  Python/Examples/src/Detector.cpp
  Python/Examples/src/Digitization.cpp
  Python/Examples/src/ExampleAlgorithms.cpp
  Python/Examples/src/ExamplesModuleEntry.cpp
  Python/Examples/src/Framework.cpp
  Python/Examples/src/Generators.cpp
  Python/Examples/src/Input.cpp
  Python/Examples/src/MaterialMapping.cpp
  Python/Examples/src/Obj.cpp
  Python/Examples/src/Output.cpp
  Python/Examples/src/TrackFinding.cpp
  Python/Examples/src/TrackFitting.cpp
  Python/Examples/src/TruthTracking.cpp
  Python/Examples/src/Utilities.cpp
  Python/Examples/src/Vertexing.cpp
Due: license, type_t, math_macros

change CI paths
  .github/labeler.yml
  .github/workflows/update-pip-requirements.yml
  .gitlab-ci.yml
  CI/dependencies/setup.sh
  Python/Examples/tests/conftest.py
  Python/Examples/tests/requirements.txt
  docs/old/examples/howto/run_ckf_auto_tuning.rst
  docs/old/examples/python_bindings.rst
Due: none

change unused file check
  CI/check_unused_files.py
Due: none

move tests
  Examples/Python/python/acts/examples/__init__.py
  Examples/Python/tests/geometry-volume-map.json
  Python/Examples/python/__init__.py
  Python/Examples/tests/conftest.py
  Python/Examples/tests/helpers/__init__.py
  Python/Examples/tests/helpers/hash_root.py
  Python/Examples/tests/requirements.in
  Python/Examples/tests/requirements.txt
  Python/Examples/tests/root_file_hashes.txt
  Python/Examples/tests/test_algorithms.py
  Python/Examples/tests/test_alignmentdecorator.py
  Python/Examples/tests/test_base.py
  Python/Examples/tests/test_blueprint.py
  Python/Examples/tests/test_covfie.py
  Python/Examples/tests/test_detectors.py
  Python/Examples/tests/test_edm4hep.py
  Python/Examples/tests/test_event_data.py
  Python/Examples/tests/test_examples.py
  Python/Examples/tests/test_fpe.py
  Python/Examples/tests/test_generators.py
  Python/Examples/tests/test_geometry.py
  Python/Examples/tests/test_hepmc3.py
  Python/Examples/tests/test_logging.py
  Python/Examples/tests/test_magnetic_field.py
  Python/Examples/tests/test_material.py
  Python/Examples/tests/test_misc.py
  Python/Examples/tests/test_navigation.py
  Python/Examples/tests/test_propagation.py
  Python/Examples/tests/test_reader.py
  Python/Examples/tests/test_writer.py
Due: none

nuke the Examples/Python folder
  CMakeLists.txt
  Examples/Python/CMakeLists.txt
  Examples/Python/python/acts/__init__.py
  Examples/Python/python/acts/_adapter.py
  Examples/Python/python/acts/examples/__init__.py
Due: cmake_options

Examples/Python/src gone
  Examples/CMakeLists.txt
  Examples/Python/src/ModuleEntry.cpp
  Python/Core/src/Material.cpp
  Python/Core/src/Propagation.cpp
  Python/Examples/src/ExamplesModuleEntry.cpp
  Python/Examples/src/Propagation.cpp
Due: license, type_t, math_macros

protecting alignment import
  Examples/Scripts/Python/propagation.py
  Python/Examples/CMakeLists.txt
  Python/Examples/src/ExamplesModuleEntry.cpp
  Python/Examples/src/plugins/Alignment.cpp
  Python/Examples/tests/helpers/__init__.py
  Python/Examples/tests/test_alignmentdecorator.py
Due: license, type_t, math_macros

adding geometry volume map back
  Python/Examples/tests/geometry-volume-map.json
Due: none

remove Context
  Python/Core/src/CoreModuleEntry.cpp
  Python/Examples/src/plugins/Geant4.cpp
  Python/Utilities/include/ActsPython/Utilities/Helpers.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

protect alignment module
  Python/Examples/CMakeLists.txt
Due: none

make import work
  Examples/Python/python/acts/examples/detector.py
  Python/Core/src/CoreModuleEntry.cpp
  Python/Examples/CMakeLists.txt
  Python/Examples/python/__init__.py
  Python/Examples/python/itk.py
  Python/Examples/python/mockupbuilder.py
  Python/Examples/python/odd.py
  Python/Examples/python/reconstruction.py
  Python/Examples/python/simulation.py
  Python/Examples/src/Propagation.cpp
Due: license, type_t, math_macros

import alignmentEnabled
  Python/Examples/tests/test_alignmentdecorator.py
Due: none

append propagators
  Python/Core/python/__init__.py
  Python/Examples/python/__init__.py
  pytest.ini
Due: none

fix propagator python import
  Examples/Python/python/acts/examples/__init__.py
  Python/Examples/python/__init__.py
  Python/Examples/tests/test_fpe.py
Due: none

lintify
  Python/Examples/src/Alignment.cpp
  Python/Examples/src/AmbiguityResolution.cpp
  Python/Examples/src/Detector.cpp
  Python/Examples/src/Digitization.cpp
  Python/Examples/src/ExampleAlgorithms.cpp
  Python/Examples/src/ExamplesModuleEntry.cpp
  Python/Examples/src/Generators.cpp
  Python/Examples/src/Input.cpp
  Python/Examples/src/MaterialMapping.cpp
  Python/Examples/src/Obj.cpp
  Python/Examples/src/Output.cpp
  Python/Examples/src/TrackFinding.cpp
  Python/Examples/src/TrackFitting.cpp
  Python/Examples/src/TruthTracking.cpp
  Python/Examples/src/Utilities.cpp
Due: license, type_t, math_macros

making Aligment a plugin in examples
  Python/Examples/CMakeLists.txt
  Python/Examples/src/plugins/Alignment.cpp
Due: license, type_t, math_macros

Update Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
  Core/include/Acts/Seeding/CompositeSpacePointLineSeeder.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add hasColumn to TrackProxy
  Core/include/Acts/EventData/TrackProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

trackproxy fulfills concept
  Core/include/Acts/EventData/TrackContainer.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: Extend the track proxy concept
  Core/include/Acts/EventData/TrackProxyConcept.hpp
  Tests/UnitTests/Core/TrackFinding/TrackSelectorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

centralize component hashes for track proxy
  Core/include/Acts/EventData/TrackProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: centralize component hashes for track state proxy
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add hasColumn to track state proxy
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add concept checks for track (state) proxy
  Tests/UnitTests/Core/EventData/TrackTests.cpp
Due: license, type_t, boost_test, math_macros

track state proxy concept subspace changes
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

remove shareFrom / copyFrom from track state proxy concept
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

use hashed string constants in track state proxy
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: const correctnes requirement in trackstateproxy
  Core/include/Acts/EventData/TrackStateProxy.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: track state proxy concept chi2 double -> float
  Core/include/Acts/EventData/TrackStateProxyConcept.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

add test coverage for fixed size subspace indices
  Core/include/Acts/EventData/detail/MultiTrajectoryTestsCommon.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

use central component hashes for any track proxy
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: AnyTrackState type-erased type
  Core/include/Acts/EventData/AnyTrackState.hpp
  Core/include/Acts/EventData/MultiTrajectory.hpp
  Core/include/Acts/EventData/TrackStateProxy.hpp
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
  Tests/UnitTests/Core/EventData/CMakeLists.txt
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

gmu: cache track state components
  Core/include/Acts/TrackFitting/detail/GainMatrixUpdaterImpl.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

cleanup subspace API
  Core/include/Acts/EventData/AnyTrackState.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

M_PI -> std::numbers::pi
  Tests/UnitTests/Core/EventData/AnyTrackTests.cpp
Due: license, type_t, boost_test, math_macros

add test for effective calibrated
  Tests/UnitTests/Core/EventData/AnyTrackStateTests.cpp
Due: license, type_t, boost_test, math_macros

refactor anytrack to use component interface and keep the handles light
  Core/include/Acts/EventData/AnyTrack.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
