Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, leftover_conflict_markers, math_macros, codegen_dependencies, format-json, sync_citation_metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: 'v18.1.8'
    hooks:
      - id: clang-format
        types_or: [file]
        files: \.(cpp|hpp|ipp|cu|cuh)$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    - id: trailing-whitespace
      exclude: \.(diff|patch)$
    - id: end-of-file-fixer
      exclude: \.(diff|patch)$
    - id: check-yaml
      exclude: \.gitlab-ci.yml$
    - id: check-added-large-files


  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.4.2
    hooks:
    - id: black-jupyter

  - repo: https://github.com/BlankSpruce/gersemi
    rev: 0.15.0
    hooks:
    - id: gersemi
      args: ["-i", "--no-warn-about-unknown-commands"]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
    - id: codespell
      args: [
        "-S", "*.ipynb,*.onnx,_build,*.svg",
        "-I", "./CI/codespell_ignore.txt",
        "-w"
      ]
      exclude: ^CI/.*|docs/tex-mml-chtml.js$

  - repo: local
    hooks:
    - id: license
      name: license
      language: system
      entry: CI/check_license.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: include_guards
      name: include_guards
      language: system
      entry: CI/check_include_guards.py --fail-global
      files: \.hpp$

    - id: pragma_once
      name: pragma_once
      language: system
      entry: CI/check_pragma_once.sh
      files: \.(hpp|ipp)$

    - id: type_t
      name: type_t
      language: system
      entry: CI/check_type_t.py --fix
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: boost_test
      name: boost_test
      language: system
      entry: CI/check_boost_test_macro.sh
      files: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$

    - id: cmake_options
      name: cmake_options
      language: system
      entry: docs/parse_cmake_options.py --write docs/pages/contributing/building_acts.md
      files: ^CMakeLists.txt$

    - id: leftover_conflict_markers
      name: Leftover conflict markers
      language: system
      entry: git --no-pager diff --staged --check
      exclude: \.(diff|patch)$

    - id: math_macros
      name: math_macros
      language: system
      entry: CI/check_math_macros.py
      files: \.(cpp|hpp|ipp|cu|cuh)$

    - id: codegen_dependencies
      name: codegen_dependencies
      language: python
      entry: CI/check_codegen_dependencies.sh
      additional_dependencies: ["uv"]
      files: pyproject.toml$

    - id: format-json
      name: Format JSON files (Python)
      entry: CI/format_json.py
      language: python
      types: [json]
      require_serial: true
      args: [--indent=4]
      exclude: ^.zenodo.json$

    - id: sync_citation_metadata
      name: sync citation metadata
      entry: CI/sync_citation_metadata.py
      language: python
      files: ^(CITATION\.cff|\.zenodo\.json|AUTHORS)$
      additional_dependencies: ["typer", "rich", "pyyaml"]
      pass_filenames: false

fix docs
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: Treat sub-tolerance stack resizes as no-op to avoid degenerate gaps (#5697)
  Core/src/Geometry/CylinderVolumeStack.cpp
  Core/src/Navigation/CylinderNavigationPolicy.cpp
  Tests/UnitTests/Core/Geometry/CuboidVolumeStackTests.cpp
  Tests/UnitTests/Core/Geometry/CylinderVolumeStackTests.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros

fix(gx2f): distribution of scattering angles (#5698)
  Core/include/Acts/TrackFitting/GlobalChiSquareFitter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: add Acts::Experimental::SphericalSpacePointGrid
  Core/include/Acts/Seeding/SphericalSpacePointGrid.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/SphericalSpacePointGrid.cpp
  Tests/UnitTests/Core/Seeding/CMakeLists.txt
  Tests/UnitTests/Core/Seeding/SphericalSpacePointGridTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

refactor: Keep Other last in SurfaceType and BoundsType enums
  Core/include/Acts/Surfaces/Surface.hpp
  Core/include/Acts/Surfaces/SurfaceBounds.hpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceBoundsJsonConverter.hpp
  Plugins/Json/include/ActsPlugins/Json/SurfaceJsonConverter.hpp
  Python/Core/src/Surfaces.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

chore: Handle discarded Acts::Result (#5699)
  Core/include/Acts/Propagator/Propagator.ipp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/src/Vertexing/IterativeVertexFinder.cpp
  Examples/Algorithms/TrackFinding/src/SpacePointMaker.cpp
  Examples/Algorithms/TrackFitting/src/KalmanReferenceTrajectoryFitterFunction.cpp
  Tests/UnitTests/Core/Propagator/AtlasStepperTests.cpp
  Tests/UnitTests/Core/Propagator/EigenStepperTests.cpp
  Tests/UnitTests/Core/Propagator/MultiStepperTests.hpp
  Tests/UnitTests/Core/Propagator/SympyStepperTests.cpp
  Tests/UnitTests/Core/Vertexing/AdaptiveMultiVertexFitterTests.cpp
  Tests/UnitTests/Fatras/Kernel/SimulationActorTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, leftover_conflict_markers, math_macros

ci: Skip build and analysis flows for Detray PRs
  .gitlab-ci.yml
  CI/changeset.sh
  CI/set_changeset_output.sh
Due: leftover_conflict_markers

build: export ExamplesFramework component
  Examples/CMakeLists.txt
  Examples/Framework/CMakeLists.txt
  cmake/ActsConfig.cmake.in
Due: leftover_conflict_markers

fix: fix helper to propagate components in subdirectories
  cmake/ActsComponentsHelpers.cmake
Due: leftover_conflict_markers

build: export ExamplesIoPodio component
  Examples/Io/CMakeLists.txt
  Examples/Io/Podio/CMakeLists.txt
  cmake/ActsConfig.cmake.in
Due: leftover_conflict_markers

build: export ExamplesIoEDM4hep component and dependencies
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/Digitization/CMakeLists.txt
  Examples/Detectors/CMakeLists.txt
  Examples/Detectors/Common/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Io/CMakeLists.txt
  Examples/Io/EDM4hep/CMakeLists.txt
Due: leftover_conflict_markers

build: export ExamplesIoJson components and dependencies
  Examples/Algorithms/CMakeLists.txt
  Examples/Algorithms/MaterialMapping/CMakeLists.txt
  Examples/Algorithms/TrackFinding/CMakeLists.txt
  Examples/Detectors/CMakeLists.txt
  Examples/Detectors/MagneticField/CMakeLists.txt
  Examples/Io/CMakeLists.txt
  Examples/Io/Json/CMakeLists.txt
Due: leftover_conflict_markers

feat: Changes to improve material loading with JSON geometries (#5689)
  Plugins/Json/include/ActsPlugins/Json/TrackingGeometryJsonConverter.hpp
  Plugins/Json/src/TrackingGeometryJsonConverter.cpp
  Python/Core/python/__init__.py
  Python/Core/src/Geometry.cpp
  Python/Plugins/src/Json.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

update
  Python/Examples/tests/helpers/hash_root.py
Due: leftover_conflict_markers

revert to upstream/main
  Python/Core/python/__init__.py
Due: leftover_conflict_markers

feat: Python track fitter performance writer (#5688)
  Examples/Framework/CMakeLists.txt
  Examples/Framework/include/ActsExamples/Validation/TrackFitterPerformanceCollector.hpp
  Examples/Framework/src/Validation/TrackFinderPerformanceCollector.cpp
  Examples/Framework/src/Validation/TrackFitterPerformanceCollector.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootTrackFitterPerformanceWriter.hpp
  Examples/Io/Root/src/RootTrackFitterPerformanceWriter.cpp
  Examples/Scripts/Python/track_finding_python_only.py
  Python/Examples/src/PythonSpecific.cpp
  Python/Examples/tests/test_writer.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

fix: make the space-point grid phi-binning robust for large impactMax (#5696)
  Core/src/Seeding/CylindricalSpacePointGrid.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

ci(traccc): Fix call to apt and add update
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

ci(traccc): Remove deprecated jobs and fix apt issue
  .github/workflows/traccc.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

curl redirect
  .github/workflows/traccc.yml
Due: leftover_conflict_markers

feat: CKF brem recovery (#5309)
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilter.hpp
  Core/include/Acts/TrackFinding/CombinatorialKalmanFilterExtensions.hpp
  Core/include/Acts/TrackFitting/detail/GsfActor.hpp
  Core/include/Acts/TrackFitting/detail/GsfUtils.hpp
  Core/src/TrackFitting/GsfUtils.cpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/TrackFindingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithmFunction.cpp
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TrackFinding.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

feat: part 1 of GBTS layer connection training tool implementation in ACTS (#5639)
  Core/include/Acts/Seeding/GbtsTrainingTool.hpp
  Core/src/Seeding/CMakeLists.txt
  Core/src/Seeding/GbtsTrainingTool.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.cpp
  Examples/Algorithms/TruthTracking/ActsExamples/TruthTracking/GbtsTrainingAlgorithm.hpp
  Examples/Algorithms/TruthTracking/CMakeLists.txt
  Examples/Scripts/Python/gbts_layer_connection_training.py
  Python/Examples/python/reconstruction.py
  Python/Examples/src/TruthTracking.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add missing function declaration
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add minimal MC truth information for HF tagging
  Core/include/Acts/Definitions/PdgParticle.hpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleReader.hpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Examples/Io/Root/src/RootParticleWriter.cpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Python/Examples/python/simulation.py
  Python/Examples/src/plugins/HepMC3.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Add missing data member declarations
  Examples/Io/Root/include/ActsExamples/Io/Root/RootParticleWriter.hpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make linter happy
  Core/include/Acts/Definitions/PdgParticle.hpp
  Examples/Framework/include/ActsExamples/EventData/SimParticle.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
  Examples/Io/Root/src/RootParticleReader.cpp
  Fatras/include/ActsFatras/EventData/Particle.hpp
  Python/Examples/python/simulation.py
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Remove empty line
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Fix clang tidy
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, type_t, leftover_conflict_markers, math_macros

Make linter happy
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Examples/Io/HepMC3/src/HepMC3InputConverter.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Change hash of reference files to account for change in output files
  Examples/Io/HepMC3/include/ActsExamples/Io/HepMC3/HepMC3InputConverter.hpp
  Python/Examples/tests/root_file_hashes.txt
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Fix hashes
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

ci(traccc): Remove deprecated jobs and fix apt issue (#5704)
  .github/workflows/traccc.yml
  .gitlab-ci.yml
Due: leftover_conflict_markers

Update hases
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

Update hashes
  Python/Examples/tests/root_file_hashes.txt
Due: leftover_conflict_markers

Weekly Update: Regenerate requirements.txt
  CI/fpe_masks/requirements.txt
  Examples/Scripts/requirements.txt
  Python/Examples/tests/requirements.txt
  docs/old/requirements.txt
Due: leftover_conflict_markers

ci: Bump histcmp 0.10.0
  CI/dependencies/setup.sh
Due: leftover_conflict_markers

refactor: Const locals, explicit nullptr checks, default special members
  Core/include/Acts/Surfaces/PointSurface.hpp
  Core/src/Surfaces/PointBounds.cpp
  Core/src/Surfaces/PointSurface.cpp
Due: license, include_guards, pragma_once, type_t, leftover_conflict_markers, math_macros

Make the MP2 CI test a bit less sensitive to tiny off-diagonals being regularised
  Tests/UnitTests/Plugins/Mille/ActsKalmanToMilleConsistency.cpp
Due: license, type_t, boost_test, leftover_conflict_markers, math_macros
