Repository acts-project/acts: changes, and which pre-commit hooks are due for each by the changed paths.
All: license, include_guards, pragma_once, type_t, boost_test, cmake_options, math_macros, codegen_dependencies

license:
  name: license
  language: system
  entry: CI/check_license.py --fix

include_guards:
  name: include_guards
  language: system
  entry: CI/check_include_guards.py --fail-global

pragma_once:
  name: pragma_once
  language: system
  entry: CI/check_pragma_once.sh

type_t:
  name: type_t
  language: system
  entry: CI/check_type_t.py --fix

boost_test:
  name: boost_test
  language: system
  entry: CI/check_boost_test_macro.sh

cmake_options:
  name: cmake_options
  language: system
  entry: docs/parse_cmake_options.py --write docs/getting_started.md

math_macros:
  name: math_macros
  language: system
  entry: CI/check_math_macros.py

codegen_dependencies:
  name: codegen_dependencies
  language: python
  entry: CI/check_codegen_dependencies.sh
  additional_dependencies:
  - uv

fix: better mass and charge for nuclei PDG (#4337)
  Core/include/Acts/Definitions/ParticleData.hpp
  Core/include/Acts/Definitions/PdgParticle.hpp
  Core/src/Definitions/ParticleData.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix: no underflow in gamma distribution (#4339)
  Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp
  Fatras/include/ActsFatras/Utilities/detail/FpeSafeGammaDistribution.hpp
  Tests/UnitTests/Fatras/CMakeLists.txt
  Tests/UnitTests/Fatras/Utilities/CMakeLists.txt
  Tests/UnitTests/Fatras/Utilities/FpeSafeGammaDistributionTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

lint fix
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
Due: license, type_t, math_macros

mutable seed finder
  Core/include/Acts/Seeding/SeedFinder.hpp
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/SeedingAlgorithm.hpp
  Examples/Algorithms/TrackFinding/src/SeedingAlgorithm.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Core/include/Acts/Propagator/StandardAborters.hpp
  Core/include/Acts/Propagator/StandardAborters.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Fix clang-tidy issues
  Examples/Algorithms/TrackFinding/include/ActsExamples/TrackFinding/AdaptiveHoughTransformSeeder.hpp
  Examples/Algorithms/TrackFinding/src/AdaptiveHoughTransformSeeder.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

tackle raw pointer complains by SonarCloud
  Plugins/Root/include/Acts/Plugins/Root/RootMaterialTrackPayload.hpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoLayerBuilder.hpp
  Plugins/Root/src/RootMaterialTrackPayload.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor: NavStream uses emplace correctly, can be reset (#4350)
  Core/include/Acts/Navigation/NavigationStream.hpp
  Core/src/Navigation/NavigationStream.cpp
  Tests/UnitTests/Core/Navigation/NavigationStreamTests.cpp
Due: license, include_guards, pragma_once, type_t, boost_test, math_macros

fix examples
  Examples/Algorithms/TrackFinding/src/GridTripletSeedingAlgorithm.cpp
Due: license, type_t, math_macros

remove Contextual Detector
  Examples/Python/tests/test_detectors.py
  Examples/Python/tests/test_geometry.py
  Examples/Scripts/Python/propagation.py
Due: none

run lint
  Examples/Python/tests/test_detectors.py
  Examples/Scripts/Python/propagation.py
Due: none

enable DD4hep mis/alignment
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentContext.hpp
  Examples/Detectors/DD4hepDetector/CMakeLists.txt
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/AlignedDD4hepDetectorElement.hpp
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
  Examples/Detectors/DD4hepDetector/src/AlignedDD4hepDetectorElement.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Python/python/acts/examples/odd.py
  Examples/Python/src/DD4hepComponent.cpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/DD4hepLayerBuilder.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
  Plugins/DD4hep/src/DD4hepLayerBuilder.cpp
  Plugins/Root/include/Acts/Plugins/Root/TGeoDetectorElement.hpp
  Plugins/Root/src/TGeoDetectorElement.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

fix doc run
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

fixing geometry test
  Examples/Python/tests/test_geometry.py
Due: none

const ref to ElementFactory should make clang-tidy happy
  Plugins/DD4hep/include/Acts/Plugins/DD4hep/ConvertDD4hepDetector.hpp
  Plugins/DD4hep/src/ConvertDD4hepDetector.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

removing comment
  Examples/Detectors/DD4hepDetector/include/ActsExamples/DD4hepDetector/DD4hepDetector.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

update root hashes
  Examples/Python/tests/root_file_hashes.txt
Due: none

Update Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
  Examples/Algorithms/TrackFinding/src/TrackFindingAlgorithm.cpp
Due: license, type_t, math_macros

fix: don't check event number in merge script
  Examples/Scripts/Python/hepmc3_merge.py
Due: none

refactor: Make BoundaryTolerance, (Object-)Intersection trivially movable and copyable (#4351)
  Core/include/Acts/Propagator/NavigationTarget.hpp
  Core/include/Acts/Propagator/detail/NavigationHelpers.hpp
  Core/include/Acts/Surfaces/BoundaryTolerance.hpp
  Core/include/Acts/Utilities/Intersection.hpp
  Core/src/Surfaces/AnnulusBounds.cpp
  Core/src/Surfaces/BoundaryTolerance.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/Aligned.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentContext.hpp
  Examples/Detectors/Common/include/ActsExamples/DetectorCommons/AlignmentContext.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

feat: Gen3 navigation
  Core/include/Acts/Geometry/TrackingVolume.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Geometry/TrackingVolume.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

Update Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
  Examples/Detectors/DD4hepDetector/src/DD4hepDetector.cpp
Due: license, type_t, math_macros

chore(nav): Add TODO about geo context in nav delegate signature
  Core/include/Acts/Navigation/NavigationDelegate.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor(nav): Navigator signals which stage it's in to delegate
  Core/include/Acts/Navigation/NavigationDelegate.hpp
  Core/include/Acts/Propagator/Navigator.hpp
  Core/src/Navigation/SurfaceArrayNavigationPolicy.cpp
  Core/src/Navigation/TryAllNavigationPolicy.cpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor(nav): Navigator reuses navstream
  Core/include/Acts/Propagator/Navigator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

refactor(nav): Filter (non)portals before intersecting, until we can simultaneously process them
  Core/include/Acts/Propagator/Navigator.hpp
Due: license, include_guards, pragma_once, type_t, math_macros

Path conditions:
  license: any of: \.(cpp|hpp|ipp|cu|cuh)$
  include_guards: any of: \.hpp$
  pragma_once: any of: \.(hpp|ipp)$
  type_t: any of: \.(cpp|hpp|ipp|cu|cuh)$
  boost_test: any of: ^Tests\/.*\.(cpp|hpp|ipp|cu|cuh)$
  cmake_options: any of: ^CMakeLists.txt$
  math_macros: any of: \.(cpp|hpp|ipp|cu|cuh)$
  codegen_dependencies: any of: pyproject.toml$
